{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

{% include './_bar.html' %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Award calculated</h1>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">State Pension award</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Weekly amount</th>
            <th scope="col" class="govuk-table__header">Date from</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">£109.80</td>
            <td class="govuk-table__cell">1 March 2025</td>
          </tr>
        </tbody>
      </table>

      <br><br>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      <!--<br><br>

      <a class="govuk-link--no-visited-state govuk-!-font-size-19" href="cannot-award">If COEG flag is still present</a>

      <br><br>

      <a class="govuk-link--no-visited-state govuk-!-font-size-19" href="more-info-generic">If overlapping task or benefit</a>

      <br><br>

      <a class="govuk-link--no-visited-state govuk-!-font-size-19" href="complete-br403">If Pension Credit</a>-->

    </div>
</div>

{% endblock %}