{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

{% include './_bar.html' %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
      })
      }}

      <br><br>

      <h1 class="govuk-heading-xl">Award confirmed</h1>

      <p>We will automatically pay any arrears and send an award letter to the claimant.</p>

      <br><br>

      <button class="govuk-button" data-module="govuk-button">
        End task
      </button>

      <br><br>

      <a class="govuk-link--no-visited-state govuk-!-font-size-19" href="more-info-generic">If overlapping task or benefit</a>

      <br><br>

      <a class="govuk-link--no-visited-state govuk-!-font-size-19" href="more-info-pc">If Pension Credit</a>

    </div>
</div>

{% endblock %}