{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
    })
    }}

    <h1 class="govuk-heading-xl">You cannot award State Pension yet</h1>

    <p>There is still a flag outstanding on the claimant's record. You can go back and choose a different way to continue.</p>

    <p>Check standard working instructions if you are not sure what to do.</p>

    <br><br>

    <button class="govuk-button" data-module="govuk-button">
      Go back
    </button>

    </form>

  </div>
</div>

{% endblock %}
