{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> 

    {% include './_bar.html' %}

    {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-xl">Check the details and decide how to continue</h1>


    <!--<p>Complete the information and verify the dates, or choose another way to continue.</p>-->

    <br><br>

    <h2 class="govuk-heading-m">Personal details</h2>

    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Address</th>
          <td class="govuk-table__cell">
          62 High Street<br>
          North London<br>
          N93 3KJ</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"><a class="govuk-link" href=""></a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Marital status</th>
          <td class="govuk-table__cell">Married</td>
          <td class="govuk-table__cell"><span class="govuk-hint"><b></b></td>
          <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href=""></a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Date of birth</th>
          <td class="govuk-table__cell">25/07/1956</td>
          <td class="govuk-table__cell"><span class="govuk-hint"><b></b></td>
          <td class="govuk-table__cell"><a class="govuk-link" href=""></a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">State Pension date</th>
          <td class="govuk-table__cell">25/07/2022</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"><a class="govuk-link" href=""></a></td>
        </tr>
      </tbody>
    </table>

    <br><br>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            How do you want to continue?
          </h2>
        </legend>

      <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="decisionCOEG3" name="decisionCOEG3" type="radio" value="awardCOEG">
          <label class="govuk-label govuk-radios__label" for="decisionCOEG3">
            Award State Pension
          </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="decisionCOEG3" name="decisionCOEG3" type="radio" value="postponeCOEG">
          <label class="govuk-label govuk-radios__label" for="decisionCOEG3">
            Postpone the task
          </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="decisionCOEG3" name="decisionCOEG3" type="radio" value="sendCOEG">
          <label class="govuk-label govuk-radios__label" for="decisionCOEG3">
            Send a notification
          </label>
      </div>
    </div>

    <br><br>

    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </div>

    <br><br>

  </div>

  <div class="govuk-grid-column-one-third">

    <h3 class="govuk-heading-m">COEG task changes</h3>

    <div class="dwp-timeline">
      <ol class="dwp-timeline__items">
        {% if (data['BFcoeg3']) %} 
          <li class="dwp-timeline__item">
            <p class="dwp-timeline__datetime">date month time</p>
            <h2 class="dwp-timeline__heading">COEG task postponed  
              {% if data['BFcoeg3'] == "1" %}
                for 7 days
              {% elseif data['BFcoeg3'] == "2" %}
                for 14 days
              {% elseif data['BFcoeg3'] == "4" %}
                for 28 days
              {% elseif data['BFcoeg3'] == "6" %}
                for 6 weeks
              {% elseif data['coeg-day3'] %}
                until {{data['coeg-day3']}} {{data['coeg-month3'] | monthName}} {{data['coeg-year3']}}
              {% endif %}</h2>
            <p class="dwp-timeline__by-line">by Agent</p>
          </li> 
          <li class="dwp-timeline__item">
            <p class="dwp-timeline__datetime">date month time</p>
            <h2 class="dwp-timeline__heading">COEG reminder email sent to HMRC</h2>
            <p class="dwp-timeline__by-line">by Agent</p>
          </li> 
        {% endif %}
        {% if (data['BFcoeg2']) %} 
          <li class="dwp-timeline__item">
            <p class="dwp-timeline__datetime">date month time</p>
            <h2 class="dwp-timeline__heading">COEG task postponed  
              {% if data['BFcoeg2'] == "1" %}
                for 7 days
              {% elseif data['BFcoeg2'] == "2" %}
                for 14 days
              {% elseif data['BFcoeg2'] == "4" %}
                for 28 days
              {% elseif data['BFcoeg2'] == "6" %}
                for 6 weeks
              {% elseif data['coeg-day2'] %}
                until {{data['coeg-day2']}} {{data['coeg-month2'] | monthName}} {{data['coeg-year2']}}
              {% endif %}</h2>
            <p class="dwp-timeline__by-line">by Agent</p>
          </li> 
          <li class="dwp-timeline__item">
            <p class="dwp-timeline__datetime">date month time</p>
            <h2 class="dwp-timeline__heading">COEG BIC1 sent to HMRC</h2>
            <p class="dwp-timeline__by-line">by Agent</p>
          </li> 
        {% endif %}    
        {% if (data['BFcoeg']) %} 
          <li class="dwp-timeline__item">
            <p class="dwp-timeline__datetime">date month time</p>
            <h2 class="dwp-timeline__heading">COEG task postponed 
              {% if data['BFcoeg'] == "1" %}
                for 7 days
              {% elseif data['BFcoeg'] == "2" %}
                for 14 days
              {% elseif data['BFcoeg'] == "4" %}
                for 28 days
              {% elseif data['BFcoeg'] == "6" %}
                for 6 weeks
              {% elseif data['coeg-day'] %}
                until {{data['coeg-day']}} {{data['coeg-month'] | monthName}} {{data['coeg-year']}}
              {% endif %}</h2>
            <p class="dwp-timeline__by-line">by Agent</p>
          </li> 
          <!--<li class="dwp-timeline__item">
            <p class="dwp-timeline__datetime">date month time</p>
            <h2 class="dwp-timeline__heading">COEG: Email sent to HMRC</h2>
            <p class="dwp-timeline__by-line">by Agent</p>
          </li>-->
        {% else %}
          <li class="dwp-timeline__item">
            <h2 class="dwp-timeline__heading">No changes yet</h2>
          </li>
        {% endif %}
      </ol>
    </div>

    <!--<a class="govuk-link--no-visited-state govuk-!-font-size-19" href="record-full-history">Full history</a>-->

  </div>

</div>

</div>

</main>
</div>


{% endblock %}
