{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> 

    {% include './_bar.html' %}

    {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-xl">Check the details and decide how to continue</h1>


    <!--<p>Complete the information and verify the dates, or choose another way to continue.</p>-->

    <br><br>

    <h2 class="govuk-heading-m">Claimant</h2>

    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Address</th>
            <td class="govuk-table__cell">
            62 High Street<br>
            North London<br>
            N93 3KJ</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"><a class="govuk-link" href=""></a></td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Marital status</th>
            <td class="govuk-table__cell">Married</td>
            <td class="govuk-table__cell"><span class="govuk-hint"><b>Verified</b></td>
            <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href=""></a></td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of birth</th>
            <td class="govuk-table__cell">25/07/1956</td>
            <td class="govuk-table__cell"><span class="verified-badge verified">
            <b></b>
            <td class="govuk-table__cell" style="text-align: right">
            </td>
            <td class="govuk-table__cell"><a class="govuk-link" href=""></a></td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">State Pension date</th>
            <td class="govuk-table__cell">25/07/2022</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"><a class="govuk-link" href=""></a></td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Age when widowed</th>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"><a class="govuk-link" href=""></a></td>
        </tr>
      </tbody>
    </table>

    <br><br>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Task history</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Event</th>
          <th scope="col" class="govuk-table__header">Notification</th>
          <th scope="col" class="govuk-table__header">By</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% if (data['BFcoeg2']) %} 
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">date month year</td>
            <td class="govuk-table__cell">COEG: Reminder email sent to HMRC</td>
            <td class="govuk-table__cell">Sent</td>
            <td class="govuk-table__cell">Agent</td>
          </tr>
        {% endif %}  
        {% if (data['BFcoeg']) %} 
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">date month year</td>
            <td class="govuk-table__cell">COEG: Email sent to HMRC</td>
            <td class="govuk-table__cell">Sent</td>
            <td class="govuk-table__cell">Agent</td>
          </tr>
        {% endif %}  
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">date month year</td>
          <td class="govuk-table__cell">Claim received</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">System</td>
        </tr>
      </tbody>
    </table>

    <br><br>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            How do you want to continue?
          </h2>
        </legend>

      <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="decisionCOEG" name="decisionCOEG" type="radio" value="awardCOEG">
          <label class="govuk-label govuk-radios__label" for="decisionCOEG">
            Award State Pension
          </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="decisionCOEG" name="decisionCOEG" type="radio" value="postponeCOEG">
          <label class="govuk-label govuk-radios__label" for="decisionCOEG">
            Postpone the task
          </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="decisionCOEG" name="decisionCOEG" type="radio" value="sendCOEG">
          <label class="govuk-label govuk-radios__label" for="decisionCOEG">
            Send a letter
          </label>
      </div>
    </div>

    <br><br>

    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </div>

    <br><br>

    <a class="govuk-link--no-visited-state govuk-!-font-size-19" href="check-details-coeg-2a">View page variation</a>

  </div>

</div>

</div>

</main>
</div>


{% endblock %}
