{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

  {% include './_bar.html' %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        })
        }}

        <h1 class="govuk-heading-xl">Claim unsuccessful</h1>
                
        <p>We cannot award State Pension based on what we know.</p>

        <p>A letter will be automatically sent to the claimant to tell them something.</p>

        <br><br>

        <button class="govuk-button" data-module="govuk-button">Confirm and send letter</button>
    </div>
  </div>

</form>

{% endblock %}