{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

{% include './_bar.html' %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
      })
      }}

      <br><br>

      <h1 class="govuk-heading-xl">More information needed</h1>

      <p>State Pension cannot be awarded until other outstanding tasks are complete. Another task will be added to the queue.</p>

      <br><br>

      <button class="govuk-button" data-module="govuk-button">
        End task
      </button>

      <br><br>

      <a class="govuk-link--no-visited-state govuk-!-font-size-19" href="award-calculated-coeg">If award confirmed</a>

      <br><br>

      <a class="govuk-link--no-visited-state govuk-!-font-size-19" href="complete-br403">If Pension Credit</a>

    </div>
</div>

{% endblock %}