{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_bar.html' %}

    {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-xl">Postpone task</h1>

    <p>This task will be postponed
      {% if data['BFcoeg2'] == "1" or data['BFcoeg'] == "1" %}
        for 7 days.
      {% elseif data['BFcoeg2'] == "2" or data['BFcoeg'] == "2" %}
        for 14 days.
      {% elseif data['BFcoeg2'] == "4" or data['BFcoeg'] == "4" %}
        for 28 days. 
      {% elseif data['BFcoeg2'] == "6" or data['BFcoeg'] == "6" %}
        for 6 weeks.
      {% elseif data['coeg-day2'] %}
        until {{data['coeg-day2']}} {{data['coeg-month2'] | monthName}} {{data['coeg-year2']}}. 
      {% elseif data['coeg-day'] %}
        until {{data['coeg-day']}} {{data['coeg-month'] | monthName}} {{data['coeg-year']}}.
      {% endif %}</p>

    <br><br>

    <button class="govuk-button" data-module="govuk-button">
     End task
    </button>

    </form>

  </div>
</div>

{% endblock %}
