
{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

  {% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--xl" for="event-name">
          Lump sum inheritance
        </label>
      </h1>

      <br><br>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          The uprating year for calculation is 2023
        </strong>
      </div>

      <br>
      
      {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          id: "lsi",
          name: "lsiAmount",
          label: {
            text: "Enter the lump sum inheritance in pounds",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          prefix: {
            text: "£"
          },
          classes: "govuk-!-width-one-third",
          spellcheck: false
        }) }}
    </div>

    <br><br>

    {% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set amountHtml %}
{{ govukInput({
  id: "preAmount",
  name: "preAmount",
  type: "amount",
  spellcheck: false,
  prefix: {
    text: "£"
  },
  classes: "govuk-!-width-one-third",
  label: {
    text: "Enter amount in pounds"
  }
}) }}
{% endset -%}


{{ govukRadios({
  name: "pre2005",
  fieldset: {
    legend: {
      text: "Is there any pre 2005 extra State Pension?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Select one option"
  },
  items: [
    {
      value: "amount",
      text: "Yes",
      conditional: {
        html: amountHtml
      }
    },
    {
      value: "no",
      text: "No",
      conditional: {
        html: phoneHtml
      }
    }
  ]
}) }}

<br><br>

    {% from "govuk/components/radios/macro.njk" import govukRadios %}
    {% from "govuk/components/input/macro.njk" import govukInput %}

    {% set taxHtml %}

    {{ govukRadios({
      name: "taxRate",
      fieldset: {
        legend: {
          text: "What is the claimant's tax rate?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "0",
          text: "0%"
        },
        {
          value: "20",
          text: "20%"
        },
        {
          value: "40",
          text: "40%"
        },
        {
          value: "45",
          text: "45%"
        }
      ]
    }) }}

    {% endset -%}

    {{ govukRadios({
      name: "whichYear",
      fieldset: {
        legend: {
          text: "What tax year does the claimant want to be paid in?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "later",
          text: "Next tax year"
        },
        {
          value: "now",
          text: "This tax year",
          conditional: {
            html: taxHtml
          }
        }
      ]
    }) }}
    

      <br><br><br>

        <button class="govuk-button" data-module="govuk-button">
        Continue
        </button>

      <br><br><br><br><br>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    
    <br>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /confirm-award <br>
        <b>Notes:</b> None <br>
      </div>
    </details>

  </div>
</div>

{% endblock %}
