{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_bar.html' %}

    <form method="post">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>
    
    <h1 class="govuk-heading-l">1. Calculate the award</h1>
          
          <p>
            Use the NSP processing and calculation tool to calculate the claimant's award based on the time they spent in the EEA.
          </p>

          <!--<p>
            If there are any mixed years, include these in your calculation.
          </p>-->

          <br>

          <div class="govuk-inset-text">
            The claimant has <b>6 qualifying years</b> in the UK.
          </div>

          <br><br>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header award_detail2" scope="col">State Pension date</th>
                <td class="govuk-table__cell award_detail">25 June 2022
          </td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header award_detail2" scope="col">Uprating year for calculation</th>
                <td class="govuk-table__cell award_detail">2022
          </td>
              </tr>
            </thead>
          </table>

          <br><br><br>

          {% if (data['norwayRecords'] == "yes") %}
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Austria</caption>

            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Lived</th>
                <td class="govuk-table__cell">Aug 1982 to Mar 1986</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Worked</th>
                <td class="govuk-table__cell">Aug 1982 to Mar 1986</td>
              </tr>
            </tbody>
          </table>
      
          <br><br>

          {% endif %}

          {% if (data['croatiaRecords'] == "yes") %}
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Belguim</caption>

            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Lived</th>
                <td class="govuk-table__cell">Mar 1986 to Sept 1993</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Worked</th>
                <td class="govuk-table__cell">Mar 1986 to Aug 1993</td>
              </tr>
            </tbody>
          </table>

          <br><br>

          {% endif %}

          {% if (data['swissRecords'] == "yes") %}
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Cyprus</caption>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Lived</th>
                <td class="govuk-table__cell">Feb 1994 to Apr 1996</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Worked</th>
                <td class="govuk-table__cell">Feb 1994 to Apr 1996</td>
              </tr>
            </tbody>
          </table>
          {% endif %}

          <br><br><br>

          <div class="govuk-form-group">
            <h2 class="govuk-heading-l">2. Enter new State Pension amount in pounds</h2>

            <div class="govuk-hint">
              For example, 123.45.
            </div>
                   <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                    <input class="govuk-input govuk-input--width-10" id="addsp11" name="addsp1" type="text" spellcheck="false">
                  </div>
        </div>

          <br><br><br>

          <button class="govuk-button" data-module="govuk-button">
            Confirm award calculated
          </button>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
<b>URL and notes</b>
</span>
</summary>
<div class="govuk-details__text">
<b>URL:</b> <br>
<b>Notes:</b> If BR403
is needed, a slightly different <a href="check-award-2" class="govuk-link">confirm award</a> screen will be displayed.<br>
</div>
</details>

    </form>

  </div>
</div>

{% endblock %}
