{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_bar.html' %}

    <form method="post">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      name: "qualifyingYears-2",
      fieldset: {
        legend: {
          text: "Can claimant reach 10 qualifying years?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "Based on the insurance records received, check if the time spent abroad can help the claimant reach 10 qualifying years."
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        },
        {
          value: "notSure",
          text: "Not sure - some FIRs outstanding"
        }
      ]
    }) }}
    
    <br><br><br>
    
    <button class="govuk-button" data-module="govuk-button">
      Continue
    </button>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
<b>URL and notes</b>
</span>
</summary>
<div class="govuk-details__text">
<b>URL:</b> <br>
<b>Notes:</b> None <br>
</div>
</details>

    </form>

  </div>
</div>

{% endblock %}
