{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_bar.html' %}

    <form method="post" action="upload-documents">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>
    
    <h1 class="govuk-heading-l">Confirm award</h1>

    <br>
    
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          New State Pension
        </dt>
        <dd class="govuk-summary-list__value-numeric">
          {% if data.addsp1 %}
          £{{data.addsp1}}
          {% else %}
          £0.00
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="calculate-award">Change<span class="govuk-visually-hidden">New State Pension amount</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Protected payment
        </dt>
        <dd class="govuk-summary-list__value-numeric">
          {% if data.protectedPayment %}
          £{{data.protectedPayment}}
          {% else %}
          £0.00
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          {% if data.protectedPayment %}
          <a class="govuk-link" href="enter-protected-payment">Change<span class="govuk-visually-hidden"> protected payment amount</span></a>
          {% else %}
          <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> protected payment amount</span></a>
          {% endif %}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Total
        </dt>
        <dd class="govuk-summary-list__value-numeric">
          {% if data.addsp1 and data.protectedPayment %}  
           £{{ data.addsp1 | float + data.protectedPayment | float }} per week
            {% else %}
            £{{data.addsp1}}
            {% endif %}	
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          From
        </dt>
        <dd class="govuk-summary-list__value-numeric">
          25 June 2022
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
    </dl>

    <br>

    <div class="govuk-inset-text">
      This will automatically pay any arrears and send an award letter to the claimant. 
    </div>

      <br><br><br>

      <button class="govuk-button" data-module="govuk-button">
        Confirm and send letter
      </button>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
<b>URL and notes</b>
</span>
</summary>
<div class="govuk-details__text">
<b>URL:</b> <br>
<b>Notes:</b> If a BR403 is needed, the system will prompt the agent to <a href="br403-part-a" class="govuk-link">complete Part A of the BR403</a>. <br>
<br>
If there are any possible mixed years, the system will prompt the agent to <a href="check-mixed-years" class="govuk-link">check for mixed years</a>. <br>
</div>
</details>

    </form>

  </div>
</div>

{% endblock %}
