{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_bar.html' %}

    <form method="post">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-l">Check for potential mixed years</h1>

    <p class="govuk-body">We have not received insurance records from [EU countries].
    </p>

    <p class="govuk-body">Use OLE to check the claimant's deficient qualifying years to decide if we need these records to check for an increase to the award.
    </p>

    <bR><bR>

    {% if (data['norwayRecords'] == "no") %}
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Norway</caption>
      <br><br>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Lived</th>
          <td class="govuk-table__cell">Aug 1982 to Mar 1986</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Worked</th>
          <td class="govuk-table__cell">Aug 1982 to Mar 1986</td>
          <td class="govuk-table__cell"></td>
        </tr>
      </tbody>
    </table>

    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "mixedyearsnorway",
      fieldset: {
        legend: {
          text: "Are there any potential mixed years?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}

    <br>
    {% endif %}

    {% if (data['croatiaRecords'] == "no") %}
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Croatia</caption>
      <br><br>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Lived</th>
          <td class="govuk-table__cell">Mar 1986 to Sept 1993</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Worked</th>
          <td class="govuk-table__cell">Mar 1986 to Aug 1993</td>
          <td class="govuk-table__cell"></td>
        </tr>
      </tbody>
    </table>

    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "mixedyearscroatia",
      fieldset: {
        legend: {
          text: "Are there any potential mixed years?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}

    <br>
    {% endif %}

    {% if (data['swissRecords'] == "no") %}
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Switzerland</caption>
      <br><br>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Lived</th>
          <td class="govuk-table__cell">Feb 1994 to Apr 1996</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Worked</th>
          <td class="govuk-table__cell">Feb 1994 to Apr 1996</td>
          <td class="govuk-table__cell"></td>
        </tr>
      </tbody>
    </table>

    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "mixedyearsswitzerland",
      fieldset: {
        legend: {
          text: "Are there any potential mixed years?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}
    {% endif %}

    <br><br><br>

    <button class="govuk-button" data-module="govuk-button">
      Continue
    </button>

</div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
<b>URL and notes</b>
</span>
</summary>
<div class="govuk-details__text">
<b>URL:</b> <br>
<b>Notes:</b> None <br>
</div>
</details>

    </form>

  </div>
</div>

{% endblock %}
