{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_bar.html' %}

    <form method="post">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>
    
    <h1 class="govuk-heading-l">Claim unsuccessful</h1>
          
          <p>
            Based on the insurance records received, the claimant cannot reach 10 qualifying years.
          </p>

          <p>
            We are still waiting for insurance records from some countries.
          </p>

          <p>
            A letter will be automatically sent to the claimant to tell them they can send us their own copies.
          </p>

          <br><br><br>

          <button class="govuk-button" data-module="govuk-button">
            Confirm and send letter
            
          </button>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
<b>URL and notes</b>
</span>
</summary>
<div class="govuk-details__text">
<b>URL:</b> <br>
<b>Notes:</b> None <br>
</div>
</details>

    </form>

  </div>
</div>

{% endblock %}
