{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_bar.html' %}

    <form method="post" action="dashboard-4">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-l">Request RF1 from HMRC again</h1>

    <p>Use the HMRC RF1 request tool. Add the note: <b>Urgent 2nd request</b>.</p>

    <p> You will need the claimant's name and National Insurance number.</p>

    <br><br><br>

    <button class="govuk-button" data-module="govuk-button">
    Confirm RF1 requested
    </button>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
<b>URL and notes</b>
</span>
</summary>
<div class="govuk-details__text">
<b>URL:</b> <br>
<b>Notes:</b> None <br>
</div>
</details>

    </form>

  </div>
</div>

{% endblock %}
