{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="start-5-routing"> 

      <br><br>

      <h1 class="govuk-heading-xl">Check if claimant can reach 10 qualifying years </h1>

      <p>Check if the claimant's EEA insurance records have been returned.</p>

      <p>You may then need to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>request an RF1 from HMRC</li>
        <li>send a reminder to the EEA countries</li>
        <li>calculate State Pension award</li>
        <li>confirm claimant cannot get a State Pension</li>
      </ul>

      <br><br><br>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Start this task
      </button>
      <a href="dashboard-3" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
        Return task to queue
      </a>

      <br><br><br><br><br>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
<b>URL and notes</b>
</span>
</summary>
<div class="govuk-details__text">
  <b>URL:</b> <br>
  <b>Notes:</b> If post SPa, the system would ask the agent to do an <a href="srb" class="govuk-link">SRB check</a><br>
  </div>
</details>

    </form>

  </div>
</div>

{% endblock %}
