{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post" action="check-answers-1a">

  {% include './_bar.html' %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        })
      }}

      <br><br>

      <h1 class="govuk-heading-xl">
        Claimant options amounts
      </h1>

      <h2 class="govuk-heading-l">
        Lump sum payment
      </h2>

      <br>

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        id: "lsi",
        name: "lsi",
        label: {
          text: "Lump sum inheritance amount in pounds",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        hint: {
          text: "For example 123.40"
        },
        prefix: {
          text: "£"
        },
        classes: "govuk-input--width-10",
        spellcheck: false
      }) }}

      <br>

      {% set yesHtml %}
        {{ govukInput({
          id: "preAmount",
          name: "preAmount",
          label: {
            text: "Pre-2005 extra State Pension amount in pounds",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          prefix: {
            text: "£"
          },
          classes: "govuk-input--width-5",
          hint: {
            text: "For example 123.40"
          },
          spellcheck: false
        }) }}
      {% endset -%}

      {{ govukRadios({
        name: "pre2005",
        fieldset: {
          legend: {
            text: "Is there any pre-2005 extra State Pension?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "no",
            text: "No"
          },
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: yesHtml
            }
          }
        ]
      }) }}

      <br><br>

      <h2 class="govuk-heading-l">
        Inherited extra State Pension
      </h2>

      <br>
      
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="cost">
            Extra State Pension in pounds
          </label>
        </h2>
        <div id="account-number-hint" class="govuk-hint">
          For example 123.40
        </div>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="basicEsp" name="basicEsp" type="text" spellcheck="false">
        </div>
      </div>

      <br>
      
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="cost">
            Extra State Pension Additional Pension in pounds
          </label>
        </h2>
        <div id="account-number-hint" class="govuk-hint">
          For example 123.40
        </div>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="apAmount" name="apAmount" type="text" spellcheck="false">
        </div>
      </div>

      <br>
      
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="cost">
            Extra State Pension Graduated Retirement Benefit in pounds
          </label>
        </h2>
        <div id="account-number-hint" class="govuk-hint">
          For example 123.40
        </div>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="grbAmount" name="grbAmount" type="text" spellcheck="false">
        </div>
      </div>
        
      <br><br><br>

      {{ govukButton({
        text: "Continue"
      }) }}

    </div>
  </div>

</form>

{% endblock %}
