{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post" action="enter-psod-credit-routing">

  {% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-xl">
      PSOD debit
    </h1>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        The uprating year for the amount is 2023
      </strong>
    </div>

    <br>

    {% from "govuk/components/input/macro.njk" import govukInput %}

    {{ govukInput({
      id: "debitAmount",
      name: "debitAmount",
      label: {
        text: "Enter the PSOD debit amount in pounds and pence",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      prefix: {
        text: "£"
      },
      classes: "govuk-input--width-10",
      hint: {
        text: "For example, 123.40"
      },
      spellcheck: false
    }) }}

    <br><br>

    {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

    {{ govukDateInput({
      id: "dateOfEffect",
      namePrefix: "dateOfEffect",
      fieldset: {
        legend: {
          text: "Enter the date of effect of the sharing order",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "For example, 27 3 2007"
      }
    }) }}
      
      <br><br><br>

        <button class="govuk-button" data-module="govuk-button">
        Continue
        </button>

      <br><br><br><br><br>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    
    <br>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /confirm-award <br>
        <b>Notes:</b> None <br>
      </div>
    </details>

  </div>
</div>

{% endblock %}
