{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post" action="enter-psod-credit-routing">

  {% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-xl">
      PSOD debit
    </h1>

    <br>

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--m" for="debitAmount">
          Enter the PSOD credit amount in pounds and pence
        </label>
      </h1>

      <br>
      
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          The uprating year for the amount is 2023
        </strong>
      </div>

      <div id="account-number-hint" class="govuk-hint">
        For example, 123.40
      </div>

      <div class="govuk-input__wrapper">
        <div class="govuk-input__prefix" aria-hidden="true">£</div>
        <input class="govuk-input govuk-input--width-10" id="debitAmount" name="debitAmount" type="text" spellcheck="false">
      </div>
    </div>

    <br><br>

    {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

    {{ govukDateInput({
      id: "dateOfEffect",
      namePrefix: "dateOfEffect",
      fieldset: {
        legend: {
          text: "Enter the date of effect of the pension sharing order",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "For example, 27 3 2007"
      }
    }) }}
      
      <br><br><br>

        <button class="govuk-button" data-module="govuk-button">
        Continue
        </button>

      <br><br><br><br><br>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    
    <br>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /confirm-award <br>
        <b>Notes:</b> None <br>
      </div>
    </details>

  </div>
</div>

{% endblock %}
