{% extends "layouts/main-2.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include './_bar.html' %}

      <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive"></span>
            There are tasks that need to be completed before an award can be issued. <br><a href="tasks" class="govuk-link govuk-link--no-visited-state">View tasks</a>.
          </strong>
        </div>

        <br>

        {{ xGovukSecondaryNavigation({
          visuallyHiddenTitle: "Secondary menu",
          items: [{
            text: "Personal",
            href: "record-personal"
          }, 
          {
            text: "Contact",
            href: "record-contact"
          },
          {
            text: "Pre award",
            href: "record-tasks",
            current: true
          }]
        }) }}

        <br><br>

        <h2 class="govuk-heading-m">Outstanding tasks for this account</h2>

       
        <ul class="govuk-task-list">

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="task-1-question.html" aria-describedby="application-details-3-status">
                Task 1 (PSOD)
              </a>
            </div>
            <div class="govuk-task-list__status" id="application-details-3-status">
              <strong class="govuk-tag govuk-tag--blue">
                Not yet started
              </strong>
            </div>
          </li>

          <li class="govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
              <div>
                Task 2 (COEG)
              </div>
              <div id="application-details-3-hint" class="govuk-task-list__hint">
                Task 1 needs to be completed before you can start this task
              </div>
            </div>
            <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
              Cannot start yet
            </div>
          </li>

        </ul>

    </div>

    <div class="govuk-grid-column-one-third">

      {% from "timeline/macro.njk" import dwpTimeline %}

      <h2 class="govuk-heading-m">Personal changes</h2>
      {{
          dwpTimeline({ 
              items: [
              {
                  title:  "Claim received",
                  byline:  "online",
                  date:  "11 May 2024 at 7:14pm"
              }
          ]
          })
      }}

    </div>

  </main>
</div>

{% endblock %}
