{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

{% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

<br><br>

              <div class="govuk-form-group">
                <h2 class="govuk-heading-l">You cannot calculate a new award</h2>

        <p>There is an outstanding SRB task for this claimant. You cannot calculate a new award until this is complete.</p>

        <p>Postpone this task to put it back in the queue for 28 days.</p>


            <br>

            <button class="govuk-button" data-module="govuk-button">
        Postpone task    </button>

        <br><br><br><br><br>

        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
        
        <br>
                       
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                  <b>URL and notes</b>
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <b>URL:</b> cannot-calculate-new-award-srb <br>
                  <b>Notes:</b> None<br>
                  <br>
                  <p class="govuk-body">Link to
                    <a href="https://dwpgovuk.sharepoint.com/:x:/r/sites/ext-rbc/_layouts/15/Doc.aspx?sourcedoc=%7B6066B1E4-A06C-4E42-A7CC-5CD2D2693D97%7D&file=EEA-mixed-SoT.xlsx&nav=MTVfe0Q0RDUzRTI1LUVDQTctNERDOC1BMUFELUEzNTZGMTU0QTc5Q30&action=default&mobileredirect=true" 
                    class="govuk-link" rel="noreferrer noopener" target="_blank">Content source of truth (opens in new tab)</a>
                  </p>
                </div>
              </details>

        </div>

      </div>

      {% endblock %}
