{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}


{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% include './_bar.html' %}

{{ govukBackLink({
  "text": "Back",
  "href": "javascript: window.history.go(-1)"
})
}}

<br><br>

<h1 class="govuk-heading-l">Use RINA to send a reminder 
</h1>


<br>
  <form method="post" action="record-request-reminder-routing">


<table class="govuk-table">
  <tbody class="govuk-table__body">


    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Austria</th>
      <td class="govuk-table__cell">ABC12345D</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Belguim</th>
      <td class="govuk-table__cell">DC54321BA</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Cyprus</th>
      <td class="govuk-table__cell">Not known</td>
    </tr>

  </tbody>
  </table>


<br><br>

  <table class="govuk-table">
    
    <caption class="govuk-table__caption govuk-table__caption--m">Claimant details</caption>
    <br><br>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Address</th>
        <td class="govuk-table__cell">57 Windsor Road<br>
    Tunbridge Wells<br>
    TN84 8IF</td>

      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Correspondence address</th>
        <td class="govuk-table__cell">11 Windsor Road<br>
  Tunbridge Wells<br>
  TN84 8IF</td>

      </tr>
      <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Date of birth</th>
      <td class="govuk-table__cell">12 October 1956</td>


      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Sex</th>
        <td class="govuk-table__cell">Female</td>

      </tr>
    </tbody>
  </table>

</div>
</div>

  <br><br>

<button class="govuk-button" data-module="govuk-button">
  Confirm reminder sent
</button>

<br><br><br><br><br>

<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

<br>
               
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          <b>URL and notes</b>
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>URL:</b> existing <br>
          <b>Notes:</b> None<br>
          <br>
          <p class="govuk-body">Link to
            <a href="https://dwpgovuk.sharepoint.com/:x:/r/sites/ext-rbc/_layouts/15/Doc.aspx?sourcedoc=%7B6066B1E4-A06C-4E42-A7CC-5CD2D2693D97%7D&file=EEA-mixed-SoT.xlsx&nav=MTVfezA0QkI1NjNELTAxOEQtNDIxNC05RDY2LTg5QTMwQjZCREQwRH0&action=default&mobileredirect=true" 
            class="govuk-link" rel="noreferrer noopener" target="_blank">Content source of truth (opens in new tab)</a>
          </p>
        </div>
      </details>
      
        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
