{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}
{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <dv class="column-full">


          <br><br>
          {% include './_bar.html' %}

<form method="post" action="award-updated-arrears">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}

          <br>
          <br>

          <h2 class="govuk-heading-l">Lived or worked abroad</h2>

          <br>

<div class="govuk-notification-banner" role="region"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      Claimant has lived or worked in more than one country group.    </p>
  </div>
</div>

<h2 class="govuk-heading-m">ANZaC</h2>
<hr class="govuk-section-break govuk-section-break--visible">
<div class="govuk-!-padding-bottom-6"></div>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Canada</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Lived
        </dt>
        <dd class="govuk-summary-list__value">
          Jun 1992 to Dec 2006
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"> whether details are known</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Worked
        </dt>
        <dd class="govuk-summary-list__value">
          Jun 1992 to Nov 2006
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"> relationship to lead tenant</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Social security number
        </dt>
        <dd class="govuk-summary-list__value">
          123 456 789
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"> age</span>
          </a>
        </dd>
      </div>
    </dl>
  </div>
</div>

<br><br><br>

  <h2 class="govuk-heading-m">EEA</h2>
  <hr class="govuk-section-break govuk-section-break--visible">
  <div class="govuk-!-padding-bottom-6"></div>
                     
                      <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                          <h2 class="govuk-summary-card__title">Spain</h2>
                        </div>
                        <div class="govuk-summary-card__content">
                          <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                               Lived
                              </dt>
                              <dd class="govuk-summary-list__value">
                                Feb 1990 to May 1992
                              </dd>
                              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                  <span class="govuk-visually-hidden"> whether details are known</span>
                                </a>
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Worked
                              </dt>
                              <dd class="govuk-summary-list__value">
                                Feb 1990 to May 1992
                              </dd>
                              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                  <span class="govuk-visually-hidden"> relationship to lead tenant</span>
                                </a>
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Social security number
                              </dt>
                              <dd class="govuk-summary-list__value">
                                25 18735476 84
                              </dd>
                              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                  <span class="govuk-visually-hidden"> age</span>
                                </a>
                              </dd>
                            </div>
                          </dl>
                        </div>
                      </div>

                      <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                          <h2 class="govuk-summary-card__title">Norway</h2>
                        </div>
                        <div class="govuk-summary-card__content">
                          <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                               Lived
                              </dt>
                              <dd class="govuk-summary-list__value">
                                Mar 1987 Aug 1989
                              </dd>
                              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                  <span class="govuk-visually-hidden"> whether details are known</span>
                                </a>
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Worked
                              </dt>
                              <dd class="govuk-summary-list__value">
                                Mar 1987 Jul 1989
                              </dd>
                              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                  <span class="govuk-visually-hidden"> relationship to lead tenant</span>
                                </a>
                              </dd>
                            </div>
                          </dl>
                        </div>
                      </div>

                      <br><br><br><br><br>

<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

<br>
               
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          <b>URL and notes</b>
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>URL:</b> existing <br>
          <b>Notes:</b> None <br>
          <br>
          <p class="govuk-body">Link to
            <a href="https://id.atlassian.com/login?continue=https%3A%2F%2Fid.atlassian.com%2Fjoin%2Fuser-access%3Fresource%3Dari%253Acloud%253Aconfluence%253A%253Asite%252F24160f6d-2a7b-498d-a634-637ad4ef825e%26continue%3Dhttps%253A%252F%252Fdwpdigital.atlassian.net%252Fwiki%252Fspaces%252FLLS%252Fpages%252F133627122328%252FEEA%252Bmixed%252Bcases%252B-%252Btimeline%252Bevents%252Bfor%252Bchange%252Bof%252Baward%252Bjourney&application=confluence" 
            class="govuk-link" rel="noreferrer noopener" target="_blank">Content source of truth (opens in new tab)</a>
          </p>
        </div>
      </details>

        </div>
      </div>


</div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">

      <br>

      <div class="dwp-timeline">
        <ol class="dwp-timeline__events">
          <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">EEA: Check for increase complete. Change of award letter sent to claimant</h2>
            <p class="govuk-caption-m">20 March 2023</p>
          </li>
          <li class="dwp-timeline__events--entry">
           <h2 class="govuk-heading-s govuk-!-margin-bottom-1">EEA: Insurance record received from Spain</h2>
           <p class="govuk-caption-m">19 February 2023</p>
          </li>
          <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">EEA: Insurance record received from Norway</h2>
            <p class="govuk-caption-m">16 February 2023</p>
          </li>
          <li class="dwp-timeline__events--entry">
           <h2 class="govuk-heading-s govuk-!-margin-bottom-1">ANZaC: Check for increase complete. Change of award letter sent to claimant</h2>
           <p class="govuk-caption-m">23 January 2023</p>
          </li>
          <li class="dwp-timeline__events--entry">
           <h2 class="govuk-heading-s govuk-!-margin-bottom-1">ANZaC: CFN1282 form returned</h2>
           <p class="govuk-caption-m">12 January 2023</p>
          </li>
          <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">EEA: Insurance record requested from Spain</h2>
            <p class="govuk-caption-m">14 December 2022</p>
          </li>
          <li class="dwp-timeline__events--entry">
           <h2 class="govuk-heading-s govuk-!-margin-bottom-1">EEA: Insurance record requested from Norway</h2>
           <p class="govuk-caption-m">14 December 2022</p>
          </li>
          <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">EEA: CFN901 form sent to claimant</h2>
            <p class="govuk-caption-m">17 November 2022</p>
          </li>
          <li class="dwp-timeline__events--entry">
           <h2 class="govuk-heading-s govuk-!-margin-bottom-1">ANZaC: CFN1282 form sent to claimant</h2>
           <p class="govuk-caption-m">15 November 2022</p>
          </li>
        </ol>
      </div> 

      

      </ol>

    </div>

</div>

{% endblock %}
