{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form class="form" method="post">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


          <div class="govuk-form-group">

            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--xl" for="countries">
                What countries have you lived in?
              </label>
            </h1>

            <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


     
      </form>

    </div>
  </div>

            </div>

                <p>

                  <a class="govuk-link" href="countries-lived-2">Add another country</a>
                </p>


              </form>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      <br>
      <br>
      <br>
      <br>
      <br>

    </div>

    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


  {% endblock %}
  {% block pageScripts %}
{% endblock %}
