
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="eea-question-multi-check">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}

<br><br><br>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Which countries do you want to apply for your EU pension from?
            </h1>
          </legend>
          <div id="countries-hint" class="govuk-hint">
            Select all countries that apply
          </div>
          <br>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="france">
              <label class="govuk-label govuk-checkboxes__label" for="countries">
                France
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="countries-2" name="countries" type="checkbox" value="spain">
              <label class="govuk-label govuk-checkboxes__label" for="countries-2">
                Spain
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="countries-3" name="countries" type="checkbox" value="germany">
              <label class="govuk-label govuk-checkboxes__label" for="countries-3">
                Germany
              </label>
            </div>
          </div>
        </fieldset>
      </div>

<br><br>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </div>

    <div class="govuk-grid-column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>


</form>


{% endblock %}
