
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}

<br><br>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-xl"> Applying for European Union (EU) pensions     
      </h1>

<p>You may be entitled to EU pensions from Belgium and the France based on the time you lived or worked there.</p>

<p>If you want to apply for your EU pensions, we will send you a form by post to complete and return to us.</p>

<p>If you have already applied for your EU pension from a country, you do not need to apply again.</p>

<p>EU pensions do not affect how much UK State Pension you will get.</p>

<br><br><br>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      Do you want to apply for your EU pensions?
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="EUpensions" name="EUpensions" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="EUpensions">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="EUpensions-2" name="EUpensions" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="EUpensions-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

<br><br><br>

      <button class="govuk-button">
        Continue
      </button>

    </div>

    <div class="govuk-grid-column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>


</form>


{% endblock %}
