
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="eea-question-multi-check-routing">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}

<br><br>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

{{ govukCheckboxes({
  name: "EUcountries",
  fieldset: {
    legend: {
      text: "Which countries do you want to apply for your EU pension from?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: "If you are already getting your pension from a country, you do not need to apply to that country again."
  },
  items: [
    {
      value: "Belgium",
      text: "Belgium"
    },
    {
      value: "France",
      text: "France"
    },
    {
      divider: "or"
    },
    {
      value: "None",
      text: "None",
      behaviour: "exclusive"
    }
  ]
}) }}

<br><br>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </div>

    <div class="govuk-grid-column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>


</form>


{% endblock %}
