
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}

<br><br>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-xl"> Applying for European Union (EU) pensions     
      </h1>

<p>You may be entitled to EU pensions from France, Spain and Germany based on the time you lived or worked there.</p>

<p>If you want to apply for your EU pensions, we will send you some forms to complete.</p>

<p>If you have already applied for your EU pension from a country, you do not need to apply again.</p>

<p>EU pensions do not affect how much UK State Pension you will get.</p>

<br><br><br>

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "applyforEUpensions",
  fieldset: {
    legend: {
      text: "Do you want to apply for your EU pensions?",
      classes: "govuk-label--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no-1",
      text: "No, I have already applied"
    },
    {
      value: "no-2",
      text: "No, I do not want to apply"
    }
  ]
}) }}

<br><br><br>

      <button class="govuk-button" data-module="govuk-button" href="#">
        Continue
      </button>

    </div>

    <div class="govuk-grid-column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>


</form>


{% endblock %}
