{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="eea-intro-single-3-routing">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}

<br><br>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Applying for a pension from Germany</h1>

<p>You may be entitled to a European Union (EU) pension from Germany based on the time you lived or worked there.</p>

<p>If you want to apply for your pension from Germany, we will send you a form by post to complete and return to us. </p>

<p>If you have already applied for your pension from Germany, you do not need to apply again.</p>

<p>EU pensions do not affect how much UK State Pension you will get.</p>

<br><br><br>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Do you want to apply for your pension from Germany?</h1>
    </legend>
    <div id="signIn-hint" class="govuk-hint">
    </div>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">
        <label class="govuk-label govuk-radios__label" for="signIn">
          Yes
        </label>
        <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
        <label class="govuk-label govuk-radios__label" for="signIn-2">
          No
        </label>
        <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint">
        </div>
      </div>
    </div>
  </fieldset>
</div>

<br><br><br>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </div>

    <div class="govuk-grid-column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>


</form>


{% endblock %}