
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="check-start-date">

  <a href="post-spa" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
What date do you want to start your State Pension?      </h1>
      <p>You reached State Pension age on <b>11 April 2021</b> and may be owed some State Pension.</p><p>Enter a start date:</p>
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>of <b>11 April 2021</b> to get all of the State Pension you are owed as a one-off arrears payment
         <li>after <b>14 June 2021</b> to increase your State Pension payments for the rest of your life - the later your start date, the bigger your increase will be</li>
<li>before <b>20 June 2022</b> to get a one-off arrears payment - the earlier your start date, the bigger your one-off payment will be</li>
</ul>




<div class="govuk-form-group">
<fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  <h2 class="govuk-fieldset__heading">
</h2>
</legend>

<div class="govuk-date-input" id="passport-issued">
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
        Day
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric">
    </div>
  </div>
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
        Month
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric">
    </div>
  </div>
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
        Year
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric">
    </div>
  </div>
</div>

</fieldset>
</div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      <br><br><br><br><br><br><br><br>

    </div>

    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


  {% endblock %}
