{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

{% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Are you sure you want to remove this SRB?
          </h1>
        </legend>

        <table class="govuk-table">       
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Date SRB applies from</th>
              <td class="govuk-table__cell">
                {% if data['another2-day'] or data['another2-month'] or data['another2-year'] %}
                  {{data['another2-day']}} {{data['another2-month'] | monthName}} {{data['another2-year']}}
                {% else %}
                  1 March 2025
                {% endif %}
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Number of post 2016 years used</th>
              <td class="govuk-table__cell">
                {{data.post20162 }}
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Number of NSP qualifying years</th>
              <td class="govuk-table__cell">
                {{data.nspQual2 }}
              </td>
            </tr>
          </tbody>
        </table>

        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="remove" name="remove" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="remove">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="remove-2" name="remove" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="remove-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <br>

    <button class="govuk-button" data-module="govuk-button">
      Confirm
    </button>

    <br><br><br><br><br>

  </div>
</div>

{% endblock %}
