{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

{% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-xl">Check your answers</h1>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          SRB 1
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link--no-visited-state" href="are-you-sure">Remove<span class="govuk-visually-hidden"> SRB 1</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Date SRB applies from
            </dt>
            <dd class="govuk-summary-list__value-numeric">
              {% if data['another-day'] or data['another-month'] or data['another-year'] %}
                {{data['another-day']}} {{data['another-month'] | monthName}} {{data['another-year']}}
              {% else %}
                State Pension date
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link--no-visited-state" href="enter-date">Change<span class="govuk-visually-hidden">latePaid date</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Number of post 2016 years used
            </dt>
            <dd class="govuk-summary-list__value-numeric">
                {{data.post2016 }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link--no-visited-state" href="how-many-years">Change<span class="govuk-visually-hidden">Number of additional years</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Number of NSP qualifying years
            </dt>
            <dd class="govuk-summary-list__value-numeric">
                {{data.nspQual }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link--no-visited-state" href="how-many-years">Change<span class="govuk-visually-hidden">Number of additional years</span></a>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <br>

    {% if data['remove'] == 'yes' %}

    {% elseif data['whatDate2'] == 'SPa2' or data['whatDate2'] == 'anotherDate2'%}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            SRB 2
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link--no-visited-state" href="are-you-sure">Remove<span class="govuk-visually-hidden"> SRB 2</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Date SRB applies from
              </dt>
              <dd class="govuk-summary-list__value-numeric">
                {% if data['another2-day'] or data['another2-month'] or data['another2-year'] %}
                  {{data['another2-day']}} {{data['another2-month'] | monthName}} {{data['another2-year']}}
                {% else %}
                  State Pension date
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link--no-visited-state" href="enter-date">Change<span class="govuk-visually-hidden">latePaid date</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Number of post 2016 years used
              </dt>
              <dd class="govuk-summary-list__value-numeric">
                  {{data.post20162 }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link--no-visited-state" href="how-many-years">Change<span class="govuk-visually-hidden">Number of additional years</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Number of NSP qualifying years
              </dt>
              <dd class="govuk-summary-list__value-numeric">
                  {{data.nspQual2 }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link--no-visited-state" href="how-many-years">Change<span class="govuk-visually-hidden">Number of additional years</span></a>
              </dd>
            </div>
          </dl>
        </div>
      </div>

    {% endif %}
    
    <p class="govuk-body">
      <a href="date-needed-4" class="govuk-link--no-visited-state">Apply another SRB</a>
    </p>

    <br><br>

    <button class="govuk-button" data-module="govuk-button">
      Confirm and continue
    </button>

  </div>
</div>

{% endblock %}