{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

  {% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> 

    {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-xl">Complete and send SRB proforma</h1>

    <p>Complete and email the proforma to request the dates from HMRC. </p>

    <br><br>

    <button type="submit" class="govuk-button" data-module="govuk-button">
      Confirm email sent
    </button>

      

    </form>

  </div>
</div>

{% endblock %}
