{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

{% include './_bar.html' %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
      })
      }}

      <br><br>

      <h1 class="govuk-heading-xl">Confirm change to State Pension award</h1>

      <br>

      <h2 class="govuk-heading-m">Revision 1</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            New State Pension
          </dt>
          <dd class="govuk-summary-list__value-numeric">
            <!--{% if data.addsp1 %}
            £{{data.addsp1}}
            {% else %}
            £0.00
            {% endif %}-->
            £165.50
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="calculate-test">Change<span class="govuk-visually-hidden">New State Pension amount</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Protected payment
          </dt>
          <dd class="govuk-summary-list__value-numeric">
            <!--{% if data.protectedPayment %}
            £{{data.protectedPayment}}
            {% else %}
            £0.00
            {% endif %}-->
            £0.00
          </dd>
          <dd class="govuk-summary-list__actions">
            <!--{% if data.protectedPayment %}
            <a class="govuk-link" href="enter-pp">Change<span class="govuk-visually-hidden"> protected payment amount</span></a>
            {% else %}
            <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> protected payment amount</span></a>
            {% endif %}-->
            <a class="govuk-link--no-visited-state" href="enter-pp">Change<span class="govuk-visually-hidden"> protected payment amount</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Entitlement date
          </dt>
          <dd class="govuk-summary-list__value-numeric">
            <!--{% if data.entitlement %}  
             {{data.entitlement}}
            {% endif %}-->
            23 January 2025
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link--no-visited-state" href="enter-pp">Change<span class="govuk-visually-hidden">entitlement date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Total
          </dt>
          <dd class="govuk-summary-list__value-numeric">
            <!--{% if data.addsp1 and data.protectedPayment %}  
             £{{ data.addsp1 | float + data.protectedPayment | float }} per week
            {% else %}
              £{{data.addsp1}}
            {% endif %}-->
            <b>£165.50</b>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
      </dl> 

      <br><br>

      <h2 class="govuk-heading-m">Arrears payment</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Amount
          </dt>
          <dd class="govuk-summary-list__value-numeric">
            <!--{% if data.addsp1 %}
            £{{data.addsp1}}
            {% else %}
            £0.00
            {% endif %}-->
            £104.25
          </dd>
          <dd class="govuk-summary-list__actions">
            <!--<a class="govuk-link" href="calculate-test">Change<span class="govuk-visually-hidden">New State Pension amount</span></a>-->
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Period
          </dt>
          <dd class="govuk-summary-list__value-numeric">
            <!--{% if data.protectedPayment %}
            £{{data.protectedPayment}}
            {% else %}
            £0.00
            {% endif %}-->
            Day Month Year to Day Month Year
          </dd>
          <dd class="govuk-summary-list__actions">
            <!--{% if data.protectedPayment %}
            <a class="govuk-link" href="enter-pp">Change<span class="govuk-visually-hidden"> protected payment amount</span></a>
            {% else %}
            <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> protected payment amount</span></a>
            {% endif %}
            <a class="govuk-link--no-visited-state" href="enter-pp">Change<span class="govuk-visually-hidden"> protected payment amount</span></a>-->
          </dd>
        </div>
      </dl> 

      <div class="govuk-inset-text">
        A letter will automatically be sent...
      </div>

      <br><br>

      <button class="govuk-button" data-module="govuk-button">
        Confirm and send letter
      </button>

    </div>
</div>

{% endblock %}