{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

{% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-xl">SRB 1</span>
            What date does this SRB apply from?
          </h1>
        </legend>

        <p>Check OLE for details.</p>
        
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="dateNeeded2" name="dateNeeded2" type="radio" value="spDate">
            <label class="govuk-label govuk-radios__label" for="dateNeeded2">
              State Pension date
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="dateNeeded2-2" name="dateNeeded2" type="radio" value="anotherDate">
            <label class="govuk-label govuk-radios__label" for="dateNeeded2-2">
              Another date
            </label>
          </div>
        </div>
      </fieldset>
    </div>
      
    <br>

    <button class="govuk-button" data-module="govuk-button">
     Continue
    </button>

  </div>
</div>

{% endblock %}
