{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

{% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    {% if data['haveDate'] === 'no' %}
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Do you have the date needed to complete the SRB?
            </h1>
          </legend>
          <div id="haveDate2-hint" class="govuk-hint">
            If there is more than one SRB, check each one before you start. You can find details in OLE.
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="haveDate2" name="haveDate2" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="haveDate2-2" name="haveDate2" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    {% else %}
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Do you have the date needed to apply the SRB?
            </h1>
          </legend>
          <div id="haveDate-hint" class="govuk-hint">
            If there is more than one SRB, check each one. You can find the details OLE.
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="haveDate" name="haveDate" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="haveDate-2" name="haveDate" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    {% endif %} 

    <br>

    <button class="govuk-button" data-module="govuk-button">
    Continue
    </button>

    <br><br><br><br><br>

  </div>
</div>

{% endblock %}
