{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

{% include './_bar.html' %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
      })
      }}

      <br><br>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="latePaid-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-xl">SRB 1</span>
              Date the SRB applies from
            </h1>
          </legend>
          <div id="changedName-hint" class="govuk-hint">
            This is the late paid date in OLE.
          </div>
          <div class="govuk-date-input" id="latePaid">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="latePaid-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="latePaid-day" name="latePaid-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="latePaid-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="latePaid-month" name="latePaid-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="latePaid-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="latePaid-year" name="latePaid-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <br>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </div>
</div>

{% endblock %}