{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

{% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
    })
    }}

    <br><br>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-xl">Review 2</span>
            Do you need to enter a protected payment amount?
          </h1>
        </legend>
        
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="protected2" name="protected2" type="radio" value="yes" data-aria-controls="conditional-protected2">
          <label class="govuk-label govuk-radios__label" for="protected2">
            Yes
          </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-protected2">
          <div class="govuk-form-group">
            <label class="govuk-label" for="protected2">
                Protected payment amount
            </label>
            <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-10" id="ppAmount2" name="ppAmount2" type="text" spellcheck="false">
            </div>
          </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="protected2-2" name="protected2" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="protected2-2">
            No
          </label>
        </div>
    </div>

        <br><br>

    <button class="govuk-button" data-module="govuk-button">
      Confirm
    </button>

  </div>
</div>

{% endblock %}