{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

{% include './_bar.html' %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
      })
      }}

      <br><br>

      <h1 class="govuk-heading-xl">Award calculated</h1>

      <br>

      <table class="govuk-table">       
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">State Pension award</th>
            <td class="govuk-table__cell">
              {% if data.enterSP and data.ppAmount %}  
                <b>£{{ data.enterSP | float + data.ppAmount | float }}</b>
              {% else %}
                <!--<b>{{data.enterSP | currency}}<b>-->
                <b>£227.89</b>
              {% endif %}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">From</th>
            <td class="govuk-table__cell">
              {% if data['latePaid-day'] or data['latePaid-month'] or data['latePaid-year'] %}
                {{data['latePaid-day']}} {{data['latePaid-month'] | monthName}} {{data['latePaid-year']}}
              {% elseif data['another-day'] or data['another-month'] or data['another-year'] %}
                {{data['another-day']}} {{data['another-month'] | monthName}} {{data['another-year']}}
              {% else %}
                State Pension date
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>

      <br>

      <div class="govuk-inset-text">
        A letter will automatically be sent...
      </div>

      <br><br>

      <button class="govuk-button" data-module="govuk-button">
        Confirm and send letter
      </button>

    </div>
</div>

{% endblock %}