{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

{% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
    })
    }}

    <br><br>

    <div class="govuk-form-group">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Review 1</span>
        New State Pension amount in pounds
      </h1>

      <p>Enter the rate applicable at SPa (or dd mm yy).</p>

      <br>

      <div class="govuk-input__wrapper">
        <div class="govuk-input__prefix" aria-hidden="true">£</div>
        <input class="govuk-input govuk-input--width-10" id="enterSP" name="enterSP" type="text" spellcheck="false">
      </div>
    </div>

    <br><br>

    <button class="govuk-button" data-module="govuk-button">
      Confirm
    </button>

    </form>

  </div>
</div>

{% endblock %}