{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Review a first award</h1>

    <p>There has been a change in contributions or credits since State Pension date.</p>

    <p class="govuk-body">You will need to check:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the number of SRBs</li>
      <li>the reason for the SRBs</li>
      <li>if you have the required dates</li>
    </ul>

    <br>

    <p>You may then need to review the award.</p>

    <br><br>

    <a href="do-you-have-date" button type="submit" class="govuk-button govuk-button">
      Start this task
    </a>

    <a href="task-queue" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
      Return task to queue
    </a>

    </form>

  </div>
</div>

{% endblock %}
