{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form class="form" method="post">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Which SRB pre-award journey would you like to test?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="journey" name="journey" type="radio" value="a">
        <label class="govuk-label govuk-radios__label" for="journey">
          Journey A
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="journey-2" name="journey" type="radio" value="b">
        <label class="govuk-label govuk-radios__label" for="journey-2">
          Journey B
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="journey-3" name="journey" type="radio" value="c">
        <label class="govuk-label govuk-radios__label" for="journey-3">
          Journey C
        </label>
      </div>
    </div>
  </fieldset>
</div>

<button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>


{% endblock %}
