{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_bar.html' %}

    <form method="post">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-l">Check if CFN901 needed</h1>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Norway</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Lived</th>
          <td class="govuk-table__cell">Aug 1982 to Mar 1986</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Worked</th>
          <td class="govuk-table__cell">Aug 1982 to Mar 1986</td>
          <td class="govuk-table__cell"></td>
        </tr>
      </tbody>
    </table>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Croatia</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Lived</th>
          <td class="govuk-table__cell">Mar 1986 to Sept 1993</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Worked</th>
          <td class="govuk-table__cell">Mar 1986 to Aug 1993</td>
          <td class="govuk-table__cell"></td>
        </tr>
      </tbody>
    </table>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Switzerland</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Lived</th>
          <td class="govuk-table__cell">Feb 1994 to Apr 1996</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Worked</th>
          <td class="govuk-table__cell">Feb 1994 to Apr 1996</td>
          <td class="govuk-table__cell"></td>
        </tr>
      </tbody>
    </table>

    <br><br>

    {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "sendCfn901",
  fieldset: {
    legend: {
      text: "Do you need to send the claimant a CFN901 to process their EU pensions?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes, I need to send the claimant a CFN901"
    },
    {
      value: "no",
      text: "No, there is a recently received CFN901 on file"
    },
    {
      value: "alreadyGetting",
      text: "The claimant is already getting their EU pensions"
    }
  ]
}) }}

<br><br><br>

<button class="govuk-button" data-module="govuk-button">
Continue
</button>

  </div>
</div>

<br><br>



<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
<b>URL and notes</b>
</span>
</summary>
<div class="govuk-details__text">
<b>URL:</b>   <br>
<b>Notes:</b> Link to <a href="check-cfn901-2" class="govuk-link">alternate version of this screen</a>. <br>
</div>
</details>

    </form>

  </div>
</div>

{% endblock %}
