{% extends "layouts/main.html" %}

{% block content %}

<form method="post"></form>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_bar.html' %}

    <div class="govuk-width-container">
      <div class="govuk-grid-column-full">
    
          <div class="grid-row">
            <dv class="column-full">
    
            {{ govukBackLink({
              text: "Back",
              href: "javascript:history.go(-1)"
                              }) }}
    
            <br><br>
    
            <h1 class="govuk-heading-l">Lived or worked abroad</h1>
          
            <h2 class="govuk-heading-m">EEA</h2>

            <hr class="govuk-section-break govuk-section-break--visible">

            <div class="govuk-!-padding-bottom-6"></div>

            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                Waiting for CFN901 from the claimant.<br>
                <a href="/international-record/ra-iteration-2/rf1-returned" class="govuk-link govuk-link--no-visited-state">Confirm CFN901 returned</a>.
              </strong>
            </div> 
                              
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">Norway</h2>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Lived
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Aug 1982 to Mar 1986
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          <span class="govuk-visually-hidden"></span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Worked
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Aug 1982 to Mar 1986
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          <span class="govuk-visually-hidden"></span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Social security number
                      </dt>
                      <dd class="govuk-summary-list__value">
                        8745STV23
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          <span class="govuk-visually-hidden"></span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Task
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <a class="govuk-link" href="#">Confirm insurance records returned</a>
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          <span class="govuk-visually-hidden"></span>
                        </a>
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>

              <br>
    
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">Croatia</h2>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Lived
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Mar 1986 to Sept 1993
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          <span class="govuk-visually-hidden"></span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Worked
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Mar 1986 to Aug 1993
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          <span class="govuk-visually-hidden"></span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Social security number
                      </dt>
                      <dd class="govuk-summary-list__value">
                        GEV98732
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          <span class="govuk-visually-hidden"></span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Task
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <a class="govuk-link" href="#">Confirm insurance records returned</a>
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          <span class="govuk-visually-hidden"></span>
                        </a>
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>

              <br>

              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">Switzerland</h2>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Lived
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Feb 1994 to Apr 1996
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          <span class="govuk-visually-hidden"></span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Worked
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Feb 1994 to Apr 1996
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          <span class="govuk-visually-hidden"></span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Social security number
                      </dt>
                      <dd class="govuk-summary-list__value">
                        SWI123TZ45
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          <span class="govuk-visually-hidden"></span>
                        </a>
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>
    
            </div>
          </div>
    
    
    </div>
    </div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">

      <br>

      <div class="dwp-timeline">

        <ol class="dwp-timeline__events">
          
          <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">EEA: Insurance record received from Switzerland</h2>
            <p class="govuk-caption-m">29 July 2023</p>
          </li>
          
          <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">EEA: Claim sent for pension</h2>
            <p class="govuk-caption-m">22 June 2023</p>
          </li>
          
          <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">EEA: RF1 requested from HMRC</h2>
            <p class="govuk-caption-m">16 May 2023</p>
          </li>
          
          <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">EEA: Insurance record requested from Norway</h2>
            <p class="govuk-caption-m">20 March 2023</p>
          </li>

          <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">EEA: Insurance record requested from Croatia</h2>
            <p class="govuk-caption-m">20 March 2023</p>
          </li>

          <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">EEA: Insurance record requested from Switzerland</h2>
            <p class="govuk-caption-m">20 March 2023</p>
          </li>

          <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">EEA: CFN901 form sent to claimant</h2>
            <p class="govuk-caption-m">20 March 2023</p>
          </li>

        </ol>

      </div> 

      

      </ol>

    </div>

</div>

{% endblock %}
