{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_bar.html' %}

    <form method="post">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

          <div class="govuk-form-group">

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "dateOfEntry",
  fieldset: {
    legend: {
      text: "What is the claimant's date of entry?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "You can find this in OLE."
  },
  items: [
    {
      value: "after",
      text: "6 April 1975 or after",
      hint: {
        text: ""
      }
    },
    {
      value: "before",
      text: "Before 6 April 1975",
      hint: {
        text: ""
      }
    }
  ]
}) }}

       </div>
            </div>

           </div>

           <button class="govuk-button" data-module="govuk-button">
             Continue
           </button>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
<b>URL and notes</b>
</span>
</summary>
<div class="govuk-details__text">
<b>URL:</b> <br>
<b>Notes:</b> None <br>
</div>
</details>

    </form>

  </div>
</div>

{% endblock %}
