{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_bar.html' %}

    <form method="post">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      name: "requestRf1",
      fieldset: {
        legend: {
          text: "Do you need to request an RF1 from HMRC?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "request-rf1",
          text: "Request RF1"
        },
        {
          value: "rf1-already-received",
          text: "RF1 already received"
        },
        {
          value: "rf1-requested-recently",
          text: "RF1 requested recently"
        },
        {
          value: "cannot-request-rf1",
          text: "Cannot request RF1"
        }
      ]
    }) }}

    <br><br><br>

    <button type="submit" class="govuk-button">Continue</button>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
<b>URL and notes</b>
</span>
</summary>
<div class="govuk-details__text">
<b>URL:</b> <br>
<b>Notes:</b> None <br>
</div>
</details>

    </form>

  </div>
</div>

{% endblock %}
