{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="start-3-routing"> 

      <br><br>

      <h1 class="govuk-heading-l">Process claim for EEA pensions</h1>

      <p class="govuk-body">Check if HMRC have returned the RF1 form.</p>

      <p class="govuk-body">You may then need to send a claim for the claimant's EEA pensions.</p>

      <br><br><br>

      <button class="govuk-button" data-module="govuk-button">
        Start this task
      </button>
      <a href="dashboard-3" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
        Return task to queue
      </a>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          <b>URL and notes</b>
          </span>
          </summary>
          <div class="govuk-details__text">
          <b>URL:</b> Existing<br>
          <b>Notes:</b> <br>
          </div>
        </details>

    </form>

  </div>
</div>

{% endblock %}
