{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="start-routing"> 

      <br><br>

      <h1 class="govuk-heading-xl">Request EEA information</h1>

      <ul class="govuk-list govuk-list--bullet">
        <li>Print and send a CFN901 form to the claimant</li>
        <li>Check NIRs for partiral qualifying years</li>
        <li>Request insurance records from other countries</li>
      </ul>

      <br><br><br>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Start this task
      </button>
      <a href="dashboard" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
        Return task to queue
      </a>

      <br><br><br><br><br>

    </form>

  </div>
</div>

{% endblock %}
