{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="start-2-routing"> 

      <br><br>

      <h1 class="govuk-heading-l">Process claim for EEA pensions</h1>

      <p class="govuk-body">In this task you may need to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>request an RF1 from HMRC</li>
        <li>send a claim for their EEA pensions</li>
      </ul>

      <br><br><br>

      <button class="govuk-button" data-module="govuk-button">
        Start this task
      </button>
      <a href="dashboard-3" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
        Return task to queue
      </a>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          <b>URL and notes</b>
          </span>
          </summary>
          <div class="govuk-details__text">
          <b>URL:</b> Existing<br>
          <b>Notes:</b> If RF1 form has been requested previously (in 'Part 2'), the agent would start with <a href="start-3" class="govuk-link">this screen</a><br>
          <br>If a CFN901 was marked as 'already on file' in previous step, system will skip ahead to <a href="date-of-entry" class="govuk-link">this screen</a><br>
          </div>
        </details>

    </form>

  </div>
</div>

{% endblock %}
