{% extends "layouts/main-2.html" %}

{% block content %}

<!-- SCENARIO 1 -->

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">

          {% if data['pcAmount'] %} 
              {% include './_bar-awarded.html' %}
            {% elseif data.warPensionDecision === 'no' %}
              {% include './_bar.html' %}
          {% endif %}    


          {% if data['pcAmount'] %}

            {% elseif data['caAmount'] %}

            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive"></span>
                Waiting for Pension Credit team to return part B of the BR403 form. <a href="../mixed-overlapping-benefits/pension-credit/pension-credit-decision-1" class="govuk-link govuk-link--no-visited-state">Get this task now.</a>
              </strong>
            </div>
          
            {% elseif data.warPensionDecision === 'no' %}

            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive"></span>
                Waiting for information from the Carer's Allowance team. <br><a href="../mixed-overlapping-benefits/carers-allowance/carers-allowance-decision-1" class="govuk-link govuk-link--no-visited-state">Update Carer's Allowance information</a>.
              </strong>
            </div>

          {% endif %}

          {% if data['pcAmount'] %}

            {{ xGovukSecondaryNavigation({
              visuallyHiddenTitle: "Secondary menu",
              items: [{
                text: "Personal",
                href: "#",
                current: true
              }, 
              {
                text: "Contact",
                href: "#"
              }, 
              {
                text: "Tasks",
                href: "#"
              },
              {
                text: "Award",
                href: "#"
              },
              {
                text: "Payments",
                href: "#"
              }]
            }) }}

            {% elseif data.warPensionDecision === 'no' %}

            {{ xGovukSecondaryNavigation({
              visuallyHiddenTitle: "Secondary menu",
              items: [{
                text: "Personal",
                href: "#",
                current: true
              }, 
              {
                text: "Contact",
                href: "#"
              }, 
              {
                text: "Tasks",
                href: "#"
              }]
            }) }}

          {% endif %}

        </div>
      </div>
    </main>

    <br>
    <br>

    <div>
      <h2 class="govuk-heading-m">Personal details</h2>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 50%" >Full name</th>
            <td class="govuk-table__cell" style="width: 50%">Cece Bonham</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="change-name"></a></td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">National Insurance number</th>
            <td class="govuk-table__cell">QQ 12 34 56 X</td>
            <td class="govuk-table__cell"></td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of birth</th>
            <td class="govuk-table__cell">12 December 1952</td>
            <td class="govuk-table__cell"></td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">State Pension date </th>
            <td class="govuk-table__cell">10 April 2019 </td>
            <td class="govuk-table__cell"></td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Marital status </th>
            <td class="govuk-table__cell">Married</td>
            <td class="govuk-table__cell"><a class="govuk-link" href=change-maritalstatus>Details</a></td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Lived or worked abroad </th>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="lived-worked-details"></a></td>
          </tr>
        </tbody>
      </table>

    </div>

    <a class="govuk-body" href="death-date">
      Stop State Pension
    </a>

    <br><br><br>

  </div>

</div>

<div class="govuk-grid-column-one-third">

  {% if data['pcAmount'] %}

    {% from "timeline/macro.njk" import dwpTimeline %}

      <h1 class="govuk-heading-m">Personal changes</h1>
      {{
      dwpTimeline({ 
        items: [
        {
          title:  "State Pension awarded",
          byline:  "system",
          date:  "18 May 2024 at 10:57am"
        },
        
        {
          title:  "Part B of BR403 returned",
          byline:  "agent",
          date:  "18 May 2024 at 10:57am"
        },
        
        {
          title:  "Part A of BR403 sent to Pension Credit team",
          byline:  "agent",
          date:  "15 May 2024 at 1:22pm"
        },

        {
          title:  " Carer's Allowance information updated",
          byline:  "agent",
          date:  "15 May 2024 at 3:14pm"
        },
        
        {
          title:  "Email sent to Carer's Allowance team",
          byline:  "system",
          date:  "14 May 2024 at 11:35am"
        },
        
        {
          title:  "Email received from Veterans Agency",
          byline:  "system",
          date:  "13 May 2024 at 9:41am"
        },

        {
          title:  "Email sent to Veterans Agency",
          byline:  "system",
          date:  "11 May 2024 at 7:22pm"
        },

        {
          title:  "Claim received",
          byline:  "online",
          date:  "11 May 2024 at 7:14pm"
        }
      ]
      })
      }}

    {% elseif data['caAmount'] %}  

    {% from "timeline/macro.njk" import dwpTimeline %}

    <h1 class="govuk-heading-m">Personal changes</h1>
    {{
    dwpTimeline({ 
      items: [
      {
        title:  "Part A of BR403 sent to Pension Credit team",
        byline:  "agent",
        date:  "15 May 2024 at 1:22pm"
      },

      {
        title:  " Carer's Allowance information updated",
        byline:  "agent",
        date:  "15 May 2024 at 3:14pm"
      },
      
      {
        title:  "Email sent to Carer's Allowance team",
        byline:  "system",
        date:  "14 May 2024 at 11:35am"
      },
      
      {
        title:  "Email received from Veterans Agency",
        byline:  "system",
        date:  "13 May 2024 at 9:41am"
      },

      {
        title:  "Email sent to Veterans Agency",
        byline:  "system",
        date:  "11 May 2024 at 7:22pm"
      },

      {
        title:  "Claim received",
        byline:  "online",
        date:  "11 May 2024 at 7:14pm"
      }
    ]
    })
    }}

    {% elseif data.warPensionDecision === 'no' %}

    {% from "timeline/macro.njk" import dwpTimeline %}

    <h1 class="govuk-heading-m">Personal changes</h1>
    {{
        dwpTimeline({ 
            items: [
            {
              title:  "Email sent to Carer's Allowance team",
              byline:  "system",
              date:  "14 May 2024 at 11:35am"
            },
            
            {
              title:  "Email received from Veterans Agency",
              byline:  "system",
              date:  "13 May 2024 at 9:41am"
            },

            {
              title:  "Email sent to Veterans Agency",
              byline:  "system",
              date:  "11 May 2024 at 7:22pm"
            },
          
            {
              title:  "Claim received",
              byline:  "online",
              date:  "11 May 2024 at 7:14pm"
            }
        ]
        })
    }}

    {% endif %}

  </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds"></div>
    </div>

</div>

{% endblock %}
