{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post">

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            Please clear your browser's history before continuing with your chosen scenario.
          </strong>
        </div>

        <br><br>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Which 'Mixed Overlapping Benefits' scenario would you like to explore?
              </h1>
            </legend>
            <div id="signIn-hint" class="govuk-hint">
              Choose from one of the 4 ways that mixed overlapping benefits can be combined.
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="chooseScenario" name="chooseScenario" type="radio" value="scenario1" aria-describedby="signIn-item-hint">
                <label class="govuk-label govuk-radios__label" for="chooseScenario">
                  <b>Scenario 1</b>
                </label>
                <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                  War Pensions, then Carrer's Allowance (or Carrer's Support Payment), then Pension Credit.
                </div>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="chooseScenario-2" name="chooseScenario" type="radio" value="scenario2" aria-describedby="signIn-item-hint">
                <label class="govuk-label govuk-radios__label" for="chooseScenario-2">
                  <b>Scenario 2</b>
                </label>
                <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                  War Pensions, then Carrer's Allowance (or Carrer's Support Payment).
                </div>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="chooseScenario-3" name="chooseScenario" type="radio" value="scenario3" aria-describedby="signIn-item-hint">
                <label class="govuk-label govuk-radios__label" for="chooseScenario-3">
                  <b>Scenario 3</b>
                </label>
                <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                  War Pensions, then Pension Credit.
                </div>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="chooseScenario-4" name="chooseScenario" type="radio" value="scenario4" aria-describedby="signIn-item-hint">
                <label class="govuk-label govuk-radios__label" for="chooseScenario-4">
                  <b>Scenario 4</b>
                </label>
                <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                  Carrer's Allowance (or Carrer's Support Payment), then Pension Credit.
                </div>
              </div>
              
            </div>
          </fieldset>
        </div>

        <br>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              About Carrer's Support Payment
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>For illustration purposes, the Carrer's Allowance journey is used in these scenarios to demonstrate the flow between the different overlapping benefits.
              Carrer's Support payment is the Scottish equivalent of Carrer's Allowance and uses the same design patterns and pathways.
            </p>
    
            <p>Click the link to view the <a href="../carers-support/iteration-1/enquiries.html" class="govuk-body govuk-link--no-visited-state">Carrer's Support Payment prototype</a>.</p>
          </div>
        </details>

        <br><br><br>

        <button type="submit" class="govuk-button">
          Continue
        </button>
        
      </div>
    </div>
  </main>
</div>

{% endblock %}
