{% extends "layouts/main.html" %}

{% block content %}

{% include './_bar.html' %}

<br>

<form method="post">

  <h1 class="govuk-heading-xl">Confirm disallowance</h1>

   <p>Check the claimant's details in NIRs to confirm they are not entitled to any State Pension. You need to check the claimant:</p>
   <ul class="govuk-list govuk-list--bullet">
     <li>has less than 10 qualifying years</li>
     <li>has no RRE on their record</li>
     <li>is not entitled to any award based on a late spouse or partner</li>
     <li>has no pension share order on divorce</li>
     <li>has not lived or worked abroad in an EEA country or a country with a reciprocal agreement</li>
   </ul>

   <br><br>

   {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "disallowClaim",
  fieldset: {
    legend: {
      text: "Can we disallow this claim?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}
  
   <br><br><br>

    <button class="govuk-button" data-module="govuk-button">
      Start this task
    </button>

   <br><br><br><br><br>

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    
    <br>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /confirm-award <br>
        <b>Notes:</b> None <br>
      </div>
    </details>


      </div>

    </div>

  </div>

</main>
      </div>

{% endblock %}
