{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post">

  <a href="contact" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
      What language do you want us to write to you in?
      </h1>


     <p> If you live in Wales you can choose to communicate with us in Welsh.</p>

      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="alt-formats-hint">
    <div id="alt-formats-hint" class="govuk-hint">
      This includes text messages, letters and other written communications.
    </div>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="language-write" name="language-write" type="radio" value="english">
        <label class="govuk-label govuk-radios__label" for="language-write">
          English
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="language-write-2" name="language-write" type="radio" value="welsh">
        <label class="govuk-label govuk-radios__label" for="language-write-2">
          Welsh
        </label>
      </div>
    </div>

  </fieldset>
</div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>


    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


{% endblock %}
