{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="check-start-date">

  <a href="post-spa" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Backdate your State Pension
      </h1>
      <p>You'll get a one-off payment for any State Pension we owe you from the date you enter to today (14 July 2022).</p><p> The earliest date you can backdate to is 15 July 2021.</p>

      <p>Any State Pension we owe you from before the date you enter will be used to increase your payments.</p>

      <p>They increase by just over 0.1% for every week between 5 March 2021 and the date you enter. It takes over 17 years to get back the money you use to increase your payments.</p>
      <p>The smallest increase you can get is 1%, so you'll need to enter a date of 8 August 2021 or later.</p>

<br>
<div class="govuk-form-group">
<fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  <h2 class="govuk-fieldset__heading">
What date do you want to backdate your State Pension to?  </h2>
</legend>
<div id="passport-issued-hint" class="govuk-hint">
  For example, 27 3 2007
</div>
<div class="govuk-date-input" id="passport-issued">
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
        Day
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric">
    </div>
  </div>
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
        Month
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric">
    </div>
  </div>
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
        Year
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric">
    </div>
  </div>
</div>

</fieldset>
</div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      <br><br><br><br><br><br><br><br>

    </div>

    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


  {% endblock %}
