
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="check-start-date">

  <a href="post-spa" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Your State Pension date
      </h1>
      <p>You reached State Pension age on <b>5 May 2021</b> and may be owed some State Pension. You can split any money we owe you between:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>extra State Pension for the rest of your life</li>
<li> a one-off arrears payment</li>
</ul>

<br><br>
<h1 class="govuk-heading-m">
Extra State Pension</h1>
<p>Your State Pension increases by just over 0.1% a week between 5 May 2021 and the start date you choose, as long as you choose a date after 14 June 2021.</p>
<p>The later your start date, the bigger your increase will be. You must enter a start date between 6 July 2021 and 31 October 2022 </p>
<p>If you enter a date in the future your payments will start after that date.</p>
<p>You will get the extra State Pension for the rest of your life but it can take more than 17 years to get back the money that you deferred.</p>

<br><br>  <h1 class="govuk-heading-m">
  Backdate your State Pension</h1>
  <p>Any State Pension you are owed from the last 12 months that you do not use to increase your payments will be paid as a one-off arrears payment.</p>
<p>The earlier your start date, the bigger your one-off arrears payment will be.</p>
<br><br>
<div class="govuk-form-group">
<fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  <h2 class="govuk-fieldset__heading">
What date do you want to start your State Pension?  </h2>
</legend>
<div id="passport-issued-hint" class="govuk-hint">
  For example, 27 3 2007
</div>
<div class="govuk-date-input" id="passport-issued">
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
        Day
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric">
    </div>
  </div>
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
        Month
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric">
    </div>
  </div>
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
        Year
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric">
    </div>
  </div>
</div>

</fieldset>
</div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      <br><br><br><br><br><br><br><br>

    </div>

    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


  {% endblock %}
