{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="check-start-date">

  <a href="post-spa" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Your State Pension date
      </h1>
<p>You reached State Pension age on 28 April 2021 and may be owed some State Pension. You can split any money we owe you between:</p>
<ul class="govuk-list govuk-list--bullet">
<li>an arrears payment</li>
<li>extra State Pension for the rest of your life</li></ul>
<h2 class="govuk-heading-m">One off arrears payment</h2>
<p>You could get up to 12 months of the State Pension we owe you as a one-off arrears payment.</p>
<p>The earlier the date you enter, the bigger your one-off arrears payment will be.</p><p>The earliest date you can enter is 25 June 2021, this date would give you the biggest arrears payment you can get.</p>

<h2 class="govuk-heading-m">Extra State Pension</h2>

<p>You can also use any State Pension we owe you to increase your payments for the rest of your life.</p>

<p>The later the date you enter, the bigger your increase will be. You must enter a date after 30 June 2021 and before 25 October 2022. </p>

<p>If you enter a date in the future your State Pension payments will start after that date.</p>

<p><a href="https://www.gov.uk/deferring-state-pension">Find out more about delaying your State Pension (opens in a new tab)</a>.</p>




<br>
<br>
<div class="govuk-form-group">
<fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  <h2 class="govuk-fieldset__heading">
What date do you want to calculate your State Pension from?  </h2>
</legend>
<div id="passport-issued-hint" class="govuk-hint">
  For example, 27 3 2007
</div>
<div class="govuk-date-input" id="passport-issued">
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
        Day
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric">
    </div>
  </div>
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
        Month
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric">
    </div>
  </div>
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
        Year
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric">
    </div>
  </div>
</div>

</fieldset>
</div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
  <!--    <p>If your SPa date is more than 12 months ago you would get a mix of extra SP and an arrears payment.</p> -->

      <br><br><br><br><br><br><br><br>

    </div>

    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


  {% endblock %}
