{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post" action="check-answers">

  {% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Do you need to enter a protected payment amount?
                </h1>
              </legend>
              
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="protected" name="protected" type="radio" value="yes" data-aria-controls="conditional-protectedPayment">
                  <label class="govuk-label govuk-radios__label" for="protected">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-protectedPayment">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="protectedPayment">
                      Enter protected payment amount in pounds
                    </label>
                    <div class="govuk-warning-text">
                      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                      <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        The uprating year for the amount is 2023
                      </strong>
                    </div>
                    <div class="govuk-input__wrapper">
                      <div class="govuk-input__prefix" aria-hidden="true">£</div>
                      <input class="govuk-input govuk-input--width-10" id="pp1" name="protectedPayment" type="text" spellcheck="false">
                    </div>
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="protected3" name="protected" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="protectedPayment2">
                    No
                  </label>
                </div>

                <br><br><br>

          <button class="govuk-button" data-module="govuk-button">
           Confirm
         </button>

         <br><br><br><br><br>

         <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
         <br>

                 <details class="govuk-details" data-module="govuk-details">
                   <summary class="govuk-details__summary">
                     <span class="govuk-details__summary-text">
                     <b>URL and notes</b>
                     </span>
                   </summary>
                   <div class="govuk-details__text">
                     <b>URL:</b>/protected-payment<br>
                     <b>Notes:</b> None <br>
                     <br>
                          <p class="govuk-body">Link to
                            <a href="https://dwpgovuk.sharepoint.com/:x:/r/sites/ext-rbc/_layouts/15/Doc.aspx?sourcedoc=%7B6066B1E4-A06C-4E42-A7CC-5CD2D2693D97%7D&file=EEA-mixed-SoT.xlsx&nav=MTVfezAwQTY3QjExLTRDQkMtNEQ5OC1CODFGLURBMTNFMTU3MTQ4NH0&action=default&mobileredirect=true" 
                            class="govuk-link" rel="noreferrer noopener" target="_blank">Content source of truth (opens in new tab)</a>
                          </p>
                   </div>
                 </details>
        </form>

      </div>
    </div>
</div>
</div>
</main>
</div>

{% endblock %}
