{% extends "layouts/main-2.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include './_bar.html' %}

        <!--<div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive"></span>
            There are tasks that need to be completed before an award can be issued. <br><a href="tasks" class="govuk-link govuk-link--no-visited-state">View tasks</a>.
          </strong>
        </div>-->

        <br>

        {{ xGovukSecondaryNavigation({
          visuallyHiddenTitle: "Secondary menu",
          items: [{
            text: "Personal",
            href: "record-personal"
          }, 
          {
            text: "Contact",
            href: "record-contact"
          },
          {
            text: "Pre award",
            href: "record-tasks",
            current: true
          }]
        }) }}

        <br><br>

        <h2 class="govuk-heading-m">Outstanding tasks</h2>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              COEG
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                <dt class="govuk-summary-list__key">
                  PSOD
                </dt>
                <dd class="govuk-summary-list__value">
                  <a href="#" class="govuk-link">Enter PSOD amount</a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Nationality
                </dt>
                <dd class="govuk-summary-list__value">
                  UK national resident in UK
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> nationality (Lead tenant)</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Working situation
                </dt>
                <dd class="govuk-summary-list__value">
                  Part time – less than 30 hours a week
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
                </dd>
              </div>
            </dl>
          </div>
        </div>

    </div>

    <div class="govuk-grid-column-one-third">

      {% from "timeline/macro.njk" import dwpTimeline %}

      <h2 class="govuk-heading-m">Personal changes</h2>
      {{
          dwpTimeline({ 
              items: [
              {
                  title:  "Claim received",
                  byline:  "online",
                  date:  "11 May 2024 at 7:14pm"
              }
          ]
          })
      }}

    </div>

  </main>
</div>

{% endblock %}
