{% extends "layouts/main.html" %}

{% block content %}

<form class="form" action="date-of-effect">

  {% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    {{ govukRadios({
      name: "taxRate",
      fieldset: {
        legend: {
          text: "What is the claimant's tax rate?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      items: [
        {
          value: "0",
          text: "0%"
        },
        {
          value: "20",
          text: "20%"
        },
        {
          value: "40",
          text: "40%"
        },
        {
          value: "45",
          text: "45%"
        }
      ]
    }) }}
      
      <br><br><br>

        <button class="govuk-button" data-module="govuk-button">
        Continue
        </button>

      <br><br><br><br><br>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    
    <br>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /confirm-award <br>
        <b>Notes:</b> None <br>
      </div>
    </details>

  </div>
</div>

{% endblock %}
