{% extends "layouts/main-2.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include './_bar.html' %}

         {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
                          }) }}

        <br><br>

        <h2 class="govuk-heading-l">Really really long task name</h2>

        <p>A short description of what the task entails could go here.</p>

        <h3 class="govuk-heading-m">Step 1 - update claimant information</h3>

        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-3-hint company-details-3-status">
                Subtask 1
              </a>
              <div id="company-details-3-hint" class="govuk-task-list__hint">
                Relevant document returned on 13 Mar 2025 at 10:22am
              </div>
            </div>
            <div class="govuk-task-list__status" id="company-details-3-status">
              <strong class="govuk-tag govuk-tag--grey">
                Done
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-3-hint company-details-3-status">
                Subtask 2
              </a>
            </div>
            <div class="govuk-task-list__status" id="company-details-3-status">
              <strong class="govuk-tag govuk-tag--light-blue">
                In progress
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-4-status">
                Subtask 3
              </a>
            </div>
            <div class="govuk-task-list__status" id="company-details-3-status">
              <strong class="govuk-tag govuk-tag--blue">
                To do
              </strong>
            </div>
          </li>
        </ul>

        <br>

        <h3 class="govuk-heading-m">Step 2 - check with HMRC</h3>

        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
                Subtask 1
                <div id="company-details-3-hint" class="govuk-task-list__hint">
                Step 1 must be completed before starting
              </div>
            </div>
            <div class="govuk-task-list__status" id="company-details-5-status">
                Cannot start yet
            </div>
          </li>
        </ul>

    </div>

    <div class="govuk-grid-column-one-third">

        <h3 class="govuk-heading-m">Task changes</h3>

        <div class="dwp-timeline">
          <ol class="dwp-timeline__items">

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">13 Mar 2025 at 10:22am</p>
              <h2 class="dwp-timeline__heading">Timeline event</h2>
              <p class="dwp-timeline__by-line">by Online</p>
            </li>

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">13 Mar 2025 at 10:22am</p>
              <h2 class="dwp-timeline__heading">Timeline event</h2>
              <p class="dwp-timeline__by-line">by Online</p>
            </li>

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">13 Mar 2025 at 10:22am</p>
              <h2 class="dwp-timeline__heading">Timeline event</h2>
              <p class="dwp-timeline__by-line">by Online</p>
            </li>

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">13 Mar 2025 at 10:22am</p>
              <h2 class="dwp-timeline__heading">Timeline event</h2>
              <p class="dwp-timeline__by-line">by Online</p>
            </li>

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">13 Mar 2025 at 10:22am</p>
              <h2 class="dwp-timeline__heading">Timeline event</h2>
              <p class="dwp-timeline__by-line">by Online</p>
            </li>

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">13 Mar 2025 at 10:22am</p>
              <h2 class="dwp-timeline__heading">Timeline event</h2>
              <p class="dwp-timeline__by-line">by Online</p>
            </li>

          </ol>
        </div>

        <p class="govuk-body">
          <a href="#" class="govuk-link">Full history</a>
        </p>

    </div>

  </main>
</div>

{% endblock %}
