{% extends "layouts/main-2.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include './_bar.html' %}

        {{ xGovukSecondaryNavigation({
          visuallyHiddenTitle: "Secondary menu",
          items: [{
            text: "Personal",
            href: "record-personal-1",
            current: false
          }, 
          {
            text: "Contact",
            href: "record-contact",
            current: false
          }, 
          {
            text: "Tasks",
            href: "record-tasks",
            current: true
          },
          {
            text: "Award",
            href: "record-award",
            current: false
          },
          {
            text: "Payment",
            href: "record-payment",
            current: false
          },
          {
            text: "Full history",
            href: "record-full-history",
            current: false
          }]
        }) }}

        <br><br>

        <h2 class="govuk-heading-m">Header needed?</h2>

        <br>

        <div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#past-day">
        State Pensions claims
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        Pension Credit
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-month">
        Maintain
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="past-day">
    <h2 class="govuk-heading-l">Header needed?</h2>
    <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Task name</th>
          <th scope="col" class="govuk-table__header">Agent group</th>
          <th scope="col" class="govuk-table__header">Subtasks</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status</th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Really really long task name</th>
          <td class="govuk-table__cell">International</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
          <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                In progress
              </strong>
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-link" href="change-name">Details</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Task 2</th>
          <td class="govuk-table__cell">G4S</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
          <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">
                Cannot start
              </strong>
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-link" href="change-name">Details</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Task 3</th>
          <td class="govuk-table__cell">Those people</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
          <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">
                Cannot start
              </strong>
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-link" href="change-name">Details</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Long task name</th>
          <td class="govuk-table__cell">Department name</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"></td>
          <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--yellow">
                Dormant
              </strong>
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-link" href="change-name">Details</a>
          </td>
        </tr>
      </tbody>

    </table>
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
        <h2 class="govuk-heading-l">Past week</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Case manager</th>
              <th scope="col" class="govuk-table__header">Cases opened</th>
              <th scope="col" class="govuk-table__header">Cases closed</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">David Francis</td>
              <td class="govuk-table__cell">24</td>
              <td class="govuk-table__cell">18</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Paul Farmer</td>
              <td class="govuk-table__cell">16</td>
              <td class="govuk-table__cell">20</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Rita Patel</td>
              <td class="govuk-table__cell">24</td>
              <td class="govuk-table__cell">27</td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>

    </div>

    <div class="govuk-grid-column-one-third">

        <h3 class="govuk-heading-m">State Pensions claims tasks</h3>

        <div class="dwp-timeline">
          <ol class="dwp-timeline__items">

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">13 Mar 2025 at 10:22am</p>
              <h2 class="dwp-timeline__heading">Really really long task name</h2>
              <p class="dwp-timeline__by-line">by Online</p>
            </li>

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">13 Mar 2025 at 10:22am</p>
              <h2 class="dwp-timeline__heading">Task 2</h2>
              <p class="dwp-timeline__by-line">by Online</p>
            </li>

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">13 Mar 2025 at 10:22am</p>
              <h2 class="dwp-timeline__heading">Task 3</h2>
              <p class="dwp-timeline__by-line">by Online</p>
            </li>

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">13 Mar 2025 at 10:22am</p>
              <h2 class="dwp-timeline__heading">Long task name</h2>
              <p class="dwp-timeline__by-line">by Online</p>
            </li>

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">13 Mar 2025 at 10:22am</p>
              <h2 class="dwp-timeline__heading">Completed task</h2>
              <p class="dwp-timeline__by-line">by Online</p>
              <a href="#" class="dwp-timeline__link--no-visited-state">Details<span class="govuk-visually-hidden"> of the long task name</span></a>

            </li>

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">13 Mar 2025 at 10:22am</p>
              <h2 class="dwp-timeline__heading">Other completed task</h2>
              <p class="dwp-timeline__by-line">by Online</p>
              <a href="#" class="dwp-timeline__link--no-visited-state">Details<span class="govuk-visually-hidden"> of the long task name</span></a>
            </li>

          </ol>
        </div>

        <p class="govuk-body">
          <a href="#" class="govuk-link--no-visited-state">Full history</a>
        </p>

    </div>

  </main>
</div>

{% endblock %}
