{% extends "layouts/main-2.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        {% include './_bar.html' %}


        {{ xGovukSecondaryNavigation({
          visuallyHiddenTitle: "Secondary menu",
          items: [{
            text: "Personal",
            href: "record-personal"
          }, 
          {
            text: "Contact",
            href: "record-contact"
          }, 
          {
            text: "Award",
            href: "record-award"
          },
          {
            text: "Payment",
            href: "record-payment"
          },
          {
            text: "Tasks",
            href: "record-tasks",
            current: true
          },
          {
            text: "Full history",
            href: "record-full-history"
          }]
        }) }}

      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <br>

        <h2 class="govuk-heading-m">Outstanding tasks for this account</h2>
        
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            {% from "side-navigation/macro.njk" import dwpSideNavigation %}

            {{ 
                dwpSideNavigation({
                    pageId: "side-navigation-2",
                    selectedItem: "#sn-item-2",
                    items: [
                    {
                        text: "Category 1",
                        href: "#sn-item-1",
                        id: "sn-item-1"
                    },
                    {
                        text: "Category 2",
                        href: "#sn-item-2",
                        id: "sn-item-2",
                        subItems: [
                            {
                                text: "Task 1",
                                href: "#s-sn-item-1",
                                id: "s-sn-item-1"
                            },
                            {
                                text: "Task 2",
                                href: "#s-sn-item-2",
                                id: "s-sn-item-2"
                            },
                            {
                                text: "Task 3",
                                href: "#s-sn-item-3",
                                id: "s-sn-item-3"
                            }
                        ]
                    }
                    ],
                    mobile: { 
                        disabled: false
                    }
                })
            }}

          </div>


          <div class="govuk-grid-column-three-quarters">

            <h3 class="govuk-heading-s">Task 1</h3>

            {% from "govuk/components/task-list/macro.njk" import govukTaskList %}

            {{ govukTaskList({
              idPrefix: "new-claims",
              items: [
                {
                  title: {
                    text: "Step 1"
                  },
                  href: "#",
                  status: {
                    text: "Completed"
                  }
                },
                {
                  title: {
                    text: "Step 2"
                  },
                  href: "#",
                  status: {
                    tag: {
                      text: "In progress",
                      classes: "govuk-tag--light-blue"
                    }
                  }
                },
                {
                  title: {
                    text: "Step 3"
                  },
                  hint: {
                    text: "All of the steps above need to be completed before starting this step"
                  },
                  status: {
                    tag: {
                      text: "Cannot start",
                      classes: "govuk-tag--orange"
                    }
                  }
                }
              ]
            }) }}

          </div>
        </div>
      </div>
    </div>

      
  </main>
</div>

{% endblock %}
