{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="check-start-date">

  <a href="your-details" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Your State Pension date
      </h1>

        <p>According to the information you have given us, the earliest date you can get your State Pension is <b>12 May 2022</b>.</p>
        <p>To increase your State Pension payments enter a date after <b>14 June 2022</b>. If you enter an earlier date your payments will not increase.</p>
      <h2 class="govuk-heading-m">
What date do you want to start your State Pension from?
      </h2>



      <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">


          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
          </div>

        </fieldset>


      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    </div>

    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


  {% endblock %}
