{% extends "layouts/main-2.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_bar.html' %}

    {{ xGovukSecondaryNavigation({
      visuallyHiddenTitle: "Secondary menu",
      items: [{
        text: "Personal",
        href: "citizen-record",
        current: false
      }, 
      {
        text: "Contact",
        href: "#"
      }, 
      {
        text: "Tasks",
        href: "#"
      },
      {
        text: "Award",
        href: "award",
        current: true
      },
      {
        text: "Payment",
        href: "payment",
        current: false
      }]
    }) }}

    <br><br>

    <h2 class="govuk-heading-m" style="margin-bottom:-27px;float:left">State Pension awards</h2>

    <a href="review-award" class="govuk-body govuk-link--no-visited-state" style="margin-left: 80%">Review award</span>
    </a>

    <br><br>

    <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col" style="width: 25%">From</th>
          <th class="govuk-table__header " scope="col" style="width: 30%">Weekly amount</th>
          <th class="govuk-table__header" scope="col" style="width: 20%">Adjustment</th>
          <th class="govuk-table__header" scope="col" style="width: 15%"></th>

        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">15 May 2024</td>
          <td class="govuk-table__cell">£254.32</td>
          <td class="govuk-table__cell">{% if data['pcAmount'] %}Yes{% elseif data['caAmount'] %}Yes{% else %}No{% endif %}</td>
          <td class="govuk-table__cell"><a class="govuk-body govuk-link--no-visited-state" href="record-award-details.html">Details</a></td>
        </tr>
      </tbody>
    </table>

    <br><br><br>

  </div>

  <div class="govuk-grid-column-one-third">

    {% from "timeline/macro.njk" import dwpTimeline %}

    <h1 class="govuk-heading-m">Award changes</h1>
    {{
        dwpTimeline({ 
            items: [
            {
              title:  "No changes made",
              byline:  "",
              date:  ""
            }
        ]
        })
    }}

  </div>
  
</div>



{% endblock %}
