{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <dv class="column-full">


          <br><br>
          {% include './_bar.html' %}

<form method="post" action="award-updated-arrears">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}

          <br>
          <br>

          <h2 class="govuk-heading-l">Lived or worked abroad</h2>

          <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Waiting for CFN901 from the claimant.<br>  <a href="#" class="govuk-link">Confirm CFN901 returned</a>.
  </strong>
 </div>
</div>

<br>
          <br>

                      <table class="govuk-table">
                        <h2 class="govuk-heading-m">Germany</h2>

                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Lived</th>
                            <td class="govuk-table__cell">Jun 1992 to Dec 2006</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Worked</th>
                            <td class="govuk-table__cell">Jun 1988 to Apr 1990</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Social security number</th>
                            <td class="govuk-table__cell" style="width: 45%">F4K3 5UM</td>
                          </tr>

                        </tbody>
                      </table>

                      <br><br>

                      <table class="govuk-table">
                        <h2 class="govuk-heading-m">Norway</h2>

                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Lived</th>
                            <td class="govuk-table__cell"> May 1990 to Dec 1991</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Worked</th>
                            <td class="govuk-table__cell">May 1990 to Dec 1991</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Social security number</th>
                            <td class="govuk-table__cell" style="width: 45%">LBMSE93</td>
                          </tr>

                        </tbody>
                      </table>

                      {% if data.spainrecord %}
                      {% else %}
                      <div class="govuk-inset-text">
                          Waiting for insurance record from Norway <br>  <a href="spain-record" class="govuk-link">Confirm insurance record returned</a>.
                      </div>
                      {% endif %}

                      <br><br>

                      <table class="govuk-table">
                        <h2 class="govuk-heading-m">Spain</h2>


                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Lived</th>
                            <td class="govuk-table__cell" style="width: 45%">Jun 1992 to Dec 1996</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Worked</th>
                            <td class="govuk-table__cell">Jun 1992 to Nov 1996</td>
                          </tr>
                        </tbody>
                      </table>


                      {% if data.croatiarecord %}
                      {% else %}
                      <div class="govuk-inset-text">
                          Waiting for insurance record from Spain <br>  <a href="croatia-record" class="govuk-link">Confirm insurance record returned</a>.
                      </div>
                      {% endif %}



        </div>
      </div>


</div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <br><br>
      <h2 class="govuk-heading-m">
      </h2>
      <ol class="app-timeline">




        <li class="dwp-timeline__events--entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1">EEA: Insurance record returned from Germany</h2>
          <p class="govuk-caption-m">08 February 202</p>
      </li>
      <li class="dwp-timeline__events--entry">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">EEA: Insurance record requested from Spain</h2>
        <p class="govuk-caption-m">14 December 2022</p>
    </li>
      <li class="dwp-timeline__events--entry">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">EEA: Insurance record requested from Norway</h2>
        <p class="govuk-caption-m">14 December 2022</p>
    </li>
    <li class="dwp-timeline__events--entry">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">EEA: Insurance record requested from Germany</h2>
      <p class="govuk-caption-m">14 December 2022</p>
  </li>
     <li class="dwp-timeline__events--entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1">EEA: CFN901 form sent to claimant</h2>
          <p class="govuk-caption-m">17 November 2022</p>
    </li>

      </ol>

    </div>

</div>

{% endblock %}
