{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% include './_bar.html' %}

<form method="post" action="award-updated-arrears">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}
      
      <br><br><br><br>

      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Spain processing incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 6 of 9 sections.</p>

      <ol class="govuk-prototype-kit-task-list">
        
        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">1. </span> Request EEA information
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">
                  Check if CFN901 needed
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="company-information-status">Completed</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="contact-details-status">
                  Print and send CFN901
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="company-information-status">Completed</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="list-convictions-status">
                  Check if state pension amount can be increased
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="company-information-status">Completed</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" class="govuk-link">Check for mixed years</a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="company-information-status">Completed</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" class="govuk-link">Request insurance records</a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="company-information-status">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">2. </span> Check for returned documents
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">
                  Confirm CF901 returned
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="company-information-status">Completed</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="contact-details-status">
                  Request RF1 from HMRC
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="spain-record.html" aria-describedby="list-convictions-status">
                  Send claim for EEA pensions
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                Request insurance records
              </span>
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>

        

          </ul>
        </li>
      </ol>
    </div>
  </div>

{% endblock %}

