{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<br>

<form method="post" action="maxwell-question">

  {% include './_bar.html' %}

  {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}

<br><br>

  <h1 class="govuk-heading-xl">Upload documents into DRS</h1>

   <p>You need to upload copies of:</p>
   <ul class="govuk-list govuk-list--bullet">
     <li>x</li>
     <li>y</li>
     <li>z</li>
   </ul>
  
   <br><br><br>

    <button class="govuk-button" data-module="govuk-button">
      Confirm documents uploaded
    </button>

   <br><br><br><br><br>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    
    <br>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b>#<br>
        <b>Notes:</b> None <br>
      </div>
    </details>


  </div>

</div>

{% endblock %}
