{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      {% include './_bar.html' %}

        {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        })
      }}

      <br><br>

      <h1 class="govuk-heading-l">Check the claimant's time in New Zealand</h1>

      <p>Consider if you can change the award/award maximum State Pension (award full State Pension amount) or if you need to request more information from WINZ.</p>

      <br><br>

      <table class="govuk-table">
 
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Lived</th>
            <td class="govuk-table__cell">Jun 1992 to Dec 2006</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Worked</th>
            <td class="govuk-table__cell">Jun 1992 to Nov 2006</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Social security number</th>
            <td class="govuk-table__cell">123 456 789</td>
          </tr>
        </tbody>

      </table>

      <br><br>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              What do you need to do?
            </h2>
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="winz" name="winz" type="radio" value="winz">
              <label class="govuk-label govuk-radios__label" for="winz">
                Request more information from WINZ
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="winz-2" name="winz" type="radio" value="award">
              <label class="govuk-label govuk-radios__label" for="winz-2">
                Award full State Pension amount
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <br><br><br>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    <br><br><br><br><br>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    
    <br>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> <br>
        <b>Notes:</b> If citizen is claiming post SPa, the agent will be prompted to <a href="srb-question" class="govuk-link">check for SRBs in place</a><br>
      </div>
    </details>


  </div>

</div>

{% endblock %}
