{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post"></form>

      {% include './_bar.html' %}

        {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        })
      }}

      <br><br>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              What do you need to do?
            </h1>
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contactWinz" name="contactWinz" type="radio" value="winz">
              <label class="govuk-label govuk-radios__label" for="contactWinz">
                Contact WINZ
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contactWinz-2" name="contactWinz" type="radio" value="scotland">
              <label class="govuk-label govuk-radios__label" for="contactWinz-2">
                Contact the claimant
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contactWinz-3" name="contactWinz" type="radio" value="wales">
              <label class="govuk-label govuk-radios__label" for="contactWinz-3">
                Change award
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <br><br><br>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    <br><br><br><br><br>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    
    <br>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> <br>
        <b>Notes:</b> If citizen is claiming post SPa, the agent will be prompted to <a href="srb-question" class="govuk-link">check for SRBs in place</a><br>
      </div>
    </details>


  </div>

</div>

{% endblock %}
