{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      {% include './_bar.html' %}

        {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        })
      }}

      <br><br>

      <h1 class="govuk-heading-l">Do you need an RF1 to calculate the award?</h1>

      <div class="govuk-form-group">


      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="needRf1" name="needRf1" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="needRf1">
              Yes
            </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="needRf1-2" name="needRf1" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="needRf1-2">
              No
            </label>
        </div>
      </div>

      </div>

      <br><br><br>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      <br><br><br><br><br>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>Notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list--bullet">
          <li>
            <a class="govuk-link--no-visited-state" href="dashboard-3">If "Request moreinformation from WINZ" selected on 'Check the claimant's time in New Zealand' screen</a>
          </li>
          <li>
            <a class="govuk-link--no-visited-state" href="change-award">If "Change award" selected on 'Check the claimant's time in New Zealand' screen</a>
          </li>
        </ul>
      </div>
    </details>


  </div>

</div>

{% endblock %}
