{% extends "layouts/main-2.html" %}

{% block content %}

  <form method="post">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <br><br>

        {% include './_bar.html' %}

          {{ govukBackLink({
            text: "Back",
            href: "javascript:history.go(-1)"
                            }) }}

        <br>
        <br>

        <h2 class="govuk-heading-l">Lived or worked abroad</h2>

        <br>

        <div class="govuk-notification-banner" role="region"
          aria-labelledby="govuk-notification-banner-title"
          data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
              Claimant has lived or worked in more than one country group.    </p>
          </div>
        </div>

        <h2 class="govuk-heading-m">ANZaC</h2>
        <hr class="govuk-section-break govuk-section-break--visible">
        <div class="govuk-!-padding-bottom-6"></div>

        {% if data.change-award %}
        
        {% elseif data.winz === 'winz' %}

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive"></span>
            Waiting for information from WINZ.<br>  <a href="received-information" class="govuk-link--no-visited-state">Confirm information received</a>.
          </strong>
        </div>

        {% elseif data.rf1 === 'request' %}

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive"></span>
            Waiting for RF1 from HMRC.<br>  <a href="winz-received" class="govuk-link--no-visited-state">Confirm RF1 returned</a>.
          </strong>
        </div>

        {% elseif data.spAmount === 'yes' %}

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive"></span>
            Waiting for CFN1282 from the claimant.<br>  <a href="returned-cfn1282" class="govuk-link--no-visited-state">Confirm CFN1282 returned</a>.
          </strong>
        </div>

        {% endif %}

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Australia</h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Lived
                </dt>
                <dd class="govuk-summary-list__value">
                  Mar 2010 to Apr 2012
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> whether details are known</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Worked
                </dt>
                <dd class="govuk-summary-list__value">
                  Apr 2010 to Apr 2012
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> relationship to lead tenant</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Social security number
                </dt>
                <dd class="govuk-summary-list__value">
                  123 456 789
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> age</span>
                  </a>
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <br>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">New Zealand</h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Lived
                </dt>
                <dd class="govuk-summary-list__value">
                  Jun 1992 to Dec 2006
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> whether details are known</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Worked
                </dt>
                <dd class="govuk-summary-list__value">
                  Jun 1992 to Nov 2006
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> relationship to lead tenant</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Social security number
                </dt>
                <dd class="govuk-summary-list__value">
                  123 456 789
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> age</span>
                  </a>
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <br><br><br>

        <h2 class="govuk-heading-m">EEA</h2>
        <hr class="govuk-section-break govuk-section-break--visible">
        <div class="govuk-!-padding-bottom-6"></div>
                            
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Spain</h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Lived
                </dt>
                <dd class="govuk-summary-list__value">
                  Jun 1988 to Dec 1992
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> whether details are known</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Worked
                </dt>
                <dd class="govuk-summary-list__value">
                  Jun 1988 to Dec 1992
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> relationship to lead tenant</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Social security number
                </dt>
                <dd class="govuk-summary-list__value">
                  25 18735476 84
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> age</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Outstanding task
                </dt>
                <dd class="govuk-summary-list__value">
                  <a class="govuk-link" href="spain-record.html"> Confirm insurance records returned
                    <span class="govuk-visually-hidden"> working situation</span>
                    </a>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                  <span class="govuk-visually-hidden"> working situation</span>
                  </a>
                </dd>
              </div>
            </dl>
          </div>
        </div>

      </div>

      <div class="govuk-grid-column-one-third">

        <br>

        <h3 class="govuk-heading-m">Lived or worked abroad changes</h3>

        <div class="dwp-timeline">
          <ol class="dwp-timeline__items">

            {% if data.winz === 'winz' %}

              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">09 Apr 2025 at 3:21pm</p>
                <h2 class="dwp-timeline__heading">ANZaC: Email sent to WINZ liaison</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>

            {% enif %}

            {% if data.receivedInfo === 'yes' %}

              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">14 Apr 2025 at 12:47pm</p>
                <h2 class="dwp-timeline__heading">ANZaC: Information received from WINZ</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>

            {% enif %}

              

              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">01 Mar 2025 at 11:42am</p>
                <h2 class="dwp-timeline__heading">EEA: Insurance record requested from Spain</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>

              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">14 Feb 2025 at 09:17am</p>
                <h2 class="dwp-timeline__heading">EEA: CFN901 form sent to claimant</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>

              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">14 Feb 2025 at 09:17am</p>
                <h2 class="dwp-timeline__heading">ANZaC: CFN1282 form sent to claimant</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>

              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">11 Feb 2025 at 10:27am</p>
                <h2 class="dwp-timeline__heading">State Pension awarded</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>

              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">10 Feb 2025 at 12:34pm</p>
                <h2 class="dwp-timeline__heading">Claim received</h2>
                <p class="dwp-timeline__by-line">by Online</p>
              </li>

          </ol>
        </div>
  
      </div>

    </div>

{% endblock %}
