{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      {% include './_bar.html' %}

        {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        })
      }}

      <br><br>

      <h1 class="govuk-heading-l">Decide what date we can apply the change to award from</h1>

      <p>Use the information below to decide if you have enough information to work out what date we can apply the change to award from.</p>

      <br><br>

      <h2 class="govuk-heading-m">ANZaC</h2>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


      {% if data['addCountry'] == "Australia" %}

        <h2 class="govuk-heading-m">Australia</h2>

        <table class="govuk-table">

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Lived</th>
              <td class="govuk-table__cell">
                {% if data['livedFrom-day'] %}
                  {{data['livedFrom-day']}} {{data['livedFrom-month'] | monthName}} {{data['livedFrom-year']}} to {{data['livedTo-day']}} {{data['livedTo-month'] | monthName}} {{data['livedTo-year']}}
                {% endif %}
              </td>
            </tr>
            {% if data['workedFrom-day'] %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Worked</th>
                <td class="govuk-table__cell">
                  {{data['workedFrom-day']}} {{data['workedFrom-month'] | monthName}} {{data['workedFrom-year']}} to {{data['workedTo-day']}} {{data['workedTo-month'] | monthName}} {{data['workedTo-year']}}
                </td>
              </tr>
            {% else %}
                  
            {% endif %}
          </tbody>
          
        </table>

        <br><br>

      {% elseif data['removeAu'] == "yes" %}

      {% elseif data['AUlivedFrom-day'] %}

        <h2 class="govuk-heading-m">Australia</h2>

        <table class="govuk-table">

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Lived</th>
              <td class="govuk-table__cell">
                {{data['AUlivedFrom-day']}} {{data['AUlivedFrom-month'] | monthName(truncate=true) }} {{data['AUlivedFrom-year']}} to {{data['AUlivedTo-day']}} {{data['AUlivedTo-month'] | monthName(truncate=true) }} {{data['AUlivedTo-year']}}
              </td>
            </tr>
            {% if data['AUworkedFrom-day'] %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Worked</th>
                <td class="govuk-table__cell">
                    {{data['AUworkedFrom-day']}} {{data['AUworkedFrom-month'] | monthName(truncate=true) }} {{data['AUworkedFrom-year']}} to {{data['AUworkedTo-day']}} {{data['AUworkedTo-month'] | monthName(truncate=true) }} {{data['AUworkedTo-year']}}
                </td>
              </tr>
            {% else %}

            {% endif %}
          </tbody>
          
        </table>

        <br><br>

      {% else %}

        <h2 class="govuk-heading-m">Australia</h2>

        <table class="govuk-table">

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Lived</th>
              <td class="govuk-table__cell">
                1 January to 31 December 1994
              </td>
            </tr>
          </tbody>
          
        </table>

        <br><br>

      {% endif %}

      {% if data['removeCa'] == "yes" %}

      {% elseif data['addCountry'] == "Canada" %}

        <h2 class="govuk-heading-m">Canada</h2>

        <table class="govuk-table">

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Lived</th>
              <td class="govuk-table__cell">
                {% if data['livedFrom-day'] %}
                  {{data['livedFrom-day']}} {{data['livedFrom-month'] | monthName}} {{data['livedFrom-year']}} to {{data['livedTo-day']}} {{data['livedTo-month'] | monthName}} {{data['livedTo-year']}}
                {% endif %}
              </td>
            </tr>
            {% if data['workedFrom-day'] %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Worked</th>
                <td class="govuk-table__cell">
                  {{data['workedFrom-day']}} {{data['workedFrom-month'] | monthName}} {{data['workedFrom-year']}} to {{data['workedTo-day']}} {{data['workedTo-month'] | monthName}} {{data['workedTo-year']}}
                </td>
              </tr>
            {% else %}
                  
            {% endif %}
          </tbody>
          
        </table>

        <br><br>

      {% else %}

      {% endif %}

      {% if data['addCountry'] == "New Zealand" %}

        <h2 class="govuk-heading-m">New Zealand</h2>

        <table class="govuk-table">
          
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Lived</th>
              <td class="govuk-table__cell">
                {% if data['livedFrom-day'] %}
                  {{data['livedFrom-day']}} {{data['livedFrom-month'] | monthName}} {{data['livedFrom-year']}} to {{data['livedTo-day']}} {{data['livedTo-month'] | monthName}} {{data['livedTo-year']}}
                {% endif %}
              </td>
            </tr>
            {% if data['workedFrom-day'] %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Worked</th>
                <td class="govuk-table__cell">
                  {{data['workedFrom-day']}} {{data['workedFrom-month'] | monthName}} {{data['workedFrom-year']}} to {{data['workedTo-day']}} {{data['workedTo-month'] | monthName}} {{data['workedTo-year']}}
                </td>
              </tr>
            {% else %}
                  
            {% endif %}
          </tbody>

        </table>

        <br><br>

      {% elseif data['removeNz'] == "yes" %}

      {% elseif data['NZlivedFrom-day'] %}

        <h2 class="govuk-heading-m">New Zealand</h2>

        <table class="govuk-table">
          
          <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Lived</th>
                <td class="govuk-table__cell">
                  {{data['NZlivedFrom-day']}} {{data['NZlivedFrom-month'] | monthName}} {{data['NZlivedFrom-year']}} to {{data['NZlivedTo-day']}} {{data['NZlivedTo-month'] | monthName}} {{data['NZlivedTo-year']}}
                </td>
              </tr>
            {% if data['NZworkedFrom-day'] %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Worked</th>
                <td class="govuk-table__cell">
                  {{data['NZworkedFrom-day']}} {{data['NZworkedFrom-month'] | monthName}} {{data['NZworkedFrom-year']}} to {{data['NZworkedTo-day']}} {{data['NZworkedTo-month'] | monthName}} {{data['NZworkedTo-year']}}
                </td>
              </tr>
            {% else %}

            {% endif %}
          </tbody>

        </table>

        <br>

      {% else %}

        <h2 class="govuk-heading-m">New Zealand</h2>

        <table class="govuk-table">
          
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Lived</th>
              <td class="govuk-table__cell">
                1 January 2000 to 31 May 2024
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Worked</th>
              <td class="govuk-table__cell">
                1 January 2000 to 31 May 2024
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Social security number</th>
              <td class="govuk-table__cell">
                123 456 789
              </td>
            </tr>
          </tbody>

        </table>

        <br>

      {% endif %}

      <br><br>

      <h2 class="govuk-heading-m">EEA</h2>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div style="display:inline-block;width:103%;">
        <h2 class="govuk-heading-m" style="float:left;">Spain</h2>
      </div>

      <table class="govuk-table">

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Lived</th>
            <td class="govuk-table__cell">June 2024 to May 2025</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Worked</th>
            <td class="govuk-table__cell">June 2024 to May 2025</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Social security number</th>
            <td class="govuk-table__cell">25 187583 53</td>
          </tr>
        </tbody>
        
      </table>

      <br>

      <div class="govuk-inset-text">
        The claimant returned to the UK on {{data['dateReturned-day']}} {{data['dateReturned-month'] | monthName }} {{data['dateReturned-year']}}.
      </div>

      <br><br>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="calculateDate-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Do you have enough information to decide what date we can apply the change to award from?
            </h2>
          </legend>
          <div id="calculateDate-hint" class="govuk-hint">
            You may need to find out if they had a genuine sufficient link (GSL) with the UK while they were in an EEA country after their State Pension age.
          </div>

          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="calculateDate" name="calculateDate" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="calculateDate">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="calculateDate-2" name="calculateDate" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="calculateDate-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <br><br><br>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      <br><br><br><br><br>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    
    <br>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> <br>
        <b>Notes:</b> If citizen is claiming post SPa, the agent will be prompted to <a href="srb-question" class="govuk-link">check for SRBs in place</a><br>
      </div>
    </details>


  </div>

</div>

{% endblock %}
