{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      {% include './_bar.html' %}

        {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        })
      }}

      <br><br>

      <h1 class="govuk-heading-l">Check the claimant's information</h1>
      <span class="govuk-caption-m">Check the claimant's information in OLE</span>

      <br><br>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Claimant's dates</caption>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of birth</th>
            <td class="govuk-table__cell">30 March 1957</td>
          </tr>
        </tbody>

      </table>

      <br>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">New Zealand</caption>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Lived</th>
            <td class="govuk-table__cell">June 1992 to December 2006</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Worked</th>
            <td class="govuk-table__cell">June 1992 to November 2006</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Social security number</th>
            <td class="govuk-table__cell"></td>
          </tr>
        </tbody>

      </table>

      <br>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Australia</caption>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Lived</th>
            <td class="govuk-table__cell">March 2018 to August 2023</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Worked</th>
            <td class="govuk-table__cell">April 2018 to August 2023</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Social security number</th>
            <td class="govuk-table__cell">987 65 4321</td>
          </tr>
        </tbody>
        
      </table>
        
      <br><br>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="spAmount-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Can the claimant's State Pension amount be increased?
            </h1>
          </legend>
          <div id="spAmount-hint" class="govuk-hint">
            Use the claimant's information in OLE and the calculator.
          </div>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="spAmount" name="spAmount" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="spAmount">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="spAmount-2" name="spAmount" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="spAmount-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <br><br><br>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      <br><br><br><br><br>

    </div>
  </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    
    <br>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> <br>
        <b>Notes:</b> If citizen is claiming post SPa, the agent will be prompted to <a href="srb-question" class="govuk-link">check for SRBs in place</a><br>
      </div>
    </details>

  </form>

  </div>

</div>

{% endblock %}
