{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      {% include './_bar.html' %}

        {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        })
      }}

      <br><br>

      <h1 class="govuk-heading-l">Check the date</h1>

      <p>The date you entered is different to the date the claimant returned to the UK.</p>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Are you sure we can apply the change to award from {{data['dateApply-day']}} {{data['dateApply-month'] | monthName}} {{data['dateApply-year']}}?
            </h2>
          </legend>

          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="stillChange" name="stillChange" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="stillChange">
                Yes
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="stillChange-2" name="stillChange" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="stillChange-2">
                No
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <br><br><br>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    <br><br><br><br><br>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <details class="govuk-details" data-module="govuk-details">

      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>Component guide</b>
        </span>
      </summary>

      <div class="govuk-details__text">
        <p class="govuk-body">Radio button id = stillChange</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Yes = yes</li>
          <li>No = no</li>
        </ul>
      </div>

    </details>

  </div>
</div>

{% endblock %}
