{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      {% include './_bar.html' %}

        {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        })
      }}

      <br><br>

      <h1 class="govuk-heading-l">Check the details and decide how to continue</h1>

      {% if data['calculateDate'] == 'no' %}
        <p>Based on the claimant's time in New Zealand, decide if you need more information from WINZ.</p>
      {% else %}
        <p>Based on the claimant's time in New Zealand, decide if you can change their award now or if you need more information from WINZ.</p>
      {% endif %}

      <br><br>

      <table class="govuk-table">
 
        <caption class="govuk-table__caption govuk-table__caption--m">New Zealand</caption>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Lived</th>
            <td class="govuk-table__cell">
                {{data['NZlivedFrom-day']}} {{data['NZlivedFrom-month'] | monthName}} {{data['NZlivedFrom-year']}} to {{data['NZlivedTo-day']}} {{data['NZlivedTo-month'] | monthName}} {{data['NZlivedTo-year']}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Worked</th>
            <td class="govuk-table__cell">
                {{data['NZworkedFrom-day']}} {{data['NZworkedFrom-month'] | monthName}} {{data['NZworkedFrom-year']}} to {{data['NZworkedTo-day']}} {{data['NZworkedTo-month'] | monthName}} {{data['NZworkedTo-year']}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Social security number</th>
            <td class="govuk-table__cell">
              {% if data['NZssn'] %}
                {{ (data.NZssn) }}
              {% else %}
                123 456 789
              {% endif %}
            </td>
          </tr>
        </tbody>

      </table>

      <br><br>

      {% if data['calculateDate'] == 'no' %}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="requestWinz-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                Do you need to request more information from WINZ?
              </h2>
            </legend>
            
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="requestWinz" name="requestWinz" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="requestWinz">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="requestWinz-2" name="requestWinz" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="requestWinz-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

      {% else %}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                How do you want to continue?
              </h2>
            </legend>

            <div class="govuk-radios" data-module="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="winz-2" name="winz" type="radio" value="award">
                <label class="govuk-label govuk-radios__label" for="winz-2">
                  Change award
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="winz" name="winz" type="radio" value="winz">
                <label class="govuk-label govuk-radios__label" for="winz">
                  Request more information from WINZ
                </label>
              </div>

            </div>
          </fieldset>
        </div>

      {% endif %}

      <br><br><br>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    <br><br><br><br><br>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    
    <br>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> <br>
        <b>Notes:</b> If citizen is claiming post SPa, the agent will be prompted to <a href="srb-question" class="govuk-link">check for SRBs in place</a><br>
      </div>
    </details>


  </div>

</div>

{% endblock %}
