{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post"></form>

      {% include './_bar.html' %}

        {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        })
      }}

      <br><br>

      <h1 class="govuk-heading-l">More information needed</h1>

      <br>

      <p>Send a letter to the claimaint asking them to send in their:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>certificate of marriage or civil partnership</li>
        <li>spouse's birth certificate</li>
        <li>spouse's death certificate</li>
        <li>spouse's National Insurance number</li>
      </ul>

      <p>You can find the spouse or civil partner's gender on Searchlight.</p>

      <p>This task will be placed on hold for 2 weeks.</p>

      <br><br><br>

      <button class="govuk-button" data-module="govuk-button">
        Confirm letter sent
      </button>

    <br><br><br><br><br>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    
    <br>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> <br>
        <b>Notes:</b> If citizen is claiming post SPa, the agent will be prompted to <a href="srb-question" class="govuk-link">check for SRBs in place</a><br>
      </div>
    </details>


  </div>

</div>

{% endblock %}
