{% extends "layouts/main-2.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br><br>

    <h1 class="govuk-heading-l">Valid foreign years</h1>

    {% from "govuk/components/table/macro.njk" import govukTable %}

    {{ govukTable({
      caption: " ",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      rows: [
        [
          {
            text: "UK qualifying years"
          },
          {
            text: "4"
          }
        ],
        [
          {
            text: "Pre-2016 valid EEA years"
          },
          {
            text: "2"
          }
        ],
        [
          {
            text: "Post-2016 valid EEA years"
          },
          {
            text: "1"
          }
        ]
      ]
    }) }}

  </div>
  
</div>
</main>
</div>

{% endblock %}
