{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      {% include './_bar.html' %}

        {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        })
      }}

      <br><br>

      <h1 class="govuk-heading-l">Request more information</h1>

      <p>Contact the claimant by phone or post to find out if they had a genuine sufficient link (GSL) 
        with the UK while they were in an EEA country after their State Pension age.
      </p>

      <br>

      <p>Post the letter to this address with a reply envelope.</p>
      
      <div class="govuk-inset-text">
        1 Park Lane<br>
        LEEDS<br>
        LS3 1EP
      </div>

      <br>

      <p>Upload a copy of the letter to ECMS (formerly DRS).</p>

      <br><br><br>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Confirm information requested
      </button>

    <br><br><br><br><br>

  </div>
</div>

{% endblock %}
