{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      {% include './_bar.html' %}

        {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        })
      }}

      <br><br>

      <h1 class="govuk-heading-l">Has the claimant returned their CFN1282?</h1>

      <div id="cfn1282-returned-hint" class="govuk-hint">Check CAMlite for the claimant's CFN1282.</div>

      <br>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="cfn1282-returned-hint">
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="cfn1282-returned" name="cfn1282-returned" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="cfn1282-returned">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="cfn1282-returned-2" name="cfn1282-returned" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="cfn1282-returned-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <br><br><br>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      <br><br><br><br><br>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    
    <br>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> <br>
        <b>Notes:</b> If citizen is claiming post SPa, the agent will be prompted to <a href="srb-question" class="govuk-link">check for SRBs in place</a><br>
      </div>
    </details>


  </div>

</div>

{% endblock %}
