{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      {% include './_bar.html' %}

        {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        })
      }}

      <br><br>

      <h1 class="govuk-heading-l">Has HMRC returned the RF1?</h1>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="rf1-returned-hint">
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rf1-returned" name="rf1-returned" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="rf1-returned">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rf1-returned-2" name="rf1-returned" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="rf1-returned-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <br><br><br>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
  
</div>

{% endblock %}
