{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">
      
       <!--<h1 class="govuk-heading-xl">Change award</h1>
          
        <p>Check if HMRC has returned the RF1.</p>

        <p class="govuk-body">You will then need to:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>check if the claimant has given us enough information to decide what date we can apply the change to award from</li>
              <li>check if we have received the information from WINZ</li>
          </ul>

        <p>You may then need to make a change to their State Pension award.</p>

        <br><br><br>

        <a href="rf1-task" button type="submit" class="govuk-button">
            Start this task
        </a>

        <a href="dashboard-2" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
          Return task to queue
        </a>
      

        <h1 class="govuk-heading-xl">Change award</h1>
          
        <p>Check if HMRC has returned the RF1.</p>

        <p>You will then need to check if the claimant has given us enough information to decide what date we can apply the change to award from.</p>

        <p>You may then need to make a change to their State Pension award.</p>

        <br><br><br>

        <a href="rf1-task" button type="submit" class="govuk-button">
            Start this task
        </a>

        <a href="dashboard-2" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
          Return task to queue
        </a>
      


        <h1 class="govuk-heading-xl">Change award</h1>
          
        <p>Check if HMRC has returned the RF1.</p>

        <p>You will then need to check if if we have received the information from WINZ.</p>

        <p>You may then need to make a change to their State Pension award.</p>

        <br><br><br>

        <a href="rf1-task" button type="submit" class="govuk-button">
            Start this task
        </a>

        <a href="dashboard-2" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
          Return task to queue
        </a>
      
      

        <h1 class="govuk-heading-xl">Change award</h1>
          
        <p>Check if we have received the information from WINZ.</p>

        <p class="govuk-body">You will then need to:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>check if the claimant has given us enough information to decide what date we can apply the change to award from</li>
              <li>check if HMRC has returned the RF1</li>
          </ul>

        <p>You may then need to make a change to their State Pension award.</p>

        <br><br><br>

        <a href="rf1-task" button type="submit" class="govuk-button">
            Start this task
        </a>

        <a href="dashboard-2" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
          Return task to queue
        </a>
      


        <h1 class="govuk-heading-xl">Change award</h1>
          
        <p>Check if we have received the information from WINZ.</p>

        <p>You will then need to check if HMRC has returned the RF1.</p>

        <p>You may then need to make a change to their State Pension award.</p>

        <br><br><br>

        <a href="rf1-task" button type="submit" class="govuk-button">
            Start this task
        </a>

        <a href="dashboard-2" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
          Return task to queue
        </a>
      


        <h1 class="govuk-heading-xl">Change award</h1>
          
        <p>Check if we have received the information from WINZ.</p>

        <p>You will then need to check if the claimant has given us enough information to decide what date we can apply the change to award from.</p>

        <p>You may then need to make a change to their State Pension award.</p>

        <br><br><br>

        <a href="rf1-task" button type="submit" class="govuk-button">
            Start this task
        </a>

        <a href="dashboard-2" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
          Return task to queue
        </a>
      
      

        <h1 class="govuk-heading-xl">Change award</h1>
          
        <p>Check if the claimant has given us enough information to decide what date we can apply the change to award from.</p>

        <p class="govuk-body">You will then need to:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>check we have received the information from WINZ</li>
              <li>check if HMRC has returned the RF1</li>
          </ul>

        <p>You may then need to make a change to their State Pension award.</p>

        <br><br><br>

        <a href="rf1-task" button type="submit" class="govuk-button">
            Start this task
        </a>

        <a href="dashboard-2" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
          Return task to queue
        </a>
      


        <h1 class="govuk-heading-xl">Change award</h1>
          
        <p>You will then need to check if HMRC has returned the RF1.</p>

        <p>You may then need to make a change to their State Pension award.</p>

        <br><br><br>

        <a href="received-winz" button type="submit" class="govuk-button">
            Start this task
        </a>

        <a href="dashboard-2" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
          Return task to queue
        </a>



        <h1 class="govuk-heading-xl">Change award</h1>
          
        <p>Check if the claimant has given us enough information to decide what date we can apply the change to award from.</p>

        <p>You will then need to check we have received the information from WINZ.</p>

        <p>You may then need to make a change to their State Pension award.</p>

        <br><br><br>

        <a href="received-gsl" button type="submit" class="govuk-button">
            Start this task
        </a>

        <a href="dashboard-2" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
          Return task to queue
        </a>



        <h1 class="govuk-heading-xl">Change award</h1>
        
        <p>Check if the claimant has given us enough information to decide what date we can apply the change to award from.</p>
  
        <p>You may then need to make a change to their State Pension award.</p>
  
        <br><br><br>
  
        <a href="returned-cfn1282" button type="submit" class="govuk-button">
            Start this task
        </a>
  
        <a href="dashboard-2" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
          Return task to queue
        </a>



        <h1 class="govuk-heading-xl">Change award</h1>
        
        <p>Check if we have received the information from WINZ.</p>
  
        <p>You may then need to make a change to their State Pension award.</p>
  
        <br><br><br>
  
        <a href="returned-cfn1282" button type="submit" class="govuk-button">
            Start this task
        </a>
  
        <a href="dashboard-2" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
          Return task to queue
        </a>-->



        <h1 class="govuk-heading-xl">Check for information and change award</h1>
          
        <p>Check if the claimant has given us enough information to decide what date we can apply the change to award from.</p>

        <p class="govuk-body">You may then need to:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>check we have received the information from WINZ</li>
              <li>check if HMRC has returned the RF1</li>
              <li>make a change to their State Pension award</li>
          </ul>

        <br><br><br>

        <a href="received-gsl" button type="submit" class="govuk-button">
            Start this task
        </a>

        <a href="dashboard-2" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
          Return task to queue
        </a>


      <br><br><br><br><br>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    
    <br>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> <br>
        <b>Notes:</b> If citizen is claiming post SPa, the agent will be prompted to <a href="srb-question" class="govuk-link">check for SRBs in place</a><br>
      </div>
    </details>


  </div>

</div>

{% endblock %}
