{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      {% include './_bar.html' %}

        {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        })
      }}

      <br><br>

      <h1 class="govuk-heading-l">Update the claimant's ANZaC information</h1>
      <span class="govuk-caption-m">Use the CFN1282 to update the information in GySP</span>

      <br><br>

      <div style="display:inline-block;width:103%;">
        <h2 class="govuk-heading-m" style="float:left;">New Zealand</h2>

        <dd class="govuk-summary-list__actions govuk-!-font-size-19 govuk-!-width-one-half" style="float:right;vertical-align: baseline;">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> contact details</span></a>
            </li>
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </li>
          </ul>
        </dd>
      </div>

      <table class="govuk-table">
        
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Lived</th>
            <td class="govuk-table__cell">Jun 1992 to Dec 2006</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Worked</th>
            <td class="govuk-table__cell">Jun 1992 to Nov 2006</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Social security number</th>
            <td class="govuk-table__cell"></td>
          </tr>
        </tbody>

      </table>

      <br><br>

      <div style="display:inline-block;width:103%;">
        <h2 class="govuk-heading-m" style="float:left;">Australia</h2>

        <dd class="govuk-summary-list__actions govuk-!-font-size-19 govuk-!-width-one-half" style="float:right;vertical-align: baseline;">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> contact details</span></a>
            </li>
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </li>
          </ul>
        </dd>
      </div>

      <table class="govuk-table">

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Lived</th>
            <td class="govuk-table__cell">Mar 2010 to Feb 2023</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Worked</th>
            <td class="govuk-table__cell">Apr 2010 to Feb 2023</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Social security number</th>
            <td class="govuk-table__cell">987 65 4321</td>
          </tr>
        </tbody>
        
      </table>
        
      <br>

      <a class="govuk-link govuk-!-font-size-19" href="#">
        Add another country<span class="govuk-visually-hidden"></span>
      </a>

      <br><br><br><br>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Confirm and continue
      </button>

      <br><br><br><br><br>

    </div>
  </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    
    <br>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> <br>
        <b>Notes:</b> If citizen is claiming post SPa, the agent will be prompted to <a href="srb-question" class="govuk-link">check for SRBs in place</a><br>
      </div>
    </details>

  </form>

  </div>

</div>

{% endblock %}
