{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="what-date-routing">

      {% include './_bar.html' %}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:history.go(-1)"
                        }) }}

      <br><br>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="whatDate-hint">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What date do you want to apply the award from?
            </h1>
          </legend>

          <div id="whatDate-hint" class="govuk-hint">
             Something about return to UK or an EEA country with satisfied GSL.
          </div>

          <div class="govuk-date-input" id="whatDate">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="whatDate-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="whatDate-day" name="whatDate-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="whatDate-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="whatDate-month" name="whatDate-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="whatDate-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="whatDate-year" name="whatDate-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <br><br><br>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      <br><br><br>

      <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

      <br>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          <b>Notes</b>
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>Notes:</b> None <br>
        </div>
      </details>

    </form>

  </div>

</div>

{% endblock %}
