{% extends "layouts/main-2.html" %}

{% block content %}

<form class="form" method="post">

{% include './_bar.html' %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
      })
      }}

      <br><br>

      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

      <h2 class="govuk-heading-m">Sent information 1</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sent
          </dt>
          <dd class="govuk-summary-list__value--numeric">
            {% if data['whatSentA'] == "email" %}
              Email
            {% elseif  data['whatSentA'] == "formLetter" %}
              {% if data['haveNameC'] == "no" %}
                information
              {% elseif data['nameSent'] == "Other" %}
                {{ (data.otherWhatSend) }}
              {% else %}
                {{ (data.nameSent) }}
              {% endif %}
            {% endif %}

            {% if data['whatSentB'] == "email" %}
              Email
            {% elseif  data['nameSentB'] == "Other" %}
              {{ (data.otherWhatSend) }}
            {% else %}
              {{ (data.nameSentB) }}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            {% if data['whichOption'] == 'optionA' %}
              <a class="govuk-link--no-visited-state" href="what-send-a">Change<span class="govuk-visually-hidden"></span></a>
            {% elseif data['whichOption'] == 'optionB' %}  
              <a class="govuk-link--no-visited-state" href="what-send-b">Change<span class="govuk-visually-hidden"></span></a>
            {% endif %}
          </dd>  
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            To
          </dt>
          <dd class="govuk-summary-list__value--numeric">
            {% if data['whoSendA'] == "claimant" %}
              Claimant
            {% elseif  data['whoSendA'] == "third" %}
              {% if data['whoThirdSent'] == "Other" %}
                {{ (data.otherWhoSend) }}
              {% else %}
                {{ (data.whoThirdSent) }}
              {% endif %}
            {% endif %}

            {% if data['whoSendB'] == "claimant" %}
              Claimant
            {% elseif  data['whoSendB'] == "third" %}
              {% if data['nameThirdSentB'] == "Other" %}
                {{ (data.otherWhoSend) }}
              {% else %}
                {{ (data.nameThirdSentB) }}
              {% endif %}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            {% if data['whichOption'] == 'optionA' %}
              <a class="govuk-link--no-visited-state" href="who-send-a">Change<span class="govuk-visually-hidden"></span></a>
            {% elseif data['whichOption'] == 'optionB' %}  
              <a class="govuk-link--no-visited-state" href="who-send-b">Change<span class="govuk-visually-hidden"></span></a>
            {% endif %}
          </dd>
        </div>
      </dl>

      <a class="govuk-link--no-visited-state govuk-!-font-size-19" href="what-receive">Add another</a>

      <br><br><br>

      <button class="govuk-button" data-module="govuk-button">
        Confirm and continue
      </button>

    </div>
</div>

{% endblock %}