{% extends "layouts/main-2.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include './_bar.html' %}

        {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        })
        }}

        <br><br>

        <form method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {% set form %}
        {{ xGovukAutocomplete({
          id: "nameReceived",
          name: "nameReceived",
          allowEmpty: false,
          label: {
            classes: "govuk-label--s",
            isPageHeading: true,
            text: "Name of form or letter"
          },
          items: [
            { text: "Form 1" },
            { text: "Form 2" },
            { text: "Form 3" },
            { text: "Form 4" },
            { text: "Form 5" },
            { text: "Form 6" },
            { text: "Form 7" },
            { text: "Other" }
          ]
        }) }}
        {% endset -%}

        {{ govukRadios({
          name: "haveNameA",
          fieldset: {
            legend: {
              text: "Does the form/letter have a name/title?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "If yes, enter the specific name/title of the form/letter that you received. Check ECMS (formerly DRS), if needed.
                  If you can't find a name or there isn't one, enter 'Other'."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: form
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}  

        <br><br>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </div>
    </div>
      
{% endblock %}
