{% extends "layouts/main-2.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include './_bar.html' %}

        {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        })
        }}

        <br><br>

        <form method="post">

        <h1 class="govuk-heading-l">What other thing did you send or request?</h1>

        <p>Explanitory paragraph text could go here, if needed. Something like, 'enter the name of the form 
            that you sent or requested if there is one. If there isn't a name for the thing you sent, make your 
            entry as concise as possible'.
        </P>

        <br><br>
        
        {% from "govuk/components/input/macro.njk" import govukInput %}

        <!--{{ govukInput({
          label: {
            text: "Thing you sent",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-50",
          id: "otherSend",
          name: "otherSend"
        }) }}-->

        <br><br>

        {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

        {{ govukCharacterCount({
          name: "otherSend",
          id: "otherSend",
          maxlength: 50,
          label: {
            text: "What other thing did you send or request?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Explanitory text could go here, if needed. Something like, 'enter the name of the form that 
                    you sent or requested if there is one. If there isn't a name for the thing you sent, make 
                    your entry as concise as possible'."
          }
        }) }}

        <br><br>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </div>
    </div>
      
{% endblock %}
