{% from "timeline/macro.njk" import dwpTimeline %}

{% extends "layouts/main-2.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

        {% if data['whatDoNVDOB'] == "markComplete" %}
            {% call govukNotificationBanner({
              type: "success"
            }) %}
              <h3 class="govuk-notification-banner__heading">
                Task complete
              </h3>
            {% endcall %}
          {% elseif data['whatDoSRB'] == "markComplete" %}
            {% call govukNotificationBanner({
              type: "success"
            }) %}
              <h3 class="govuk-notification-banner__heading">
                Task complete
              </h3>
            {% endcall %}
          {% elseif data['sureClose'] == "yes" %}
            {% call govukNotificationBanner({
              type: "success"
            }) %}
              <h3 class="govuk-notification-banner__heading">
                Claim closed
              </h3>
            {% endcall %}    
          {% elseif data['dateOfBirth'] == "yes" %}
            {% call govukNotificationBanner({
              type: "success"
            }) %}
              <h3 class="govuk-notification-banner__heading">
                Date of birth verified
              </h3>
            {% endcall %}
          {% elseif data['dateOfBirth'] == "no" %}
            {% call govukNotificationBanner({
              type: "success"
            }) %}
              <h3 class="govuk-notification-banner__heading">
                Date of birth cannot be verified
              </h3>
            {% endcall %}  
          {% elseif data['postponeUntil1-day'] %}
            {% call govukNotificationBanner() %}
              <p class="govuk-notification-banner__heading">
                Task postponed
              </p>
            {% endcall %}
        {% endif %}

      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if data['sureClose'] == "yes" %}
          {% include './_bar3.html' %}
        {% elseif data['whatDoNVDOB'] == "markComplete" or data['whatDoSRB'] == "markComplete" %}
          {% include './_bar2.html' %}  
        {% else %}
          {% include './_bar.html' %} 
        {% endif %}

        {% if data['whatDoNVDOB'] == "markComplete" or data['whatDoSRB'] == "markComplete"%}
          {{ xGovukSecondaryNavigation({
            visuallyHiddenTitle: "Secondary menu",
            items: [{
              text: "Personal",
              href: "record-personal",
              current: true
            }, 
            {
              text: "Contact",
              href: "record-contact",
              current: false
            }, 
            {
              text: "Award",
              href: "record-award",
              current: false
            },
            {
              text: "Payment",
              href: "record-payment",
              current: false
            },
            {
              text: "Tasks",
              href: "record-tasks",
              current: false
            },
            {
              text: "Full history",
              href: "record-full-history"
            }]
          }) }}
        {% else %}
          {{ xGovukSecondaryNavigation({
            visuallyHiddenTitle: "Secondary menu",
            items: [{
              text: "Personal",
              href: "record-personal",
              current: true
            }, 
            {
              text: "Contact",
              href: "record-contact",
              current: false
            }, 
            {
              text: "Pre award",
              href: "record-pre-award",
              current: false
            },
            {
              text: "Full history",
              href: "record-full-history"
            }]
          }) }}
        {% endif %}  

        <br><br>

        {% if data['whatDoNVDOB'] == "markComplete" %}
        {% elseif (data['whatDoNVDOB'] == "record" or data['whatDoNVDOB'] == "postpone") %}
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive"></span>
              Claimant's date of birth is not verified.<br>
              <a href="task-details-nvdob" class="govuk-link--no-visited-state">View task details</a>
            </strong>
          </div>
        {% endif %}

        {% if data['whatDoSRB'] == "markComplete" %}
        {% elseif (data['whatDoSRB'] == "record" or data['whatDoSRB'] == "postpone") %}
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive"></span>
              An SRB has been issued since State Pension date.<br> <a href="task-details-srb" class="govuk-link--no-visited-state">View task details</a>
            </strong>
          </div>
        {% endif %}

        <h2 class="govuk-heading-m">Personal details</h2>

        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Full name</th>
              <td class="govuk-table__cell">Walter Gropius</td>
              <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href=change-></a></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link--no-visited-state" href=change-name>Change</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">National Insurance number</th>
              <td class="govuk-table__cell">QQ 12 34 56 X</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Date of birth</th>
              <td class="govuk-table__cell">12 January 1960</td>
              <td class="govuk-table__cell">
                {% if data['dateOfBirth'] == "yes" %}
                  Verified
                {% else %}
                  Not verified
                {% endif %}
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link--no-visited-state" href=verify-date-of-birth>
                {% if data['dateOfBirth'] == "yes" %}
                {% else %}
                 Verify
                {% endif %}</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">State Pension date </th>
              <td class="govuk-table__cell">10 April 2027 </td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href=change-></a></td>
            </tr>
            <!--<tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">State Pension started </th>
              <td class="govuk-table__cell">10 April 2023 </td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>-->
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Marital status </th>
              <td class="govuk-table__cell">Widowed</td>
              <td class="govuk-table__cell">Not verified</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link--no-visited-state" href=change-maritalstatus>Verify</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Lived or worked abroad </th>
              <td class="govuk-table__cell">Yes</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link--no-visited-state" href="record-lwa-details">Details</a></td>
            </tr>
          </tbody>
        </table>

        <!--{% if (data['decisionCOEG3'] === 'awardCOEG') or (data['decisionCOEG4'] === 'awardCOEG') or (data['decisionCOEG5'] === 'awardCOEG') %}
          <a class="govuk-link--no-visited-state govuk-!-font-size-19" href="#">Stop State Pension</a>
          <br><br>
          <a class="govuk-link--no-visited-state govuk-!-font-size-19" href="#">Lock record</a>
        {% else %}-->
          <a class="govuk-link--no-visited-state govuk-!-font-size-19" href="close">Close claim</a>
        <!--{% endif %}-->

      </div>


      <div class="govuk-grid-column-one-third">

        <h3 class="govuk-heading-m">Personal changes</h3>

        <div class="dwp-timeline">
          <ol class="dwp-timeline__items">
            {% if data['whatDoSRB'] == "markComplete" %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">DD Month YYYY at MM:HH</p>
                <h2 class="dwp-timeline__heading">State Pension awarded</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">DD Month YYYY at MM:HH</p>
                <h2 class="dwp-timeline__heading">Apply an SRB task complete</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
            {% endif %}

            {% if data['whatDoNVDOB'] == "markComplete" %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">DD Month YYYY at MM:HH</p>
                <h2 class="dwp-timeline__heading">State Pension awarded</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">DD Month YYYY at MM:HH</p>
                <h2 class="dwp-timeline__heading">Unverified date of birth task complete</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
            {% endif %}

            {% if data['sureClose'] == "yes" %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">DD Month YYYY at MM:HH</p>
                <h2 class="dwp-timeline__heading">State Pension claim closed</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">DD Month YYYY at MM:HH</p>
                <h2 class="dwp-timeline__heading">
                  {% if data['whyClose'] == "notQualified"%}
                    Claimant does not meet minimum qualifications
                  {% elseif data['whyClose'] == "insufficient"%}
                    Insufficient or conflicting evidence provided
                  {% elseif data['whyClose'] == "noEvidence"%}
                    No evidence provided
                  {% elseif data['whyClose'] == "doesNotWant"%}
                    Claimant does not want their State Pension  
                  {% endif %}
                </h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
            {% endif %}

            {% if data['whatYouSent4'] %}
              <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">DD Month YYYY at MM:HH</p>
              <h2 class="dwp-timeline__heading">
                {% if  data['whatYouSent4'] == "Other" %}
                  {{ (data.otherWhatSend4) }}
                {% else %}
                  {{ (data.whatYouSent4) }}
                {% endif %}
                  sent to
                {% if data['whoSend4'] == "claimant" %}
                  claimant
                {% elseif data['nameThirdSent4'] == "Other" %}
                  {{ (data.otherWhoSend4) }}
                {% else %}
                  {{ (data.nameThirdSent4) }}
                {% endif %}
              </h2>
              <p class="dwp-timeline__by-line">by Agent</p>
            </li>
            {% endif %}

            {% if data['postponeUntil3-day'] %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">DD Month YYYY at MM:HH</p>
                <h2 class="dwp-timeline__heading">Task postponed until {{data['postponeUntil3-day']}} 
                  {{data['postponeUntil3-month'] | monthName}} {{data['postponeUntil3-year']}}
                </h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
            {% endif %}

            {% if data['whatYouSent3'] %}
              <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">DD Month YYYY at MM:HH</p>
              <h2 class="dwp-timeline__heading">
                {% if  data['whatYouSent3'] == "Other" %}
                  {{ (data.otherWhatSend3) }}
                {% else %}
                  {{ (data.whatYouSent3) }}
                {% endif %}
                  sent to
                {% if data['whoSend3'] == "claimant" %}
                  claimant
                {% elseif data['nameThirdSent3'] == "Other" %}
                  {{ (data.otherWhoSend3) }}
                {% else %}
                  {{ (data.nameThirdSent3) }}
                {% endif %}
              </h2>
              <p class="dwp-timeline__by-line">by Agent</p>
            </li>
            {% endif %}

            {% if data['dateOfBirth'] == "yes" %}
                <li class="dwp-timeline__item">
                  <p class="dwp-timeline__datetime">DD Month YYYY at MM:HH</p>
                  <h2 class="dwp-timeline__heading">Date of birth verified</h2>
                  <p class="dwp-timeline__by-line">by Agent</p>
                </li>
              {% elseif data['dateOfBirth'] == "no" %}
                <li class="dwp-timeline__item">
                  <p class="dwp-timeline__datetime">DD Month YYYY at MM:HH</p>
                  <h2 class="dwp-timeline__heading">Date of birth cannot be verified</h2>
                  <p class="dwp-timeline__by-line">by Agent</p>
                </li>  
            {% endif %}  

            {% if data['whatDate'] %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">DD Month YYYY at MM:HH</p>
                <h2 class="dwp-timeline__heading">SRBs applied</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
                {% if data.post2016srb-2 %}
                  <a class="govuk-link--no-visited-state" href="record-srb-details">Details</a>
                {% endif %}
              </li>
            {% endif %}

            {% if data['whatYoureceived2'] %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">DD Month YYYY at MM:HH</p>
                <h2 class="dwp-timeline__heading">
                  {% if data['whatYoureceived2'] == "Other" %}
                    {{ (data.otherWhatReceive) }}
                  {% else %}
                    {{ (data.whatYoureceived2) }}
                  {% endif %}

                  received from

                  {% if data['whoReceived2'] == "claimant" %}
                    claimant
                  {% elseif  data['whoReceived2'] == "third" %}
                    {% if data['whoThird2'] == "Other" %}
                      {{ (data.otherWhoReceive2) }}
                    {% else %}
                      {{ (data.whoThird2) }}
                    {% endif %}
                  {% endif %}
                </h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
            {% endif %}

            {% if data['whatYoureceived'] %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">DD Month YYYY at MM:HH</p>
                <h2 class="dwp-timeline__heading">
                  {% if data['whatYoureceived'] == "Other" %}
                    {{ (data.otherWhatReceive) }}
                  {% else %}
                    {{ (data.whatYoureceived) }}
                  {% endif %}

                  received from

                  {% if data['whoReceivedB'] == "claimant" %}
                    claimant
                  {% elseif  data['whoReceivedB'] == "third" %}
                    {% if data['whoThirdB'] == "Other" %}
                      {{ (data.otherWhoReceive) }}
                    {% else %}
                      {{ (data.whoThirdB) }}
                    {% endif %}
                  {% endif %}
                </h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
            {% endif %}

            {% if data['postponeUntil2-day'] %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">DD Month YYYY at MM:HH</p>
                <h2 class="dwp-timeline__heading">Task postponed until {{data['postponeUntil2-day']}} 
                  {{data['postponeUntil2-month'] | monthName}} {{data['postponeUntil2-year']}}
                </h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
            {% endif %}

            {% if data['whatYouSent2'] %}
              <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">DD Month YYYY at MM:HH</p>
              <h2 class="dwp-timeline__heading">
                {% if  data['whatYouSent2'] == "Other" %}
                  {{ (data.otherWhatSend2) }}
                {% else %}
                  {{ (data.whatYouSent2) }}
                {% endif %}
                  sent to
                {% if data['whoSend2'] == "claimant" %}
                  claimant
                {% elseif data['nameThirdSent2'] == "Other" %}
                  {{ (data.otherWhoSend2) }}
                {% else %}
                  {{ (data.nameThirdSent2) }}
                {% endif %}
              </h2>
              <p class="dwp-timeline__by-line">by Agent</p>
            </li>
            {% endif %}

            {% if data['whatCall'] == "inbound" %}
                <li class="dwp-timeline__item">
                  <p class="dwp-timeline__datetime">DD Month YYYY at MM:HH</p>
                  <h2 class="dwp-timeline__heading">
                    {% if data['whoSpeakTo'] == "claimant" %}
                    Received call from claimant
                    {% elseif  data['thirdSpokeTo'] == "Other" %}
                      Received call from {{ (data.otherWhoCalledYou) }}
                    {% else %}
                      Received call from {{ (data.thirdSpokeTo) }}
                    {% endif %}
                  </h2>
                  <p class="dwp-timeline__by-line">by Agent</p>
                  <a class="govuk-link--no-visited-state" href="call-details">Details</a>
                </li>
              {% elseif data['whatCall'] == "outbound" %}  
                <li class="dwp-timeline__item">
                  <p class="dwp-timeline__datetime">DD Month YYYY at MM:HH</p>
                  <h2 class="dwp-timeline__heading">
                    {% if data['whoSpeakTo'] == "claimant" %}
                      Made call to claimant
                    {% elseif  data['thirdSpokeTo'] == "Other" %}
                      Made call to {{ (data.otherWhoCalledYou) }}
                    {% else %}
                      Made call to {{ (data.thirdSpokeTo) }}
                    {% endif %}
                  </h2>
                  <p class="dwp-timeline__by-line">by Agent</p>
                  <a class="govuk-link--no-visited-state" href="call-details">Details</a>
                </li>
            {% endif %}

            <!--{% if data['whatYoureceived'] == "Class 2 paid dates" %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">DD Month YYYY</td>
                <td class="govuk-table__cell">Class 2 paid date received from HMRC</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
              </tr>
            {% endif %}-->

            {% if data['postponeUntil1-year'] %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">DD Month YYYY at MM:HH</p>
                <h2 class="dwp-timeline__heading">Task postponed until {{data['postponeUntil1-day']}} 
                  {{data['postponeUntil1-month'] | monthName}} {{data['postponeUntil1-year']}}
                </h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
            {% endif %}

            {% if data['whatYouSent'] %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">DD Month YYYY at MM:HH</p>
                <h2 class="dwp-timeline__heading">
                  {% if  data['whatYouSent'] == "Other" %}
                    {{ (data.otherWhatSend) }}
                  {% else %}
                    {{ (data.whatYouSent) }}
                  {% endif %}
                    sent to
                  {% if data['whoSendB'] == "claimant" %}
                    claimant
                  {% elseif data['nameThirdSentB'] == "Other" %}
                    {{ (data.otherWhoSend) }}
                  {% else %}
                    {{ (data.nameThirdSentB) }}
                  {% endif %}
                </h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
            {% endif %}

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">DD Month YYYY at MM:HH</p>
              <h2 class="dwp-timeline__heading">Claim received</h2>
              <p class="dwp-timeline__by-line">by Online</p>
            </li>
          </ol>  
        </div>

        <a class="govuk-link--no-visited-state govuk-!-font-size-19" href="record-full-history">Full history</a>

    </div>
  </main>
</div>

{% endblock %}
