{% extends "layouts/main-2.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if data['whatDate'] %}
        {% call govukNotificationBanner({
          type: "success"
          }) %}
            <h3 class="govuk-notification-banner__heading">
              SRBs applied
            </h3>
        {% endcall %}
      {% endif %} 

    </div>
  </div>   

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if data['sureClose'] == "yes" %}
          {% include './_bar3.html' %}
        {% elseif data['whatDoNVDOB'] == "markComplete" or data['whatDoSRB'] == "markComplete" %}
          {% include './_bar2.html' %}  
        {% else %}
          {% include './_bar.html' %} 
        {% endif %}

        {{ xGovukSecondaryNavigation({
          visuallyHiddenTitle: "Secondary menu",
          items: [{
            text: "Personal",
            href: "record-personal"
          }, 
          {
            text: "Contact",
            href: "record-contact"
          }, 
          {
            text: "Pre award components",
            href: "record-pre-award",
            current: true
          },
          {
            text: "Full history",
            href: "record-full-history"
          }]
        }) }}

        <br><br>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">UK Qualifying years</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Pre 2016 years</th>
              <th scope="col" class="govuk-table__header">Post 2016 years</th>
              <th scope="col" class="govuk-table__header">NSP qualifying years</th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">3</td>
              <td class="govuk-table__cell">7</td>
              <td class="govuk-table__cell">10</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">Change</a></td></td>
            </tr>
          </tbody>
        </table>

        <!--<table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Qualifying years</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Country group</th>
              <th scope="col" class="govuk-table__header govuk-table__cell--numeric">Pre 2016</th>
              <th scope="col" class="govuk-table__header govuk-table__cell--numeric">Post 2016</th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">UK</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">7</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">Change</a></td></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">ANZaC</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">Change</a></td></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">EEA</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">Change</a></td></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">RA</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">Change</a></td></td>
            </tr>
          </tbody>
        </table>-->

        <br><br>

        <div style="display:inline-block;width:103%;">
          <h2 class="govuk-heading-m" style="float:left;">SRBs</h2>
          <dd class="govuk-summary-list__actions govuk-!-font-size-19 govuk-!-width-one-half" style="float:right;vertical-align: baseline;">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link--no-visited-state" href="date-srb-apply">Apply an SRB<span class="govuk-visually-hidden"></span></a>
              </li>
            </ul>
          </dd>
        </div>

        {% if data['whatDate'] %}
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header" style="width:30%">Date SRB applies from</th>
                <th scope="col" class="govuk-table__header">Post 2016 years used</th>
                <th scope="col" class="govuk-table__header">NSP qualifying years</th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width:12%">SRB 1</th>
                <td class="govuk-table__cell">
                  {% if data['another-month'] %}
                      {{data['another-day']}} {{data['another-month'] | monthName}} {{data['another-year']}}
                    {% else %}
                      1 March 2025
                  {% endif %}
                </td>
                <td class="govuk-table__cell">{{data.post2016srb }}</td>
                <td class="govuk-table__cell">{{data.nspQual }}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link--no-visited-state" href="date-srb-apply">Change</a></td></td>
              </tr>
              {% if data['whatDate2'] %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="width:12%">SRB 2</th>
                  <td class="govuk-table__cell">
                    {% if data['another2-month'] %}
                        {{data['another2-day']}} {{data['another2-month'] | monthName}} {{data['another2-year']}}
                      {% else %}
                        1 March 2025
                    {% endif %}
                  </td>
                  <td class="govuk-table__cell">{{data.post2016srb2 }}</td>
                  <td class="govuk-table__cell">{{data.nspQual2 }}</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link--no-visited-state" href="date-srb-apply">Change</a></td></td>
                </tr>
              {% endif %}
              {% if data['whatDate3'] %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="width:12%">SRB 3</th>
                  <td class="govuk-table__cell">
                    {% if data['another3-month'] %}
                        {{data['another3-day']}} {{data['another3-month'] | monthName}} {{data['another3-year']}}
                      {% else %}
                        1 March 2025
                    {% endif %}
                  </td>
                  <td class="govuk-table__cell">{{data.post2016srb3 }}</td>
                  <td class="govuk-table__cell">{{data.nspQual3 }}</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link--no-visited-state" href="date-srb-apply">Change</a></td></td>
                </tr>
              {% endif %}
              {% if data['whatDate4'] %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="width:12%">SRB 4</th>
                  <td class="govuk-table__cell">
                    {% if data['another4-month'] %}
                        {{data['another4-day']}} {{data['another4-month'] | monthName}} {{data['another4-year']}}
                      {% else %}
                        1 March 2025
                    {% endif %}
                  </td>
                  <td class="govuk-table__cell">{{data.post2016srb4 }}</td>
                  <td class="govuk-table__cell">{{data.nspQual4 }}</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link--no-visited-state" href="date-srb-apply">Change</a></td></td>
                </tr>
              {% endif %}  
            </tbody>
          </table>
        {% else %}
        <table class="govuk-table">
          <!--<thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width:35%">Date SRB applies from</th>
              <th scope="col" class="govuk-table__header">Post 2016 years used</th>
              <th scope="col" class="govuk-table__header">NSP qualifying years</th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>-->
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                No SRBs applied yet
              </td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
          </tbody>
        </table>
        {% endif %}  

        <br><br>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Primary components</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-half">Total</th>
              <td class="govuk-table__cell govuk-table__cell--numeric"><b>£163.38<b></td>
              <td class="govuk-table__cell"><a class="govuk-link" href="#"></a></td></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">New State Pension</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£163.38</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#"></a></td></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Protected payment</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#"></a></td></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Extra State Pension</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#"></a></td></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Inherited extra State Pension</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="lived-worked-details"></a></td>
            </tr>
          </tbody>
        </table>

        <br>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Additional components</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-half">Additional pension</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#"></a></td></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Graduated Retirement Benefit</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#"></a></td></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Extra State Pension Basic Pension</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#"></a></td></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Extra State Pension Graduated Retirement Benefit</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#"></a></td></td>
            </tr>
          </tbody>
        </table>

        <br>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Pension sharing on divorce (PSOD)</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">PSOD credit</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="psod-credit">Add</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">PSOD debit</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="psod-debit">Add</a></td>
            </tr>
          </tbody>
        </table>

      </div>

      <div class="govuk-grid-column-one-third">

      <h2 class="govuk-heading-m">Component changes</h2>

      <div class="dwp-timeline">
        <ol class="dwp-timeline__items">
          {% if data['whatDate'] %}
            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">DD Month YYYY at MM:HH</p>
              <h2 class="dwp-timeline__heading">SRBs applied</h2>
              <p class="dwp-timeline__by-line">by Agent</p>
              {% if data.post2016srb-2 %}
                <a class="govuk-link--no-visited-state" href="record-srb-details">Details</a>
              {% endif %}
            </li>
          {% else %}
            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime"></p>
              <h2 class="dwp-timeline__heading">No changes made</h2>
              <p class="dwp-timeline__by-line"></p>
            </li>  
          {% endif %}
        </ol>
      </div>  

      <a class="govuk-link--no-visited-state govuk-!-font-size-19" href="record-full-history">Full history</a>

    </div>
  </main>
</div>

{% endblock %}
