{% extends "layouts/main-2.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form method="post">

      {% if data['creditAmount'] or data['debitAmount'] %}
        {% include './_bar-2.html' %}
      {% else %}
        {% include './_bar.html' %}
      {% endif %}

      {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

      {% if data['whatDo'] == "markComplete" %}
        <br>
        {% call govukNotificationBanner({
          type: "success"
        }) %}
          <h3 class="govuk-notification-banner__heading">
            Task complete.
          </h3>
        {% endcall %}
      {% elseif data['dateOfBirth'] == "yes" %}
        <br>
        {% call govukNotificationBanner({
          type: "success"
        }) %}
          <h3 class="govuk-notification-banner__heading">
            Date of birth verified.
          </h3>
        {% endcall %}
      {% elseif data['postponeUntil-day'] %}
        <br>
        {% call govukNotificationBanner() %}
          <p class="govuk-notification-banner__heading">
            Task postponed.
          </p>
        {% endcall %}  
      {% endif %}

      {{ xGovukSecondaryNavigation({
        visuallyHiddenTitle: "Secondary menu",
        items: [{
          text: "Personal",
          href: "record-personal"
        }, 
        {
          text: "Contact",
          href: "record-contact"
        }, 
        {
          text: "Pre award",
          href: "record-pre-award"
        },
        {
          text: "Full history",
          href: "record-full-history",
          current: true
        }]
      }) }}

      <br><br>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Add an action
      </button>

      <table class="govuk-table">
        <!--<caption class="govuk-table__caption govuk-table__caption--m">Dates and events</caption>-->

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
            <th scope="col" class="govuk-table__header">Action</th>
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">By</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          {% if data['whatDo'] == "markComplete" %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">DD Month YYYY</td>
              <td class="govuk-table__cell">
                State Pension awarded
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link--no-visited-state" href="#"></a>
              </td>
              <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">DD Month YYYY</td>
              <td class="govuk-table__cell">
                Non verified date of birth task complete
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link--no-visited-state" href="#"></a>
              </td>
              <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
            </tr>
          {% endif %}
          {% if data['dateOfBirth'] == "yes" %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">DD Month YYYY</td>
              <td class="govuk-table__cell">
                Date of birth verified
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link--no-visited-state" href="#"></a>
              </td>
              <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
            </tr>
          {% endif %}
          {% if data['whatReceiveA'] or data['whatReceiveB'] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">DD Month YYYY</td>
              <td class="govuk-table__cell">
                {% if data['whatReceiveA'] == "email" %}
                  Email
                {% elseif  data['whatReceiveA'] == "formLetter" %}
                  {% if data['haveNameA'] == "no" %}
                    information
                  {% elseif data['nameReceived'] == "Other" %}
                    {{ (data.otherWhatReceive) }}
                  {% else %}
                    {{ (data.nameReceived) }}
                  {% endif %}
                {% endif %}

                {% if data['whatReceiveB'] == "email" %}
                  Email
                {% elseif  data['nameFormB'] == "Other" %}
                  {{ (data.otherWhatReceive) }}
                {% else %}
                  {{ (data.nameFormB) }}
                {% endif %}

                received from

                {% if data['whoReceivedA'] == "claimant" %}
                  Claimant
                {% elseif  data['whoReceivedA'] == "third" %}
                  {% if data['whoThirdA'] == "Other" %}
                    {{ (data.otherWhoReceive) }}
                  {% else %}
                    {{ (data.whoThirdA) }}
                  {% endif %}
                {% endif %}

                {% if data['whoReceivedB'] == "claimant" %}
                  Claimant
                {% elseif  data['whoReceivedB'] == "third" %}
                  {% if data['whoThirdB'] == "Other" %}
                    {{ (data.otherWhoReceive) }}
                  {% else %}
                    {{ (data.whoThirdB) }}
                  {% endif %}
                {% endif %}
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link--no-visited-state" href="#"></a>
              </td>
              <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
            </tr>
          {% endif %}

          {% if data['postponeUntil-day'] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">DD Month YYYY</td>
              <td class="govuk-table__cell">
                Task postponed until {{data['postponeUntil-day']}} {{data['postponeUntil-month'] | monthName}} {{data['postponeUntil-year']}}
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link--no-visited-state" href="#"></a>
              </td>
              <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
            </tr>
          {% endif %}

          {% if data['whatSentA'] or data['whatSentB'] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">DD Month YYYY</td>
              <td class="govuk-table__cell">
                {% if data['whatSentA'] == "email" %}
                  Email
                {% elseif  data['whatSentA'] == "formLetter" %}
                  {% if data['haveNameC'] == "no" %}
                    information
                  {% elseif data['nameSent'] == "Other" %}
                    {{ (data.otherWhatSend) }}
                  {% else %}
                    {{ (data.nameSent) }}
                  {% endif %}
                {% endif %}

                {% if data['whatSentB'] == "email" %}
                  Email
                {% elseif  data['nameSentB'] == "Other" %}
                  {{ (data.otherWhatSend) }}
                {% else %}
                  {{ (data.nameSentB) }}
                {% endif %}

                sent to

                {% if data['whoSendA'] == "claimant" %}
                  Claimant
                {% elseif  data['whoSendA'] == "third" %}
                  {% if data['whoThirdSent'] == "Other" %}
                    {{ (data.otherWhoSend) }}
                  {% else %}
                    {{ (data.whoThirdSent) }}
                  {% endif %}
                {% endif %}

                {% if data['whoSendB'] == "claimant" %}
                  Claimant
                {% elseif  data['whoSendB'] == "third" %}
                  {% if data['nameThirdSentB'] == "Other" %}
                    {{ (data.otherWhoSend) }}
                  {% else %}
                    {{ (data.nameThirdSentB) }}
                  {% endif %}
                {% endif %}
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link--no-visited-state" href="#"></a>
              </td>
              <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
            </tr>
          {% endif %}

          {% if data['whoCalledYou'] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">DD Month YYYY</td>
              <td class="govuk-table__cell">
                {% if data['whoCalledYou'] == "claimant" %}
                  Received call from claimant
                {% elseif  data['nameThirdCalledYou'] == "Other" %}
                  Received call from {{ (data.otherWhoCalledYou) }}
                {% else %}
                  Received call from {{ (data.whoCalledYou) }}
                {% endif %}
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link--no-visited-state" href="call-details">Details</a>
              </td>
              <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
            </tr>
          {% endif %}

          {% if data['whoYouCall'] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">DD Month YYYY</td>
              <td class="govuk-table__cell">
                {% if data['whoYouCall'] == "claimant" %}
                  Made call to claimant
                {% elseif  data['nameThirdYouCall'] == "Other" %}
                  Received call from {{ (data.otherWhoYouCalled) }}
                {% else %}
                  Received call from {{ (data.nameThirdYouCall) }}
                {% endif %}
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link--no-visited-state" href="call-details">Details</a>
              </td>
              <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
            </tr>
          {% endif %}

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">DD Month YYYY</td>
            <td class="govuk-table__cell">Claim received</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell govuk-table__header--numeric">Online</td>
          </tr>
        </tbody>
        
      </table>

      <br>

    </div>
  </div>

{% endblock %}
