{% extends "layouts/main-2.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form method="post">

      {% if data['sureClose'] == "yes" %}
        {% include './_bar3.html' %}
      {% elseif data['whatDoNVDOB'] == "markComplete" or data['whatDoSRB'] == "markComplete" %}
        {% include './_bar2.html' %}  
      {% else %}
        {% include './_bar.html' %} 
      {% endif %}

      <!--{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

      {% if data['whatDoNVDOB'] == "markComplete" %}
        <br>
        {% call govukNotificationBanner({
          type: "success"
        }) %}
          <h3 class="govuk-notification-banner__heading">
            Task complete
          </h3>
        {% endcall %}
      {% elseif data['dateOfBirth'] == "yes" %}
        <br>
        {% call govukNotificationBanner({
          type: "success"
        }) %}
          <h3 class="govuk-notification-banner__heading">
            Date of birth verified
          </h3>
        {% endcall %}
      {% elseif data['postponeUntil-day'] %}
        <br>
        {% call govukNotificationBanner() %}
          <p class="govuk-notification-banner__heading">
            Task postponed
          </p>
        {% endcall %}  
      {% endif %}-->

      {{ xGovukSecondaryNavigation({
        visuallyHiddenTitle: "Secondary menu",
        items: [{
          text: "Personal",
          href: "record-personal"
        }, 
        {
          text: "Contact",
          href: "record-contact"
        }, 
        {
          text: "Pre award",
          href: "record-pre-award"
        },
        {
          text: "Full history",
          href: "record-full-history",
          current: true
        }]
      }) }}

      <br><br>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Add an action
      </button>

      <table class="govuk-table">
        <!--<caption class="govuk-table__caption govuk-table__caption--m">Dates and events</caption>-->

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
            <th scope="col" class="govuk-table__header">Action</th>
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">By</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          {% if data['whatDoNVDOB'] == "markComplete" %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">DD Month YYYY</td>
              <td class="govuk-table__cell">
                State Pension awarded
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link--no-visited-state" href="#"></a>
              </td>
              <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">DD Month YYYY</td>
              <td class="govuk-table__cell">
                Non verified date of birth task complete
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link--no-visited-state" href="#"></a>
              </td>
              <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
            </tr>
          {% endif %}

          {% if data['whatDoSRB'] == "markComplete" %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">DD Month YYYY</td>
              <td class="govuk-table__cell">
                State Pension awarded
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link--no-visited-state" href="#"></a>
              </td>
              <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">DD Month YYYY</td>
              <td class="govuk-table__cell">
                Apply an SRB task complete
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link--no-visited-state" href="#"></a>
              </td>
              <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
            </tr>
          {% endif %}

          {% if data['sureClose'] == "yes" %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">DD Month YYYY</td>
              <td class="govuk-table__cell">
                State Pension claim closed
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link--no-visited-state" href="#"></a>
              </td>
              <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">DD Month YYYY</td>
              <td class="govuk-table__cell">
                {% if data['whyClose'] == "notQualified"%}
                  Claimant does not meet minimum qualifications
                {% elseif data['whyClose'] == "insufficient"%}
                  Insufficient or conflicting evidence provided
                {% elseif data['whyClose'] == "noEvidence"%}
                  No evidence provided
                {% elseif data['whyClose'] == "doesNotWant"%}
                  Claimant does not want their State Pension  
                {% endif %}      
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link--no-visited-state" href="#"></a>
              </td>
              <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
            </tr>
          {% endif %}

          {% if data['whatYouSent4'] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">DD Month YYYY</td>
              <td class="govuk-table__cell">
                {% if  data['whatYouSent4'] == "Other" %}
                  {{ (data.otherWhatSend4) }}
                {% else %}
                  {{ (data.whatYouSent4) }}
                {% endif %}
                  sent to
                {% if data['whoSend4'] == "claimant" %}
                  claimant
                {% elseif data['nameThirdSent4'] == "Other" %}
                  {{ (data.otherWhoSend4) }}
                {% else %}
                  {{ (data.nameThirdSent4) }}
                {% endif %}
              </td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
            </tr>
          {% endif %}

          {% if data['postponeUntil3-day'] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">DD Month YYYY</td>
              <td class="govuk-table__cell">Task postponed until {{data['postponeUntil3-day']}} 
                  {{data['postponeUntil3-month'] | monthName}} {{data['postponeUntil3-year']}}
              </td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
            </tr>
          {% endif %}

          {% if data['whatYouSent3'] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">DD Month YYYY</td>
              <td class="govuk-table__cell">
                {% if  data['whatYouSent3'] == "Other" %}
                  {{ (data.otherWhatSend3) }}
                {% else %}
                  {{ (data.whatYouSent3) }}
                {% endif %}
                  sent to
                {% if data['whoSend3'] == "claimant" %}
                  claimant
                {% elseif data['nameThirdSent3'] == "Other" %}
                  {{ (data.otherWhoSend3) }}
                {% else %}
                  {{ (data.nameThirdSent3) }}
                {% endif %}
              </td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
            </tr>
          {% endif %}

          {% if data['dateOfBirth'] == "yes" %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">DD Month YYYY</td>
                <td class="govuk-table__cell">
                  Date of birth verified
                </td>
                <td class="govuk-table__cell">
                  <a class="govuk-link--no-visited-state" href="#"></a>
                </td>
                <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
              </tr>
            {% elseif data['dateOfBirth'] == "no" %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">DD Month YYYY</td>
                <td class="govuk-table__cell">
                  Date of birth cannot be verified
                </td>
                <td class="govuk-table__cell">
                  <a class="govuk-link--no-visited-state" href="#"></a>
                </td>
                <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
              </tr>  
          {% endif %}

          {% if data['whatYoureceived2'] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">DD Month YYYY</td>
              <td class="govuk-table__cell">
                {% if data['whatYoureceived2'] == "Other" %}
                  {{ (data.otherWhatReceive) }}
                {% else %}
                  {{ (data.whatYoureceived2) }}
                {% endif %}

                received from

                {% if data['whoReceived2'] == "claimant" %}
                  claimant
                {% elseif  data['whoReceived2'] == "third" %}
                  {% if data['whoThird2'] == "Other" %}
                    {{ (data.otherWhoReceive2) }}
                  {% else %}
                    {{ (data.whoThird2) }}
                  {% endif %}
                {% endif %}
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link--no-visited-state" href="#"></a>
              </td>
              <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
            </tr>
          {% endif %}

          {% if data['whatYoureceived'] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">DD Month YYYY</td>
              <td class="govuk-table__cell">
                {% if data['whatYoureceived'] == "Other" %}
                  {{ (data.otherWhatReceive) }}
                {% else %}
                  {{ (data.whatYoureceived) }}
                {% endif %}

                received from

                {% if data['whoReceivedB'] == "claimant" %}
                  claimant
                {% elseif  data['whoReceivedB'] == "third" %}
                  {% if data['whoThirdB'] == "Other" %}
                    {{ (data.otherWhoReceive) }}
                  {% else %}
                    {{ (data.whoThirdB) }}
                  {% endif %}
                {% endif %}
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link--no-visited-state" href="#"></a>
              </td>
              <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
            </tr>
          {% endif %}
          
          {% if data['postponeUntil2-day'] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">DD Month YYYY</td>
              <td class="govuk-table__cell">Task postponed until {{data['postponeUntil2-day']}} 
                  {{data['postponeUntil2-month'] | monthName}} {{data['postponeUntil2-year']}}
              </td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
            </tr>
          {% endif %}

          {% if data['whatYouSent2'] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">DD Month YYYY</td>
              <td class="govuk-table__cell">
                {% if  data['whatYouSent2'] == "Other" %}
                  {{ (data.otherWhatSend2) }}
                {% else %}
                  {{ (data.whatYouSent2) }}
                {% endif %}
                  sent to
                {% if data['whoSend2'] == "claimant" %}
                  claimant
                {% elseif data['nameThirdSent2'] == "Other" %}
                  {{ (data.otherWhoSend2) }}
                {% else %}
                  {{ (data.nameThirdSent2) }}
                {% endif %}
              </td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
            </tr>
          {% endif %}

          {% if data['whatCall'] == "inbound" %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">DD Month YYYY</td>
                <td class="govuk-table__cell">
                  {% if data['whoSpeakTo'] == "claimant" %}
                    Received call from claimant
                  {% elseif  data['thirdSpokeTo'] == "Other" %}
                    Received call from {{ (data.otherWhoCalledYou) }}
                  {% else %}
                    Received call from {{ (data.thirdSpokeTo) }}
                  {% endif %}
                </dd>
                </td>
                <td class="govuk-table__cell">
                  <a class="govuk-link--no-visited-state" href="call-details">Details</a>
                </td>
                <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
              </tr>
            {% elseif data['whatCall'] == "outbound" %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">DD Month YYYY</td>
                <td class="govuk-table__cell">
                  {% if data['whoSpeakTo'] == "claimant" %}
                    Made call to claimant
                  {% elseif  data['thirdSpokeTo'] == "Other" %}
                    Made call to {{ (data.otherWhoCalledYou) }}
                  {% else %}
                    Made call to {{ (data.thirdSpokeTo) }}
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  <a class="govuk-link--no-visited-state" href="call-details">Details</a>
                </td>
                <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
              </tr>  
          {% endif %}

          <!--{% if data['whatYoureceived'] == "Class 2 paid dates" %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">DD Month YYYY</td>
              <td class="govuk-table__cell">Class 2 paid dates received from HMRC</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
            </tr>
          {% endif %}-->

          {% if data['postponeUntil1-day'] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">DD Month YYYY</td>
              <td class="govuk-table__cell">Task postponed until {{data['postponeUntil1-day']}} 
                  {{data['postponeUntil1-month'] | monthName}} {{data['postponeUntil1-year']}}
              </td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
            </tr>
          {% endif %}

          <!--{% if data['whatYouSent'] == "Class 2 paid date request" %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">DD Month YYYY</td>
              <td class="govuk-table__cell">Class 2 paid date request sent to HMRC</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
            </tr>
          {% endif %}-->

          {% if data['whatYouSent'] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">DD Month YYYY</td>
              <td class="govuk-table__cell">
                {% if  data['whatYouSent'] == "Other" %}
                  {{ (data.otherWhatSend) }}
                {% else %}
                  {{ (data.whatYouSent) }}
                {% endif %}
                  sent to
                {% if data['whoSendB'] == "claimant" %}
                  claimant
                {% elseif data['nameThirdSentB'] == "Other" %}
                  {{ (data.otherWhoSend) }}
                {% else %}
                  {{ (data.nameThirdSentB) }}
                {% endif %}  
              </td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell govuk-table__header--numeric">Agent</td>
            </tr>
          {% endif %}

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">DD Month YYYY</td>
            <td class="govuk-table__cell">Claim received</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell govuk-table__header--numeric">Online</td>
          </tr>
        </tbody>
        
      </table>

      <br>

    </div>
  </div>

{% endblock %}
