{% extends "layouts/main-2.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include './_bar.html' %}

        {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        })
        }}

        <br><br>

        <form method="post">

        <h1 class="govuk-heading-xl">Apply an SRB</h1>

        <p>There has been a change in contributions or credits since the claimant's State Pension date.</p>

        <p class="govuk-body">You will need to check:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the number of SRBs</li>
          <li>the reason for the SRBs</li>
          <li>if you have the required dates</li>
        </ul>

        <br>

        <p>You may then need to apply the SRB.</p>

        <br><br>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "whatDoSRB",
            fieldset: {
              legend: {
                text: "What do you want to do?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "record",
                text: "Go to claimant's record"
              },
              {
                value: "postpone",
                text: "Postpone task"
              },
              {
                value: "markComplete",
                text: "Mark task as complete"
              }
            ]
          }) }}
        
        <br><br>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </div>
    </div>

{% endblock %}
