{% extends "layouts/main-2.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include './_bar.html' %}

        {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        })
        }}

        <br><br>

        <form method="post">

        <h1 class="govuk-heading-xl">Unverified date of birth (UDOB)</h1>

        <p>You can verify the date of birth if the evidence provided matches the date we have in the claimant's record.</p>

        <p>You will need to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>send the claimant an MF5 or MF4 requesting a birth certificate or secondary evidence</li>
          <li>check ECMS for evidence</li>
          <li>verify the claimant's date of birth</li>
          <li>record anything you have done with 'add an action'</li>
        </ul>

        <br><br>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "whatDo",
            fieldset: {
              legend: {
                text: "What do you want to do?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "record",
                text: "Go to claimant's record"
              },
              {
                value: "postpone",
                text: "Postpone task"
              },
              {
                value: "markComplete",
                text: "Mark task as complete"
              }
            ]
          }) }}
        
        <br><br>

        <button class="govuk-button" data-module="govuk-button">
          Start this task
        </button>

      </div>
    </div>

{% endblock %}
