{% extends "layouts/main-2.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include './_bar.html' %}

        {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        })
        }}

        <br><br>

        <form method="post">

        <h1 class="govuk-heading-l">What did you receive?</h1>

        <p>Explanitory paragraph text could go here, if needed. Something like, 'enter the name of the form that you received. If you can't find the form you're looking for, select 'Other'.</P>

        <br><br>
        
        {{ xGovukAutocomplete({
          id: "formReceive",
          name: "formReceive",
          allowEmpty: false,
          label: {
            classes: "govuk-label--m",
            isPageHeading: true,
            text: "Form or type of correspondence received"
          },
          items: [
            { text: "Form 1" },
            { text: "Form 2" },
            { text: "Form 3" },
            { text: "Form 4" },
            { text: "Form 5" },
            { text: "Other" },
            { text: "Letter" },
            { text: "Email" }
          ]
        }) }}

        <br><br>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </div>
    </div>
      
{% endblock %}
