{% extends "layouts/main-2.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include './_bar.html' %}

        {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        })
        }}

        <br><br>

        <form method="post">

        {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

        {% if data['whoSend4'] %}
          {% set html %}
            <p class="govuk-body">Enter a short description of the person or place you sent something to.</p>
          {% endset %}

          {{ govukCharacterCount({
            name: "otherWhoSend4",
            id: "otherWhoSend4",
            maxlength: 50,
            label: {
              text: "Who did you send it to?",
              classes: "govuk-label--l",
              isPageHeading: true
            },
            hint: {
              html: html
            }
          }) }}
        {% elseif data['whoSend3'] %}
          {% set html %}
            <p class="govuk-body">Enter a short description of the person or place you sent something to.</p>
          {% endset %}

          {{ govukCharacterCount({
            name: "otherWhoSend3",
            id: "otherWhoSend3",
            maxlength: 50,
            label: {
              text: "Who did you send it to?",
              classes: "govuk-label--l",
              isPageHeading: true
            },
            hint: {
              html: html
            }
          }) }}  
        {% elseif data['whoSend2'] %}
          {% set html %}
            <p class="govuk-body">Enter a short description of the person or place you sent something to.</p>
          {% endset %}

          {{ govukCharacterCount({
            name: "otherWhoSend2",
            id: "otherWhoSend2",
            maxlength: 50,
            label: {
              text: "Who did you send it to?",
              classes: "govuk-label--l",
              isPageHeading: true
            },
            hint: {
              html: html
            }
          }) }}  
        {% else %}
          {% set html %}
            <p class="govuk-body">Enter a short description of the person or place you sent something to.</p>
          {% endset %}

          {{ govukCharacterCount({
            name: "otherWhoSend",
            id: "otherWhoSend",
            maxlength: 50,
            label: {
              text: "Who did you send it to?",
              classes: "govuk-label--l",
              isPageHeading: true
            },
            hint: {
              html: html
            }
          }) }}
        {% endif %}    

        <br><br>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </div>
    </div>
      
{% endblock %}
