{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

  {% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> 

    {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    {% from "govuk/components/radios/macro.njk" import govukRadios %}
    {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

    {% set dobHTML %}
      {{ govukDateInput({
        id: "passport-issued",
        namePrefix: "passport-issued",
        fieldset: {
          legend: {
            text: "Claimant's date of birth",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        }
      }) }}
    {% endset -%}

    {{ govukRadios({
      name: "verifiedDOB",
      fieldset: {
        legend: {
          text: "Can you verify their date of birth?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: dobHTML
          }
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}

    <br><br>

    <button type="submit" class="govuk-button" data-module="govuk-button">
      Continue
    </button>

      

    </form>

  </div>
</div>

{% endblock %}
