{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

{% include './_bar.html' %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
      })
      }}

      <br><br>

      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Evidence submitted by claimant
          </dt>
          <dd class="govuk-summary-list__value--numeric">
            {% if data['provide'] == "birth" %}
              Birth certificate
            {% elseif data['provide'] == "passport" %}
              Passport
            {% elseif data['provide'] == "adoption" %}
              Adoption certificate
            {% elseif data['provide'] == "driving" %}
              Photo driving licence
            {% elseif data['provide'] == "registration" %}
              Certificate of registration of birth
            {% elseif data['provide'] == "order" %}
              Adoption order
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link--no-visited-state" href="what-evidence">Change<span class="govuk-visually-hidden"></span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Verified date of birth
          </dt>
          <dd class="govuk-summary-list__value--numeric">
            {{data['verifiedDOB-day']}} {{data['verifiedDOB-month'] | monthName}} {{data['verifiedDOB-year']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link--no-visited-state" href="claimant-dob">Change<span class="govuk-visually-hidden"></span></a>
          </dd>
        </div>
      </dl>

      <br><br>

      <!--{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

      {{ govukCheckboxes({
        name: "waste",
        fieldset: {
          legend: {
            text: "2. What evidence did you use?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select all that apply"
        },
        items: [
          {
            value: "admissable evidence 1",
            text: "admissable evidence 1"
          },
          {
            value: "admissable evidence 2",
            text: "admissable evidence 2"
          },
          {
            value: "admissable evidence 3",
            text: "admissable evidence 3"
          },
          {
            value: "admissable evidence 4",
            text: "admissable evidence 4"
          },
          {
            value: "admissable evidence 5",
            text: "admissable evidence 5"
          }
        ]
      }) }}

      <br><br>-->

      <button class="govuk-button" data-module="govuk-button">
        Confirm and continue
      </button>

    </div>
</div>

{% endblock %}