{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

  {% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> 

    {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

    {{ govukDateInput({
      id: "verifiedDOB",
      namePrefix: "verifiedDOB",
      fieldset: {
        legend: {
          text: "What is their date of birth?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      hint: {
        text: "Hint text here, if needed"
      }
    }) }}
    
    <br><br>

    <button type="submit" class="govuk-button" data-module="govuk-button">
      Continue
    </button>

      

    </form>

  </div>
</div>

{% endblock %}
