

{% extends "layouts/main-2.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if (data['close'] == "yes") %}
          {% include './_bar-3.html' %}
        {% elseif (data['scenario']) %}
          {% include './_bar-2.html' %}
        {% else %}
          {% include './_bar.html' %}
        {% endif %}

        {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

        {% if (data['close'] == "yes") %}       
        {% elseif (data['scenario']) %}
          {% set html %}
            <h3 class="govuk-notification-banner__heading">
              Task complete.
            </h3>
          {% endset %}

          {{ govukNotificationBanner({
            html: html,
            type: "success"
          }) }}
        {% elseif data['evidence'] == "no" %}
          <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <p class="govuk-notification-banner__heading">
                Task postponed.
              </p>
            </div>
          </div>
        {% else %}  
        {% endif %}

        {% if (data['close'] == "yes") %}
          
        {% elseif (data['scenario']) %}
          {{ xGovukSecondaryNavigation({
            visuallyHiddenTitle: "Secondary menu",
            items: [{
              text: "Personal",
              href: "record-personal",
              current: true
            }, 
            {
              text: "Contact",
              href: "record-contact"
            }, 
            {
              text: "Award",
              href: "record-award"
            },
            {
              text: "Payment",
              href: "record-payment"
            },
            {
              text: "Full history",
              href: "record-full-history"
            }]
          }) }}
        {% else %}
          {{ xGovukSecondaryNavigation({
            visuallyHiddenTitle: "Secondary menu",
            items: [{
              text: "Personal",
              href: "record-personal",
              current: true
            }, 
            {
              text: "Contact",
              href: "record-contact"
            },
            {
              text: "Full history",
              href: "record-contact"
            }]
          }) }}
        {% endif %}

        <br><br>

        {% if (data['scenario'] or data['close'] == "yes") %}
        
        {% else %}
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive"></span>
              Claimant's date of birth is not verified.<br> 
              {% if data['evidence2'] == "no" %}
                <a href="received-evidence-3" class="govuk-link--no-visited-state">Verify date of birth</a>.
              {% elseif data['evidence'] == "no" %}
                <a href="received-evidence-2" class="govuk-link--no-visited-state">Verify date of birth</a>.
              {% else %}
                <a href="received-evidence" class="govuk-link--no-visited-state">Verify date of birth</a>. 
              {% endif %}
            </strong>
          </div>
        {% endif %}

        {% if (data['close'] == "yes") %}

        {% else %}
          <h2 class="govuk-heading-m">Personal details</h2>

            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="width: 50%" >Full name</th>
                  <td class="govuk-table__cell" style="width: 50%">Sol LeWitt</td>
                  <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="change-name">Change</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">National Insurance number</th>
                  <td class="govuk-table__cell">QQ 12 34 56 X</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Date of birth</th>
                  <td class="govuk-table__cell">22 June 1956</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">State Pension date</th>
                  <td class="govuk-table__cell">01 March 2026</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">State Pension started </th>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Marital status </th>
                    <td class="govuk-table__cell">Married</td>
                    <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href=change-maritalstatus>Change</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Lived or worked abroad </th>
                      <td class="govuk-table__cell">No</td>
                      <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="lived-worked-details">Change</a></td>
                    </tr>
              </tbody>
            </table>

            <a class="govuk-link--no-visited-state govuk-!-font-size-19" href="#">Stop State Pension</a>

            <br><br><br><br>
          {% endif %}

          <a class="govuk-link--no-visited-state govuk-link--no-underline govuk-!-font-size-27" href="task-queue">View task queue</a>
      </div>

      <div class="govuk-grid-column-one-third">


        <h3 class="govuk-heading-m">Personal changes</h3>

        <div class="dwp-timeline">
          <ol class="dwp-timeline__items">
            {% if (data['scenario']) %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">date month time</p>
                <h2 class="dwp-timeline__heading">State Pension awarded</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">date month time</p>
                <h2 class="dwp-timeline__heading">Claimant date of birth verified</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li> 
            {% endif %}
            {% if (data['close'] === 'yes') %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">date month time</p>
                <h2 class="dwp-timeline__heading">Claim closed</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li> 
            {% endif %}
            {% if (data['evidence2'] === 'no') %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">date month time</p>
                <h2 class="dwp-timeline__heading">Task postponed for [BF period]</h2>
                <p class="dwp-timeline__by-line">by System</p>
              </li>
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">date month time</p>
                <h2 class="dwp-timeline__heading">Reminder letter sent</h2>
                <p class="dwp-timeline__by-line">by System</p>
              </li> 
            {% endif %}
            {% if (data['evidence'] === 'no') %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">date month time</p>
                <h2 class="dwp-timeline__heading">Task postponed for [BF period]</h2>
                <p class="dwp-timeline__by-line">by System</p>
              </li>
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">date month time</p>
                <h2 class="dwp-timeline__heading">Reminder letter sent</h2>
                <p class="dwp-timeline__by-line">by System</p>
              </li> 
            {% endif %}
            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">date month time</p>
              <h2 class="dwp-timeline__heading">Claim received</h2>
              <p class="dwp-timeline__by-line">by Online</p>
            </li>
          </ol>
        </div>

        <a class="govuk-link--no-visited-state govuk-!-font-size-19" href="record-full-history">Full history</a>

      </div>
  </main>
</div>

{% endblock %}
