{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

{% include './_bar.html' %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
      })
      }}

      <br><br>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "provide",
        fieldset: {
          legend: {
            text: "What evidence did the claimant provide?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Additional hint text or paragraph text could go here, if needed."
        },
        items: [
          {
            value: "birth",
            text: "Birth certificate"
          },
          {
            value: "passport",
            text: "Passport"
          },
          {
            value: "adoption",
            text: "Adoption certificate"
          },
          {
            value: "driving",
            text: "Photo driving licence"
          },
          {
            value: "registration",
            text: "Certificate of registration of birth"
          },
          {
            value: "order",
            text: "Adoption order"
          }
        ]
      }) }}

      <br><br>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </div>
</div>

{% endblock %}