{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

    {% set html %}
      <p class="govuk-notification-banner__heading">
        This screen will NOT be part of the developed journey. It is to illustrate the different possible routes after agent has confirmed their answers on the previous screen.
      </p>
    {% endset %}

    {{ govukNotificationBanner({
      html: html
    }) }}

    {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
    })
    }}

    <br><br>

    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      name: "scenario",
      fieldset: {
        legend: {
          text: "Which scenario do you want to choose?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      items: [
        {
          value: "award",
          text: "Award State Pension - no further tasks"
        },
        {
          value: "further",
          text: "There are additional tasks that need to be actioned"
        },
        {
          value: "pensionCredit",
          text: "The claimant receives Pension Credit"
        }
      ]
    }) }}

    <br><br>

    <button class="govuk-button" data-module="govuk-button">
      Continue
    </button>

  </div>
</div>

{% endblock %}