{% extends "layouts/main.html" %}

{% block content %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

<form class="form" method="post" action="check-answers-2a">

  {% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-xl">
      Lump sum inheritance
    </h1>

    <br>

  {% set yesLetterHtml %}

    {% from "govuk/components/radios/macro.njk" import govukRadios %}
    {% from "govuk/components/input/macro.njk" import govukInput %}

    <h2 class="govuk-heading-m">Calculate the claimant's option amounts and send letter</h2>

    <p>Use the information below and legacy systems to calculate the claimants options amounts.</p>

    <br>
    
    <h2 class="govuk-heading-m">Claimant</h2>


    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Address</th>
          <td class="govuk-table__cell">55 Main Street
            <br>Guildford
            <br>GU79 6YW</td>
          <td class="govuk-table__cell"></td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Marital status</th>
          <td class="govuk-table__cell">Widowed</td>
          <td class="govuk-table__cell"></td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Date of birth</th>
          <td class="govuk-table__cell">12/12/1955</td>
          <td class="govuk-table__cell"></td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">State Pension date</th>
          <td class="govuk-table__cell">13/07/2020</td>
          <td class="govuk-table__cell"></td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Age when widowed</th>
          <td class="govuk-table__cell">49</td>
          <td class="govuk-table__cell"></td>
        </tr>

      </tbody>
    </table>

    <br><br>

    <h2 class="govuk-heading-m">Late spouse or civil partner</h2>

        <table class="govuk-table">
          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Full name </th>
              <td class="govuk-table__cell">Lilly Umar</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 40%">National Insurance number</th>
              <td class="govuk-table__cell" style="width: 30%">XX123456X</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell" style="text-align: right" style="width: 5%">
                                      <a class="govuk-link" href="nino"></a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Gender</th>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell" style="text-align: right">
                <a class="govuk-link" href="change-gender"></a>
              </td>
            </tr>


            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Date of birth</th>
              <td class="govuk-table__cell">23/06/1957</td>
              <td class="govuk-table__cell"><span class="verified-badge verified">
                <b>Verified</b>
              </span> </td>
              <td class="govuk-table__cell" style="text-align: right">
                <a class="govuk-link" href="change-dob"></a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Date of death</th>
              <td class="govuk-table__cell">12/12/2020</td>
              <td class="govuk-table__cell"><span class="verified-badge verified">
                <b>Verified</b>
              </span> </td>
              <td class="govuk-table__cell" style="text-align: right">
                <a class="govuk-link" href="change-dob"></a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Date of marriage or civil partnership</th>
              <td class="govuk-table__cell">
                13/11/1978
              </td>
              <td class="govuk-table__cell">
                <span class="verified-badge verified">
                    <b>Verified</b>
                </span>
             </td>
              <td class="govuk-table__cell" style="text-align: right">
                <a class="govuk-link" href="dom">
                <span class="govuk-visually-hidden"></span>
               </a>
              </td>
            </tr>

          </tbody>
        </table>

        <br><br>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            The uprating year for the amount is 2023
          </strong>
        </div>

        <br><br>

        {% set yesHtml %}
          {{ govukInput({
            id: "preAmount",
            name: "preAmount",
            label: {
              text: "Enter the amount in pounds and pence",
              classes: "govuk-label--m",
              isPageHeading: false
            },
            prefix: {
              text: "£"
            },
            classes: "govuk-input--width-5",
            hint: {
              text: "For example 123.40"
            },
            spellcheck: false
          }) }}
        {% endset -%}
  
        {{ govukRadios({
          name: "pre2005",
          fieldset: {
            legend: {
              text: "Is there any pre 2005 extra State Pension?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select one option"
          },
          items: [
            {
              value: "no",
              text: "No"
            },
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: yesHtml
              }
            }
          ]
        }) }}

  <br>

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          id: "lsi",
          name: "lsi",
          label: {
            text: "Enter the lump sum inheritance amount in pounds",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
            text: "Hint text could go here."
          },
          prefix: {
            text: "£"
          },
          classes: "govuk-input--width-5",
          spellcheck: false
        }) }}

        <br><br>

        {{ govukInput({
          id: "esp",
          name: "esp",
          label: {
            text: "Enter the inherited extra State Pension amount in pounds",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
            text: "Hint text could go here."
          },
          prefix: {
            text: "£"
          },
          classes: "govuk-input--width-5",
          spellcheck: false
        }) }}

  {% endset -%}

  {% set noLetterHtml %}

  {% from "govuk/components/radios/macro.njk" import govukRadios %}
  {% from "govuk/components/input/macro.njk" import govukInput %}

  {% set taxHtml %}

  {% from "govuk/components/input/macro.njk" import govukInput %}

  {{ govukInput({
    id: "taxRate",
    name: "taxRate",
    label: {
      text: "Enter the claimant's tax rate",
      classes: "govuk-label--m",
      isPageHeading: false
    },
    suffix: {
      text: "%"
    },
    classes: "govuk-input--width-2",
    hint: {
      text: "You can enter 0, 20, 40, or 45"
    },
    spellcheck: false
  }) }}

  {% endset -%}
  
  {% set lsiHtml %}

  {{ govukRadios({
    name: "whichYear",
    fieldset: {
      legend: {
        text: "What tax year does the claimant want to be paid in?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "later",
        text: "Next tax year"
      },
      {
        value: "now",
        text: "This tax year",
        conditional: {
          html: taxHtml
        }
      }
    ]
  }) }}
  
  {% endset -%}

  {{ govukRadios({
    name: "whichOption",
    fieldset: {
      legend: {
        text: "Which option did the claimant choose?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "Select one option"
    },
    items: [
      {
        value: "esp",
        text: "Extra State Pension",
        conditional: {
          html: espHtml
        }
      },
      {
        value: "lsi",
        text: "Lump sum inheritance",
        conditional: {
          html: lsiHtml
        }
      }
    ]
  }) }}

  {% endset -%}

    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      name: "optionsLetter",
      fieldset: {
        legend: {
          text: "Has an options letter been sent to the claimant?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
      {
          value: "yes",
          text: "Yes",
          conditional: {
            html: yesLetterHtml
          }
        },
        {
          value: "no",
          text: "No",
          conditional: {
            html: noLetterHtml
          }
        }
      ]
    }) }}

      <br><br><br>

      {{ govukButton({
        text: "Continue"
      }) }}

  <br><br><br>

  </div>
</div>

{% endblock %}
