{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post" action="check-answers-2a">

  {% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-xl">
      Claimant decision
    </h1>

    <p>Text that explains or sets up expectations for the task could go here.</p>

        <br><br>

        {{ govukRadios({
          name: "whichOption",
          fieldset: {
            legend: {
              text: "1. Which option did the claimant choose?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "lsi",
              text: "Lump sum inheritance"
            },
            {
              value: "esp",
              text: "Extra State Pension"
            }
          ]
        }) }}

        <br><br>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {% set lsi %}

        {{ govukRadios({
          name: "contact",
          fieldset: {
            legend: {
              text: "How would you prefer to be contacted?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select one option"
          },
          items: [
            {
              value: "email",
              text: "Email",
              conditional: {
                html: lsi
              }
            },
            {
              value: "phone",
              text: "Phone",
              conditional: {
                html: phoneHtml
              }
            },
            {
              value: "text",
              text: "Text message",
              conditional: {
                html: textHtml
              }
            }
          ]
        }) }}

        {% endset -%}

        {{ govukRadios({
          name: "contact",
          fieldset: {
            legend: {
              text: "Which option did the claimant choose?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select one option"
          },
          items: [
            {
              value: "email",
              text: "Email",
              conditional: {
                html: emailHtml
              }
            },
            {
              value: "phone",
              text: "Phone",
              conditional: {
                html: phoneHtml
              }
            },
            {
              value: "text",
              text: "Text message",
              conditional: {
                html: textHtml
              }
            }
          ]
        }) }}

        <br><br>

        {{ govukRadios({
          name: "whichYear",
          fieldset: {
            legend: {
              text: "2. What tax year does the claimant want to be paid in?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "now",
              text: "This tax year"
            },
            {
              value: "later",
              text: "Next tax year"
            }
          ]
        }) }}

        <br><br>

        {{ govukRadios({
          name: "taxRate",
          fieldset: {
            legend: {
              text: "3. What is the claimant's tax rate?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "0",
              text: "0%"
            },
            {
              value: "20",
              text: "20%"
            },
            {
              value: "40",
              text: "40%"
            },
            {
              value: "45",
              text: "45%"
            }
          ]
        }) }}

      <br><br><br>

    {{ govukButton({
      text: "Continue"
    }) }}

    <br><br><br>

  </div>
</div>

{% endblock %}
