{% extends "layouts/main.html" %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% block content %}

<form class="form" method="post" action="step-1-complete">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% include './_bar.html' %}

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
      }}

      <br><br>

      <h1 class="govuk-heading-xl">
        Check your answers and send letter
      </h1>

      <br>

      <h2 class="govuk-heading-l">
        1. Check your answers
      </h2>

      <h3 class="govuk-heading-m">Lump sum inheritance</h3>

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Lump sum inheritance amount
          </dt>

          <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
            £{{data['lsi']}}
          </dd>

          <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
            <a class="govuk-link--no-visited-state" href="enter-inherited-esp">Change<span class="govuk-visually-hidden">Inherited extra State Pension amount</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Pre 2005 extra State Pension
          </dt>

          <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
            {% if data['pre2005'] === 'yes' %}
            Yes
            {% else %}
            No
            {% endif %}
          </dd>

          <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
            <a class="govuk-link--no-visited-state" href="enter-inherited-esp">Change<span class="govuk-visually-hidden">Inherited extra State Pension amount</span></a>
          </dd>
        </div>

        {% if data['pre2005'] === 'yes' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Pre 2005 eSP amount
            </dt>

            <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
              £{{data['preAmount']}}
            </dd>

            <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
              <a class="govuk-link--no-visited-state" href="enter-inherited-esp">Change<span class="govuk-visually-hidden">Inherited extra State Pension amount</span></a>
            </dd>
          </div>
        {% endif %}

      </dl>

      <br><br>

      <h3 class="govuk-heading-m">Inherited extra State Pension</h3>

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Extra State Pension
          </dt>

          <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
            £{{ data.basicEsp }}
          </dd>

          <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
            <a class="govuk-link--no-visited-state" href="enter-inherited-esp">Change<span class="govuk-visually-hidden">Inherited extra State Pension amount</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Extra State Pension Additional Pension
          </dt>

          <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
            £{{ data.apAmount }}
          </dd>

          <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
            <a class="govuk-link--no-visited-state" href="enter-inherited-esp">Change<span class="govuk-visually-hidden">Inherited extra State Pension amount</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Extra State Pension Graduated Retirement Benefit
          </dt>

          <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
            £{{ data.grbAmount }}
          </dd>

          <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
            <a class="govuk-link--no-visited-state" href="enter-inherited-esp">Change<span class="govuk-visually-hidden">Inherited extra State Pension amount</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Total inherited extra State Pension
          </dt>

          <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
            <b>£{{ (data.basicEsp | float + data.apAmount | float + data.grbAmount | float).toFixed(2) }}</b>
          </dd>

          <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
            <a class="govuk-link--no-visited-state" href="enter-inherited-esp"><span class="govuk-visually-hidden">Inherited extra State Pension amount</span></a>
          </dd>
        </div>

      </dl>

      <br><br>

      <h2 class="govuk-heading-l">
        2. Upload documents into DRS
      </h2>

      <p>Upload a copy of the timeline calculation.</p>

      <br><br>

      <h2 class="govuk-heading-l">
        3. Confirm
      </h2>

      <p>A letter will be automatically sent to the claimant to tell them their options.</p>

      <br><br><br>

      
        {{ govukButton({
          text: "Confirm and send letter"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
