{% extends "layouts/main-2.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include './_bar.html' %}

        {{ xGovukSecondaryNavigation({
          visuallyHiddenTitle: "Secondary menu",
          items: [{
            text: "Personal",
            href: "record-personal",
            current: false
          }, 
          {
            text: "Contact",
            href: "record-contact",
            current: true
          }, 
          {
            text: "Tasks",
            href: "record-tasks",
            current: false
          },
          {
            text: "Award",
            href: "record-award",
            current: false
          },
          {
            text: "Payment",
            href: "record-payment",
            current: false
          },
          {
            text: "Full history",
            href: "record-full-history",
            current: false
          }]
        }) }}

        <br><br>

        <h2 class="govuk-heading-m">Personal details</h2>

          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 50%" >Address</th>
                <td class="govuk-table__cell" style="width: 50%">
                123 Fake Street<br>
                Lawndon<br>
                N0T R34L
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">     </a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Correspondance address</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">   </a></td></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Home phone number</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">   </a></td></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Work phone number</th>
                <td class="govuk-table__cell"> </td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">   </a></td></td>
              </tr>
              <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Mobile phone number</th>
                  <td class="govuk-table__cell">01234567891</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">      </a></td></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Email address</th>
                    <td class="govuk-table__cell">citizen@whoopie.fake</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="lived-worked-details">       </a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Alternative format for letters</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">   </a></td></td>
                  </tr>

            </tbody>
          </table>
      </div>

      <div class="govuk-grid-column-one-third">

      {% from "timeline/macro.njk" import dwpTimeline %}

      <h2 class="govuk-heading-m">Personal changes</h2>
      {{
          dwpTimeline({ 
              items: [
              {
                  title:  "Claim received",
                  byline:  "online",
                  date:  "11 May 2024 at 7:14pm"
              }
          ]
          })
      }}

    </div>
  </main>
</div>

{% endblock %}
