{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<form method="post">

  {% include './_bar.html' %}

  {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}

<br><br>

<h1 class="govuk-heading-xl">Payment tax year</h1>

<p>Ask the claimant when they want to be paid the lump sum.</p>

<br>

{{ govukRadios({
  name: "whichYear",
  fieldset: {
    legend: {
      text: "Which tax year do you want to be paid in?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "now",
      text: "2024 to 2025 tax year"
    },
    {
      value: "later",
      text: "2025 to 2026 tax year"
    }
  ]
}) }}

<br><br><br>

    <button class="govuk-button" data-module="govuk-button">
      Continue
    </button>

   <br><br><br><br><br>

  </div>
</div>


{% endblock %}
