{% extends "layouts/main.html" %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% include './_bar.html' %}

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
      }}

      <br><br>

      <h1 class="govuk-heading-xl">
        Finalise PSOD adjustment
      </h1>

      <p>Supporting paragraph about next steps could go here.</p>

      <h2 class="govuk-heading-l">
        1. Check your answers
      </h2>

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            New State Pension
          </dt>

          <dd class="govuk-summary-list__value">
            £123.45
          </dd>

          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> transaction type</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Protected payment
          </dt>

          <dd class="govuk-summary-list__value">
            £0.00
          </dd>

          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> transaction type</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Extra State Pension
          </dt>

          <dd class="govuk-summary-list__value">
            £0.00
          </dd>

          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> date of birth</span></a>
          </dd>
        </div>

      </dl>

      <br><br>

      <h2 class="govuk-heading-l">
        2. Upload documents into DRS
      </h2>

      <p>Supporting text about what docs you need to upload could go here.</p>

      <br><br>

      <h2 class="govuk-heading-l">
        3. Confirm and send letter
      </h2>

      <p>A weekly State Pension amount of <b>£123.45</b> will apply from <b>16 December 2024</b>.</p>

      <p>An award letter will be sent to the claimant.</p>

      <br><br><br>

      <form action="/edge-cases/test-journey-2/record-tasks-3" method="post">

        {{ govukButton({
          text: "Confirm and send letter"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
