{% extends "layouts/main.html" %}

{% block content %}

<form method="post">

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    {% include './_bar.html' %}

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.go(-1)"
            }) }}

    <br><br>

    <h2 class="govuk-heading-l">Lived or worked abroad</h2>

    <br>

    <h2 class="govuk-heading-m">ANZaC</h2>

    <hr class="govuk-section-break govuk-section-break--visible">
    
    <div class="govuk-!-padding-bottom-6"></div>
          
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive"></span>
        ANZaC check needed to work out if we can increase their award. <a href="../../international-task/eea-cfn901-iteration-1/cfn-task.html" class="govuk-link">Check ANZaC information</a>.
      </strong>
    </div>
                               
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Canada</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Lived
            </dt>
            <dd class="govuk-summary-list__value">
              Dec 1997 to Dec 1998 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Worked
            </dt>
            <dd class="govuk-summary-list__value">
              Dec 1997 to Dec 1998 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Social security number
            </dt>
            <dd class="govuk-summary-list__value">
              3653 386
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              </a>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <br><br>
          
    <h2 class="govuk-heading-m">EEA</h2>

    <hr class="govuk-section-break govuk-section-break--visible">

    <div class="govuk-!-padding-bottom-6"></div>
          
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive"></span>
        Information needed from EEA countries to check if we can increase their award. <a href="../../international-task/eea-cfn901-iteration-1/cfn-task.html" class="govuk-link">Request EEA information</a>.
      </strong>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Germany</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Lived
            </dt>
            <dd class="govuk-summary-list__value">
              Jun 1988 to Dec 1990
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Worked
            </dt>
            <dd class="govuk-summary-list__value">
              Jun 1988 to Apr 1990
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              </a>
            </dd>
          </div>
        </dl>
      </div>
    </div>
                               
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Germany</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Lived
            </dt>
            <dd class="govuk-summary-list__value">
              May 1990 to Dec 1991 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Worked
            </dt>
            <dd class="govuk-summary-list__value">
              May 1990 to Dec 1991
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Social security number
            </dt>
            <dd class="govuk-summary-list__value">
              25 18735476 84
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              </a>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Germany</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Lived
            </dt>
            <dd class="govuk-summary-list__value">
              Jun 1992 to Dec 1996
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Worked
            </dt>
            <dd class="govuk-summary-list__value">
              Jun 1992 to Nov 1996
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              </a>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <br><br>
          
    <h2 class="govuk-heading-m">Non agreement countries</h2>

    <hr class="govuk-section-break govuk-section-break--visible">

    <div class="govuk-!-padding-bottom-6"></div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">China</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Lived
            </dt>
            <dd class="govuk-summary-list__value">
              Jul 2006 to Sept 2009
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Worked
            </dt>
            <dd class="govuk-summary-list__value">
              Sept 2006 to Sept 2009
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              </a>
            </dd>
          </div>
        </dl>
      </div>
    </div>
                               
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Vietnam</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Lived
            </dt>
            <dd class="govuk-summary-list__value">
              Apr 2002 to Jun 2006 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Worked
            </dt>
            <dd class="govuk-summary-list__value">
              Apr 2002 to May 2006
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              </a>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <br><br>

    <h2 class="govuk-heading-m">RA</h2>

    <hr class="govuk-section-break govuk-section-break--visible">
    
    <div class="govuk-!-padding-bottom-6"></div>
          
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive"></span>
         Further information needed from claimant. <br> <a href="../../international-task/eea-cfn901-iteration-1/cfn-task.html" class="govuk-link">Send RA enquiry letters</a>.
      </strong>
    </div>
                               
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">United States</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Lived
            </dt>
            <dd class="govuk-summary-list__value">
              Jan 2000 to Mar 2002
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Worked
            </dt>
            <dd class="govuk-summary-list__value">
              Jan 2000 to Mar 2002
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Social security number
            </dt>
            <dd class="govuk-summary-list__value">
              123 45 6789
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              </a>
            </dd>
          </div>
        </dl>
      </div>
    </div>

  </div>

</div>
      
<div class="govuk-grid-row">
    
  <div class="govuk-grid-column-one-third">

    <h1 class="govuk-heading-m">Lived or worked abroad changes</h1>
      <div class="dwp-timeline">
        <ol class="dwp-timeline__items">
          <li class="dwp-timeline__item">
            <p class="dwp-timeline__datetime">13 January 2026 at 1:00am</p>
            <h2 class="dwp-timeline__heading">Claim received</h2>
            <p class="dwp-timeline__by-line">by System</p>
          </li>
        </ol>
      </div>

    </div>

</div>

{% endblock %}
