{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_person.html' %}

    {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}

    <h1 class="govuk-heading-l">
      Check details of the person dealing with Leon's estate
    </h1>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: data['representativeName']
          },
          actions: {
            items: [
              {
                href: "death-representative-name",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Solicitor's reference"
          },
          value: {
            text: data['solicitorsReference'] if data['hasSolicitorsReference'] === "yes"
          },
          actions: {
            items: [
              {
                href: "death-representative-reference",
                text: "Change" if data['hasSolicitorsReference'] === "yes" else "Add",
                visuallyHiddenText: "solicior's reference"
              }
            ]
          }
        },
        {
          key: {
            text: "Phone number"
          },
          value: {
            text: data['representativePhone'] if data['hasRepresentativePhone'] === "yes"
          },
          actions: {
            items: [
              {
                href: "death-representative-phone",
                text: "Change" if data['hasRepresentativePhone'] === "yes" else "Add",
                visuallyHiddenText: "phone"
              }
            ]
          }
        },
        {
          key: {
            text: "Address"
          },
          value: {
            html: "1 High Street<br />
                   Newcastle upon Tyne<br />
                   NE1 4UR"
          },
          actions: {
            items: [
              {
                href: "death-representative-address",
                text: "Change",
                visuallyHiddenText: "address"
              }
            ]
          }
        }
      ]
    }) }}

    <form class="form" method="post" action="/dap/death-representative-cya">
      {{ govukButton({
        text: "Confirm"
      }) }}
    </form>

  </div>
</div>

{% endblock %}
