{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_person.html' %}

    {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}

    <h1 class="govuk-heading-l">
      Check payee bank or building society account details
    </h1>

    <p style="text-align: right; margin-bottom: 0;"><a href="death-payee-bank">Change</a></p>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Account holder name"
          },
          value: {
            text: data['accountHolderName']
          }
        },
        {
          key: {
            text: "Payment reference"
          },
          value: {
            text: data['solicitorsReference']
          }
        } if data['hasSolicitorsReference'] === "yes",
        {
          key: {
            text: "Sort code"
          },
          value: {
            text: data['accountHolderSortCode']
          }
        },
        {
          key: {
            text: "Account number"
          },
          value: {
            text: data['accountHolderAccountNumber']
          }
        },
        {
          key: {
            text: "Building society roll number"
          },
          value: {
            text: data['accountHolderRollNumber']
          }
        }
      ]
    }) }}

    <form class="form" method="post" action="/dap/death-payee-bank-cya">
      {{ govukButton({
        text: "Confirm"
      }) }}
    </form>

  </div>
</div>

{% endblock %}
