{% extends "layouts/main-2.html" %}

{% block content %}


{% set historicPaymentAdded = data['historicPaymentAdded'] === "yes" %}

{% if historicPaymentAdded %}
  {% set bannerMessage = 'Historic payment added' %}
{% endif %}

{% set bannerHtml %}
  <h3 class="govuk-notification-banner__heading">
    {{ bannerMessage }}
  </h3>
{% endset %}

{% if data['showBanner'] === "yes" %}
  {{ govukNotificationBanner({
    html: bannerHtml,
    type: "success"
  }) }}
{% endif %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_bar.html' %}

    {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
    <h1 class="govuk-heading-l">Payment details</h1>

    {% set startDateDay = data['startDate-day'] %}
    {% set startDateMonth = data['startDate-month'] | monthName("truncate") %}
    {% set startDateYear = data['startDate-year']%}
    {% set endDateDay = data['endDate-day'] %}
    {% set endDateMonth = data['endDate-month'] | monthName("truncate") %}
    {% set endDateYear = data['endDate-year']%}
    {% set sentDateDay = data['sentDate-day'] %}
    {% set sentDateMonth = data['sentDate-month'] | monthName("truncate") %}
    {% set sentDateYear = data['sentDate-year']%}
    {% set paidDateDay = data['paidDate-day'] %}
    {% set paidDateMonth = data['paidDate-month'] | monthName("truncate") %}
    {% set paidDateYear = data['paidDate-year']%}

    {{ govukSummaryList({
      rows: [
        {
          key: { text: "Total" },
          value: {
            text: "£" + (((data['paymentAmount'] or 0) | float).toFixed(2)),
            classes: "govuk-!-font-weight-bold"
          }
        },
        {
          key: { text: "State pension" },
          value: { text: "£200" }
        },
        {
          key: { text: "Period" },
          value: { text: startDateDay + " " + startDateMonth + " " + startDateYear + " to " + endDateDay + " " + endDateMonth + " " + endDateYear }
        },
        {
          key: { text: "Status" },
          value: { text: "Sent" },
          actions: {
            items: [
              {
                href: "#",
                text: "Recall payment"
              }
            ]
          }
        }
      ]
    }) }}

    <br>

    <h2 class="govuk-heading-m">Account the payment was sent to</h2>

    <br>


    {{ govukSummaryList({
      rows: [
        {
          key: { text: "Account holder" },
          value: { text: "Leon Hibbert" }
        },
        {
          key: { text: "Sort code" },
          value: { text: "123456" }
        },
        {
          key: { text: "Account number" },
          value: { text: "12345678" }
        }
      ]
    }) }}

    <p><a href="#">Mark payment as fraudulent</a></p>

  </div>


  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Status changes</h2>
    {% include './_timeline--payment.html' %}
  </div>

</div>
</div>
</main>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
