{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_person.html' %}

    {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}

    <h1 class="govuk-heading-l">
      Refer an overpayment to the debt management service
    </h1>

    <p>This is because the claimant has left prison.</p>
    <p>Use these details to refer the overpayment to debt management service through the e-referral tool.</p>

    <h2 class="govuk-heading-m">Claimant</h2>
    {{ govukSummaryList({
      rows: [
        {
          key: { text: "National Insurance number" },
          value: { text: "QQ 12 34 56 X" }
        },
        {
          key: { text: "Full name" },
          value: { text: "Leon Hibbert" }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">Overpayment details</h2>
    {{ govukSummaryList({
      rows: [
        {
          key: { text: "Period" },
          value: { text: "1 Dec 2025 to 2 Jan 2026" }
        },
        {
          key: { text: "Weekly amount" },
          value: { text: "£156.67" }
        },
        {
          key: { text: "Total overpayment" },
          value: { text: "£738.59" }
        }
      ]
    }) }}


    <form class="form" method="post" action="/prison-conviction/prison-overpayment-info">
      {{ govukButton({
        text: "Confirm these details have been submitted through the e-referral tool"
      }) }}
    </form>

  </div>
</div>

{% endblock %}
