{% extends "layouts/main-2.html" %}

{% block content %}


{% set historicPaymentAdded = data['historicPaymentAdded'] === "yes" %}

{% if historicPaymentAdded %}
  {% set bannerMessage = 'Historic payment added' %}
{% endif %}

{% set bannerHtml %}
  <h3 class="govuk-notification-banner__heading">
    {{ bannerMessage }}
  </h3>
{% endset %}

{% if data['showBanner'] === "yes" %}
  {{ govukNotificationBanner({
    html: bannerHtml,
    type: "success"
  }) }}
{% endif %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data.hmrcQuestion3 === 'yes' or data.hmrcQuestion2 === 'yes' or data.hmrcQuestion === 'yes' %}
      {% include './_bar-2.html' %}

    {% else %}

      {% include './_bar.html' %}

    {% endif %}

    {{ xGovukSecondaryNavigation({
      visuallyHiddenTitle: "Secondary menu",
      items: [{
        text: "Personal",
        href: "record-personal"
      },
      {
        text: "Contact",
        href: "record-contact"
      },
      {
        text: "Award",
        href: "record-award"
      },
      {
        text: "Payment",
        href: "record-payment",
        current: true
      },
      {
        text: "Tasks",
        href: "record-tasks"
      },
      {
        text: "Full history",
        href: "record-full-history"
      }]
    }) }}

    <br>

    <h2 class="govuk-heading-m">Bank or building society account details</h2>

    <p style="text-align: right; margin-bottom: 0; padding-bottom: .5em; border-bottom: 1px solid #b1b4b6;"><a href="#">Change</a></p>

    {{ govukSummaryList({
      rows: [
        {
          key: { text: "Account holder" },
          value: { text: "Leon Hibbert" }
        },
        {
          key: { text: "Sort code" },
          value: { text: "123456" }
        },
        {
          key: { text: "Account number" },
          value: { text: "12345678" }
        }
      ]
    }) }}

    <br>

    {{ govukTable({
      caption: "Payment details",
      captionClasses: "govuk-table__caption--m",
      head: [
        { text: "Sequence" },
        { text: "Date" },
        { text: "Amount" }
      ],
      rows: [
        [
          { text: "First payment" },
          { text: "Thursday 11 Apr 2019" },
          { text: "£203.57" }
        ],
        [
          { text: "Next payment" },
          { text: "Tuesday 14 May 2019" },
          { text: "£203.57" }
        ]
      ]
    }) }}

    {{ govukSummaryList({
      rows: [
        {
          key: { text: "Payment frequency" },
          value: { text: "Every 4 weeks" },
          actions: {
            items: [
              {
                href: "#",
                text: "Change"
              }
            ]
          }
        }
      ]
    }) }}


  </div>


  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Payment changes</h2>
    <style>
      .dwp-timeline__item {
        display: flex;
        flex-direction: column;
      }
      .dwp-timeline__heading,
      .dwp-timeline__by-line,
      .dwp-timeline__datetime {
        font-size: 19px;
        line-height: 25px;
      }
      .dwp-timeline__heading {
        order: 1;
        margin-bottom: 0;
      }
      .dwp-timeline__by-line {
        order: 2;
        margin-bottom: 0;
      }
      .dwp-timeline__datetime {
        order: 4;
        color: #505a5f;
      }
      .dwp-timeline__link {
        order: 3;
      }
    </style>
    {{ dwpTimeline({
      items: [
        {
          title: "No changes made",
          byline: "System",
          date: "Today"
        }
      ]
    }) }}
    <script>
      document.querySelectorAll('.dwp-timeline__by-line')
      .forEach(element => {
        element.textContent = element.textContent.replace('by ', '');
      });
    </script>

  </div>

  <div class="govuk-grid-column-full">
    <br>
    <h2 class="govuk-heading-m">Payment history</h2>

    {% set startDateDay = data['startDate-day'] %}
    {% set startDateMonth = data['startDate-month'] | monthName("truncate") %}
    {% set startDateYear = data['startDate-year']%}
    {% set endDateDay = data['endDate-day'] %}
    {% set endDateMonth = data['endDate-month'] | monthName("truncate") %}
    {% set endDateYear = data['endDate-year']%}
    {% set sentDateDay = data['sentDate-day'] %}
    {% set sentDateMonth = data['sentDate-month'] | monthName("truncate") %}
    {% set sentDateYear = data['sentDate-year']%}
    {% set paidDateDay = data['paidDate-day'] %}
    {% set paidDateMonth = data['paidDate-month'] | monthName("truncate") %}
    {% set paidDateYear = data['paidDate-year']%}

    <p style="text-align: right; margin-top: -2.5em;"><a href="#">Record a manual payment</a></p>

    {{ govukTable({
      caption: "Payment history",
      captionClasses: "govuk-visually-hidden",
      head: [
        { text: "Payment date" },
        { text: "Period" },
        { text: "Amount" },
        { text: "Status" },
        { text: "" }
      ],
      rows: [
        [
          { text: "28 May 2025" },
          { text: "28 May 2025 to 3 Jun 2026" },
          { text: "£203.57" },
          { text: "Sent" },
          { html: '
            <a
              class="govuk-link govuk-link--no-visited-state"
              href="./payment">
              Details
            </a>
          ' }
        ],
        [
          { text: sentDateDay + " " + sentDateMonth + " " + sentDateYear },
          { text: startDateDay + " " + startDateMonth + " " + startDateYear + " to " + endDateDay + " " + endDateMonth + " " + endDateYear },
          { text: "£" + (((data['paymentAmount'] or 0) | float).toFixed(2)) },
          { text: "Paid" },
          { html: '
            <a
              class="govuk-link govuk-link--no-visited-state"
              href="./historic-payment">
              Details
            </a>
          ' }
        ] if historicPaymentAdded
      ]
    }) }}

    <br><br><br>

  </div>


</div>
</div>
</main>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
