{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      {% include './_bar.html' %}

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-xl">Claimant choice</h1>

    <p>Find out if the claimant wants to choose extra State Pension (higher/increased payments) or a lump sum payment. Record this on the customer choice proforma.</p>

    <br>

    {{ govukRadios({
      name: "whichOption",
      fieldset: {
        legend: {
          text: "How do you want to inherit your partner's deferred State Pension?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "Select one option"
      },
      items: [
        {
          value: "esp",
          text: "Extra State Pension (higher payments)"
        },
        {
          value: "lsi",
          text: "Lump sum payment"
        }
      ]
    }) }}

    <br><br><br>

    <button class="govuk-button" data-module="govuk-button">
      Continue
    </button>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <p class="govuk-body">
      View an <a href="claimant-decision-1" class="govuk-link--no-visited-state">alternative journey for this step</a>.
    </p>

  </div>
</div>


{% endblock %}
