{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<form method="post" action="get-a-task-2">

  {% include './_bar.html' %}

  {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}

<br><br>

  <h1 class="govuk-heading-xl">Award calculated</h1>

  <table class="govuk-table">
        
    <tbody class="govuk-table__body">

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">State Pension award</th>
        <td class="govuk-table__cell">£132.88 per week</td>
      </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">From</th>
        <td class="govuk-table__cell">19 March 2025</td>
      </tr>

    </tbody>

  </table>

  <br>

  <div class="govuk-inset-text">
    This will automatically pay any arrears and send an award letter to the claimant.
  </div>  
  
   <br><br><br>

    <button class="govuk-button" data-module="govuk-button">
      End task
    </button>

   <br><br><br><br><br>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    
    <br>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b>#<br>
        <b>Notes:</b> None <br>
      </div>
    </details>


  </div>

</div>

{% endblock %}
