{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include './_bar.html' %}

        <h1 class="govuk-heading-xl">Cannot get dates</h1>

        <p class="govuk-body">This may be because either:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the claimant could not answer your questions</li>
          <li>you could not reach the claimant by phone</li>
        </ul>

        <p>A notification will be automatically sent to the claimant asking them to call.</p>

        <form method="post" action="get-a-task-2">
          <br>
          <button class="govuk-button" data-module="govuk-button">
            End task
          </button>

        </div>

      </div>

    </div>


      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
