{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './_header-nav-tasks.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

        {% set html %}
          <h3 class="govuk-notification-banner__heading">
            Task complete.
          </h3>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: "success"
        }) }}

      <br>
      
        <h1 class="govuk-heading-xl">Tasks</h1>

        <form method="post">

          <nav class="navigation-secondary">
              <ul>
                <li>
                  <a class="active" href="get-a-task-claims">New claims</a>
                </li>

                <li>
                  <a href="get-a-task-award">Award changes</a>
                </li>

                <li>
                  <a href="get-a-task-alt">Alternative formats</a>
                </li>

                <li>
                  <a href="get-a-task-bereavement">Bereavement</a>
                </li>

                <li>
                  <a href="get-a-task">International</a>
                </li>

                <li>
                  <a href="get-a-task-other">Other</a>
                </li>

              </ul>
            </nav>
            <br>
            <br>


</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
              <h1 class="govuk-heading-l">New claims</h1>
  </div>
  </div>



  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-m">Additional security
    <p class="govuk-body-l"><a href="" class="govuk-link--no-visited-state"><b>Get next task</b></a></p></h1>

  </div>
  <div class="govuk-grid-column-one-quarter">
        <h3 class="govuk-heading-l">103
          <p class="govuk-body govuk-!-font-size-24">total tasks</p>
        </h3>
  </div>
  <div class="govuk-grid-column-one-quarter">
        <h3 class="govuk-heading-l">88
          <p class="govuk-body govuk-!-font-size-24">tasks ready to work</p>
        </h3>
  </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
  <br>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-m">Prison dates
    <p class="govuk-body-l"><a href="paper-prison-task-details" class="govuk-link--no-visited-state"><b>Get next task</b></a></p></h1>
  </div>


  <div class="govuk-grid-column-one-quarter">
        <h3 class="govuk-heading-l">16
          <p class="govuk-body govuk-!-font-size-24">total tasks</p>
        </h3>
  </div>
  <div class="govuk-grid-column-one-quarter">
        <h3 class="govuk-heading-l">7
          <p class="govuk-body govuk-!-font-size-24">tasks ready to work</p>
        </h3>
  </div>

</div>

<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
<br>




<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
  <h1 class="govuk-heading-m">Post SPa
  <p class="govuk-body-l"><a href="#" class="govuk-link"><b>Get next task</b></a></p></h1>

</div>
<div class="govuk-grid-column-one-quarter">
      <h3 class="govuk-heading-l">98
        <p class="govuk-body govuk-!-font-size-24">total tasks</p>
      </h3>
</div>
<div class="govuk-grid-column-one-quarter">
      <h3 class="govuk-heading-l">90
        <p class="govuk-body govuk-!-font-size-24">tasks ready to work</p>
      </h3>
</div>
</div>


  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
  <br>


  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-m">Widows
    <p class="govuk-body-l"><a href="#" class="govuk-link"><b>Get next task</b></a></p></h1>
  </div>

  <div class="govuk-grid-column-one-quarter">
        <h3 class="govuk-heading-l">209
          <p class="govuk-body govuk-!-font-size-24">total tasks</p>
        </h3>
  </div>
  <div class="govuk-grid-column-one-quarter">
        <h3 class="govuk-heading-l">182
          <p class="govuk-body govuk-!-font-size-24">tasks ready to work</p>
        </h3>
  </div>

</div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
      <b>Notes</b>
      </span>
    </summary>
    <div class="govuk-details__text">
      The results of this task can be found on the <a href="record-personal" class="govuk-link">citizen's record</a>.
    </div>
  </details>

    </div>


      {% endblock %}

      {% block content %}

      {% endblock %}
