{% extends "layouts/main-2.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if data['prison-left-day'] or data['prison-left-day-2'] %}

          {% include './_bar2.html' %}

        {% else %}

          {% include './_bar.html' %}

        {% endif %}

        <br>

        {% if data['prison-left-day'] or data['prison-left-day-2'] %}

        {% else %}

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive"></span>
            Waiting for the claimant's prison dates.<br> <a href="paper-prison-task-record" class="govuk-link govuk-link--no-visited-state">Enter dates</a>
          </strong>
        </div>

        <br>

        {% endif %}

        {% if data['prison-left-day'] or data['prison-left-day-2'] %}

          {{ xGovukSecondaryNavigation({
            visuallyHiddenTitle: "Secondary menu",
            items: [{
              text: "Personal",
              href: "record-personal"
            }, 
            {
              text: "Contact",
              href: "record-contact",
              current: true
            }, 
            {
              text: "Tasks",
              href: "record-tasks"
            },
            {
              text: "Award",
              href: "record-award"
            },
            {
              text: "Payment",
              href: "record-payment"
            },
            {
              text: "Full history",
              href: "record-full-history"
            }]
          }) }}

          {% else %}

          {{ xGovukSecondaryNavigation({
            visuallyHiddenTitle: "Secondary menu",
            items: [{
              text: "Personal",
              href: "record-personal"
            }, 
            {
              text: "Contact",
              href: "record-contact",
              current: true
            }, 
            {
              text: "Tasks",
              href: "record-tasks"
            }]
          }) }}

        {% endif %}

        <br><br>

        <h2 class="govuk-heading-m">Personal details</h2>

          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 50%" >Address</th>
                <td class="govuk-table__cell" style="width: 50%">
                123 Fake Street<br>
                Lawndon<br>
                N0T R34L
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">     </a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Correspondance address</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">   </a></td></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Home phone number</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">   </a></td></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Work phone number</th>
                <td class="govuk-table__cell"> </td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">   </a></td></td>
              </tr>
              <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Mobile phone number</th>
                  <td class="govuk-table__cell">01234567891</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">      </a></td></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Email address</th>
                    <td class="govuk-table__cell">citizen@whoopie.fake</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="lived-worked-details">       </a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Alternative format for letters</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">   </a></td></td>
                  </tr>

            </tbody>
          </table>
      </div>

      <div class="govuk-grid-column-one-third">

      <h3 class="govuk-heading-m">Personal changes</h3>

      <div class="dwp-timeline">
        <ol class="dwp-timeline__items">

          {% if data['prison-left-day-2'] %}

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">24 Jan 2025 at 2:18pm</p>
              <h2 class="dwp-timeline__heading">State Pension awarded</h2>
              <p class="dwp-timeline__by-line">by Agent</p>
            </li>

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">24 Jan 2025 at 2:16pm</p>
              <h2 class="dwp-timeline__heading">Prison dates added</h2>
              <p class="dwp-timeline__by-line">by Agent</p>
              <a href="record-prison-details-2" class="dwp-timeline__link">Details<span class="govuk-visually-hidden">of prison dates added</span></a>
            </li>

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">15 Jan 2025 at 4:01pm</p>
              <h2 class="dwp-timeline__heading">Cannot get prison dates. Notification sent to claimant</h2>
              <p class="dwp-timeline__by-line">by Agent</p>
            </li>
          
          {% elseif data['prison-left-day'] %}

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">15 Jan 2025 at 4:04pm</p>
              <h2 class="dwp-timeline__heading">State Pension awarded</h2>
              <p class="dwp-timeline__by-line">by Agent</p>
            </li>

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">15 Jan 2025 at 4:01pm</p>
              <h2 class="dwp-timeline__heading">Prison dates added</h2>
              <p class="dwp-timeline__by-line">by Agent</p>
              <a href="record-prison-details" class="dwp-timeline__link">Details<span class="govuk-visually-hidden">of prison dates added</span></a>
            </li>

          {% else %}

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">15 Jan 2025 at 4:01pm</p>
              <h2 class="dwp-timeline__heading">Cannot get prison dates. Notification sent to claimant</h2>
              <p class="dwp-timeline__by-line">by Agent</p>
            </li>

          {% endif %}

          <li class="dwp-timeline__item">
            <p class="dwp-timeline__datetime">13 Jan 2025 at 10:22am</p>
            <h2 class="dwp-timeline__heading">Paper claim received</h2>
            <p class="dwp-timeline__by-line">by Agent</p>
          </li>

        </ol>
      </div>
  
      </div>

    </div>
  </main>
</div>

{% endblock %}
