

{% extends "layouts/main-2.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        {% if (data['needDates'] == 'no' or data['foundGuilty'] == 'no') or data['prison-left-day'] or data['prison-left-day-2'] %}

          {% include './_bar2.html' %}

        {% else %}

          {% include './_bar.html' %}

        {% endif %}

        <br>

        {% if (data['needDates'] == 'no' or data['foundGuilty'] == 'no') or data['prison-left-day'] or data['prison-left-day-2']%}

          {{ xGovukSecondaryNavigation({
            visuallyHiddenTitle: "Secondary menu",
            items: [{
              text: "Personal",
              href: "record-personal",
              current: true
            }, 
            {
              text: "Contact",
              href: "record-contact"
            }, 
            {
              text: "Award",
              href: "record-award"
            },
            {
              text: "Payment",
              href: "record-payment"
            },
            {
              text: "Tasks",
              href: "record-tasks"
            },
            {
              text: "Full history",
              href: "record-full-history"
            }]
          }) }}

          <br><br>

          {% else %}

          {{ xGovukSecondaryNavigation({
            visuallyHiddenTitle: "Secondary menu",
            items: [{
              text: "Personal",
              href: "record-personal",
              current: true
            }, 
            {
              text: "Contact",
              href: "record-contact"
            }, 
            {
              text: "Tasks",
              href: "record-tasks"
            }]
          }) }}

        {% endif %}

        {% if (data['needDates'] == 'no' or data['foundGuilty'] == 'no') or data['prison-left-day'] or data['prison-left-day-2']%}

        {% else %}

        <br><br>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive"></span>
            Waiting for prison information from claimant.
            <br> <a href="need-dates" class="govuk-link--no-visited-state">Record information</a>.
          </strong>
        </div>

        {% endif %}

        <h2 class="govuk-heading-m">Personal details</h2>

          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 50%" >Full name</th>
                <td class="govuk-table__cell" style="width: 50%">Lill Olmos</td>
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="change-name">Change</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">National Insurance number</th>
                <td class="govuk-table__cell">QQ 12 34 56 X</td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date of birth</th>
                <td class="govuk-table__cell">12 January 1966</td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">State Pension date </th>
                <td class="govuk-table__cell">10 January 2025 </td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">State Pension started </th>
                <td class="govuk-table__cell">24 January 2025 </td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Marital status </th>
                  <td class="govuk-table__cell">Divorced</td>
                  <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href=change-maritalstatus>Change</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Lived or worked abroad </th>
                    <td class="govuk-table__cell">No</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="lived-worked-details">
                        <!--Details-->
                      </a></td>
                  </tr>

            </tbody>
          </table>

          <a class="govuk-link--no-visited-state govuk-!-font-size-19" href="#">Stop State Pension</a>
      </div>

      <div class="govuk-grid-column-one-third">


      <h3 class="govuk-heading-m">Personal changes</h3>

      <div class="dwp-timeline">
        <ol class="dwp-timeline__items">

          {% if data['needDates'] == 'cannot' and data['prison-entered-day'] %}

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">24 Jan 2025 at 2:18pm</p>
              <h2 class="dwp-timeline__heading">State Pension awarded</h2>
              <p class="dwp-timeline__by-line">by Agent</p>
            </li>

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">24 Jan 2025 at 2:16pm</p>
              <h2 class="dwp-timeline__heading">Prison dates added</h2>
              <p class="dwp-timeline__by-line">by Agent</p>
              <a href="record-prison-details" class="dwp-timeline__link">Details<span class="govuk-visually-hidden">of prison dates added</span></a>
            </li>

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">15 Jan 2025 at 4:01pm</p>
              <h2 class="dwp-timeline__heading">Cannot get prison information. Notification send to claimant</h2>
              <p class="dwp-timeline__by-line">by Agent</p>
            </li>

          {% elseif data['needDates'] == 'cannot' and data['foundGuilty'] == 'no' %}

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">24 Jan 2025 at 2:18pm</p>
              <h2 class="dwp-timeline__heading">State Pension awarded</h2>
              <p class="dwp-timeline__by-line">by Agent</p>
            </li>

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">24 Jan 2025 at 2:16pm</p>
              <h2 class="dwp-timeline__heading">Prison considered. No further action needed</h2>
              <p class="dwp-timeline__by-line">by Agent</p>
            </li>

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">15 Jan 2025 at 4:01pm</p>
              <h2 class="dwp-timeline__heading">Cannot get prison information. Notification send to claimant</h2>
              <p class="dwp-timeline__by-line">by Agent</p>
            </li>
          
          {% elseif data['prison-left-day'] %}

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">15 Jan 2025 at 4:04pm</p>
              <h2 class="dwp-timeline__heading">State Pension awarded</h2>
              <p class="dwp-timeline__by-line">by Agent</p>
            </li>

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">15 Jan 2025 at 4:01pm</p>
              <h2 class="dwp-timeline__heading">Prison dates added</h2>
              <p class="dwp-timeline__by-line">by Agent</p>
              <a href="record-prison-details" class="dwp-timeline__link">Details<span class="govuk-visually-hidden">of prison dates added</span></a>
            </li>

          {% elseif data['needDates'] == 'no' or data['foundGuilty'] == 'no'  %}

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">15 Jan 2025 at 4:04pm</p>
              <h2 class="dwp-timeline__heading">State Pension awarded</h2>
              <p class="dwp-timeline__by-line">by Agent</p>
            </li>

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">15 Jan 2025 at 4:01pm</p>
              <h2 class="dwp-timeline__heading">Prison considered. No further action needed</h2>
              <p class="dwp-timeline__by-line">by Agent</p>
            </li>

            {% elseif data['needDates'] == 'cannot' or data['foundGuilty'] == 'cannot' %}

            <li class="dwp-timeline__item">
              <p class="dwp-timeline__datetime">15 Jan 2025 at 4:01pm</p>
              <h2 class="dwp-timeline__heading">Cannot get prison information. Notification send to claimant</h2>
              <p class="dwp-timeline__by-line">by Agent</p>
            </li>

          {% endif %}

          <li class="dwp-timeline__item">
            <p class="dwp-timeline__datetime">13 Jan 2025 at 10:22am</p>
            <h2 class="dwp-timeline__heading">Paper claim received</h2>
            <p class="dwp-timeline__by-line">by Agent</p>
          </li>

        </ol>
      </div>

      <br>

      <a class="govuk-link--no-visited-state govuk-!-font-size-19" href="record-full-history">Full history</a>

    </div>
  </main>
</div>

{% endblock %}
