{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

  {% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> 

    {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-xl">Adjust the State Pension amount</h1>

    <p>Enter the amount you want to adjust in the appropriate field. Changes to additional components will be applied to the new State Pension and, if necessary, protected payment amount.</p>

    <br>
    
    {% from "govuk/components/input/macro.njk" import govukInput %}

    {{ govukInput({
      id: "nsp",
      name: "nsp",
      label: {
        text: "New State Pension amount, in pounds",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      prefix: {
        text: "£"
      },
      classes: "govuk-input--width-5",
      spellcheck: false
    }) }}

    {{ govukInput({
      id: "pp",
      name: "pp",
      label: {
        text: "Protected payment amount, in pounds",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      prefix: {
        text: "£"
      },
      classes: "govuk-input--width-5",
      spellcheck: false
    }) }}

    {{ govukInput({
      id: "esp",
      name: "esp",
      label: {
        text: "Extra State Pension amount, in pounds",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      prefix: {
        text: "£"
      },
      classes: "govuk-input--width-5",
      spellcheck: false
    }) }}

    {{ govukInput({
      id: "esp",
      name: "esp",
      label: {
        text: "Inherited extra State Pension amount, in pounds",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      prefix: {
        text: "£"
      },
      classes: "govuk-input--width-5",
      spellcheck: false
    }) }}

    {{ govukInput({
      id: "ap",
      name: "ap",
      label: {
        text: "Additional Pension amount, in pounds",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      prefix: {
        text: "£"
      },
      classes: "govuk-input--width-5",
      spellcheck: false
    }) }}

    {{ govukInput({
      id: "grb",
      name: "grb",
      label: {
        text: "Graduated Retirement Benefit, in pounds",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      prefix: {
        text: "£"
      },
      classes: "govuk-input--width-5",
      spellcheck: false
    }) }}

    {{ govukInput({
      id: "espBP",
      name: "espBP",
      label: {
        text: "Extra State Pension Basic Pension amount, in pounds",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      prefix: {
        text: "£"
      },
      classes: "govuk-input--width-5",
      spellcheck: false
    }) }}

    {{ govukInput({
      id: "espGRB",
      name: "espGRB",
      label: {
        text: "Extra State Pension Graduated Retirement Benefit, in pounds",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      prefix: {
        text: "£"
      },
      classes: "govuk-input--width-5",
      spellcheck: false
    }) }}

    {{ govukInput({
      id: "espAP",
      name: "espAP",
      label: {
        text: "Extra State Pension Additional Pension, in pounds",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      prefix: {
        text: "£"
      },
      classes: "govuk-input--width-5",
      spellcheck: false
    }) }}

    {{ govukInput({
      id: "psodCredit",
      name: "psodCredit",
      label: {
        text: "PSOD credit amount, in pounds",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      prefix: {
        text: "£"
      },
      classes: "govuk-input--width-5",
      spellcheck: false
    }) }}

    {{ govukInput({
      id: "psodDebit",
      name: "psodDebit",
      label: {
        text: "PSOD debit amount, in pounds",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      prefix: {
        text: "£"
      },
      classes: "govuk-input--width-5",
      spellcheck: false
    }) }}

    <br><br>

    <button type="submit" class="govuk-button" data-module="govuk-button">
      Confirm
    </button>

      

    </form>

  </div>
</div>

{% endblock %}
