{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

{% include './_bar.html' %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
      })
      }}

      <br><br>

      <h1 class="govuk-heading-xl">Award calculated</h1>

      <br>

      <table class="govuk-table">       
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">State Pension award</th>
            <td class="govuk-table__cell"><b>£227.89</b></td>
            <td class="govuk-table__cell"><b>£227.89</b></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">From</th>
            <td class="govuk-table__cell">
              {% if data['another2-year'] %}
                {{data['another2-day']}} {{data['another2-month'] | monthName}} {{data['another2-year']}}
              {% elseif data['another-year'] %}
                {{data['another-day']}} {{data['another-month'] | monthName}} {{data['another-year']}}
              {% else %}
                1 March 2025
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>

      <div class="govuk-inset-text">
        This will automatically pay any arrears and send an award letter to the claimant.
      </div>

      <br><br>

      <button class="govuk-button" data-module="govuk-button">
        Confirm and send letter
      </button>

    </div>
</div>

{% endblock %}