{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> 

    {% include './_bar.html' %}

    {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-xl">Check the details and decide how to continue</h1>


    <p>Complete the information and verify the dates, or choose another way to continue.</p>

    <br><br>

    <h2 class="govuk-heading-m">Claimant</h2>

    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Address</th>
            <td class="govuk-table__cell">
            62 High Street<br>
            North London<br>
            N93 3KJ</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"><a class="govuk-link" href=""></a></td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Marital status</th>
            <td class="govuk-table__cell">Married</td>
            <td class="govuk-table__cell"><span class="govuk-hint"><b></b></td>
            <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href=""></a></td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of birth</th>
            <td class="govuk-table__cell">25/07/1956</td>
            <td class="govuk-table__cell"><span class="govuk-hint"><b>Not verified</b></td>
            <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="">Change</a></td>
            <b></b>
            <td class="govuk-table__cell" style="text-align: right">
            </td>
            <td class="govuk-table__cell"><a class="govuk-link" href=""></a></td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">State Pension date</th>
            <td class="govuk-table__cell">25/07/2022</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"><a class="govuk-link" href=""></a></td>
        </tr>
      </tbody>
    </table>

    <br><br>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            How do you want to continue?
          </h2>
        </legend>

      <!--<div class="govuk-radios__item">
        <input class="govuk-radios__input" id="continue2" name="continue2" type="radio" value="adjust">
          <label class="govuk-label govuk-radios__label" for="continue2">
            Adjust the State Pension award
          </label>
      </div>-->
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="continue2-2" name="continue2" type="radio" value="award">
          <label class="govuk-label govuk-radios__label" for="continue2">
            Award State Pension
          </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="continue2-3" name="continue2" type="radio" value="close">
          <label class="govuk-label govuk-radios__label" for="continue2">
            Close the claim
          </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="continue2-4" name="continue2" type="radio" value="postpone">
          <label class="govuk-label govuk-radios__label" for="continue2">
            Postpone the task
          </label>
      </div>
      <!--<div class="govuk-radios__item">
        <input class="govuk-radios__input" id="continue2-5" name="continue2" type="radio" value="remove">
          <label class="govuk-label govuk-radios__label" for="continue2">
            Remove the claim
          </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="continue2-6" name="continue2" type="radio" value="unsuccessful">
          <label class="govuk-label govuk-radios__label" for="continue2">
            Send claim unsuccessful letter
          </label>
      </div>-->
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="continue2-7" name="continue2" type="radio" value="info">
          <label class="govuk-label govuk-radios__label" for="continue2">
            Send a notification
          </label>
      </div>
    </div>

    <br><br>

    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button">
        Save changes and continue
      </button>
    </div>

    <br><br>

    <a class="govuk-link--no-visited-state govuk-!-font-size-19" href="check-details-1b">View page variation</a>


  </div>

  <div class="govuk-grid-column-one-third">

    <h3 class="govuk-heading-m">Task specific changes</h3>

    <div class="dwp-timeline">
      <ol class="dwp-timeline__items">
        {% if (data['postpone']) %} 
          <li class="dwp-timeline__item">
            <p class="dwp-timeline__datetime">date month time</p>
            <h2 class="dwp-timeline__heading">Email or letter sent for lean task</h2>
            <p class="dwp-timeline__by-line">by Agent</p>
          </li> 
        {% else %}  
          <li class="dwp-timeline__item">
            <h2 class="dwp-timeline__heading">No changes yet</h2>
          </li>
        {% endif %}
      </ol>
    </div>

  </div>

</div>

</div>

</main>
</div>


{% endblock %}
