{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

{% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    {% set anotherDate2 %}
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="another-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <div class="govuk-date-input" id="another">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="another-day2">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="another-day2" name="another-day2" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="another-month2">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="another-month2" name="another-month2" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="another-year2">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="another-year2" name="another-year2" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    {% endset -%}

    {{ govukRadios({
      name: "whatDate2",
      fieldset: {
        legend: {
          text: "How long do you want to postpone the task for?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      items: [
        {
          value: "one",
          text: "1 week",
          conditional: {
            html: emailHtml
          }
        },
        {
          value: "two",
          text: "2 weeks",
          conditional: {
            html: emailHtml
          }
        },
        {
          value: "four",
          text: "4 weeks",
          conditional: {
            html: emailHtml
          }
        },
        {
          value: "eight",
          text: "8 weeks",
          conditional: {
            html: emailHtml
          }
        },
        {
          divider: "or"
        },
        {
          value: "anotherDate2",
          text: "Add a specific date",
          conditional: {
            html: anotherDate2
          }
        }
      ]
    }) }}
      
    <br><br>

    <button class="govuk-button" data-module="govuk-button">
     Continue
    </button>

  </div>
</div>

{% endblock %}
