{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

  {% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> 

    {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-xl">Are you sure you want to remove the claim?</h1>

    <p>You must only remove this claim if you are sure we cannot award State Pension on this system and you need to send it to PSCS.</p>

    <br><br>

    <div class="govuk-button-group">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      <a class="govuk-link--no-visited-state" href="check-details">Back</a>
    </div>

      

    </form>

  </div>
</div>

{% endblock %}
