{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

  {% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> 

    {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-xl">Request more information</h1>

    <p>Send a letter to the correct person or agency asking them to supply the information you need.</p>

    <p>The task will be postponed for 2 weeks.</p>

    <br><br>

    <button type="submit" class="govuk-button" data-module="govuk-button">
      Confirm letter sent
    </button>

      

    </form>

  </div>
</div>

{% endblock %}
