{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

  {% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> 

    {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-xl">Request more information</h1>

    <h2 class="govuk-heading-l">1. Send letter</h2>

    <p>Send a letter to the correct person or agency asking them to supply the information you need.</p>

    {% set specific %}
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="add-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <div class="govuk-date-input" id="add">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="add-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="add-day" name="add-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="add-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="add-month" name="add-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="add-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="add-year" name="add-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    {% endset -%}

    <br><br>

    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      name: "postpone",
      fieldset: {
        legend: {
          text: "2. Set postponement period",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "1",
          text: "1 week"
        },
        {
          value: "2",
          text: "2 weeks"
        },
        {
          value: "4",
          text: "4 weeks"
        },
        {
          value: "8",
          text: "8 weeks"
        },
        {
          divider: "or"
        },
        {
          value: "specific",
          text: "Add specific date",
          conditional: {
            html: specific
          }
        }
      ]
    }) }}

    <br><br>

    <button type="submit" class="govuk-button" data-module="govuk-button">
      Confirm and continue
    </button>

      

    </form>

  </div>
</div>

{% endblock %}
