{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Generic task title goes here</h1>

    <p>Supporting paragraph texat could go here.</p>

    <p class="govuk-body">You may need to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>request more information</li>
      <li>adjust the claimant's State Pension award</li>
      <li>award State Pension</li>
      <li>disallow the claim</li>
    </ul>

    <br><br>

    <a href="check-details" button type="submit" class="govuk-button govuk-button">
      Start this task
    </a>

    <a href="task-queue" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
      Return task to queue
    </a>

    </form>

  </div>
</div>

{% endblock %}
