{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_bar.html' %}

    {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-xl">Task postponed</h1>

    <p>This task will be postponed
      {% if data['postpone'] == "1" %}
        for 1 week.
      {% elseif data['postpone'] == "2" %}
        for 2 weeks.
      {% elseif data['postpone'] == "4" %}
        for 4 weeks. 
      {% elseif data['postpone'] == "8" %}
        for 8 weeks.   
      {% elseif data['add-day'] %}
        until {{data['add-day']}} {{data['add-month'] | monthName}} {{data['add-year']}}.
      {% else %}
        until {the date you selected}.  
      {% endif %}</p>

    <br><br>

    <button class="govuk-button" data-module="govuk-button">
     Confirm and end task
    </button>

    </form>

  </div>
</div>

{% endblock %}
