{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include './_bar.html' %}

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
      }}

      <br><br>

      <h1 class="govuk-heading-xl">Sending claim unsuccessful letter</h1>

      <p>You must only send a claim unsuccesful letter if you are sure we cannot award any State Pension.</p>

      <br>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "unsuccessful",
        fieldset: {
          legend: {
            text: "Are you sure you want to send a claim unsuccessful letter?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      <br><br>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    
    </div>
  </div>

</form>

{% endblock %}