{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post" action="check-answers-2a">

  {% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-xl">
      Claimant decision
    </h1>

    <p>Text that explains or sets up expectations for the task could go here.</p>

    <br><br>

    {% from "govuk/components/radios/macro.njk" import govukRadios %}
    {% from "govuk/components/input/macro.njk" import govukInput %}

    {% set taxHtml %}

    {{ govukRadios({
      name: "taxRate",
      fieldset: {
        legend: {
          text: "What is the claimant's tax rate?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "0",
          text: "0%"
        },
        {
          value: "20",
          text: "20%"
        },
        {
          value: "40",
          text: "40%"
        },
        {
          value: "45",
          text: "45%"
        }
      ]
    }) }}

    {% endset -%}
    
    {% set lsiHtml %}

    {{ govukRadios({
      name: "whichYear",
      fieldset: {
        legend: {
          text: "What tax year does the claimant want to be paid in?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "later",
          text: "Next tax year"
        },
        {
          value: "now",
          text: "This tax year",
          conditional: {
            html: taxHtml
          }
        }
      ]
    }) }}
    
    {% endset -%}

    {{ govukRadios({
      name: "whichOption",
      fieldset: {
        legend: {
          text: "Which option did the claimant choose?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "Select one option"
      },
      items: [
        {
          value: "esp",
          text: "Extra State Pension",
          conditional: {
            html: espHtml
          }
        },
        {
          value: "lsi",
          text: "Lump sum inheritance",
          conditional: {
            html: lsiHtml
          }
        }
      ]
    }) }}

    <br><br><br>

    {{ govukButton({
      text: "Continue"
    }) }}

    <br><br><br>

  </div>
</div>

{% endblock %}
