<div class="govuk-heading-xl">
  Leon Hibbert
  <span class="govuk-caption-l">QQ 12 34 56 X</span>
  {% set isSuspended = data['isSuspended'] === 'yes' %}
  {% set isRestarted = data['isRestarted'] === 'yes' %}
  {% set deathDateVerified = data['deathDateVerified'] === 'verified' %}
  {% set deathDatenotVerified = data['deathDateVerified']  === 'notVerified' %}
  {% set deathFirstPassDone = data['deathFirstPassDone'] %}

  {% if deathDateVerified and deathFirstPassDone %}
    <strong class="govuk-tag govuk-tag--grey">
      Dead
    </strong>
  {% elif deathDatenotVerified and deathFirstPassDone %}
    <strong class="govuk-tag govuk-tag--grey">
      Dead - not verified
    </strong>
  {% elif isSuspended and not isRestarted %}
    <strong class="govuk-tag govuk-tag--orange">
      Claimant in prison
    </strong>
  {% else %}
    <strong class="govuk-tag govuk-tag--blue">
      Receiving State Pension
    </strong>
  {% endif %}
</div>
