<style>
  .dwp-timeline__item {
    display: flex;
    flex-direction: column;
  }
  .dwp-timeline__heading,
  .dwp-timeline__by-line,
  .dwp-timeline__datetime {
    font-size: 19px;
    line-height: 25px;
  }
  .dwp-timeline__heading {
    order: 1;
    margin-bottom: 0;
  }
  .dwp-timeline__by-line {
    order: 2;
    margin-bottom: 0;
  }
  .dwp-timeline__datetime {
    order: 4;
    color: #505a5f;
  }
  .dwp-timeline__link {
    order: 3;
  }
</style>
{% set timelineItems = [] %}
{% set dateDeathEntered = "7 April 2025" %}
{% set deathDateVerification = data['deathDateVerified'] %}
{% set representativeDetailsCollected = data['representativeDetailsCollected'] %}
{% set paymentDetailsCollected = data['paymentDetailsCollected'] %}
{% set deathDateVerifiedLater = data['deathDateVerifiedLater'] === 'yes' %}

{% if deathDateVerifiedLater %}
  {% set dateDeathVerifiedLater = "8 April 2025" %}
{% elif deathDateVerification === 'verified' and not data['deathDateVerifiedLater'] %}
  {% set dateDeathVerifiedLater = dateDeathEntered %}
{% endif %}

{% if paymentDetailsCollected === "yes" %}
  {% set timelineItems = (timelineItems.push({
    title: "Arrears paid - account closed",
    byline: "Agent",
    date: dateDeathVerifiedLater
  }), timelineItems) %}
{% endif %}


{% set representativeNameChanged = data['representativeNameChanged'] === 'yes' %}
{% set representativePhoneChanged = data['representativePhoneChanged'] === 'yes' %}
{% set representativeAddressChanged = data['representativeAddressChanged'] === 'yes' %}

{% if representativeAddressChanged %}
  {% set timelineItems = (timelineItems.push({
    title: "Death arrears payee address changed",
    byline: "Agent",
    date: dateDeathVerifiedLater
  }), timelineItems) %}
{% endif %}

{% if representativePhoneChanged %}
  {% set timelineItems = (timelineItems.push({
    title: "Death arrears payee full phone number changed",
    byline: "Agent",
    date: dateDeathVerifiedLater
  }), timelineItems) %}
{% endif %}

{% if representativeNameChanged %}
  {% set timelineItems = (timelineItems.push({
    title: "Death arrears payee full name changed",
    byline: "Agent",
    date: dateDeathVerifiedLater
  }), timelineItems) %}
{% endif %}

{% if deathDateVerification === 'verified' and representativeDetailsCollected === 'yes' %}
  {% set timelineItems = (timelineItems.push({
    title: "Arrears calculated - awaiting payee details",
    byline: "Agent",
    date: dateDeathVerifiedLater
  }), timelineItems) %}
{% endif %}

{% if deathDateVerification === 'verified' and representativeDetailsCollected !== 'yes' %}
  {% set timelineItems = (timelineItems.push({
    title: "Date of death - verified",
    byline: "Agent",
    date: dateDeathVerifiedLater
  }), timelineItems) %}
{% endif %}

{% if (deathDateVerification === 'notVerified' or deathDateVerifiedLater) and data['representativeName'] %}
  {% set timelineItems = (timelineItems.push({
    title: "Recorded details of person dealing with the estate",
    byline: "Agent",
    date: dateDeathEntered
  }), timelineItems) %}
{% endif %}

{% if deathDateVerification === 'notVerified' or deathDateVerifiedLater %}
  {% set timelineItems = (timelineItems.push({
    title: "Date of death - not verified",
    byline: "Agent",
    date: dateDeathEntered
  }), timelineItems) %}
{% endif %}



{% set dateSuspended = "14 February 2025" %}

{% if isRestarted === 'yes' %}
  {% set timelineItems = (timelineItems.push({
    title: "Payment restarted letter sent",
    byline: "System",
    date: dateSuspended
  }), timelineItems) %}
  {% set timelineItems = (timelineItems.push({
    title: "Date left prison added",
    byline: "Agent",
    date: dateSuspended,
    link: {
      text: "Details",
      href: "./prison-details"
    }
  }), timelineItems) %}
{% endif %}

{% if isSuspended === 'yes' %}
  {% set timelineItems = (timelineItems.push({
    title: "Payment suspended letter sent",
    byline: "System",
    date: dateSuspended
  }), timelineItems) %}
  {% set timelineItems = (timelineItems.push({
    title: "Date entered prison added",
    byline: "Agent",
    date: dateSuspended,
    link: {
      text: "Details",
      href: "./prison-details"
    }
  }), timelineItems) %}
{% endif %}

{% if isCivil === 'yes' %}
  {% set timelineItems = (timelineItems.push({
    title: "Entered prison for civil case",
    byline: "Agent",
    date: dateSuspended
  }), timelineItems) %}
{% endif %}

{% if not isSuspended and not isCivil and not deathDateVerification %}
  {% set timelineItems = (timelineItems.push({
    title: "No changes made"
  }), timelineItems) %}
{% endif %}

{{ dwpTimeline({
  items: timelineItems
}) }}

<script>
  document.querySelectorAll('.dwp-timeline__by-line')
  .forEach(element => {
    element.textContent = element.textContent.replace('by ', '');
  });
</script>
