{# Death #}

{% set deathDateVerified = data['deathDateVerified'] === 'verified' %}
{% set deathDatenotVerified = data['deathDateVerified']  === 'notVerified' %}
{% set representativeDetailsCollected = data['representativeDetailsCollected'] === 'yes' %}

{% if deathDateVerified and not representativeDetailsCollected %}
  {% set warningText = "Awaiting details of the person dealing with the estate" %}
  {% set warningLink = "death-representative-name" %}
  {% set warningLinkText = "Update details" %}
{% elif deathDatenotVerified and not representativeDetailsCollected %}
  {% set warningText = "Awaiting verification of death and details of the person dealing with the estate" %}
  {% set warningLink = "death-verify" %}
  {% set warningLinkText = "Update details" %}
{% elif deathDateVerified and representativeDetailsCollected %}
  {% set warningText = "£12,097.35 arrears payment due for the period 18 December 2024 to 1 January 2026" %}
  {% set warningLink = "death-payee-details" %}
  {% set warningLinkText = "Enter payee details and send payment" %}
{% elif deathDatenotVerified and representativeDetailsCollected %}
  {% set warningText = "Date of death awating verification" %}
  {% set warningLink = "death-verify-suggested" %}
  {% set warningLinkText = "Verify date of death" %}
{% endif %}

{% if data['deathDateVerified'] and data['paymentDetailsCollected'] !== "yes" %}
  {{ govukWarningText({
    html: warningText +
          '<br />' +
          '<a href="./' + warningLink + '">' +
            warningLinkText
          + '</a>',
    iconFallbackText: "Warning"
  }) }}
{% endif %}


{# Prison #}

{% set isSuspended = data['isSuspended'] %}
{% set isRestarted = data['isRestarted'] %}

{% if isSuspended and not isRestarted %}
  {% set warningText = "If the claimant has left prison, you can" %}
  {% set warningLink = "prison-details-check" %}
  {% set warningLinkText = "restart their State Pension" %}

  {{ govukWarningText({
    html: warningText + ' ' +
          '<a href="./' + warningLink + '">' +
            warningLinkText
          + '</a>.',
    iconFallbackText: "Warning"
  }) }}
{% endif %}
