{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="/cmg/cmg-remove-or-change">

      {% include './_person.html' %}

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      }) }}

      {{ govukRadios({
        name: "removeOrChange",
        fieldset: {
          legend: {
            text: "Do you want to remove or change the Child Maintenance deduction?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Any changes will apply from the next payment date"
        },
        items: [
          {
            value: "removeCmg",
            text: "Remove"
          },
          {
            value: "changeCmg",
            text: "Change"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
