{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="/dap/death-date">

      {% include './_person.html' %}

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      }) }}

      {{ govukDateInput({
        name: "deathDate",
        namePrefix: "deathDate",
        fieldset: {
          legend: {
            text: "Date of death",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            name: "day",
            classes: "govuk-input--width-2",
            value: data['deathDate-day']
          },
          {
            name: "month",
            classes: "govuk-input--width-2",
            value: data['deathDate-month']
          },
          {
            name: "year",
            classes: "govuk-input--width-4",
            value: data['deathDate-year']
          }
        ]
      }) }}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "deathDateVerified",
        items: [
          {
            value: "verified",
            text: "Verified",
            checked: data['deathDateVerified'] == "verified"
          },
          {
            value: "notVerified",
            text: "Not verified",
            checked: data['deathDateVerified'] == "notVerified"
          }
        ]
      }) }}


      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
