{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="/dap/death-payment">

      {% include './_person.html' %}

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      }) }}


      <h1 class="govuk-heading-l">Send payment</h1>

      <p>An arrears payment of £12,097.35 will be made for the period 18 December 2024 to 1 January 2026.</p>
      <p>A letter will be sent to the death arrears payee.</p>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
