{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="/dap/death-representative-awaiting-name">

      {% include './_person.html' %}

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      }) }}

      {% if data['paymentDetailsCollected'] === 'yes' %}
        {% set repOrPayee = " death arrears payee" %}
      {% else %}
        {% set repOrPayee = " the person dealing with Leon's estate" %}
      {% endif %}

      {{ govukInput({
        label: {
          text: "Name of" + repOrPayee,
          classes: "govuk-label--l",
          isPageHeading: true
        },
        id: "representative-name",
        name: "representativeName"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
