{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="/dap/death-payee-reference">

      {% include './_person.html' %}

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      }) }}

      {{ govukInput({
        label: {
          text: "Solicitor's reference",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "This will be used as the payment reference for the solicitor."
        },
        id: "solicitors-reference",
        name: "solicitorsReference"
      }) }}

      {{ govukButton({
        text: "Confirm"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
