{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_person.html' %}

    {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}

    <h1 class="govuk-heading-l">
      There is a final State Pension payment due
    </h1>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Total"
          },
          value: {
            text: "£12,097.35"
          }
        },
        {
          key: {
            text: "Period"
          },
          value: {
            text: "18 December 2026 to 1 January 2026"
          }
        }
      ]
    }) }}

    <form class="form" method="post" action="/dap/death-final">
      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

  </div>
</div>

{% endblock %}
