{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="/dap/death-representative-reference">

      {% include './_person.html' %}

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      }) }}

      {% set solicitorsReferenceInput %}
        {{ govukInput({
          id: "solicitors-reference",
          name: "solicitorsReference",
          classes: "govuk-input--width-20",
          value: data['solicitorsReference'],
          value: data['solicitorsReference'] if data['hasSolicitorsReference'] === "yes",
          label: {
            text: "Solicitors reference"
          },
          spellcheck: false
        }) }}
      {% endset -%}

      {{ govukRadios({
        name: "hasSolicitorsReference",
        value: data['hasSolicitorsReference'],
        fieldset: {
          legend: {
            text: "Do you have a solicitor's reference??",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: solicitorsReferenceInput
            }
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
