{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="/dap/death-date-verification">

      {% include './_person.html' %}

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      }) }}

      {{ govukRadios({
        name: "deathDateVerified",
        fieldset: {
          legend: {
            text: "Are you able to verify the date of death?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "verified",
            text: "Yes",
            checked: (data['deathDateVerified'] == "verified") and not data['deathConfirmed']
          },
          {
            value: "notVerified",
            text: "No",
            checked: (data['deathDateVerified'] == "notVerified") and not data['deathConfirmed']
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
