{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_person.html' %}

    {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}

    <h1 class="govuk-heading-l">
      Check details of the date of death
    </h1>

    {% set deathDateDay = data['deathDate-day'] %}
    {% set deathDateMonth = data['deathDate-month'] | monthName %}
    {% set deathDateYear = data['deathDate-year']%}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Verified date of death" if data['verifyDateOfDeathSuggestion'] else "Date of death"
          },
          value: {
            text: deathDateDay + " " + deathDateMonth + " " + deathDateYear
          },
          actions: {
            items: [
              {
                href: "death-date-suggested" if data['verifyDateOfDeathSuggestion'] == "yes" else "death-date?change=true",
                text: "Change",
                visuallyHiddenText: "death date date"
              }
            ]
          }
        },
        {
          key: {
            text: "Verified"
          },
          value: {
            text: "Yes" if data['deathDateVerified'] == "verified" else "No"
          },
          actions: {
            items: [
              {
                href: "death-date-verification",
                text: "Change",
                visuallyHiddenText: "verification"
              }
            ]
          }
        } if not data['verifyDateOfDeathSuggestion']
      ]
    }) }}

    <form class="form" method="post" action="/dap/death-date-cya">
      {{ govukButton({
        text: "Confirm"
      }) }}
    </form>

  </div>
</div>

{% endblock %}
