{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="/dap/death-payee-phone">

      {% include './_person.html' %}

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      }) }}

      {% set phoneNumberInput %}
        {{ govukInput({
          id: "representative-phone",
          name: "representativePhone",
          classes: "govuk-input--width-20",
          value: data['representativePhone'] if data['newDapEntered'] === "yes",
          label: {
            text: "Phone number"
          },
          spellcheck: false
        }) }}
      {% endset -%}

      {{ govukRadios({
        name: "hasRepresentativePhone",
        value: data['hasRepresentativePhone'] if data['newDapEntered'] === "yes",
        fieldset: {
          legend: {
            text: "Do you have the phone number of the payee?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: phoneNumberInput
            }
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
