{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_bar.html' %}


      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-l">Check that HMRC have completed the COEG investigation</h1>

    <p class="govuk-body">You will need to check:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the COEG flag in NIRs (OLE)</li>
          <li>that the LTB data has been updated</li>
          <li>the State Pension award components</li>
        </ul>

    <br><br>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            How do you want to continue?
          </h1>
        </legend>

        <div class="govuk-radios" data-module="govuk-radios">

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="howContinue" name="howContinue" type="radio" value="noAction" aria-describedby="howContinue-item-hint">
            <label class="govuk-label govuk-radios__label" for="howContinue">
              Take no action at this time
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="howContinue-2" name="howContinue" type="radio" value="removeFlag" aria-describedby="howContinue-2-item-hint">
            <label class="govuk-label govuk-radios__label" for="howContinue-2">
              Remove COEG flag in NIRs and award State Pension
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="howContinue-2" name="howContinue" type="radio" value="removeClaim" aria-describedby="howContinue-3-item-hint">
            <label class="govuk-label govuk-radios__label" for="howContinue-3">
              Remove claim from Gysp to award at safe rate
            </label>
          </div>

        </div>
      </fieldset>
    </div>

    <br><br>

    <button class="govuk-button" data-module="govuk-button">
    Continue
    </button>

    <br><br><br>

  </div>
</div>

</form>

{% endblock %}
