{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post" action="record-personal">

    {% include './_bar.html' %}


      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Do you need to issue an award at the safe rate?
          </h1>
        </legend>

        <!--<br>

        <p class="govuk-body">You may need to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>remove this claim from GySP</li>
          <li>rebuild this claim in CAM</li>
        </ul>

        <br>-->

        <div id="changedName-hint" class="govuk-hint">
          If the claimant is experiencing finincial hardship, you can rebuild their claim in CAM and issue them an award at the safe rate. Only do this if absolutely necessary.
        </div>

        <div class="govuk-radios--inline" data-module="govuk-radios">

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="removeClaim" name="removeClaim" type="radio" value="yes" aria-describedby="removeClaim-item-hint">
            <label class="govuk-label govuk-radios__label" for="removeClaim">
              Yes
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="removeClaim-2" name="removeClaim" type="radio" value="no" aria-describedby="removeClaim-2-item-hint">
            <label class="govuk-label govuk-radios__label" for="removeClaim-2">
              No
            </label>
          </div>

        </div>
      </fieldset>
    </div>

    <br><br>

    <button class="govuk-button" data-module="govuk-button">
      Continue
    </button>

    <br><br><br>

  </div>
</div>

{% endblock %}
