{% extends "layouts/main-2.html" %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% include './_bar.html' %}

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
      }}

      <br><br>

      <h1 class="govuk-heading-xl">
        Check your answers before uploading documentation
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Transaction type
          </dt>

          <dd class="govuk-summary-list__value">
            {% if data['debitCredit'] === 'debit' %}
            Debit
            {% else %}
            Credit
            {% endif %}
          </dd>

          <dd class="govuk-summary-list__value">
            {% if data['debitCredit'] === 'debit' %}
            £{{data['debitAmount']}}
            {% else %}
            £{{data['creditAmount']}}
            {% endif %}
          </dd>

          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> transaction</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Share order start date
          </dt>

          <dd class="govuk-summary-list__value">
            {{data['startDate-day']}} / {{data['startDate-month']}} / {{data['startDate-year']}}
          </dd>
          <dd class="govuk-summary-list__value">
           
          </dd>

          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Share order agreement date
          </dt>

          <dd class="govuk-summary-list__value">
            {% if data['agreement'] === 'yes' %}
            Before SPa
            {% else %}
            After SPa on
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__value">
            {% if data['agreement'] === 'yes' %}
            {% else %}
            {{data['agreementDate-day']}} / {{data['agreementDate-month']}} / {{data['agreementDate-year']}}
            {% endif %}
          </dd>

          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact details
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">07700 900457</p>
            <p class="govuk-body">sarah.phillips@example.com</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> contact details</span></a>
              </li>
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
              </li>
            </ul>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">
        Now send your application
      </h2>

      <p>
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <form action="/confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
