{% extends "layouts/main-2.html" %}

{% block content %}

<div class="govuk-grid-row">
      
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          {% include './_bar-receiving.html' %}

          <br><br><br>

            <a href="record-personal" button type="submit" class="govuk-button">
              Continue</a>
      </main>
    </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">

  </div>
</div>

{% endblock %}
