{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="check-start-date">

  <a href="post-spa" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Your State Pension date
      </h1>
<p>You reached State Pension age on 28 April 2021 and may be owed some State Pension. </p>

<p>You can use any State Pension we owe you to increase your payments for the rest of your life.</p>
<p>They increase by just over 0.1% for every week you delay your start date, as long as you enter a date after 30 June 2021.</p>
<p><a href="https://www.gov.uk/deferring-state-pension">Find out more about delaying your State Pension (opens in a new tab)</a>.</p>

<p>You can calculate your State Pension from any date between 25 June 2021 and 25 Otober 2022.</p>
<p>Your State Pension payments will not start until after the date you enter.</p>
<p>Any State Pension you do not use to increase your payments will be paid along with first payment.</p>

<br>
<br>
<div class="govuk-form-group">
<fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  <h2 class="govuk-fieldset__heading">
What date do you want to calculate your State Pension from?  </h2>
</legend>
<div id="passport-issued-hint" class="govuk-hint">
  For example, 27 3 2007
</div>
<div class="govuk-date-input" id="passport-issued">
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
        Day
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric">
    </div>
  </div>
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
        Month
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric">
    </div>
  </div>
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
        Year
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric">
    </div>
  </div>
</div>

</fieldset>
</div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      <br><br><br><br><br><br><br><br>

    </div>

    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


  {% endblock %}
