{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="date-want-sp">

  <a href="your-details" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
Delaying your start date</h1>

<p>You can backdate your pension to <b>12 April 2022</b> or delay getting it until a later date.</p>
<p> <a href="https://www.gov.uk/deferring-state-pension">Find out more about delaying your State Pension (opens in a new tab)</a>.</p>
    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
<p>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
    Do you want to delay your start date?</h2>
    </legend>

    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label" for="sign-in">
Yes, delay and choose a later start date   </label>

<div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">Your State Pension increases by just over 0.1% for every week that you delay, as long as you delay for at least 9 weeks.
</div></div>
      </div>


      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
        <label class="govuk-label govuk-radios__label" for="sign-in-2">
No, backdate to 12 April 2022 </label>
<div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">You will get any State Pension we owe you as a one-off arrears payment along with your first payment.</div>
      </div>


  </fieldset></div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      <br><br><br><br><br><br><br><br>

    </div>

    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


  {% endblock %}
