{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="lived-abroad">

  <a href="your-details" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
You do not need to claim your State Pension yet      </h1>





<p class="govuk-body">If you want your State Pension to start more than 4 months from today, you do not need to let us know yet.</p>

<p class="govuk-body">To start your State Pension from <strong>1 September 2022</strong>, make your claim after <strong>1 May 2022</strong>.</p>

<p class="govuk-body">Your State Pension increases by just over 0.1% for every week you defer. This works out at just under 5.8% a year.</p>

<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
<b>URL, errors and notes</b>
</span>
</summary>
<div class="govuk-details__text">
<b>URL:</b> use existing URL <br><br>


</div>
</details>

      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    </div>

    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


  {% endblock %}
