{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="prison">

  <a href="spa" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
Your State Pension date</h1>
<div class="govuk-inset-text">
You reached State Pension age on <b>12 July 2021</b> and may be owed some State Pension.</div>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
When you want your State Pension to start from?        </h2>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label" for="sign-in">12 July 2021          </label>
        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
  We'll pay any State Pension we owe you as a one-off payment.</div>
      </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
            <label class="govuk-label govuk-radios__label" for="sign-in-2">
              Today (14 June 2022)
            </label>
            <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
Use any State Pension we owe you to increase your payments for the rest of your life. <a href="https://www.gov.uk/deferring-state-pension">Find out how much you could get (opens in a new tab)</a>.</div>                  </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
        <label class="govuk-label govuk-radios__label" for="sign-in-2">
A different date        </label>
        <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
You can increase your payments further, or get some of the State Pension we owe you as a one-off payment and use the rest to increase your payments for the rest of your life.</div>
      </div>
    </div>

  </fieldset>
</div>
  <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>

  <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
  <span class="govuk-details__summary-text">
  <b>URL, errors and notes</b>
  </span>
  </summary>
  <div class="govuk-details__text">
  <b>URL:</b> /check-your-start-date <br><br>


  <b>Error messages:<br>
  Nothing selected - </b> Select when you want your State Pension to start <br>

  </div>
  </details>


    </div>

    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>
<br><br><br><br><br><br><br><br><br><br><br><br>


  {% endblock %}
