{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">You cannot award State Pension yet</h1>

    <p>There is a flag outstanding on the claimant's record. 
      You can postpone the task while you take the correct action. 
      Check standard working instructions if you are unsure what you need to do.</p>

    <br><br>

    <a href="check-details" button type="submit" class="govuk-button govuk-button">
      Go back
    </a>

    </form>

  </div>
</div>

{% endblock %}
