{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

  {% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> 

    {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-xl">Closing the claim</h1>

    <p>We can only close the claim if we have already attempted to request information 3 times from the claimant.</p>

    <p>We will automatically send a letter to the claimant telling them we have closed their claim. They will need to claim again to get their State Pension.</p>

    <br>

    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      name: "closeNVDOB",
      fieldset: {
        legend: {
          text: "Are you sure you want the claim closed?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes, close the claim and send a letter"
        },
        {
          value: "no",
          text: "No, I want to choose another way to continue"
        }
      ]
    }) }}

    <br><br>

    <button type="submit" class="govuk-button" data-module="govuk-button">
      Confirm
    </button>

      

    </form>

  </div>
</div>

{% endblock %}
