{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

  {% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> 

    {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-xl">Send a notification</h1>

    <p>Send any notifications needed to progress this task. You can now choose if you need to postpone the task.</p>

    <br>

    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      name: "nvdobPostpone",
      fieldset: {
        legend: {
          text: "Do you need to postpone the task?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}

    <br><br>

    <button type="submit" class="govuk-button" data-module="govuk-button">
      Continue
    </button>

      

    </form>

  </div>
</div>

{% endblock %}
