{% extends "layouts/main.html" %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% block content %}

<form class="form" method="post" action="step-1-complete">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% include './_bar.html' %}

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
      }}

      <br><br>

      <h1 class="govuk-heading-xl">
        Complete calculations task
      </h1>

      <br>

      <h2 class="govuk-heading-l">
        1. Check your answers
      </h2>

      <br>

      <h3 class="govuk-heading-m">Lump sum inheritance option</h3>

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Lump sum inheritance amount
          </dt>

          <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
            <b>{{data['lsi'] | currency}}</b>
          </dd>

          <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
            <a class="govuk-link--no-visited-state" href="enter-inherited-esp">Change<span class="govuk-visually-hidden">Inherited extra State Pension amount</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Pre-2005 extra State Pension
          </dt>

          <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
            {% if data['pre2005eSP'] === 'yes' %}
              Yes
            {% else %}
              No
            {% endif %}
          </dd>

          <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
            <a class="govuk-link--no-visited-state" href="enter-inherited-esp">Change<span class="govuk-visually-hidden">Inherited extra State Pension amount</span></a>
          </dd>
        </div>

      </dl>

      {% if data['pre2005eSP'] === 'yes' %}

        <br>
        
        <dl class="govuk-summary-list">

          {% if data['pre2005eSP'] === 'yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Total pre-2005 extra State Pension amount
              </dt>

              <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
                <b>{{ (data.pre05basicEsp | float + data.pre05apAmount | float + data.pre05grbAmount | float) | currency }}</b>
              </dd>

              <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
                <!--<a class="govuk-link--no-visited-state" href="enter-inherited-esp">Change<span class="govuk-visually-hidden">Inherited extra State Pension amount</span></a>-->
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Extra State Pension Basic State Pension
              </dt>

              <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
                {{ data.pre05basicEsp | currency}}
              </dd>

              <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
                <a class="govuk-link--no-visited-state" href="pre-2005-esp">Change<span class="govuk-visually-hidden">Inherited extra State Pension amount</span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Extra State Pension Additional Pension
              </dt>

              <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
                {{ data.pre05apAmount | currency}}
              </dd>

              <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
                <a class="govuk-link--no-visited-state" href="pre-2005-esp">Change<span class="govuk-visually-hidden">Inherited extra State Pension amount</span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Extra State Pension Graduated Retirement Benefit
              </dt>

              <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
                {{ data.pre05grbAmount | currency}}
              </dd>

              <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
                <a class="govuk-link--no-visited-state" href="pre-2005-esp">Change<span class="govuk-visually-hidden">Inherited extra State Pension amount</span></a>
              </dd>
            </div>
            
            
          {% endif %}

        </dl>
      {% elseif data['pre2005eSP'] === 'no' %}
      {% endif %}

      <br><br>

      <h3 class="govuk-heading-m">Inherited extra State Pension (full period) option</h3>

      <dl class="govuk-summary-list">


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Total inherited extra State Pension
          </dt>

          <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
            <b>{{ (data.basicEsp | float + data.apAmount | float + data.grbAmount | float + data.topUp | float) | currency }}</b>
          </dd>

          <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
            <a class="govuk-link--no-visited-state" href="enter-inherited-esp"><span class="govuk-visually-hidden">Inherited extra State Pension amount</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Extra State Pension Basic State Pension
          </dt>

          <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
            {{ data.basicEsp | currency}}
          </dd>

          <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
            <a class="govuk-link--no-visited-state" href="enter-inherited-esp">Change<span class="govuk-visually-hidden">Inherited extra State Pension amount</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Extra State Pension Additional Pension
          </dt>

          <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
            {{ data.apAmount | currency }}
          </dd>

          <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
            <a class="govuk-link--no-visited-state" href="enter-inherited-esp">Change<span class="govuk-visually-hidden">Inherited extra State Pension amount</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Extra State Pension Graduated Retirement Benefit
          </dt>

          <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
            {{ data.grbAmount | currency }}
          </dd>

          <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
            <a class="govuk-link--no-visited-state" href="enter-inherited-esp">Change<span class="govuk-visually-hidden">Inherited extra State Pension amount</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Extra State Pension State Pension Top Up
          </dt>

          <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
            {{ data.topUp | currency }}
          </dd>

          <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
            <a class="govuk-link--no-visited-state" href="enter-inherited-esp">Change<span class="govuk-visually-hidden">Inherited extra State Pension amount</span></a>
          </dd>
        </div>

      </dl>

      <br><br>

      <h2 class="govuk-heading-l">
        2. Upload documents into ECMS (formerly DRS)
      </h2>

      <p>Upload a copy of the timeline calculation.</p>

      <br><br>

      <h2 class="govuk-heading-l">
        3. Confirm
      </h2>

      <p>A choices letter will be automatically sent to the claimant asking them to call us.</p>

      <br><br><br>

      
        {{ govukButton({
          text: "Confirm and send letter"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
