{% extends "layouts/main.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" action="record-personal">

      {% include './_bar.html' %}

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
      }}

      <br><br>

      <h1 class="govuk-heading-xl">
        Confirm claimant choice
      </h1>

      <br>

      <h2 class="govuk-heading-l">
        1. Check your answers
      </h2>

      <dl class="govuk-summary-list">
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Claimant choice
          </dt>

          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            {% if data['whichOption'] === 'lsiEsp' %}
              Lump sum inheritance payment with pre-2005 inherited extra State Pension 
            {% elseif data['whichOption'] === 'lsi' %}
              Lump sum inheritance payment
            {% else %}
              Inherited extra State Pension (increased State Pension payments)
            {% endif %}
          </dd>

          <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
            {% if data.taxRate2 %}
            {% else %}
              <a class="govuk-link--no-visited-state" href="which-option">Change<span class="govuk-visually-hidden">Inherited extra State Pension amount</span></a>
            {% endif %}
          </dd>
        </div>

        {% if data['whichOption'] === 'lsi' or 'lsiEsp' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Tax year for payment
            </dt>

            <dd class="govuk-summary-list__value">
              {% if data['whichYear'] === 'now' %}
              2025 to 2026
              {% else %}
              2026 to 2027
              {% endif %}
            </dd>

            <dd class="govuk-summary-list__actions">
              {% if data.taxRate2 %}
              {% else %}
                <a class="govuk-link--no-visited-state" href="which-year">Change<span class="govuk-visually-hidden">Inherited extra State Pension amount</span></a>
              {% endif %}
            </dd>
          </div>
        {% else %}
        {% endif %}

        {% if data['whichYear'] === 'later' and data.taxRate2 %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Tax rate
            </dt>

            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              {% if data['taxRate2'] === '0' %}
              0%
              {% elseif data['taxRate2'] === '20' %}
              20%
              {% elseif data['taxRate2'] === '40' %}
              40%
              {% elseif data['taxRate2'] === '45' %}
              45%
              {% endif %}
            </dd>

            <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
              <a class="govuk-link--no-visited-state" href="tax-rate">Change<span class="govuk-visually-hidden">Inherited extra State Pension amount</span></a>
            </dd>
          </div>
        {% elseif data['whichYear'] === 'later' %}
        {% elseif data['whichYear'] === 'now' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Tax rate
            </dt>

            <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
              {% if data['taxRate'] === '0' %}
              0%
              {% elseif data['taxRate'] === '20' %}
              20%
              {% elseif data['taxRate'] === '40' %}
              40%
              {% elseif data['taxRate'] === '45' %}
              45%
              {% endif %}
            </dd>

            <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
              <a class="govuk-link--no-visited-state" href="tax-rate">Change<span class="govuk-visually-hidden">Inherited extra State Pension amount</span></a>
            </dd>
          </div>
        {% else %}
        {% endif %}
      </dl>

      <br><br>

      <h2 class="govuk-heading-l">
        2. Upload documents
      </h2>

      <p>Upload a copy of the claimant choices proforma into ECMS (formerly DRS).</p>

      {% if data.taxRate2 %}

        <br><br>

        <h2 class="govuk-heading-l">
          3. Confirm
        </h2>

        <table class="govuk-table">
          <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">Lump sum amount</th>
                <td class="govuk-table__cell">
                  {% if data['taxRate2'] === '0' %}
                    {{ (data.lsi | float) | currency }}
                  {% elseif data['taxRate2'] === '20' %}
                    {{ (data.lsi | float * 0.8) | currency }}
                  {% elseif data['taxRate2'] === '40' %}
                    {{ (data.lsi | float * 0.6) | currency }}
                  {% elseif data['taxRate2'] === '45' %}
                    {{ (data.lsi | float * 0.55) | currency }}
                  {% endif %}
                </td>
              </tr>

          </tbody>

        </table>

        <br>

        <div class="govuk-inset-text">
          <p>This will automatically send a letter to the claimant confirming the lump sum payment.</p>
        </div>

      {% elseif data['whichYear'] === 'later' %}

        {% if data['pre2005eSP'] === 'yes' %}

          <br><br>

          <h2 class="govuk-heading-l">
            3. Confirm
          </h2>

          <table class="govuk-table">
                
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header govuk-!-width-one-half">Updated award</th>
                    <td class="govuk-table__cell govuk-!-width-one-half">
                      {% if data['pre05basicEsp'] and data['pre05apAmount'] and data['pre05grbAmount'] %}
                        {{ (data.pre05basicEsp | float + data.pre05apAmount | float + data.pre05grbAmount | float + 100) | currency }}</b>
                      {% elseif data['pre05basicEsp'] and data['pre05apAmount'] %}
                        {{ (data.pre05basicEsp | float + data.pre05apAmount | float + 100) | currency }}
                      {% elseif data['pre05basicEsp'] and data['pre05grbAmount'] %}
                        {{ (data.pre05basicEsp | float + data.pre05grbAmount | float + 100) | currency }}
                      {% elseif data['pre05apAmount'] and data['pre05grbAmount'] %}
                        {{ (data.pre05apAmount | float + data.pre05grbAmount | float + 100) | currency }}
                      {% elseif data['pre05basicEsp'] %}
                        {{ (data.pre05basicEsp | float + 100) | currency }}  
                      {% elseif data['pre05apAmount'] %}
                        {{ (data.pre05apAmount | float + 100) | currency }}
                      {% elseif data['pre05grbAmount'] %}
                        {{ (data.pre05grbAmount | float + 100) | currency }}
                      {% endif %}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">From</th>
                  <td class="govuk-table__cell">19 March 2025</td>
                </tr>

            </tbody>

          </table>

        {% endif %}

        <br>

        {% if data['pre2005eSP'] === 'yes' %}
          <div class="govuk-inset-text">
            <p>This will automatically pay any arrears and send a change to award letter to the claimant.</p>
            <p>A letter will also be automatically sent to the claimant next March asking them to contact us again with their tax rate.</p>
          </div>
        {% elseif data['pre2005eSP'] === 'no' %}
          <div class="govuk-inset-text">
            <p>A letter will be automatically sent to the claimant next March asking them to contact us again with their tax rate.</p>
          </div>
        {% endif %}

      {% elseif data.taxRate %}

        <br><br>

        <h2 class="govuk-heading-l">
          3. Confirm
        </h2>

        <table class="govuk-table">
          
          <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">Lump sum amount</th>
                <td class="govuk-table__cell">
                  {% if data['taxRate'] === '0' %}
                    {{ (data.lsi | float) | currency }}
                  {% elseif data['taxRate'] === '20' %}
                    {{ (data.lsi | float * 0.8) | currency }}
                  {% elseif data['taxRate'] === '40' %}
                    {{ (data.lsi | float * 0.6) | currency }}
                  {% elseif data['taxRate'] === '45' %}
                    {{ (data.lsi | float * 0.55) | currency }}
                  {% endif %}
                </td>
              </tr>

          </tbody>

        </table>

        {% if data['pre2005eSP'] === 'yes' %}

          <table class="govuk-table">
                
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header govuk-!-width-one-half">Updated award</th>
                  <td class="govuk-table__cell govuk-!-width-one-half">
                    {% if data['pre05basicEsp'] and data['pre05apAmount'] and data['pre05grbAmount'] %}
                      {{ (data.pre05basicEsp | float + data.pre05apAmount | float + data.pre05grbAmount | float + 100) | currency }}</b>
                    {% elseif data['pre05basicEsp'] and data['pre05apAmount'] %}
                      {{ (data.pre05basicEsp | float + data.pre05apAmount | float + 100) | currency }}
                    {% elseif data['pre05basicEsp'] and data['pre05grbAmount'] %}
                      {{ (data.pre05basicEsp | float + data.pre05grbAmount | float + 100) | currency }}
                    {% elseif data['pre05apAmount'] and data['pre05grbAmount'] %}
                      {{ (data.pre05apAmount | float + data.pre05grbAmount | float + 100) | currency }}
                    {% elseif data['pre05basicEsp'] %}
                      {{ (data.pre05basicEsp | float + 100) | currency }}  
                    {% elseif data['pre05apAmount'] %}
                      {{ (data.pre05apAmount | float + 100) | currency }}
                    {% elseif data['pre05grbAmount'] %}
                      {{ (data.pre05grbAmount | float + 100) | currency }}
                    {% endif %}
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">From</th>
                  <td class="govuk-table__cell">19 March 2025</td>
                </tr>

            </tbody>

          </table>

        {% endif %}

        <br>
        {% if data['pre2005eSP'] === 'yes' %}
          <div class="govuk-inset-text">
            <p>This will automatically pay any arrears and send a letter to the claimant confirming the change to award and lump sum payment.</p>
            <!--<p>The claimant gets Pension Credit. Further action is needed before we can apply the change to award.</p>-->
          </div>
        {% elseif data['pre2005eSP'] === 'no' %}
          <div class="govuk-inset-text">
            This will automatically send a letter to the claimant confirming the lump sum payment.
          </div>
        {% endif %}

      {% else %}

        <br><br>

        <h2 class="govuk-heading-l">
          3. Confirm
        </h2>

        <table class="govuk-table">
        
          <tbody class="govuk-table__body">

            <tr class="govuk-table__row govuk-!-width-one-half">
              <th scope="row" class="govuk-table__header">Updated award</th>
              <td class="govuk-table__cell">{{ (data.basicEsp | float + data.apAmount | float + data.grbAmount | float + data.topUp | float + 100) | currency }}</td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">From</th>
              <td class="govuk-table__cell">{{ "today" | govukDate }}</td>
            </tr>

          </tbody>

        </table>

        <div class="govuk-inset-text">
          This will automatically pay any arrears and send a change to award letter to the claimant.
        </div>

      {% endif %}

      <br><br><br>


      <button type="submit" class="govuk-button" data-module="govuk-button">
        Confirm and send letter
      </button>

      </form>

    </div>
  </div>

{% endblock %}
