{% extends "layouts/main-2.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include './_bar.html' %}

        {{ xGovukSecondaryNavigation({
          visuallyHiddenTitle: "Secondary menu",
          items: [{
            text: "Personal",
            href: "record-personal",
            current: false
          }, 
          {
            text: "Contact",
            href: "record-contact",
            current: false
          }, 
          {
            text: "Tasks",
            href: "record-tasks",
            current: true
          },
          {
            text: "Award",
            href: "record-award",
            current: false
          },
          {
            text: "Payment",
            href: "payment",
            current: false
          },
          {
            text: "Full history",
            href: "payment",
            current: false
          }]
        }) }}

        <br><br>

        <h2 class="govuk-heading-m">Outstanding tasks for this account</h2>

        {% if data.calcQuestion === 'yes' %}
        {% else %}
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-three-quarters"></td>
              <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-quarter"><a href="#"></a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-three-quarters">Lump sum inheritance (LSI)</td>
              <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-quarter"><a href="claimant-decision-1">View</a></td>
            </tr>
          </tbody>
        </table>
        {% endif %}

    </div>

    <div class="govuk-grid-column-one-third">

      {% from "timeline/macro.njk" import dwpTimeline %}

      <h2 class="govuk-heading-m">Personal changes</h2>
      {{
          dwpTimeline({ 
              items: [
              {
                  title:  "Claim received",
                  byline:  "online",
                  date:  "11 May 2024 at 7:14pm"
              }
          ]
          })
      }}

    </div>

  </main>
</div>

{% endblock %}
