{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<br>

<form method="post">

  <h1 class="govuk-heading-xl">Inherited deferred pension options</h1>

  <p>The claimant's late spouse or civil partner had not claimed their State Pension when they died.</p>

  <p>You will need to calculate the claimant's inheritance options amounts.</p>

  <p>A choices letter will be automatically sent to the claimant with details of their options and what to do next.</p>
  
  <br><br><br>

  <button class="govuk-button" data-module="govuk-button">
    Start this task
  </button>

  <a href="dashboard" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
    Return task to queue
  </a>

  <br><br><br><br><br>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    
    <br>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> <br>
        <b>Notes:</b> If citizen is claiming post SPa, the agent will be prompted to <a href="srb-question" class="govuk-link">check for SRBs in place</a><br>
      </div>
    </details>


  </div>

</div>

{% endblock %}
