{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <br>

<form method="post" action="find-someone">

<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      This page is only to explain operational procedure and will not be part of the journey.
  </div>
</div>

<h2 class="govuk-heading-m">After the options letter has been sent to the claimant:</h2>

<ol class="govuk-list govuk-list--number govuk-list--spaced">
  <li>The task is postponed for 2 months to allow a response from the claimant.</li>
  <li>If the claimant has not called with their decision within 2 months, a reminder letter is automatically sent to the claimant, telling them what will happen if they do not respond to the letter. The task is postponed for another month.</li>
  <li>If we still have not heard back from the claimant a month after the reminder was sent, the lump sum inheritance is automatically applied to the claimant's account at a 20% tax rate.</li>
</ol>



<br><br><br>

    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Continue to step 2
    </button>

   <br><br><br><br><br>

  </div>
</div>

{% endblock %}
