{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      {% include './_bar.html' %}

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Which option did the claimant choose?
          </h1>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whichOption" name="whichOption" type="radio" value="esp">
            <label class="govuk-label govuk-radios__label" for="whichOption">
              Inherited extra State Pension (increased State Pension payments)
            </label>
          </div>
          {% if data['pre2005eSP'] === 'yes' %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whichOption-2" name="whichOption" type="radio" value="lsiEsp">
              <label class="govuk-label govuk-radios__label" for="whichOption-2">
                Lump sum inheritance payment with pre-2005 inherited extra State Pension 
              </label>
            </div>
          {% elseif data['pre2005eSP'] === 'no' %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whichOption-2" name="whichOption" type="radio" value="lsi">
              <label class="govuk-label govuk-radios__label" for="whichOption-2">
                Lump sum inheritance payment 
              </label>
            </div>
          {% endif %}
        </div>
      </fieldset>
    </div>

    <br><br><br>

    <button class="govuk-button" data-module="govuk-button">
      Continue
    </button>

    <br><br><br><br><br>

  </div>
</div>


{% endblock %}
