{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<form method="post">

  {% include './_bar.html' %}

  {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}

<br><br>

{{ govukRadios({
  name: "whichOption",
  fieldset: {
    legend: {
      text: "Which option did the claimant choose?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  items: [
    {
      value: "esp",
      text: "Extra State Pension"
    },
    {
      value: "lsi",
      text: "Lump sum inheritance"
    }
  ]
}) }}

<br><br><br>

    <button class="govuk-button" data-module="govuk-button">
      Continue
    </button>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <p class="govuk-body">
      View an <a href="claimant-decision-1" class="govuk-link--no-visited-state">alternative journey for this step</a>.
    </p>

  </div>
</div>


{% endblock %}
