{% extends "layouts/main.html" %}

{% block content %}

  <form method="post">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include './_bar.html' %}

        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
          }) 
        }}

        <br><br>

        <h2 class="govuk-heading-l">Lived or worked abroad</h2>

        <h2 class="govuk-heading-m">RA</h2>
        <hr class="govuk-section-break govuk-section-break--visible">
        <div class="govuk-!-padding-bottom-6"></div>

        {% if data['rf1Returned'] === 'yes' %}
        {% elseif data['rf1Needed'] === 'yes' %}
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-visually-hidden"></span>
              Awaiting RF1 from HMRC. <br>
              <a href="returned-rf1" class="govuk-link">Confirm RF1 returned</a>.
            </strong>
          </div>
        {% elseif data['rf1Needed'] === 'no' %}
        {% elseif 'none' in (data['whichCountry']) %}
        {% else %}
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-visually-hidden"></span>
              Channel Islands liaison outstanding.<br>
              <a href="did-claimant-join" class="govuk-link--no-visited-state">Send application</a>.
            </strong>
          </div>
        {% endif%}
                            
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Guernsey
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Lived
                </dt>
                <dd class="govuk-summary-list__value">
                  1 Jan 1971 to 1 May 1972
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Worked
                </dt>
                <dd class="govuk-summary-list__value">
                  1 Jan 1971 to 1 May 1972
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Social security number
                </dt>
                <dd class="govuk-summary-list__value">
                  WorkedCountry1SS
                </dd>
              </div>
            </dl>
          </div>
        </div>

                <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Jersey
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Lived
                </dt>
                <dd class="govuk-summary-list__value">
                  1 Jan 1972 to 1 May 1973
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Worked
                </dt>
                <dd class="govuk-summary-list__value">
                  1 Feb 2003 to 1 May 2004
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Social security number
                </dt>
                <dd class="govuk-summary-list__value">
                  WorkedCountry2SS
                </dd>
              </div>
            </dl>
          </div>
        </div>

      </div>

      <div class="govuk-grid-column-one-third">

        <br>

        <h3 class="govuk-heading-m">Lived or worked abroad changes</h3>

        <div class="dwp-timeline">
          <ol class="dwp-timeline__items">

            {% if (('guernsey' in (data['whichCountry']) and 'jersey' in (data['whichCountry']))) and data['rf1Returned'] === 'yes' %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">date - year - time</p>
                <h2 class="dwp-timeline__heading">RA: Channel Islands liaison application complete for Guernsey</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">date - year - time</p>
                <h2 class="dwp-timeline__heading">RA: Channel Islands liaison application complete for Jersey</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">14 Feb 2025 at 09:17am</p>
                <h2 class="dwp-timeline__heading">RA: RF1 returned</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
            {% elseif data['needSend'] === 'no' and data['rf1Returned'] === 'yes' %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">date - year - time</p>
                <h2 class="dwp-timeline__heading">RA: Channel Islands liaison application complete for Guernsey</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">date - year - time</p>
                <h2 class="dwp-timeline__heading">RA: Channel Islands liaison application complete for Jersey</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">14 Feb 2025 at 09:17am</p>
                <h2 class="dwp-timeline__heading">RA: RF1 returned</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
            {% elseif ('jersey' in (data['whichCountry']) or data['needSend'] === 'no') and data['rf1Returned'] === 'yes' %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">date - year - time</p>
                <h2 class="dwp-timeline__heading">RA: Channel Islands liaison application complete for Jersey</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">14 Feb 2025 at 09:17am</p>
                <h2 class="dwp-timeline__heading">RA: RF1 returned</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
            {% endif %}
            
            {% if ('guernsey' in (data['whichCountry']) and 'jersey' in (data['whichCountry'])) and data['rf1Needed'] === 'yes' %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">date - year - time</p>
                <h2 class="dwp-timeline__heading">RA: RF1 requested from HMRC</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
            {% elseif 'guernsey' in (data['whichCountry']) and data['rf1Needed'] === 'yes' %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">date - year - time</p>
                <h2 class="dwp-timeline__heading">RA: RF1 requested from HMRC</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">date - year - time</p>
                <h2 class="dwp-timeline__heading">RA: Channel Islands liaison application already complete for Jersey</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
            {% elseif 'jersey' in (data['whichCountry']) and data['rf1Needed'] === 'yes' %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">date - year - time</p>
                <h2 class="dwp-timeline__heading">RA: RF1 requested from HMRC</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">date - year - time</p>
                <h2 class="dwp-timeline__heading">RA: Channel Islands liaison application already complete for Guernsey</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
            {% endif %}

            {% if ('guernsey' in (data['whichCountry']) and 'jersey' in (data['whichCountry'])) and data['rf1Needed'] === 'no' %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">date - year - time</p>
                <h2 class="dwp-timeline__heading">RA: Channel Islands liaison application complete for Guernsey</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">date - year - time</p>
                <h2 class="dwp-timeline__heading">RA: Channel Islands liaison application complete for Jersey</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
            {% elseif 'guernsey' in (data['whichCountry']) and data['rf1Needed'] === 'no' %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">date - year - time</p>
                <h2 class="dwp-timeline__heading">RA: Channel Islands liaison application complete for Guernsey</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">date - year - time</p>
                <h2 class="dwp-timeline__heading">RA: Channel Islands liaison application already complete for Jersey</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
            {% elseif 'jersey' in (data['whichCountry']) and data['rf1Needed'] === 'no' %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">date - year - time</p>
                <h2 class="dwp-timeline__heading">RA: Channel Islands liaison application complete for Jersey</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">date - year - time</p>
                <h2 class="dwp-timeline__heading">RA: Channel Islands liaison application already complete for Guernsey</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
            {% endif %}

            {% if data['needSend'] === 'no' %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">date - year - time</p>
                <h2 class="dwp-timeline__heading">RA: Channel Islands liaison application already complete for Guernsey</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">date - year - time</p>
                <h2 class="dwp-timeline__heading">RA: Channel Islands liaison application already complete for Jersey</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
            {% elseif 'none' in (data['whichCountry']) %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">date - year - time</p>
                <h2 class="dwp-timeline__heading">RA: Channel Islands liaison application already complete for Guernsey</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">date - year - time</p>
                <h2 class="dwp-timeline__heading">RA: Channel Islands liaison application already complete for Jersey</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
            {% endif %}

          </ol>
        </div>
  
      </div>

    </div>

{% endblock %}
