
{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Send Channel Islands liaison application</h1>

      <p>Check if we need to request an RF1 from HMRC.</p>

      <p>You may then need to complete and send the Channel Islands liaison application.</p>

      <br><br>

      <a href="did-claimant-join" button type="submit" class="govuk-button govuk-button">
        Start this task
      </a>

      <a href="task-queue" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
        Return task to queue
      </a>

    </div>
  </div>

</form>

{% endblock %}