
{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include './_bar.html' %}

      {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        })
      }}

      <br><br>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="whichCountry-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Which countries need a Channel Island liaison application?
            </h1>
          </legend>
          <div id="whichCountry-hint" class="govuk-hint">
            Select all that apply
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="whichCountry" name="whichCountry" type="checkbox" value="guernsey">
              <label class="govuk-label govuk-checkboxes__label" for="whichCountry">
                Guernsey
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="whichCountry-2" name="whichCountry" type="checkbox" value="jersey">
              <label class="govuk-label govuk-checkboxes__label" for="whichCountry-2">
                Jersey
              </label>
            </div>
            <div class="govuk-checkboxes__divider">or</div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="countries-5" name="countries" type="checkbox" value="none" data-behaviour="exclusive">
              <label class="govuk-label govuk-checkboxes__label" for="countries-5">
                None, liaison applications already sent
              </label>
            </div>
          </div>
        </fieldset>
      </div>
              
      <br>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </div>
  </div>

</form>

{% endblock %}