{% extends "layouts/main-2.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        })
      }}

      <br><br>

      <h1 class="govuk-heading-l">Accrued Rights Premium details</h1>

      <br><br>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          Maxwell Indemnity may need to be confirmed 
          <p><a href="#" class="govuk-link"><b>Check for Maxwell Indemnity</b></a></p>
        </strong>
      </div>


      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Action history</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Event</th>
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header">By</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Maxwell Scheme awarded</th>
            <td class="govuk-table__cell">17 May 2024</td>
            <td class="govuk-table__cell">Agent</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">CA1741 returned</th>
            <td class="govuk-table__cell">13 May 2024</td>
            <td class="govuk-table__cell">System</td> 
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">CA1741 requested</th>
            <td class="govuk-table__cell">11 May 2024</td>
            <td class="govuk-table__cell">Agent</td>
          </tr>
        </tbody>
      </table>

     </div>
      
    </div>
  </main>
</div>

{% endblock %}
