{% extends "layouts/main-2.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}

  <br><br>

  <h1 class="govuk-heading-l">Accrued Rights Premium details</h1>

  <br><br>

  {% if data.maxwellQuestion === 'yes' %}

  {% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  caption: "Dates and events",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
    {
      text: "Date"
    },
    {
      text: "Event"
    },
    {
      text: "Notification"
    },
    {
      text: "By"
    }
  ],
  rows: [
    [
      {
        text: "13 May 2024"
      },
      {
        text: "CA1741 requested"
      },
      {
        text: "Sent"
      },
      {
        text: "Agent"
      }
    ],
    [
      {
        text: "13 May 2024"
      },
      {
        text: "Maxwell Scheme identified"
      },
      {
        text: ""
      },
      {
        text: "Agent"
      }
    ]
  ]
}) }}

{% elseif data.maxwellQuestion === 'no' %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  caption: "Dates and events",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
    {
      text: "Date"
    },
    {
      text: "Event"
    },
    {
      text: "Notification"
    },
    {
      text: "By"
    }
  ],
  rows: [
    [
      {
        text: "13 May 2024"
      },
      {
        text: "Maxwell scheme actions complete"
      },
      {
        text: ""
      },
      {
        text: "Agent"
      }
    ],
    [
      {
        text: "13 May 2024"
      },
      {
        text: "Maxwell scheme not identified"
      },
      {
        text: ""
      },
      {
        text: "Agent"
      }
    ]
  ]
}) }}

{% elseif data.ca1741returned === 'no' %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
caption: "Dates and events",
captionClasses: "govuk-table__caption--m",
firstCellIsHeader: false,
head: [
  {
    text: "Date"
  },
  {
    text: "Event"
  },
  {
    text: "Notification"
  },
  {
    text: "By"
  }
],
rows: [
  [
    {
      text: "13 May 2024"
    },
    {
      text: "CA1741 requested"
    },
    {
      text: "Sent"
    },
    {
      text: "Agent"
    }
  ],
  [
      {
        text: "13 May 2024"
      },
      {
        text: "Maxwell scheme identified"
      },
      {
        text: ""
      },
      {
        text: "Agent"
      }
    ]
]
}) }}

{% endif %}

 </div>
  
</div>
</main>
</div>

{% endblock %}
