{% extends "layouts/main-2.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}

  <br><br>

  <h1 class="govuk-heading-l">Accrued Rights Premium check details</h1>

  <br><br>

  {% if data.gmpQuestion === 'yes' %}

  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-visually-hidden">Warning</span>
      Outstanding Maxwell indemnity task
      <p><a href="#" class="govuk-link"><b>Complete task.</b></a></p>
    </strong>
  </div>

  {% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  caption: "Dates and events",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
    {
      text: "Date"
    },
    {
      text: "Event"
    },
    {
      text: "Notification"
    },
    {
      text: "By"
    }
  ],
  rows: [
    [
      {
        text: "17 May 2024"
      },
      {
        text: "Maxwell scheme actions complete"
      },
      {
        text: ""
      },
      {
        text: "Agent"
      }
    ],
    [
      {
        text: "17 May 2024"
      },
      {
        text: "GMP amount confirmed"
      },
      {
        text: ""
      },
      {
        text: "Agent"
      }
    ],
    [
      {
        text: "15 May 2024"
      },
      {
        text: "CA1741 returned"
      },
      {
        text: ""
      },
      {
        text: "Agent"
      }
    ],
    [
      {
        text: "13 May 2024"
      },
      {
        text: "CA1741 requested"
      },
      {
        text: "Sent"
      },
      {
        text: "System"
      }
    ],
    [
      {
        text: "13 May 2024"
      },
      {
        text: "Maxwell scheme identified"
      },
      {
        text: ""
      },
      {
        text: "Agent"
      }
    ]
  ]
}) }}

{% elseif data.gmpQuestion === 'no' %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  caption: "Dates and events",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
    {
      text: "Date"
    },
    {
      text: "Event"
    },
    {
      text: "Notification"
    },
    {
      text: "By"
    }
  ],
  rows: [
    [
      {
        text: "17 May 2024"
      },
      {
        text: "CA1741 check requested"
      },
      {
        text: "Sent"
      },
      {
        text: "System"
      }
    ],
    [
      {
        text: "15 May 2024"
      },
      {
        text: "CA1741 returned"
      },
      {
        text: ""
      },
      {
        text: "Agent"
      }
    ],
    [
      {
        text: "13 May 2024"
      },
      {
        text: "CA1741 requested"
      },
      {
        text: "Sent"
      },
      {
        text: "System"
      }
    ],
    [
      {
        text: "13 May 2024"
      },
      {
        text: "Maxwell scheme identified"
      },
      {
        text: ""
      },
      {
        text: "Agent"
      }
    ]
  ]
}) }}

{% elseif data.gmpQuestion2 === 'yes' %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  caption: "Dates and events",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
    {
      text: "Date"
    },
    {
      text: "Event"
    },
    {
      text: "Notification"
    },
    {
      text: "By"
    }
    ],
      rows: [
      [
      {
        text: "19 May 2024"
      },
      {
        text: "Maxwell scheme actions complete"
      },
      {
        text: ""
      },
      {
        text: "Agent"
      }
    ],
      [
      {
        text: "19 May 2024"
      },
      {
        text: "GMP amount confirmed"
      },
      {
        text: ""
      },
      {
        text: "Agent"
      }
    ],
    [
      {
        text: "17 May 2024"
      },
      {
        text: "CA1741 check requested"
      },
      {
        text: "Sent"
      },
      {
        text: "System"
      }
    ],
    [
      {
        text: "15 May 2024"
      },
      {
        text: "CA1741 returned"
      },
      {
        text: ""
      },
      {
        text: "Agent"
      }
    ],
    [
      {
        text: "13 May 2024"
      },
      {
        text: "CA1741 requested"
      },
      {
        text: "Sent"
      },
      {
        text: "System"
      }
    ],
    [
      {
        text: "13 May 2024"
      },
      {
        text: "Maxwell scheme identified"
      },
      {
        text: "Sent"
      },
      {
        text: "Agent"
      }
    ]
  ]
}) }}

{% endif %}

 </div>
  
</div>
</main>
</div>

{% endblock %}
