{% extends "layouts/main-2.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div>

          {% if data.gmpQuestion === 'yes' %}

          <h1 class="govuk-heading-l">
            Otto Kirch <br>
            <span class="govuk-caption-xl">QQ 12 34 56 X</span>
            <strong class="govuk-tag govuk-tag--blue">
              Receiving State Pension
            </strong>
          </h1>
        </div>

        <br>

        {{ xGovukSecondaryNavigation({
          visuallyHiddenTitle: "Secondary menu",
          items: [{
            text: "Personal",
            href: "#",
            current: true
          }, 
          {
            text: "Contact",
            href: "#"
          }, 
          {
            text: "Tasks",
            href: "#"
          },
          {
            text: "Award",
            href: "citizen-award"
          },
          {
            text: "Payment",
            href: "citizen-payment"
          }]
        }) }}

        <br><br>

        <h2 class="govuk-heading-m">Personal details</h2>

          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 50%" >Full name</th>
                <td class="govuk-table__cell" style="width: 50%">Otto Kirch</td>
                <td class="govuk-table__cell"><a class="govuk-link" href="change-name">
                  Change
                </a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">National Insurance number</th>
                <td class="govuk-table__cell">QQ 12 34 56 X</td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date of birth</th>
                <td class="govuk-table__cell">12 December 1957</td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">State Pension date </th>
                <td class="govuk-table__cell">10 April 2023 </td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Marital status </th>
                  <td class="govuk-table__cell">Never been married</td>
                  <td class="govuk-table__cell"><a class="govuk-link" href=change-maritalstatus>
                      Details
                    </a></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Lived or worked abroad </th>
                    <td class="govuk-table__cell">No</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="lived-worked-details">
                        Details
                      </a></td>
                  </tr>

            </tbody>
          </table>
      </div>

      <div class="govuk-grid-column-one-third">

          <div class="dwp-timeline">
            <h1 class="govuk-heading-m">Personal changes</h1>
              <ol class="dwp-timeline__events">
                 
                <li class="dwp-timeline__events--entry">
                  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">State Pension awarded</h2>
                  <p class="govuk-caption-m govuk-!-margin-bottom-1">Agent</p>
                  <p class="govuk-caption-m">17 May 2024</p>
                </li>
                
                <li class="dwp-timeline__events--entry">
                  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">ARP check</h2>
                  <p class="govuk-caption-m govuk-!-margin-bottom-1"><a href="arp-details-3" class="govuk-link">Details</a></p>
                  <p class="govuk-caption-m">13 May 2024</p>
                </li>

                <li class="dwp-timeline__events--entry">
                  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Claim received</h2>
                  <p class="govuk-caption-m govuk-!-margin-bottom-1">Agent</p>
                  <p class="govuk-caption-m">11 May 2024</p>
                </li>
              </ol>
          </div>

      </div>

      {% elseif data.gmpQuestion === 'no' %}

      <h1 class="govuk-heading-l">
        Otto Kirch <br>
        <span class="govuk-caption-xl">QQ 12 34 56 X</span>
        <strong class="govuk-tag govuk-tag--orange">
          Task outstanding
        </strong>
      </h1>
    </div>

    <br>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        Waiting for CA1741 from HMRC. 
        <p><a href="ca1741-returned-2" class="govuk-link"><b>Confirm CA1741 returned.</b></a></p>
      </strong>
    </div>

    {{ xGovukSecondaryNavigation({
      visuallyHiddenTitle: "Secondary menu",
      items: [{
        text: "Personal",
        href: "#",
        current: true
      }, {
        text: "Contact",
        href: "#"
      }, {
        text: "Tasks",
        href: "#"
      }]
    }) }}

    <br><br>

    <h2 class="govuk-heading-m">Personal details</h2>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 50%" >Full name</th>
            <td class="govuk-table__cell" style="width: 50%">Otto Kirch</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="change-name">
              Change
            </a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">National Insurance number</th>
            <td class="govuk-table__cell">QQ 12 34 56 X</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of birth</th>
            <td class="govuk-table__cell">12 December 1957</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">State Pension date </th>
            <td class="govuk-table__cell">10 April 2023 </td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Marital status </th>
              <td class="govuk-table__cell">Never been married</td>
              <td class="govuk-table__cell"><a class="govuk-link" href=change-maritalstatus>
                  Details
                </a></td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Lived or worked abroad </th>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell"><a class="govuk-link" href="lived-worked-details">
                    Details
                  </a></td>
              </tr>

        </tbody>
      </table>
  </div>

  <div class="govuk-grid-column-one-third">

      <div class="dwp-timeline">
        <h1 class="govuk-heading-m">Personal changes</h1>
          <ol class="dwp-timeline__events">
            
            <li class="dwp-timeline__events--entry">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">ARP check</h2>
              <p class="govuk-caption-m govuk-!-margin-bottom-1"><a href="arp-details-3" class="govuk-link">Details</a></p>
              <p class="govuk-caption-m">13 May 2024</p>
            </li>

            <li class="dwp-timeline__events--entry">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Claim received</h2>
              <p class="govuk-caption-m govuk-!-margin-bottom-1">Agent</p>
              <p class="govuk-caption-m">11 May 2024</p>
            </li>
          </ol>

      </div>

      {% from "timeline/macro.njk" import dwpTimeline %}

      <h1 class="govuk-heading-m">Personal changes</h1>
      {{
          dwpTimeline({ 
              items: [
              {
                      title:  "ARP check",
                      byline:  "John Goldsmith",
                      description: {
                        text: "Maxwell scheme has not been identified"
                      },
                      link: {
                        href: "arp-details-3",
                        text: "View details",
                        visuallyHiddenText: "related to the ARP check"
                      },
                      date:  "13 May 2024 at 1:04pm"
                  },
                
                  {
                      title:  "Claim received",
                      byline:  "online",
                      date:  "11 May 2024 at 7:14pm"
                  }
          ]
          })
      }}

  </div>

  {% elseif data.gmpQuestion === 'no' and data.gmpQuestion2 === 'yes' %}

  <h1 class="govuk-heading-l">
    Otto Kirch <br>
    <span class="govuk-caption-xl">QQ 12 34 56 X</span>
    <strong class="govuk-tag govuk-tag--blue">
      Receiving State Pension
    </strong>
  </h1>

  <br>

  {{ xGovukSecondaryNavigation({
    visuallyHiddenTitle: "Secondary menu",
    items: [{
      text: "Personal",
      href: "#",
      current: true
    }, 
    {
      text: "Contact",
      href: "#"
    }, 
    {
      text: "Tasks",
      href: "#"
    },
    {
      text: "Award",
      href: "citizen-award"
    },
    {
      text: "Payment",
      href: "citizen-payment"
    }]
  }) }}

  <br><br>

  <h2 class="govuk-heading-m">Personal details</h2>

    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" style="width: 50%" >Full name</th>
          <td class="govuk-table__cell" style="width: 50%">Otto Kirch</td>
          <td class="govuk-table__cell"><a class="govuk-link" href="change-name">
            Change
          </a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">National Insurance number</th>
          <td class="govuk-table__cell">QQ 12 34 56 X</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Date of birth</th>
          <td class="govuk-table__cell">12 December 1957</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">State Pension date </th>
          <td class="govuk-table__cell">10 April 2023 </td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Marital status </th>
            <td class="govuk-table__cell">Never been married</td>
            <td class="govuk-table__cell"><a class="govuk-link" href=change-maritalstatus>
                Details
              </a></td>
          </tr>
          <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Lived or worked abroad </th>
              <td class="govuk-table__cell">No</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="lived-worked-details">
                  Details
                </a></td>
            </tr>

      </tbody>
    </table>
  </div>

  <div class="govuk-grid-column-one-third">

    <div class="dwp-timeline">
      <h1 class="govuk-heading-m">Personal changes</h1>
        <ol class="dwp-timeline__events">
          
          <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">State Pension awarded</h2>
            <p class="govuk-caption-m govuk-!-margin-bottom-1">Agent</p>
            <p class="govuk-caption-m">17 May 2024</p>
          </li>
          
          <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">ARP check</h2>
            <p class="govuk-caption-m govuk-!-margin-bottom-1"><a href="arp-details-3" class="govuk-link">Details</a></p>
            <p class="govuk-caption-m">13 May 2024</p>
          </li>

          <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Claim received</h2>
            <p class="govuk-caption-m govuk-!-margin-bottom-1">Agent</p>
            <p class="govuk-caption-m">11 May 2024</p>
          </li>
        </ol>
    </div>

    {% from "timeline/macro.njk" import dwpTimeline %}

      <h1 class="govuk-heading-m">Personal changes</h1>
      {{
          dwpTimeline({ 
              items: [
              {
                title:  "State Pension awarded",
                byline:  "Jane Doe",
                date:  "17 May 2024 at 4:07pm"
              },    
              {
                      title:  "ARP check",
                      byline:  "John Goldsmith",
                      description: {
                        text: "Maxwell scheme has not been identified"
                      },
                      link: {
                        href: "arp-details-3",
                        text: "View details",
                        visuallyHiddenText: "related to the ARP check"
                      },
                      date:  "13 May 2024 at 1:04pm"
                  },
                
                  {
                      title:  "Claim received",
                      byline:  "online",
                      date:  "11 May 2024 at 7:14pm"
                  }
          ]
          })
      }}

  </div>

{% endif %}

    </div>
  </main>
</div>

{% endblock %}
