{% extends "layouts/main-2.html" %}

{% block content %}

{% if data.gmpQuestion === 'yes' %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div>
          <h1 class="govuk-heading-l">
            Otto Kirch <br>
                            <span class="govuk-caption-xl">QQ 12 34 56 X</span>
                            <strong class="govuk-tag govuk-tag--blue">
                              Receiving State Pension
                            </strong>
          </h1>
        </div>

        <br>

        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              Task complete
            </h3>
          </div>
        </div>

        {{ xGovukSecondaryNavigation({
          visuallyHiddenTitle: "Secondary menu",
          items: [{
            text: "Personal",
            href: "#",
            current: true
          }, {
            text: "Contact",
            href: "#"
          }, {
            text: "Tasks",
            href: "#"
          }]
        }) }}

        <br><br>

        <h2 class="govuk-heading-m">Personal details</h2>

          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 50%" >Full name</th>
                <td class="govuk-table__cell" style="width: 50%">Otto Kirch</td>
                <td class="govuk-table__cell"><a class="govuk-link" href="change-name">
                  Change
                </a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">National Insurance number</th>
                <td class="govuk-table__cell">QQ 12 34 56 X</td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date of birth</th>
                <td class="govuk-table__cell">12 December 1957</td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">State Pension date </th>
                <td class="govuk-table__cell">10 April 2023 </td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Marital status </th>
                  <td class="govuk-table__cell">Never been married</td>
                  <td class="govuk-table__cell"><a class="govuk-link" href=change-maritalstatus>
                      Details
                    </a></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Lived or worked abroad </th>
                    <td class="govuk-table__cell">No</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="lived-worked-details">
                        Details
                      </a></td>
                  </tr>

            </tbody>
          </table>
      </div>

      <div class="govuk-grid-column-one-third">

        <div class="dwp-timeline">
          <h1 class="govuk-heading-m">Personal changes</h1>
            <ol class="dwp-timeline__events">
              
              <li class="dwp-timeline__events--entry">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">State Pension awarded</h2>
                <p class="govuk-caption-m govuk-!-margin-bottom-1">Agent</p>
                <p class="govuk-caption-m">24 May 2024</p>
              </li>

              <li class="dwp-timeline__events--entry">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">ARP check complete</h2>
                <p class="govuk-caption-m govuk-!-margin-bottom-1">Agent</p>
                <p class="govuk-caption-m">24 May 2024</p>
              </li>
              
              <li class="dwp-timeline__events--entry">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">CA1741 requested</h2>
                <p class="govuk-caption-m govuk-!-margin-bottom-1">Agent</p>
                <p class="govuk-caption-m">17 May 2024</p>
              </li>

              <li class="dwp-timeline__events--entry">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Claim received</h2>
                <p class="govuk-caption-m govuk-!-margin-bottom-1">Agent</p>
                <p class="govuk-caption-m">11 May 2024</p>
              </li>

            </ol>
        </div>

      </div>
      
    </div>
  </main>
</div>

{% endif %}

{% if data.gmpQuestion2 === 'yes' %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div>
          <h1 class="govuk-heading-l">
            Otto Kirch <br>
                            <span class="govuk-caption-xl">QQ 12 34 56 X</span>
                            <strong class="govuk-tag govuk-tag--blue">
                              Receiving State Pension
                            </strong>
          </h1>
        </div>

        <br>

        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              Task complete
            </h3>
          </div>
        </div>

        {{ xGovukSecondaryNavigation({
          visuallyHiddenTitle: "Secondary menu",
          items: [{
            text: "Personal",
            href: "#",
            current: true
          }, {
            text: "Contact",
            href: "#"
          }, {
            text: "Tasks",
            href: "#"
          }]
        }) }}

        <br><br>

        <h2 class="govuk-heading-m">Personal details</h2>

          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 50%" >Full name</th>
                <td class="govuk-table__cell" style="width: 50%">Otto Kirch</td>
                <td class="govuk-table__cell"><a class="govuk-link" href="change-name">
                  Change
                </a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">National Insurance number</th>
                <td class="govuk-table__cell">QQ 12 34 56 X</td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date of birth</th>
                <td class="govuk-table__cell">12 December 1957</td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">State Pension date </th>
                <td class="govuk-table__cell">10 April 2023 </td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Marital status </th>
                  <td class="govuk-table__cell">Never been married</td>
                  <td class="govuk-table__cell"><a class="govuk-link" href=change-maritalstatus>
                      Details
                    </a></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Lived or worked abroad </th>
                    <td class="govuk-table__cell">No</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="lived-worked-details">
                        Details
                      </a></td>
                  </tr>

            </tbody>
          </table>
      </div>

      <div class="govuk-grid-column-one-third">

        <div class="dwp-timeline">
          <h1 class="govuk-heading-m">Personal changes</h1>
            <ol class="dwp-timeline__events">
              
              <li class="dwp-timeline__events--entry">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">State Pension awarded</h2>
                <p class="govuk-caption-m govuk-!-margin-bottom-1">Agent</p>
                <p class="govuk-caption-m">24 May 2024</p>
              </li>

              <li class="dwp-timeline__events--entry">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">ARP check complete</h2>
                <p class="govuk-caption-m govuk-!-margin-bottom-1">Agent</p>
                <p class="govuk-caption-m">24 May 2024</p>
              </li>
              
              <li class="dwp-timeline__events--entry">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">CA1741 correction requested</h2>
                <p class="govuk-caption-m govuk-!-margin-bottom-1">Agent</p>
                <p class="govuk-caption-m">19 May 2024</p>
              </li>
              
              <li class="dwp-timeline__events--entry">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">CA1741 requested</h2>
                <p class="govuk-caption-m govuk-!-margin-bottom-1">Agent</p>
                <p class="govuk-caption-m">17 May 2024</p>
              </li>

              <li class="dwp-timeline__events--entry">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Claim received</h2>
                <p class="govuk-caption-m govuk-!-margin-bottom-1">Agent</p>
                <p class="govuk-caption-m">11 May 2024</p>
              </li>

            </ol>
        </div>

      </div>
      
    </div>
  </main>
</div>

{% elseif data.gmpQuestion2 === 'no' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

<br>

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{{ govukPanel({
  titleText: "Task complete",
  html: "This claimant has been removed from the Get your State Pension platform"
}) }}

<br>

</div>

</div>
</main>
</div>

{% endif %}

{% endblock %}
