{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<form method="post" action="dashboard">

  {% include './_bar.html' %}

  {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}

<br><br>

<h1 class="govuk-heading-l">More information needed</h1>

<p>This claimant gets Carer's Allowance.</p>

<p>A request for information will been sent to the Carer's Allowance team.</p>

<br><br><br>

  <button class="govuk-button" data-module="govuk-button">
  End task
  </button>

   <br><br><br><br><br>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    
    <br>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b>#<br>
        <b>Notes:</b> If citizen has pension credit, the agent will be prompted to <a href="br403-part-a.html" class="govuk-link">complete Part A of the BR403</a><br> <br>
      </div>
    </details>


  </div>

</div>

{% endblock %}
