{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include './_bar.html' %}

        {{ govukBackLink({
              "text": "Back",
              "href": "javascript: window.history.go(-1)"
            })
          }}

          <br><br>

              <div class="govuk-form-group">
                <h2 class="govuk-heading-l">You cannot calculate a new award</h2>

        <p>There is an outstanding SRB task for this claimant. You cannot calculate a new award until this is complete.</p>

        <p>Postpone this task to put it back in the queue for 28 days.</p>


            <br>

            <button class="govuk-button" data-module="govuk-button">
        Postpone task    </button>

        <br><br><br><br>

        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
        <br>
        
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                    <b>URL and notes</b>
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <b>URL:</b> cannot-calculate-new-award-srb <br>
                    <b>Notes:</b> None <br>
                    <p class="govuk-body">
                      <a href="https://dwpgovuk.sharepoint.com/:x:/r/sites/ext-rbc/_layouts/15/Doc.aspx?sourcedoc=%7B90A11722-45DE-46C0-A7F3-EBEB5A225C40%7D&file=ANZaC-mixed-SoT.xlsx&nav=MTVfezgwRTBDQUVGLThGMDctNDAyMy05QzlELUU5NjE5NjNGQzhDRH0&action=default&mobileredirect=true" 
                      class="govuk-link" rel="noreferrer noopener" target="_blank">Content source of truth (opens in new tab)</a>
                    </p>
                  </div>
                </details>

        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
