{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% include './_bar.html' %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
                  }) }}

          <br><br>

        <form method="post" action="get-a-task-2">

          <h1 class="govuk-heading-xl">Award cannot be changed</h1>

<p>The current award is more than the new award calculated based on the time the claimant lived or worked in an EEA country. We will not change the claimant's award.</p>

<br><br>

{% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  caption: "Award from State Pension age with ANZaC uplift",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Current award",
      classes: "govuk-!-width-one-half"
    },
    {
      text: "£132.25",
      classes: "govuk-!-width-one-half"
    }
  ],
  rows: [
    [
      {
        text: "From"
      },
      {
        text: "13th September 2022"
      }
    ]
  ]
}) }}

<br><br>

{% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  caption: "Award from State Pension age with EEA uplift",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Your calculated award",
      classes: "govuk-!-width-one-half"
    },
    {
      text: "£103.25",
      classes: "govuk-!-width-one-half"
    }
  ],
  rows: [
    [
      {
        text: "From"
      },
      {
        text: "13th September 2022"
      }
    ]
  ]
}) }}

          <br><br><br>


<button class="govuk-button" data-module="govuk-button" href="/international-record/anzac-iteration-2/lived-worked-details-cfn1282-returned">
  Continue
</button>



        <br>

        <br>
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
        <br>

                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                    <b>URL, errors and notes</b>
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <b>URL:</b> /confirm-award <br>
                    <b>Error messages:</b> <br>
                    <b>Notes:</b> If the award cannot be changed due to a conflicting ANZaC payment, the agent will be shown <a href="#" class="govuk-link">this screen</a>. <br>
                  </div>
                </details>


      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
