{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% include './_bar.html' %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
                  }) }}

<br><br>

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set html %}
  <p class="govuk-notification-banner__heading">
    An ANZaC increase is in payment.
  </p>
{% endset %}

{{ govukNotificationBanner({
  html: html
}) }}

 <form method="post">

<h1 class="govuk-heading-xl">Changing the claimant's payment</h1> 

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "An EEA/ANZaC increase is in payment.",
  iconFallbackText: "Warning"
}) }}

          <p>
            The claimant is already getting <strong>(£ amount) per week</strong> based on the time they lived or worked in an ANZaC country. 
          </p>

          <p>
            Do not change the award if the calculation you just made is less than the amount above. 
          </p>

          <br><br><br>

          {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "changeAward",
  fieldset: {
    legend: {
      text: "Do you want to change their award?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

          <br><br><br>

<button class="govuk-button" data-module="govuk-button">
  Continue
</button>



        <br>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
