{% extends "layouts/main.html" %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% block content %}

<form class="form" method="post" action="dashboard">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% include './_bar.html' %}

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
      }}

      <br><br>

      <h1 class="govuk-heading-xl">
        Complete PSOD  actions
      </h1>

      <h2 class="govuk-heading-l">
        1. Check your answers
      </h2>

      <h3 class="govuk-heading-m">PSOD information</h3>

      <dl class="govuk-summary-list">
        {% if data['creditAmount'] %}
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                PSOD credit
              </dt>

              <dd class="govuk-summary-list__value">
                £{{data['creditAmount']}}
              </dd>

              <dd class="govuk-summary-list__actions">
                <a class="govuk-link--no-visited-state" href="psod-task">Change<span class="govuk-visually-hidden"> transaction type</span></a>
              </dd>
          </div>
        {% endif %}

        {% if data['debitAmount'] %}
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                PSOD debit
              </dt>

              <dd class="govuk-summary-list__value">
                £{{data['debitAmount']}}
              </dd>

              <dd class="govuk-summary-list__actions">
                <a class="govuk-link--no-visited-state" href="psod-task">Change<span class="govuk-visually-hidden"> transaction type</span></a>
              </dd>
          </div>
        {% endif %}

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Pension sharing order date of effect
            </dt>

            <dd class="govuk-summary-list__value">
              {{data['dateOfEffect-day']}} {{data['dateOfEffect-month'] | monthName }} {{data['dateOfEffect-year']}}
            </dd>

          <dd class="govuk-summary-list__actions">
            <a class="govuk-link--no-visited-state" href="psod-task">Change<span class="govuk-visually-hidden"> transaction type</span></a>
          </dd>
        </div>

      </dl>

      <br><br>

      <h2 class="govuk-heading-l">
        2. Upload documents into DRS
      </h2>

        <p>Upload copies of:
        <ul class="govuk-list govuk-list--bullet">
          <li>the pension sharing order</li>
          <li>the decree absolute</li>
        </ul>
        </p>

      <br><br>

      <h2 class="govuk-heading-l">
        3. Confirm award
      </h2>

      <br>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Updated award</th>
            <td class="govuk-table__cell">
              <b>
             {% if data['debitAmount'] and data['creditAmount'] %}
              £{{ (200 - data.debitAmount | float + data.creditAmount | float).toFixed(2) }}
             {% elseif data['creditAmount'] %}
              £{{ (200 + data.creditAmount | float).toFixed(2) }}
             {% elseif data['debitAmount']%}
              £{{ (200 - data.debitAmount | float).toFixed(2) }}
             {% endif %}</b>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">New State Pension</th>
            <td class="govuk-table__cell">
              {% if data['creditAmount'] %}
                £203.85
              {% elseif data['debitAmount']%}
                £{{ (200 - data.debitAmount | float).toFixed(2) }}
             {% endif %}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Protected payment</th>
            <td class="govuk-table__cell">
             {% if data['creditAmount'] and data['debitAmount'] %}
              £{{ (data.creditAmount | float - 3.85 | float - data.debitAmount | float).toFixed(2) }}
             {% elseif data['creditAmount'] %}
              £{{ (data.creditAmount - 3.85 | float).toFixed(2) }}
             {% elseif data['debitAmount']%}
              £0.00
             {% endif %}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">From</th>
            <td class="govuk-table__cell">28 December 2024</td>
          </tr>
        </tbody>
      </table>

      <br>

      <div class="govuk-inset-text">
      This will automatically pay any arrears and send an award letter to the claimant. 
      </div>

      <br><br><br>

      {{ govukButton({
        text: "Confirm and send letter"
      }) }}

      <br><br><br><br><br>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Alternate page content if additional tasks need to be actioned
          </span>
        </summary>
        <br>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="check-answers-ca" class="govuk-link--no-visited-state">Carer's allowance</a></li>
            <li><a href="check-answers-csp" class="govuk-link--no-visited-state">Carer's support payment</a></li>
            <li><a href="check-answers-pc" class="govuk-link--no-visited-state">Pension credit</a></li>
            <li><a href="check-answers-wp" class="govuk-link--no-visited-state">War pension</a></li>
          </ul>
      </details>

      </form>

    </div>
  </div>
  
{% endblock %}
