{% extends "layouts/main-2.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data['creditAmount'] or data['debitAmount'] %}

      {% include './_bar-2.html' %}

    {% else %}

      {% include './_bar.html' %}

    {% endif %}

    <br>

    {{ xGovukSecondaryNavigation({
      visuallyHiddenTitle: "Secondary menu",
      items: [{
        text: "Personal",
        href: "record-personal"
      }, 
      {
        text: "Contact",
        href: "record-contact"
      }, 
      {
        text: "Tasks",
        href: "record-tasks"
      },
      {
        text: "Award",
        href: "record-award",
        current: true
      },
      {
        text: "Payment",
        href: "record-payment"
      },
      {
        text: "Full history",
        href: "record-full-history"
      }]
    }) }}

    <br><br>

    <h2 class="govuk-heading-m">State Pension awards</h2>

    <br><br>

    <table class="govuk-table" disabled aria-disabled="true">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col" style="width: 25%">From</th>
          <th class="govuk-table__header " scope="col" style="width: 30%">Weekly amount</th>
          <th class="govuk-table__header" scope="col" style="width: 20%">Adjustment</th>
          <th class="govuk-table__header" scope="col" style="width: 15%"></th>

        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">28 Dec 2024</td>
          <td class="govuk-table__cell">
            {% if data['debitAmount'] and data['creditAmount'] %}
              £{{ (200 - data.debitAmount | float + data.creditAmount | float).toFixed(2) }}
            {% elseif data['creditAmount'] %}
              £{{ 200 + data.creditAmount | float }}.00
            {% elseif data['debitAmount']%}
              £{{ 200 - data.debitAmount | float }}.00
            {% endif %}
          </td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell"><a class="govuk-body govuk-link--no-visited-state" href="record-award-details.html">Details</a></td>
        </tr>
      </tbody>
    </table>

    <a href="record-award-review" class="govuk-link--no-visited-state govuk-!-font-size-19">Review award</a>

    <br><br><br>

  </div>

  <div class="govuk-grid-column-one-third">

    <h3 class="govuk-heading-m">Award changes</h3>

      <div class="dwp-timeline">
        <ol class="dwp-timeline__items">

          {% if data['creditAmount'] or data['debitAmount'] %}

          <li class="dwp-timeline__item">
            <p class="dwp-timeline__datetime">28 Dec 2024 at 2:19pm</p>
            <h2 class="dwp-timeline__heading">State Pension awarded</h2>
            <p class="dwp-timeline__by-line">by Agent</p>
          </li>

            {% if data['creditAmount'] and data['debitAmount'] %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">28 Dec 2024 at 2:19pm</p>
                <h2 class="dwp-timeline__heading">PSOD credit and debit applied</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
            {% elseif data['creditAmount'] %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">28 Dec 2024 at 2:19pm</p>
                <h2 class="dwp-timeline__heading">PSOD credit applied</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
            {% elseif data['debitAmount'] %}
              <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">28 Dec 2024 at 2:19pm</p>
                <h2 class="dwp-timeline__heading">PSOD debit applied</h2>
                <p class="dwp-timeline__by-line">by Agent</p>
              </li>
            {% endif %}

          {% endif %}

          <li class="dwp-timeline__item">
            <p class="dwp-timeline__datetime">1 Dec 2024 at 9:34am</p>
            <h2 class="dwp-timeline__heading">Email sent to Future Pension Centre</h2>
            <p class="dwp-timeline__by-line">by System</p>
          </li>

          <li class="dwp-timeline__item">
            <p class="dwp-timeline__datetime">13 Nov 2024 at 10:22am</p>
            <h2 class="dwp-timeline__heading">Claim received</h2>
            <p class="dwp-timeline__by-line">by Agent</p>
          </li>

        </ol>
      </div>

  </div>

</div>



{% endblock %}
