{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post" action="psod-task">

  {% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      name: "whichAction",
      fieldset: {
        legend: {
          text: "Which PSOD action do you need to take for this claimant?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      hint: {
        text: "Check the information from the Future Pension Centre."
      },
      items: [
        {
          value: "credit",
          text: "PSOD credit"
        },
        {
          value: "debit",
          text: "PSOD debit"
        },
        {
          divider: "or"
        },
        {
          value: "both",
          text: "PSOD credit and debit"
        }
      ]
    }) }}

    <br><br><br>

    <button class="govuk-button" data-module="govuk-button">
    Continue
    </button>

    <br><br><br>

  </div>
</div>

{% endblock %}
