{% extends "layouts/main.html" %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% include './_bar.html' %}

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
      }}

      <br><br>

      <h1 class="govuk-heading-xl">
        Check your answers before uploading documentation
      </h1>

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claimant
          </dt>

          <dd class="govuk-summary-list__value">
            Former spouse 
          </dd>

          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> transaction type</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Valuation amount
          </dt>

          <dd class="govuk-summary-list__value">
            £123.45
          </dd>

          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> transaction type</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Start date
          </dt>

          <dd class="govuk-summary-list__value">
            1 Jan 2023
          </dd>

          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Agreement date
          </dt>

          <dd class="govuk-summary-list__value">
            3 Mar 2024
          </dd>

          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd>
        </div>

      </dl>

      <br><br><br>

      <form action="/edge-cases/test-journey-1/upload-documents" method="post" novalidate>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
