{% extends "layouts/main.html" %}

{% block content %}

{% block pageScripts %}
  <script type="text/javascript">
    var $element = document.querySelector('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
  </script>
{% endblock %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include './_bar.html' %}

        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
                          }) }}

        <br><br>

        <h1 class="govuk-heading-l">
          Pension share on divorce (PSOD)
        </h1>
    
        <p>
          Use the information from the future pension centre to complete the steps below.
        </p>

        <br>

        <div data-module="appstepnav" id="step-by-step-navigation" class="app-step-nav js-hidden app-step-nav--large" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all steps" data-hide-all-text="Hide all steps">
          <ol class="app-step-nav__steps">
            <li class="app-step-nav__step js-step" id="psod">
              <div class="app-step-nav__header js-toggle-panel" data-position="1">
                <h2 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 1<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                      </span>
                    </span>
                  </span>
    
                  <span class="js-step-title">
                    Is the claimant the member or the former spouse?
                  </span>
                </h2>
              </div>
    
              <div class="app-step-nav__panel js-panel" id="step-panel-psod">
    
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="debitCredit-hint">
                    
                    <div class="govuk-radios" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="debitCredit" name="debitCredit" type="radio" value="debit" data-aria-controls="conditional-debitCredit">
                        <label class="govuk-label govuk-radios__label" for="debitCredit">
                          member
                        </label>
                      </div>
                      
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="debitCredit-2" name="debitCredit" type="radio" value="credit" data-aria-controls="conditional-debitCredit-2">
                        <label class="govuk-label govuk-radios__label" for="debitCredit-2">
                          former spouse
                        </label>
                      </div>
                      
                    </div>
                  </fieldset>
                </div>
                
              </div>
    
            </li>

    
            <li class="app-step-nav__step js-step" id="get-a-provisional-licence">
              <div class="app-step-nav__header js-toggle-panel" data-position="2">
                <h2 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 2<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                      </span>
                    </span>
                  </span>
    
                  <span class="js-step-title">
                    Enter the PSOD amount in pounds
                  </span>
                </h2>
              </div>
    
              <div class="app-step-nav__panel js-panel" id="step-panel-get-a-provisional-licence-2">

                <div class="govuk-warning-text">
                  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                  <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    The uprating year for the amount is 2023
                  </strong>
                </div>
              
                <div class="govuk-form-group">
                  <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                    <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
                  </div>
                </div>

              </div>
    
            </li>

            <li class="app-step-nav__step js-step" id="driving-lessons-and-practice">
              <div class="app-step-nav__header js-toggle-panel" data-position="3">
                <h3 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 3<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                      </span>
                    </span>
                  </span>
    
                  <span class="js-step-title">
                    Enter the date of effect of the share order
                  </span>
                </h3>
              </div>
    
              <div class="app-step-nav__panel js-panel" id="step-panel-driving-lessons-and-practice-3">
    
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" role="group" aria-describedby="startDate-hint">
                    
                    <div class="govuk-date-input" id="startDate">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="startDate-day">
                            Day
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="startDate-day" name="startDate-day" type="text" inputmode="numeric">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="startDate-month">
                            Month
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="startDate-month" name="startDate-month" type="text" inputmode="numeric">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="startDate-year">
                            Year
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="startDate-year" name="startDate-year" type="text" inputmode="numeric">
                        </div>
                      </div>

                    </div>
                  </fieldset>
                </div>
    
              </div>
    
            </li>
    
          </ol>
        </div>


        <a href="check-answers" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Continue
        </a>
    
      </div>

    </div>

    </div>

  </main>
</div>

{% endblock %}
