{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post">

  <a href="marital-status" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        How would you like to be contacted?
      </h1>

      <p>We may contact you if we need further information.</p>

      <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

      <div id="contact-hint" class="govuk-hint">
        You must provide at least one phone number.
      </div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="home">
          <label class="govuk-label govuk-checkboxes__label" for="contact">
            Home phone
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="mobile">
          <label class="govuk-label govuk-checkboxes__label" for="contact-2">
            Mobile phone
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="work">
          <label class="govuk-label govuk-checkboxes__label" for="contact-3">
            Work phone
          </label>
        </div>
      </div>

    </fieldset>
  </div>



      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label">
            <b>Email address</b>
            <p class="govuk-hint">We'll use this to confirm we've received your application.</p>
          </label>
        </h1>
        <input class="govuk-input govuk-input--width-20" type="text">
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </div>

    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


{% endblock %}
