

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

        <div>
          <h1 class="govuk-heading-xl">
            {% if data['nino'] === 'xx347612a' %}
            Theodora Best
            {% elseif data['nino'] === 'XX347612A' %}
            Theodora Best
            {% elseif data['nino'] === 'XX89161B' %}
            Yara Croft
            {% elseif data['nino'] === 'xx89161b' %}
            Yara Croft
            {% else %}
            Samira McGill
            {% endif %}

            {% if data['nino'] === 'QQ 12 34 56 X' %}
            <span class="govuk-caption-xl">QQ 12 34 56 X</span>
            <strong class="govuk-tag govuk-tag--red">
              Deferred
            </strong>  
            {% else %}
            <span class="govuk-caption-xl">QQ 12 34 56 X</span>
            <strong class="govuk-tag govuk-tag--green">
              Ready to claim State Pension
            </strong>   
            {% endif %}

          </h1>
        </div>

  </div>
</div>
