{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './_header-nav.html' %}
{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  <br>

  {% include './_bar.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
                          }) }}
                          
        <br> <br>
        <form method="post">

          <h1 class="govuk-heading-xl">
            Entitlement to a pension from {{data['country-1']}}</h1>
    
    <p>Explain to the claimant that based on their answers, they may be entitled to a European Union (EU) pension from {{data['country-1']}}.</p>
        
    <p class="govuk-body">You may need to tell them that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>if they are already getting their EU pension from {{data['country-1']}} they do not need to apply again</li>
      <li>EU pensions do not affect how much State Pension the claimant will get</li>
    </ul>

    <p>If the claimant wants to apply, International Group will send a form out by post when they pick up the task.</p>
    
    <p class="govuk-body">Explain to the claimant:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>they will need to complete and return the form by post</li>
      <li>when we get the completed form, we'll send a claim to the Foreign Authority</li>
      <li>the Foreign Authority will review the claim and confirm whether or not the claimant can get a pension from them</li>
    </ul>
    
    <br><br><br>
    
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Do you want to apply for your pension from {{data['country-1']}}?</h1>
        </legend>
        <div id="signIn-hint" class="govuk-hint">
        </div>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="pension" name="pension" type="radio" value="yes" aria-describedby="pension-item-hint">
            <label class="govuk-label govuk-radios__label" for="pension">
              Yes
            </label>
            <div id="pension-item-hint" class="govuk-hint govuk-radios__hint">
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="pension-2" name="pension" type="radio" value="no" aria-describedby="pension-2-item-hint">
            <label class="govuk-label govuk-radios__label" for="pension-2">
              No
            </label>
            <div id="pension-2-item-hint" class="govuk-hint govuk-radios__hint">
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    
    <br><br><br>
    
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

      <br><br><br><br><br>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
          <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          <b>URL and notes</b>
          </span>
          </summary>
          <div class="govuk-details__text">
          <b>URL:</b> /entitlement-eu-pension <br>
          <b> Notes:</b> Link to 
              <a href="https://dwpgovuk.sharepoint.com/:x:/r/sites/ext-rbc/_layouts/15/Doc.aspx?sourcedoc=%7B81677BD0-8555-45D4-884A-45795D31BDC4%7D&file=GYSP-telephone-claim-form-SoT.xlsx&action=default&mobileredirect=true" 
              class="govuk-link" rel="noreferrer noopener" target="_blank">content source of truth (opens in new tab)</a>
            


          </div>
          </details>

  </div>


 </form>



</div>

</main>
</div>

{% endblock %}
