{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './_header-nav.html' %}
{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  <br>

  {% include './_bar.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
                          }) }}
                          
        <br> <br>
        <form method="post">

          <h1 class="govuk-heading-xl"> Entitlement to European Union (EU) pensions     
          </h1>
    
    <p>Explain to the claimant that based on their answers, they may be entitled to EU pensions from 
      {% if data['country-5'] %}
      {{data['country-1']}}, {{data['country-2']}}, {{data['country-3']}}, {{data['country-4']}} and {{data['country-5']}}.
      {% elseif data['country-4'] %}
      {{data['country-1']}}, {{data['country-2']}}, {{data['country-3']}}, and {{data['country-4']}}.
      {% elseif data['country-3'] %}
      {{data['country-1']}}, {{data['country-2']}}, and {{data['country-3']}}.
      {% else %}
      {{data['country-1']}} and {{data['country-2']}}.
      {% endif %}
    </p>

    <p class="govuk-body">You may need to tell them that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>if they are already getting their EU pension from a country they do not need to apply again</li>
      <li>EU pensions do not affect how much State Pension the claimant will get</li>
    </ul>

    <p>If the claimant wants to apply, International Group will send a form out by post when they pick up the task.</p>

    <p class="govuk-body">Explain to the claimant:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>they will need to complete and return the form by post</li>
      <li>when we get the completed form, we'll send a claim to the relevant Foreign Authorities</li>
      <li>the Foreign Authority will review the claim and confirm whether or not the claimant can get a pension from them</li>
    </ul>
        
    <br><br><br>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Which countries do you want to apply for your EU pension from?
          </h2>
        </legend>
          
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="{{data['country-1']}}">
          <label class="govuk-label govuk-checkboxes__label" for="countries">
            {{data['country-1']}}
          </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="countries-2" name="countries" type="checkbox" value="{{data['country-2']}}">
            <label class="govuk-label govuk-checkboxes__label" for="countries">
              {{data['country-2']}}
            </label>
          </div>
          {% if data['country-3'] %}
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="countries-3" name="countries" type="checkbox" value="{{data['country-3']}}">
              <label class="govuk-label govuk-checkboxes__label" for="countries">
                {{data['country-3']}}
              </label>
            </div>
          {% endif %}
          {% if data['country-4'] %}
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="countries-4" name="countries" type="checkbox" value="{{data['country-4']}}">
              <label class="govuk-label govuk-checkboxes__label" for="countries">
                {{data['country-4']}}
              </label>
            </div>
          {% endif %}
          {% if data['country-5'] %}
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="countries-5" name="countries" type="checkbox" value="{{data['country-5']}}">
              <label class="govuk-label govuk-checkboxes__label" for="countries">
                {{data['country-5']}}
              </label>
            </div>
          {% endif %}
          <div class="govuk-checkboxes__divider">or</div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="countries-6" name="countries" type="checkbox" value="None" data-behaviour="exclusive">
            <label class="govuk-label govuk-checkboxes__label" for="countries-5">
              None
            </label>
          </div>
    
          <br><br><br><br>
    
          <button class="govuk-button">
            Continue
          </button>

      <br>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
          <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          <b>URL and notes</b>
          </span>
          </summary>
          <div class="govuk-details__text">
          <b>URL:</b> /entitlement-eu-pensions <br>
          <b> Notes:</b> Link to 
              <a href="https://dwpgovuk.sharepoint.com/:x:/r/sites/ext-rbc/_layouts/15/Doc.aspx?sourcedoc=%7B81677BD0-8555-45D4-884A-45795D31BDC4%7D&file=GYSP-telephone-claim-form-SoT.xlsx&action=default&mobileredirect=true" 
              class="govuk-link" rel="noreferrer noopener" target="_blank">content source of truth (opens in new tab)</a>
            


          </div>
          </details>

  </div>


 </form>



</div>

</main>
</div>

{% endblock %}
