{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include './_bar.html' %}

        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
                          }) }}

                  <br><br>

        <form method="post" action="upload">

<!-- <h1 class="govuk-heading-l">1. Calculate new award</h1>

<p class="govuk-body">
  Use the VOLNICs calculator to work out how much the claimant's State Pension will increase. You may also need information from:</p>
<ul class="govuk-list govuk-list--bullet">    <li>OLE</li>
    <li>the CFN1282</li>
    <li>the RF1</li>
  </ul>
<p class="govuk-body">Record the increase on a 975 form.</p> -->


<h1 class="govuk-heading-l">Check award</h1>

<br>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header award_detail2" scope="col">Total</th>
      <th class="govuk-table__header award_detail" scope="col">{% if data.addsp1 and data.protectedPayment %}  
        £{{ data.addsp1 | float + data.protectedPayment | float }} per week
        {% else %}
        £{{data.addsp1}}
        {% endif %}	
      </th>
      <th class="govuk-table__header award_detail2" scope="col"><a href="calculate">
        Change<span class="govuk-visually-hidden">Change New State Pension</span>
       </a></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" scope="row">New State Pension</td>
      <td class="govuk-table__cell">{% if data.addsp1 %}
        £{{data.addsp1}}
        {% else %}
        £203.85
        {% endif %}
      </td>
      <td class="govuk-table__cell" scope="row"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" scope="row">Protected payment</td>
      <td class="govuk-table__cell">{% if data.protectedPayment %}
        £{{data.protectedPayment}}
        {% else %}
        £0.00
        {% endif %}
      </td>
      <td class="govuk-table__cell" scope="row"></td>
    </tr>
    <!-- <tr class="govuk-table__row">
      <td class="govuk-table__cell" scope="row">Extra State Pension</td>
      <td class="govuk-table__cell">£5.00</td>
      <td class="govuk-table__cell">  </td>
    </tr>
     <tr class="govuk-table__row">
      <td class="govuk-table__cell" scope="row">Inherited extra State Pension</td>
      <td class="govuk-table__cell">£0.00</td>
      <td class="govuk-table__cell"></td>
    </tr> -->
  </tbody>
  </table>

<br><br>   

<div class="govuk-button-group">
    <button class="govuk-button" data-module="govuk-button">
      Confirm and continue
    </button>
  </div>

<br>





<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
<br>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            <b>URL and notes</b>
            </span>
          </summary>
          <div class="govuk-details__text">
            <b>URL:</b> /change-award <br>
            
            <b>Notes:</b> If the award cannot be changed due to a conflicting ANZaC payment, the agent will be shown <a href="conflicting-award" class="govuk-link">screen 1</a>,<a href="conflicting-award-2" class="govuk-link">screen 2</a>, or <a href="conflicting-award-3" class="govuk-link">screen 3</a> depending on conditions. <br>
          </div>
        </details>
        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
