{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% include './_bar.html' %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
                  }) }}

          <br><br>

        <form method="post" action="conflicting-award-routing">

          <h1 class="govuk-heading-l">EEA award will be recorded</h1>

<p>The award will be recorded but not changed.</p>

<p>The amount entered is less then the claimant's award based on the time they spent in ANZaC countries.</p>

<br><br>

{% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  caption: "",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "ANZaC award",
      classes: "govuk-!-width-one-half"
    },
    {
      text: "£200.00",
      classes: "govuk-!-width-one-half"
    }
  ],
  rows: [
    [
      {
        text: "From"
      },
      {
        text: "13th September 2022"
      }
    ]
  ]
}) }}

<br><br>

{% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  caption: "",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "EEA award",
      classes: "govuk-!-width-one-half"
    },
    {
      text: "£150.00",
      classes: "govuk-!-width-one-half"
    }
  ],
  rows: [
    [
      {
        text: "From"
      },
      {
        text: "13th September 2022"
      }
    ]
  ]
}) }}

<br>

<div class="govuk-inset-text">
  A letter will be automatically sent to the claimant to let them know there is no change to their award.
</div>

          <br><br><br>

<button class="govuk-button" data-module="govuk-button" href="/international-record/anzac-iteration-2/lived-worked-details-cfn1282-returned">
  Confirm and send letter
</button>



        <br>

        <br>
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
        <br>

                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                    <b>URL, errors and notes</b>
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <b>URL:</b> /confirm-award <br>
                    <b>Error messages:</b> <br>
                    <b>Notes:</b> ANZaC award in place, no decision made on EEA as FIRS outstanding at 16 weeks. 
                                  Post 16 weeks FIRS returned, ANZaC award higher. No change to award. 
                              <br>
                  </div>
                </details>


      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
