{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% include './_bar.html' %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
                  }) }}

                            <br><br>

        <form method="post" action="check-award-2">


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Do you need to enter a protected payment amount?
                </h1>
              </legend>
              
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="protected" name="protected" type="radio" value="yes" data-aria-controls="conditional-protectedPayment">
                  <label class="govuk-label govuk-radios__label" for="protected">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-protectedPayment">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="protectedPayment">
                      Enter protected payment amount
                    </label>
                    <div class="govuk-hint">
                      For example, 43.21.
                    </div>
                    <div class="govuk-input__wrapper">
                      <div class="govuk-input__prefix" aria-hidden="true">£</div>
                      <input class="govuk-input govuk-input--width-10" id="pp1" name="protectedPayment" type="text" spellcheck="false">
                    </div>
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="protected3" name="protected" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="protectedPayment2">
                    No
                  </label>
                </div>

                <br><br><br>

          <button class="govuk-button" data-module="govuk-button">
           Confirm
         </button>

         <br><br><br><br><br>

         <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
         <br>

                 <details class="govuk-details" data-module="govuk-details">
                   <summary class="govuk-details__summary">
                     <span class="govuk-details__summary-text">
                     <b>URL, errors and notes</b>
                     </span>
                   </summary>
                   <div class="govuk-details__text">
                     <b>URL:</b> <br>
                     <b>Error messages:</b> <br>
                     Less than current amount: Protected payment amount must be £8.50 or more [current amount + £0.01]<br>
                     Nothing selected: <br>
                     <b>Notes:</b> None <br>
                   </div>
                 </details>
        </form>

      </div>
    </div>
</div>
</div>
</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
