{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% include './_bar.html' %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
                  }) }}

                  <br><br>

<form class="form" action="fir-task" method="post">

<h1 class="govuk-heading-l">Check for insurance records</h1>

<div id="hint" class="govuk-hint">
You can find these in RINA or CAMlite.   </div>
<br>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="norway-records-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          Have we received the records from Norway?
        </h2>
      </legend>
      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="norwayRecords" name="norwayRecords" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="norwayRecords">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="norwayRecords" name="norwayRecords" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="norwayRecords">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="spain-records-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
          Have we received the records from Spain?
      </h2>
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="spainRecords" name="spainRecords" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="spainRecords">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="spainRecords" name="spainRecords" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="spainRecords">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

<button class="govuk-button" data-module="govuk-button">
  Continue
</button>

<br>
<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
<br>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            <b>URL and notes</b>
            </span>
          </summary>
          <div class="govuk-details__text">
            <b>URL:</b> /records-returned <br>
      
            <b>Notes:</b> None <br>
          </div>
        </details>




        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
