{% extends "layouts/main-2.html" %}

{% block content %}

    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-two-thirds">

          {% include './_bar.html' %}

  <form method="post" action="award-updated-arrears">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}

          <br>
          <br>

          <h2 class="govuk-heading-l">Lived or worked abroad</h2>

          <br>

<div class="govuk-notification-banner" role="region"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      Claimant has lived or worked in more than one country group.    </p>
  </div>
</div>

<h2 class="govuk-heading-m">ANZaC</h2>
<hr class="govuk-section-break govuk-section-break--visible">
<div class="govuk-!-padding-bottom-6"></div>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Canada</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Lived
        </dt>
        <dd class="govuk-summary-list__value">
          Jun 1992 to Dec 2006
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"> whether details are known</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Worked
        </dt>
        <dd class="govuk-summary-list__value">
          Jun 1992 to Nov 2006
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"> relationship to lead tenant</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Social security number
        </dt>
        <dd class="govuk-summary-list__value">
          123 456 789
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"> age</span>
          </a>
        </dd>
      </div>
    </dl>
  </div>
</div>

<br><br><br>

  <h2 class="govuk-heading-m">EEA</h2>
  <hr class="govuk-section-break govuk-section-break--visible">
  <div class="govuk-!-padding-bottom-6"></div>
                     
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Spain</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Lived
            </dt>
            <dd class="govuk-summary-list__value">
              Feb 1990 to May 1992
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> whether details are known</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Worked
            </dt>
            <dd class="govuk-summary-list__value">
              Feb 1990 to May 1992
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> relationship to lead tenant</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Social security number
            </dt>
            <dd class="govuk-summary-list__value">
              25 18735476 84
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> age</span>
              </a>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Norway</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Lived
            </dt>
            <dd class="govuk-summary-list__value">
              Mar 1987 Aug 1989
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> whether details are known</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Worked
            </dt>
            <dd class="govuk-summary-list__value">
              Mar 1987 Jul 1989
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> relationship to lead tenant</span>
              </a>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <br><br><br>

    <h2 class="govuk-heading-m">Non agreement countries</h2>
<hr class="govuk-section-break govuk-section-break--visible">
<div class="govuk-!-padding-bottom-6"></div>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">South Africa</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Lived
        </dt>
        <dd class="govuk-summary-list__value">
          Apr 1986 to Oct 1988
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"> whether details are known</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Worked
        </dt>
        <dd class="govuk-summary-list__value">
          Jun 1986 to Oct 1988
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"> relationship to lead tenant</span>
          </a>
        </dd>
      </div>
    </dl>
  </div>
</div>

<br><br><br>

    <h2 class="govuk-heading-m">RA</h2>
<hr class="govuk-section-break govuk-section-break--visible">
<div class="govuk-!-padding-bottom-6"></div>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">United States of America</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Lived
        </dt>
        <dd class="govuk-summary-list__value">
          Jan 2003 to Mar 2005
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"> whether details are known</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Worked
        </dt>
        <dd class="govuk-summary-list__value">
          Jan 2003 to Mar 2005
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"> relationship to lead tenant</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Social security number
        </dt>
        <dd class="govuk-summary-list__value">
          123 45 6789
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"> age</span>
          </a>
        </dd>
      </div>
    </dl>
  </div>
</div>

    </div>

    <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
  
  
  <h1 class="govuk-heading-m">Personal changes</h1>
    <div class="dwp-timeline">
    <ol class="dwp-timeline__items">
      <li class="dwp-timeline__item">
        <p class="dwp-timeline__datetime">27 June 2024 at 1:00am</p>
        <h2 class="dwp-timeline__heading">EEA: Check for increase complete. Award recorded as underlying entitlement. Letter sent to claimant</h2>
        <p class="dwp-timeline__by-line">by System</p>
      </li>
      <li class="dwp-timeline__item">
        <p class="dwp-timeline__datetime">16 June 2024 at 1:00am</p>
        <h2 class="dwp-timeline__heading">EEA: Insurance record received from Spain</h2>
        <p class="dwp-timeline__by-line">by Agent</p>
      </li>
      <li class="dwp-timeline__item">
        <p class="dwp-timeline__datetime">1 June 2024 at 7:14am</p>
        <h2 class="dwp-timeline__heading">EEA: Insurance record received from Norway</h2>
        <p class="dwp-timeline__by-line">by Agent</p>
      </li>
      <li class="dwp-timeline__item">
        <p class="dwp-timeline__datetime">15 May 2024 at 4:01pm</p>
        <h2 class="dwp-timeline__heading">ANZaC: Check for increase complete. Change of award letter sent to claimant</h2>
        <p class="dwp-timeline__by-line">by System</p>
      </li>
      <li class="dwp-timeline__item">
        <p class="dwp-timeline__datetime">26 April 2024 at 12:42pm</p>
        <h2 class="dwp-timeline__heading">ANZaC: CFN1282 form returned</h2>
        <p class="dwp-timeline__by-line">by Agent</p>
      </li>
      <li class="dwp-timeline__item">
        <p class="dwp-timeline__datetime">21 April 2024 at 1:12pm</p>
        <h2 class="dwp-timeline__heading">EEA: Insurance record requested from Spain</h2>
        <p class="dwp-timeline__by-line">by System</p>
      </li>
      <li class="dwp-timeline__item">
        <p class="dwp-timeline__datetime">21 April 2024 at 1:12pm</p>
        <h2 class="dwp-timeline__heading">EEA: Insurance record requested from Norway</h2>
        <p class="dwp-timeline__by-line">by System</p>
      </li>
      <li class="dwp-timeline__item">
        <p class="dwp-timeline__datetime">08 April 2024 at 1:12pm</p>
        <h2 class="dwp-timeline__heading">EEA: CFN901 form sent to claimant</h2>
        <p class="dwp-timeline__by-line">by System</p>
      </li>
      <li class="dwp-timeline__item">
        <p class="dwp-timeline__datetime">02 April 2024 at 1:12pm</p>
        <h2 class="dwp-timeline__heading">ANZaC: CFN1282 form sent to claimant</h2>
        <p class="dwp-timeline__by-line">by System</p>
      </li>
    </ol>
    </div>
  
  </div>
  
  </div>



                      <br><br><br><br><br>
      
        </div>
      </div>


</div>
</div>
           
          
          
          {% endblock %}
