{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include './_bar.html' %}

        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
                          }) }}

                  <br><br>
<h1 class="govuk-heading-l">Upload documents into DRS

</h1>


<form method="post" action="confirm-award">

<p class="govuk-body">
You need to upload copies of the:</p>
<ul class="govuk-list govuk-list--bullet">
<li>NSP processing and calculation tool</li>
<li>insurance records</li>

</div>
</div>

  <br><br><br>

<button class="govuk-button" data-module="govuk-button">
Confirm documents uploaded</button>

<br><br><br>

<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

<br>
               
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          <b>URL and notes</b>
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>URL:</b> existing <br>
          <b>Notes:</b> If the award was recorded and not applied, the agent will be taken to the <a href="get-a-task-2" class="govuk-link">task complete screen</a>.<br>
          If there is Pension Credit interest, the agent will be asked to fill out <a href="br403" class="govuk-link">Part A of the BR403</a>.
          <br>
          <p class="govuk-body">Link to
            <a href="https://dwpgovuk.sharepoint.com/:x:/r/sites/ext-rbc/_layouts/15/Doc.aspx?sourcedoc=%7B6066B1E4-A06C-4E42-A7CC-5CD2D2693D97%7D&file=EEA-mixed-SoT.xlsx&nav=MTVfezg2NkZEQkI4LTg4NEUtNEExRS1BMjdBLUJBNjk2MTMyQTc2N30&action=default&mobileredirect=true" 
            class="govuk-link" rel="noreferrer noopener" target="_blank">Content source of truth (opens in new tab)</a>
          </p>
        </div>
      </details>

        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
