{% extends "layouts/main-2.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div>
          <h1 class="govuk-heading-l">
            Otto Kirch <br>
            <span class="govuk-caption-xl">QQ 12 34 56 X</span>
            <strong class="govuk-tag govuk-tag--blue">
              Receiving State Pension
            </strong>
          </h1>
        </div>

        <br>

        {{ xGovukSecondaryNavigation({
          visuallyHiddenTitle: "Secondary menu",
          items: [{
            text: "Personal",
            href: "citizen-record"
          }, 
          {
            text: "Contact",
            href: "#"
          }, 
          {
            text: "Tasks",
            href: "#"
          },
          {
            text: "Award",
            href: "#",
            current: true
          },
          {
            text: "Payment",
            href: "citizen-payment"
          }]
        }) }}

        <br><br>

        <h2 class="govuk-heading-m" style="margin-bottom:-27px;float:left">Current award</h2>
        <a href="citizen-award-review" <span class="govuk-link govuk-!-font-size-19" style="margin-left: 80%">Review award</span>
        </a>

          <br>
          <br>

        <table class="govuk-table">
          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 50%">From</th>
              <td class="govuk-table__cell" style="width: 50%">13 May 2024</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Reason</th>
              <td class="govuk-table__cell">First award</td>
            </tr>
          </tbody>
        </table>

        <br>

        <table class="govuk-table">
          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 50%">Total</th>
              <td class="govuk-table__cell" style="width: 50%">£132.88</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">New State Pension</th>
              <td class="govuk-table__cell">£132.88</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Protected payment</th>
              <td class="govuk-table__cell">£0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Extra State Pension</th>
              <td class="govuk-table__cell">£0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Inherited extra State Pension</th>
              <td class="govuk-table__cell">£0.00</td>
            </tr>
          </tbody>
        </table>

    </div>
  </main>
</div>

{% endblock %}
