{% extends "layouts/main-2.html" %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          {% include './_bar-outstanding.html' %}

          <br><br>

            <a href="citizen-record" button type="submit" class="govuk-button">
              Continue</a>
      </main>
    </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
