{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<form method="post" action="citizen-record-3">

  {% include './_bar.html' %}

  {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}

<br><br>

<h1 class="govuk-heading-l">Postpone task</h1>

<br>

<p>Task will be postponed (BF) for 7 days.</p>

<br><br><br>

<button class="govuk-button" data-module="govuk-button">
Postpone task    </button>

   <br><br><br><br><br>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    
    <br>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b>#<br>
        <b>Notes:</b> None <br>
      </div>
    </details>


  </div>

</div>

{% endblock %}
