{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <form method="post" action="record-personal">

      {% include './_bar-receiving.html' %}

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-xl">Request information and set a reminder</h1>

    <h2 class="govuk-heading-m">1. Request information from HMRC</h2>

    <p>Send an email to: <a href="#" class="govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">ptopsca1741requestmailbox@hmrc.gov.uk</a> requesting the Maxwell contributions for the 1991 to 1992 tax year.</p>

    <p class="govuk-body">Include in your email:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>claimant name</li>
      <li>claimant National Insurance number</li>
    </ul>

    <br><br>

    <h2 class="govuk-heading-m">2. Set a reminder in CAM </h2>

    <p>Set a reminder in CAM for 7 days to send another email if you do not get a reply.</p>

    <p>When you receive the required information, you can return to the claimant's record and start the task again.</p>
  
    <br><br><br>

    <button class="govuk-button" data-module="govuk-button">
      Confirm actions complete and end task
    </button>

    <br><br><br><br><br>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    
    <br>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b>#<br>
        <b>Notes:</b> None <br>
      </div>
    </details>


  </div>

</div>

{% endblock %}
