{% extends "layouts/main-2.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}

  <br><br>

  <h1 class="govuk-heading-l">Accrued Rights Premium check details</h1>

  <br>

  {% if data.calcQuestion === 'no' %}
  {% else %}

    <div class="govuk-inset-text">
      <h2 class="govuk-heading-m">Maxwell indemnity</h2>
      <a href="indemnity-question" class="govuk-link--no-visited-state">Confirm Maxwell indemnity received and complete actions</a>.
    </div>

    <br><br>

  {% endif %}  

  {% from "govuk/components/table/macro.njk" import govukTable %}

  {% if data.calcQuestion === 'yes' %}

{{ govukTable({
  caption: "Dates and events",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
    {
      text: "Date"
    },
    {
      text: "Event"
    },
    {
      text: "Notification"
    },
    {
      text: "By"
    }
  ],
  rows: [
  [
    {
      text: "22 August 2024"
    },
    {
      text: "Request for Maxwell contributions for 1991 to 1992 tax year sent"
    },
    {
      text: "Sent"
    },
    {
      text: "System"
    }
  ],
  [
    {
      text: "22 August 2024"
    },
    {
      text: "Maxwell indemnity received"
    },
    {
      text: ""
    },
    {
      text: "Agent"
    }
  ],
  [
    {
      text: "17 May 2024"
    },
    {
      text: "Maxwell scheme actions complete"
    },
    {
      text: ""
    },
    {
      text: "Agent"
    }
  ],
  [
    {
      text: "17 May 2024"
    },
    {
      text: "GMP amount confirmed"
    },
    {
      text: ""
    },
    {
      text: "Agent"
    }
  ],
  [
    {
      text: "17 May 2024"
    },
    {
      text: "Updated CA1741 returned"
    },
    {
      text: ""
    },
    {
      text: "Agent"
    } 
  ], 
  [
    {
      text: "15 May 2024"
    },
    {
      text: "CA1741 check requested"
    },
    {
      text: "Sent"
    },
    {
      text: "System"
    }
  ],
  [
    {
      text: "15 May 2024"
    },
    {
      text: "CA1741 returned"
    },
    {
      text: ""
    },
    {
      text: "Agent"
    }
  ],
  [
    {
      text: "13 May 2024"
    },
    {
      text: "CA1741 requested"
    },
    {
      text: "Sent"
    },
    {
      text: "System"
    }
  ],
  [
    {
      text: "13 May 2024"
    },
    {
      text: "Maxwell scheme identified"
    },
    {
      text: ""
    },
    {
      text: "Agent"
    }
  ]
  ]
}) }}
  
  
  {% elseif data.calcQuestion === 'yes' and data.calcQuestion === 'no' %}

{{ govukTable({
  caption: "Dates and events",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
    {
      text: "Date"
    },
    {
      text: "Event"
    },
    {
      text: "Notification"
    },
    {
      text: "By"
    }
  ],
  rows: [
  [
    {
      text: "25 August 2024"
    },
    {
      text: "Maxwell indemnity actions complete"
    },
    {
      text: ""
    },
    {
      text: "Agent"
    }
  ],
  [
    {
      text: "22 August 2024"
    },
    {
      text: "Request for Maxwell contributions for 1991 to 1992 tax year sent"
    },
    {
      text: "Sent"
    },
    {
      text: "System"
    }
  ],
  [
    {
      text: "22 August 2024"
    },
    {
      text: "Maxwell indemnity received"
    },
    {
      text: ""
    },
    {
      text: "Agent"
    }
  ],
  [
    {
      text: "17 May 2024"
    },
    {
      text: "Maxwell scheme actions complete"
    },
    {
      text: ""
    },
    {
      text: "Agent"
    }
  ],
  [
    {
      text: "17 May 2024"
    },
    {
      text: "GMP amount confirmed"
    },
    {
      text: ""
    },
    {
      text: "Agent"
    }
  ],
  [
    {
      text: "17 May 2024"
    },
    {
      text: "Updated CA1741 returned"
    },
    {
      text: ""
    },
    {
      text: "Agent"
    } 
  ], 
  [
    {
      text: "15 May 2024"
    },
    {
      text: "CA1741 check requested"
    },
    {
      text: "Sent"
    },
    {
      text: "System"
    }
  ],
  [
    {
      text: "15 May 2024"
    },
    {
      text: "CA1741 returned"
    },
    {
      text: ""
    },
    {
      text: "Agent"
    }
  ],
  [
    {
      text: "13 May 2024"
    },
    {
      text: "CA1741 requested"
    },
    {
      text: "Sent"
    },
    {
      text: "System"
    }
  ],
  [
    {
      text: "13 May 2024"
    },
    {
      text: "Maxwell scheme identified"
    },
    {
      text: ""
    },
    {
      text: "Agent"
    }
  ]
  ]
}) }}

{% elseif data.calcQuestion === 'no' %}

{{ govukTable({
  caption: "Dates and events",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
    {
      text: "Date"
    },
    {
      text: "Event"
    },
    {
      text: "Notification"
    },
    {
      text: "By"
    }
  ],
  rows: [
  [
    {
      text: "25 August 2024"
    },
    {
      text: "Maxwell indemnity actions complete"
    },
    {
      text: ""
    },
    {
      text: "Agent"
    }
  ],
  [
    {
      text: "22 August 2024"
    },
    {
      text: "Request for Maxwell contributions for 1991 to 1992 tax year sent"
    },
    {
      text: "Sent"
    },
    {
      text: "System"
    }
  ],
  [
    {
      text: "22 August 2024"
    },
    {
      text: "Maxwell indemnity received"
    },
    {
      text: ""
    },
    {
      text: "Agent"
    }
  ],
  [
    {
      text: "17 May 2024"
    },
    {
      text: "Maxwell scheme actions complete"
    },
    {
      text: ""
    },
    {
      text: "Agent"
    }
  ],
  [
    {
      text: "17 May 2024"
    },
    {
      text: "GMP amount confirmed"
    },
    {
      text: ""
    },
    {
      text: "Agent"
    }
  ],
  [
    {
      text: "17 May 2024"
    },
    {
      text: "Updated CA1741 returned"
    },
    {
      text: ""
    },
    {
      text: "Agent"
    } 
  ], 
  [
    {
      text: "15 May 2024"
    },
    {
      text: "CA1741 check requested"
    },
    {
      text: "Sent"
    },
    {
      text: "System"
    }
  ],
  [
    {
      text: "15 May 2024"
    },
    {
      text: "CA1741 returned"
    },
    {
      text: ""
    },
    {
      text: "Agent"
    }
  ],
  [
    {
      text: "13 May 2024"
    },
    {
      text: "CA1741 requested"
    },
    {
      text: "Sent"
    },
    {
      text: "System"
    }
  ],
  [
    {
      text: "13 May 2024"
    },
    {
      text: "Maxwell scheme identified"
    },
    {
      text: ""
    },
    {
      text: "Agent"
    }
  ]
  ]
}) }}

{% else %}

{{ govukTable({
  caption: "Dates and events",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
    {
      text: "Date"
    },
    {
      text: "Event"
    },
    {
      text: "Notification"
    },
    {
      text: "By"
    }
  ],
  rows: [
  [
    {
      text: "17 May 2024"
    },
    {
      text: "Maxwell scheme actions complete"
    },
    {
      text: ""
    },
    {
      text: "Agent"
    }
  ],
  [
    {
      text: "17 May 2024"
    },
    {
      text: "GMP amount confirmed"
    },
    {
      text: ""
    },
    {
      text: "Agent"
    }
  ],
  [
    {
      text: "17 May 2024"
    },
    {
      text: "Updated CA1741 returned"
    },
    {
      text: ""
    },
    {
      text: "Agent"
    } 
  ], 
  [
    {
      text: "15 May 2024"
    },
    {
      text: "CA1741 check requested"
    },
    {
      text: "Sent"
    },
    {
      text: "System"
    }
  ],
  [
    {
      text: "15 May 2024"
    },
    {
      text: "CA1741 returned"
    },
    {
      text: ""
    },
    {
      text: "Agent"
    }
  ],
  [
    {
      text: "13 May 2024"
    },
    {
      text: "CA1741 requested"
    },
    {
      text: "Sent"
    },
    {
      text: "System"
    }
  ],
  [
    {
      text: "13 May 2024"
    },
    {
      text: "Maxwell scheme identified"
    },
    {
      text: ""
    },
    {
      text: "Agent"
    }
  ]
  ]
}) }}

{% endif %}

<br>

 </div>
  
</div>
</main>
</div>

{% endblock %}
