{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="/prison-conviction/prison-type">

      {% include './_person.html' %}

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      }) }}

      {{ govukRadios({
        name: "prisonType",
        fieldset: {
          legend: {
            text: "What type of case is it?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "criminal",
            text: "Criminal",
            checked: data['prisonType'] == "criminal"
          },
          {
            value: "civil",
            text: "Civil",
            checked: data['prisonType'] == "civil"
          },
          {
            value: "unknown",
            text: "I don't know",
            checked: data['prisonType'] == "unknown"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
