{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_person.html' %}

    {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}

    <h1 class="govuk-heading-l">
      There will be an automatic refund for time spent in prison
    </h1>

    <p>State Pension payments are refunded if it is a:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>civil case</li>
      <li>criminal case with no conviction</li>
    </ul>

    <form class="form" method="post" action="/prison-conviction/prison-refund">
      {{ govukButton({
        text: "Return to personal details"
      }) }}
    </form>

  </div>
</div>

{% endblock %}
