{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="/cmg/adjustment">

      {% include './_person.html' %}

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      }) }}

      {{ govukRadios({
        name: "whatAdjustment",
        value: data['whatAdjustment'],
        fieldset: {
          legend: {
            text: "What is the adjustment?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "debt-recovery",
            text: "Debt recovery"
          },
          {
            value: "cmg-deduction",
            text: "Child Maintenance deduction"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>


{% endblock %}
