{% extends "layouts/main.html" %}

{% block content %}

{% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="dashboard-2">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-l">Complete part A of the BR403</h1>

      <p>Use this information to complete part A of the BR403 and send it to the Pension Credit team.</p>

    <br>
        
    <h2 class="govuk-heading-m"></h2>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">State Pension award</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">

          <th scope="col" class="govuk-table__header app-custom-class">Weekly amount</th>
          <th scope="col" class="govuk-table__header app-custom-class">Date from</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">

          <td class="govuk-table__cell">
            {% if data['debitAmount'] and data['creditAmount'] %}
              £{{ (200 - data.debitAmount | float + data.creditAmount | float).toFixed(2) }}
            {% elseif data['creditAmount'] %}
              £{{ 200 + data.creditAmount | float }}.00
            {% elseif data['debitAmount']%}
              £{{ 200 - data.debitAmount | float }}.00
            {% else %}
              £165.28
            {% endif %}</td>
          <td class="govuk-table__cell">28/12/2024</td>
        </tr>
      </tbody>
    </table>

    <br><br><br>

    <button class="govuk-button" data-module="govuk-button">
    Confirm BR403 sent and end task
    </button>

    <br><br><br><br><br>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    
    <br>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /confirm-award <br>
        <b>Notes:</b> None <br>
      </div>
    </details>

   </div>
 </div>

{% endblock %}
