{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include './_person.html' %}

    {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}

    <h2 class="govuk-heading-l">Check your answers</h2>

    {{ govukSummaryList({
      rows: [
        {
          key: { text: "New deduction amount" },
          value: { text: "£" + data['changedAmount'] },
          actions: {
            items: [
              {
                href: "/cmg/cmg-change",
                text: "Change",
                visuallyHiddenText: "new deduction amount"
              }
            ]
          }
        }
      ]
    }) }}

    {{ govukButton({
      text: "Confirm",
      href: "record-award"
    }) }}

  </div>
</div>

{% endblock %}
