{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include './_person.html' %}

    {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}

    <h2 class="govuk-heading-l">Check your answers</h2>

    {% if data['adjustmentAmount'] == 'other' %}
      {% set amountChosen = "£" + data['otherAmount'] %}
    {% else %}
      {% set amountChosen = "£8.40" %}
    {% endif %}

    {{ govukSummaryList({
      rows: [
        {
          key: { text: "New deduction amount" },
          value: { text: amountChosen },
          actions: {
            items: [
              {
                href: "/cmg/cmg-change",
                text: "Change",
                visuallyHiddenText: "new deduction amount"
              }
            ]
          }
        }
      ]
    }) }}

    {{ govukButton({
      text: "Confirm and submit",
      href: "record-award"
    }) }}

  </div>
</div>

{% endblock %}
