{% extends "layouts/main-2.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_person.html' %}

    {{ xGovukSecondaryNavigation({
      visuallyHiddenTitle: "Secondary menu",
      items: [{
        text: "Personal",
        href: "record-personal"
      },
      {
        text: "Contact",
        href: "record-contact"
      },
      {
        text: "Award",
        href: "record-award",
        current: true
      },
      {
        text: "Payment",
        href: "record-payment"
      }]
    }) }}

    <br>

    <h2 class="govuk-heading-m">Current award</h2>

    <style>
      /* Make key 'column' wider than 30% default */
      @media (min-width: 40.0625em) {
        .govuk-summary-list__key { width: 50%; }
      }
      /* Distance top two list items from one another */
      .govuk-summary-list__row:nth-of-type(3) > * {
        padding-top: 2em;
      }
    </style>

    {% if data['confirmRemoval'] == 'yes' or data['adjustmentAmount'] == 'removed' %}
      {% set cmgAmount = "£0.00" %}
    {% elif data['adjustmentAmount'] == 'other' %}
      {% set cmgAmount = "£" + data['otherAmount'] %}
    {% elif data['adjustmentAmount'] == 'default' %}
      {% set cmgAmount = "£8.40" %}
    {% else %}
      {% set cmgAmount = undefined %}
    {% endif %}

    {{ govukSummaryList({
      rows: [
        {
          key: { text: "From" },
          value: { text: "10 April 2023" }
        },
        {
          key: { text: "Reason" },
          value: { text: "Uprating" }
        },
        {
          key: { text: "Total" },
          value: { text: "£156.28" }
        },
        {
          key: { text: "New State Pension" },
          value: { text: "£164.68" }
        },
        {
          key: { text: "Protected payment" },
          value: { text: "£0.00" }
        },
        {
          key: { text: "Extra State Pension" },
          value: { text: "£0.00" }
        },
        {
          key: { text: "Inherited extra State Pension" },
          value: { text: "£0.00" }
        },
        {
          key: { text: "Child Maintenance deduction" },
          value: { text: cmgAmount }
        } if cmgAmount
      ]
    }) }}

    <p><a href="./adjustment">Make an adjustment</a></p>

    <br><br>

    {{ govukTable({
      caption: "Award history",
      captionClasses: "govuk-table__caption--m",
      head: [
        { text: "From" },
        { text: "To" },
        { text: "Weekly amount" },
        { text: "Adjustment" },
        { text: "" }
      ],
      rows: [
        [
          { text: "8 Apr 2022" },
          { text: "9 Apr 2023" },
          { text: "£160.34" },
          { text: "£10" },
          { html: '<a href="#">Details</a>' }
        ],
        [
          { text: "15 Jun 2021" },
          { text: "7 Apr 2022" },
          { text: "£155.27" },
          { text: "£10" },
          { html: '<a href="#">Details</a>' }
        ]
      ]
    }) }}

    <br><br><br>

  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Award changes</h2>

    {% from "timeline/macro.njk" import dwpTimeline %}

    {{ dwpTimeline({
      items: [
        {
          title:  "Completed ‘DP224JP’ form received",
          byline:  "System",
          date:  "16 June 2024 at 1:00am"
        },
        {
          title:  "Summary of report",
          byline:  "John Goldsmith",
          date:  "1 June 2024 at 7:14am"
        },
        {
          title:  "Workplace assessment report",
          byline:  "John Goldsmith",
          link: {
            href: "#",
            text: "View details",
            visuallyHiddenText: "of the event on 15 May 2024 at 4:01pm"
          },
          date:  "15 May 2024 at 4:01pm"
        }
      ]
    }) }}
  </div>

</div>



{% endblock %}
