{% extends "layouts/main-2.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_person.html' %}

    {{ xGovukSecondaryNavigation({
      visuallyHiddenTitle: "Secondary menu",
      items: [{
        text: "Personal",
        href: "record-personal"
      },
      {
        text: "Contact",
        href: "record-contact"
      },
      {
        text: "Award",
        href: "record-award",
        current: true
      },
      {
        text: "Payment",
        href: "record-payment"
      }]
    }) }}

    <br>

    <style>
      .current-award-heading {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: space-between;
        align-items: baseline;
      }
    </style>

    <div class="current-award-heading">
      <h2 class="govuk-heading-m">Current award</h2>
      <p><a href="./adjustment">Make an adjustment</a></p>
    </div>

    <style>
      /* Make key 'column' wider than 30% default */
      @media (min-width: 40.0625em) {
        .govuk-summary-list__key { width: 50%; }
      }
      /* Distance top two list items from one another */
      .govuk-summary-list__row:nth-of-type(3) > * {
        padding-top: 2em;
      }
    </style>

    {% set originalWeeklyAmount = "£155.27" %}
    {% set cmgDefaultAmount = "£8.40" %}
    {% set cmgDefaultAdjusted = "£146.87" %}
    {% set cmgCustomAdjusted = "£151.07" %}
    {% set cmgZero = "£0.00" %}

    {% if data['confirmRemoval'] == 'yes' or data['adjustmentAmount'] == 'removed' %}
      {% set cmgAmount = cmgZero %}
    {% elif data['adjustmentAmount'] == 'other' %}
      {% set cmgAmount = "£" + data['otherAmount'] %}
    {% elif data['adjustmentAmount'] == 'default' %}
      {% set cmgAmount = cmgDefaultAmount %}
    {% else %}
      {% set cmgAmount = undefined %}
    {% endif %}

    {% set cmgDeductionDate = "26 Jan 2026" %}

    {% if cmgAmount == undefined %}
      {% set newWeeklyAmount = originalWeeklyAmount %}
    {% elif cmgAmount == cmgDefaultAmount %}
      {% set newWeeklyAmount = cmgDefaultAdjusted %}
    {% elif cmgAmount == cmgZero %}
      {% set newWeeklyAmount = originalWeeklyAmount %}
    {% else %}
      {% set newWeeklyAmount = cmgCustomAdjusted %}
    {% endif %}

    {{ govukSummaryList({
      rows: [
        {
          key: { text: "From" },
          value: { text: "10 April 2023" }
        },
        {
          key: { text: "Reason" },
          value: { text: "Uprating" }
        },
        {
          key: { text: "Total" },
          value: { text: originalWeeklyAmount }
        },
        {
          key: { text: "New State Pension" },
          value: { text: newWeeklyAmount }
        },
        {
          key: { text: "Protected payment" },
          value: { text: "£0.00" }
        },
        {
          key: { text: "Extra State Pension" },
          value: { text: "£0.00" }
        },
        {
          key: { text: "Inherited extra State Pension" },
          value: { text: "£0.00" }
        },
        {
          key: { text: "Child Maintenance deduction" },
          value: { text: cmgAmount }
        } if cmgAmount
      ]
    }) }}

    <br><br>

    {% set isRemoved = (data['confirmRemoval'] == 'yes' or data['adjustmentAmount'] == 'removed') %}

    {{ govukTable({
      caption: "Award history",
      captionClasses: "govuk-table__caption--m",
      head: [
        { text: "From" },
        { text: "To" },
        { text: "Weekly amount" },
        { text: "Adjustment" },
        { text: "" }
      ],
      rows: [
        [
          { text: cmgDeductionDate },
          { text: "N/A" },
          { text: originalWeeklyAmount },
          { text: "Removed" },
          { html: '<a href="#">Details</a>' }
        ] if isRemoved,
        [
          { text: cmgDeductionDate },
          { text: (cmgDeductionDate if isRemoved else "N/A") },
          { text: (cmgDefaultAdjusted if isRemoved else newWeeklyAmount) },
          { text: (cmgDefaultAmount if isRemoved else cmgAmount) },
          { html: '<a href="#">Details</a>' }
        ] if cmgAmount,
        [
          { text: "15 Jun 2021" },
          { text: (cmgDeductionDate if cmgAmount else "N/A") },
          { text: originalWeeklyAmount },
          { text: "N/A" },
          { html: '<a href="#">Details</a>' }
        ]
      ]
    }) }}

    <br><br><br>

  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Award changes</h2>

    {{ dwpTimeline({
      items: [
        {
          title:  "Completed ‘DP224JP’ form received",
          byline:  "System",
          date:  "16 June 2024 at 1:00am"
        },
        {
          title:  "Summary of report",
          byline:  "John Goldsmith",
          date:  "1 June 2024 at 7:14am"
        },
        {
          title:  "Workplace assessment report",
          byline:  "John Goldsmith",
          link: {
            href: "#",
            text: "View details",
            visuallyHiddenText: "of the event on 15 May 2024 at 4:01pm"
          },
          date:  "15 May 2024 at 4:01pm"
        }
      ]
    }) }}
  </div>

</div>



{% endblock %}
