{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.go(-1)"
                      }) }}
    <br><br>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post">
          <div>
            <h1 class="govuk-heading-xl">
             Ken Adams <br>
             <span class="govuk-caption-xl">QQ 12 34 56 X</span>
            </h1>
          </div>

          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive"></span>
              This claimant has currently deferred their State Pension.
            </strong>
          </div>

          <br>

          <button type="submit" class="govuk-button">
            Continue
          </button>

        </form>
        </div>

      </div>

    </div>

  </main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
