{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post" action="check-nirs-routing-3">

    <h1 class="govuk-heading-xl">
      Check NIRs
    </h1>

    <p>Check NIRs to see if HMRC have fixed the National Insurance error.</p>

    <br><br><br>

    <button class="govuk-button" data-module="govuk-button">
      Start this task
    </button>

    <a href="dashboard" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
      Return task to queue
    </a>

    <br><br><br>

  </div>
</div>

{% endblock %}
