{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {% include './_person.html' %}

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      }) }}

      {% set altFormat = data['altFormat'] %}
      {% if
        altFormat == 'audio-cassette' or
        altFormat == 'audio-cd' or
        altFormat == 'audio-mp3' or
        altFormat == 'braille'
      %}
        {% set unavailableInWelsh = "yes" %}
      {% endif %}

      {% if unavailableInWelsh %}
        <h2 class="govuk-heading-l">You cannot change Harold's written language to Welsh</h2>

        <p class="govuk-body">
          Harold gets their letters in {{ data['altFormat'] | replace("-", " ") | replace("cd", "CD") | replace("mp3", "MP3") }}.
        </p>

        <p class="govuk-body">We only offer large print in Welsh.</p>

        {{ govukButton({
          text: "Return to Contact details",
          href: "/welsh/record-contact"
        }) }}

      {% else %}
        <form class="form" method="post" action="/welsh/contact-pref-written">
          {{ govukRadios({
            name: "contactPrefWritten",
            fieldset: {
              legend: {
                text: "Written language",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "english",
                text: "English"
              },
              {
                value: "welsh",
                text: "Welsh"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

        </form>
      {% endif %}
  </div>
</div>

{% endblock %}
