{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">

          {% include './_bar.html' %}

          {{ govukBackLink({
            text: "Back",
            href: "javascript:history.go(-1)"
                            }) }}

          <br><br><br>

        <form method="post">

          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "pension-credit",
            fieldset: {
              legend: {
                text: "Is there an amount to be recovered?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "Only select no if Pension Credit have advised there is 'nil recovery' and all arrears should be paid."
            },
            items: [
              {
                value: "yes",
                text: "Yes",
                hint: {
                  text: ""
                }
              },
              {
                value: "no",
                text: "No",
                hint: {
                  text: ""
                }
              }
            ]
          }) }}

          <br><br><br>

          <button class="govuk-button" data-module="govuk-button">
            Confirm
          </button>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL, errors and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /amount-to-recover <br>
        <b>Error messages:</b> Nothing selected: Select yes if there is an amount to be recovered<br>
        <b>Notes:</b> <br>
      </div>
    </details>



        </div>

      </div>

    </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
