{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<form method="post" action="br403-part-a">

  {% include './_bar.html' %}

  {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}

<br><br>

  <h1 class="govuk-heading-xl">Award calculated</h1>

  <table class="govuk-table">
        
    <tbody class="govuk-table__body">

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">State Pension award</th>
        <td class="govuk-table__cell">£132.88 per week</td>
      </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">From</th>
        <td class="govuk-table__cell">19 March 2025</td>
      </tr>

    </tbody>

  </table>

  <br>

  <div class="govuk-inset-text">
    <p>This claimant gets Pension Credit. Further action needed before we can award State Pension.</p>
  </div>

  <br><br><br>

  {{ govukButton({
    text: "Confirm and continue"
  }) }}

   <br><br><br><br><br>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    
    <br>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>Notes:</b> Inset text and button will be different if there are further tasks that need to be actioned.<br>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="award-calculated-ca">Carer's Allowance</a>
          </li>
          <li>
            <a class="govuk-link" href="award-calculated-csp">Carer Support payment</a>
          </li>
          <li>
            <a class="govuk-link" href="award-calculated-wp">War pension</a>
          </li>
        </ul>
      </div>
    </details>


  </div>

</div>

{% endblock %}
