{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

  {% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      name: "hmrcQuestion",
      fieldset: {
        legend: {
          text: "Has HMRC completed the COEG investigation? ",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      hint: {
        text: "Hint text to go here? Check the... in NIRs/OLE."
      },
      items: [
        {
          value: "yes",
          text: " Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}

    <br><br><br>

    <button class="govuk-button" data-module="govuk-button">
    Continue
    </button>

    <br><br><br><br><br>
        
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>Notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>Notes:</b> 
          <p>If agent selects "No" within the initial 6 week window
            for HMRC to respond, go to <a href="cannot-continue" class="govuk-link">cannot-complete</a></p>
      </div>
    </details>

  </div>
</div>

</form>

{% endblock %}
