{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post">

  {% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Has HMRC completed the COEG investigation?
          </h1>
        </legend>

        <br>

        <p class="govuk-body">You will need to check:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the COEG flag in NIRs (OLE)</li>
          <li>that the LTB data has been updated</li>
          <li>the State Pension award components</li>
        </ul>

        <br>

        <div class="govuk-radios" data-module="govuk-radios">

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="hmrcQuestion" name="hmrcQuestion" type="radio" value="yes" aria-describedby="hmrcQuestion-item-hint">
            <label class="govuk-label govuk-radios__label" for="hmrcQuestion">
              Yes
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="hmrcQuestion-2" name="hmrcQuestion" type="radio" value="no" aria-describedby="hmrcQuestion-2-item-hint">
            <label class="govuk-label govuk-radios__label" for="hmrcQuestion-2">
              No
            </label>
          </div>

        </div>
      </fieldset>
    </div>

    <br><br><br>

    <button class="govuk-button" data-module="govuk-button">
    Continue
    </button>

    <a href="dashboard-2" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
      Return task to queue
    </a>

    <br><br><br><br><br>
        
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>Notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>Notes:</b> 
          <p>If agent selects "No" within the initial 6 week window
            for HMRC to respond, go to <a href="do-not-send-3" class="govuk-link">do-not-send</a></p>
      </div>
    </details>

  </div>
</div>

</form>

{% endblock %}
