{% extends "layouts/main.html" %}

{% block content %}

<form class="form" method="post" action="dashboard-2">

  {% include './_bar.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      name: "hmrcQuestion",
      fieldset: {
        legend: {
          text: "Has HMRC completed the investigation? ",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      hint: {
        text: " "
      },
      items: [
        {
          value: "yes",
          text: " Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}

    <br><br><br>

    <button class="govuk-button" data-module="govuk-button">
    Continue
    </button>

    <br><br><br>

  </div>
</div>

</form>

{% endblock %}
