{% extends "layouts/main-2.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        {% if data['prison-left-day'] or data['prison-left-day-2'] %}

          {% include './_bar-2.html' %}

        {% else %}

          {% include './_bar.html' %}

        {% endif %}

        <br>

        {% if data['prison-left-day'] or data['prison-left-day-2'] %}

        {% else %}

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive"></span>
            Waiting for the claimant's prison dates.<br> <a href="paper-prison-task-record" class="govuk-link govuk-link--no-visited-state">Enter dates</a>
          </strong>
        </div>

        <br>

        {% endif %}

        {% if data['prison-left-day'] or data['prison-left-day-2'] %}

          {{ xGovukSecondaryNavigation({
            visuallyHiddenTitle: "Secondary menu",
            items: [{
              text: "Personal",
              href: "record-personal"
            }, 
            {
              text: "Contact",
              href: "record-contact"
            }, 
            {
              text: "Award",
              href: "record-award"
            },
            {
              text: "Payment",
              href: "record-payment"
            },
            {
              text: "Tasks",
              href: "record-tasks"
            },
            {
              text: "Full history",
              href: "record-full-history",
              current: true
            }]
          }) }}

          {% else %}

          {{ xGovukSecondaryNavigation({
            visuallyHiddenTitle: "Secondary menu",
            items: [{
              text: "Personal",
              href: "record-personal"
            }, 
            {
              text: "Contact",
              href: "record-contact",
              current: true
            }, 
            {
              text: "Tasks",
              href: "record-tasks"
            }]
          }) }}

        {% endif %}

        <br><br>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Dates and events</caption>

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header">Action</th>
            <th scope="col" class="govuk-table__header">By</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">

          {% if data['prison-left-day-2'] %}

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">24 January 2025</td>
              <td class="govuk-table__cell">State Pension awarded</td>
              <td class="govuk-table__cell">Agent</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">24 January 2025</td>
              <td class="govuk-table__cell"><a href="record-prison-details"class="govuk-link--no-visited-state govuk-!-font-size-19">Prison dates added<span class="govuk-visually-hidden"></span></a></td>
              <td class="govuk-table__cell">Agent</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">15 January 2025</td>
              <td class="govuk-table__cell">Cannot get prison dates. Notification sent to claimant</td>
              <td class="govuk-table__cell">Agent</td>
            </tr>

          {% elseif data['prison-left-day'] %}

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">15 January 2025</td>
              <td class="govuk-table__cell">State Pension awarded</td>
              <td class="govuk-table__cell">Agent</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">15 January 2025</td>
              <td class="govuk-table__cell"><a href="record-prison-details"class="govuk-link--no-visited-state govuk-!-font-size-19">Prison dates added<span class="govuk-visually-hidden"></span></a></td>
              <td class="govuk-table__cell">Agent</td>
            </tr>

          {% else %}

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">15 January 2025</td>
              <td class="govuk-table__cell">Cannot get prison dates. Notification sent to claimant</td>
              <td class="govuk-table__cell">Agent</td>
            </tr>

          {% endif %}

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">13 January 2025</td>
            <td class="govuk-table__cell">Paper claim received</td>
            <td class="govuk-table__cell">Agent</td>
          </tr>

        </tbody>
        
      </table>

      <br>

    </div>
  </main>
</div>

{% endblock %}
