{% extends "layouts/main-2.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data.hmrcQuestion === 'yes' %}

      {% include './_bar-2.html' %}

    {% else %}

      {% include './_bar.html' %}

    {% endif %}

    {% if data.hmrcQuestion === 'yes' %}

      {{ xGovukSecondaryNavigation({
        visuallyHiddenTitle: "Secondary menu",
        items: [{
          text: "Personal",
          href: "record-personal"
        }, 
        {
          text: "Contact",
          href: "record-contact"
        }, 
        {
          text: "Award",
          href: "record-award",
          current: true
        },
        {
          text: "Payment",
          href: "record-payment"
        },
        {
          text: "Tasks",
          href: "record-tasks"
        },
        {
          text: "Full history",
          href: "record-full-history"
        }]
      }) }}

      {% else %}

      {{ xGovukSecondaryNavigation({
        visuallyHiddenTitle: "Secondary menu",
        items: [{
          text: "Personal",
          href: "record-personal",
          current: true
        }, 
        {
          text: "Contact",
          href: "record-contact"
        }, 
        {
          text: "Tasks",
          href: "record-tasks"
        }]
      }) }}

    {% endif %}

    <br>

    <h2 class="govuk-heading-m">State Pension awards</h2>

    <table class="govuk-table" disabled aria-disabled="true">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col" style="width: 25%">From</th>
          <th class="govuk-table__header " scope="col" style="width: 30%">Weekly amount</th>
          <th class="govuk-table__header" scope="col" style="width: 20%">Adjustment</th>
          <th class="govuk-table__header" scope="col" style="width: 15%"></th>

        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">24 Jan 2025</td>
          <td class="govuk-table__cell">
            £278.43
          </td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell"><a class="govuk-body govuk-link--no-visited-state" href="record-award-details.html">Details</a></td>
        </tr>
      </tbody>
    </table>

    <a href="record-award-review" class="govuk-link--no-visited-state govuk-!-font-size-19">Review award</a>

    <br><br><br>

  </div>

  <div class="govuk-grid-column-one-third">

    <h3 class="govuk-heading-m">Award history</h3>

    <div class="dwp-timeline">
      <ol class="dwp-timeline__items">

          <li class="dwp-timeline__item">
            <h2 class="dwp-timeline__heading">No changes made</h2>
          </li>

      </ol>
    </div>

  </div>

</div>



{% endblock %}
