{% extends "layouts/main-2.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if data.hmrcQuestion3 === 'yes' or data.hmrcQuestion2 === 'yes' or data.hmrcQuestion === 'yes' %}

          {% include './_bar-2.html' %}

        {% else %}

          {% include './_bar.html' %}

        {% endif %}

        {% if data.hmrcQuestion3 === 'yes' or data.hmrcQuestion2 === 'yes' or data.hmrcQuestion === 'yes' %}

          {{ xGovukSecondaryNavigation({
            visuallyHiddenTitle: "Secondary menu",
            items: [{
              text: "Personal",
              href: "record-personal"
            }, 
            {
              text: "Contact",
              href: "record-contact",
              current: true
            }, 
            {
              text: "Award",
              href: "record-award"
            },
            {
              text: "Payment",
              href: "record-payment"
            },
            {
              text: "Tasks",
              href: "record-tasks"
            },
            {
              text: "Full history",
              href: "record-full-history"
            }]
          }) }}

          {% else %}

          {{ xGovukSecondaryNavigation({
            visuallyHiddenTitle: "Secondary menu",
            items: [{
              text: "Personal",
              href: "record-personal"
            }, 
            {
              text: "Contact",
              href: "record-contact",
              current: true
            }, 
            {
              text: "Tasks",
              href: "record-tasks"
            }]
          }) }}

        {% endif %}

        <br>

        <h2 class="govuk-heading-m">Contact details</h2>

          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 50%" >Address</th>
                <td class="govuk-table__cell" style="width: 50%">
                123 Fake Street<br>
                Lunden<br>
                N0T R34L
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">     </a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Correspondance address</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">Add</a></td></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Home phone number</th>
                <td class="govuk-table__cell">01234 567891</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">Change</a></td></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Work phone number</th>
                <td class="govuk-table__cell"> </td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">Add</a></td></td>
              </tr>
              <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Mobile phone number</th>
                  <td class="govuk-table__cell">07123 456789</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">Change</a></td></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Email address</th>
                    <td class="govuk-table__cell">claimant@qmail.con</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="lived-worked-details">Change</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Alternative format for letters</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">Add</a></td></td>
                  </tr>

            </tbody>
          </table>
      </div>

      <div class="govuk-grid-column-one-third">

      <h3 class="govuk-heading-m">Contact changes</h3>

      <div class="dwp-timeline">
        <ol class="dwp-timeline__items">

            <li class="dwp-timeline__item">
              <h2 class="dwp-timeline__heading">No changes made</h2>
            </li>

        </ol>
      </div>
  
      </div>

    </div>
  </main>
</div>

{% endblock %}
