{% extends "layouts/main-2.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if data['creditAmount'] or data['debitAmount'] %}

          {% include './_bar-2.html' %}

        {% else %}

          {% include './_bar.html' %}

        {% endif %}

        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
          }) }}

        <br><br><br>

        <h2 class="govuk-heading-m">Payment details</h2>

            <div class="govuk-form-group">

                {% if data['pcAmount'] and data['caAmount'] %}

                  <div class="govuk-inset-text">
                    Payment was reduced by £{{ data.pcAmount | float + data.caAmount | float }}. This is due to:
                    <ul class="govuk-list govuk-list--bullet">
                      <li>a Carer's Allowance adjustment of £{{data.caAmount}}</li>
                      <li>a Pension Credit adjustment of £{{data.pcAmount}}</li>
                    </ul>
                  </div> 

                {% elseif data['pcAmount'] %}

                  <div class="govuk-inset-text">
                    Payment was reduced due to a Pension Credit adjustment of £{{data.pcAmount}}
                  </div> 

                {% elseif data['caAmount'] %}
                
                  <div class="govuk-inset-text">
                    Payment was reduced due to a Carer's Allowance adjustment of £{{data.caAmount}}
                  </div> 

                {% endif %}
                
              <table class="govuk-table">

                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                  <tr class="govuk-table__row">
                  <tr class="govuk-table__row" style="width: 20%"></tr>
                  <th class="govuk-table__header" scope="col" style="width: 40%">Total</th>
                  <th class="govuk-table__header" scope="col" style="width: 30%">
                    {% if data['debitAmount'] and data['creditAmount'] %}
                      £{{ (200 - data.debitAmount | float + data.creditAmount | float).toFixed(2) }}
                    {% elseif data['creditAmount'] %}
                      £{{ 200 + data.creditAmount | float }}.00
                    {% elseif data['debitAmount']%}
                      £{{ 200 - data.debitAmount | float }}.00
                    {% endif %}
                  </th>
                  <th class="govuk-table__header" scope="col" style="width: 30%"></th>
                </thead>

                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Period</td>
                    <td class="govuk-table__cell">	28 December 2024<br>to 3 January 2025</td>
                    <th class="govuk-table__header" scope="col"></th>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Status</td>
                    <td class="govuk-table__cell">Sent</td>
                    <td class="govuk-table__cell"> <a href=#>Recall payment</a>
                    </td>
                  </tr>
                </tbody>

              </table>

              <br><br>

              <h2 class="govuk-heading-m">Account the payment was sent to</h2>
              <dl class="app-check-your-answers app-check-your-answers--short">
                  <table class="govuk-table">
                  <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row" style="width: 40%">Account holder </td>
                        <td class="govuk-table__cell">Mrs Lill Olmos</td>
                      </tr>
                      <tr class="govuk-table__row">
                          <td class="govuk-table__cell" scope="row" style="width: 30%">Account number</td>
                          <td class="govuk-table__cell">98765409</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row" style="width: 30%">Sort code</td>
                            <td class="govuk-table__cell">54 76 98</td>
                          </tr>
                    </tbody>
                  </table>

      </div>

    </div>

      <div class="govuk-grid-column-one-third">

        {% from "timeline/macro.njk" import dwpTimeline %}

        <h2 class="govuk-heading-m">Payment status</h2>

          {{
          dwpTimeline({ 
              items: [
              {
                  title:  "Claim received",
                  byline:  "online",
                  date:  "11 May 2024 at 7:14pm"
              }
          ]
          })
          }}

      </div>
      
  </main>
</div>

{% endblock %}
