{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% include './_bar.html' %}

      {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

      {{ govukDateInput({
        id: "passport-issued",
        namePrefix: "passport-issued",
        fieldset: {
          legend: {
            text: "What date did HMRC start the COEG investigation?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "You can find this in NIRS (OLE). Enter a date like 25 10 2024."
        }
      }) }}

    <br><br><br>

    <button class="govuk-button" data-module="govuk-button">
      End task
    </button>

    <br><br><br>

  </div>
</div>

{% endblock %}
