{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  Start page with step by step template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    var $element = document.querySelector('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
  </script>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_bar.html' %}

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.go(-1)"
                      }) }}

    <br><br>

    <h1 class="govuk-heading-xl">
      Lump sum inheritance
    </h1>

    <p>Text that sets up expectations for the task could go here.</p>

    <br><br>
    
    <h2 class="govuk-heading-m">Claimant</h2>


    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Address</th>
          <td class="govuk-table__cell">55 Main Street
            <br>Guildford
            <br>GU79 6YW</td>
          <td class="govuk-table__cell"></td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Marital status</th>
          <td class="govuk-table__cell">Widowed</td>
          <td class="govuk-table__cell"></td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Date of birth</th>
          <td class="govuk-table__cell">12/12/1955</td>
          <td class="govuk-table__cell"></td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">State Pension date</th>
          <td class="govuk-table__cell">13/07/2020</td>
          <td class="govuk-table__cell"></td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Age when widowed</th>
          <td class="govuk-table__cell">49</td>
          <td class="govuk-table__cell"></td>
        </tr>

      </tbody>
    </table>

    <br><br>

    <h1 class="govuk-heading-m">Late spouse or civil partner</h1>

        <table class="govuk-table">
          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Full name </th>
              <td class="govuk-table__cell">Lilly Umar</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 40%">National Insurance number</th>
              <td class="govuk-table__cell" style="width: 30%">XX123456X</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell" style="text-align: right" style="width: 5%">
                                      <a class="govuk-link" href="nino">Change</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Gender</th>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell" style="text-align: right">
                <a class="govuk-link" href="change-gender">Add</a>
              </td>
            </tr>


            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Date of birth</th>
              <td class="govuk-table__cell">23/06/1957</td>
              <td class="govuk-table__cell"><span class="verified-badge verified">
                <b>Verified</b>
              </span> </td>
              <td class="govuk-table__cell" style="text-align: right">
                <a class="govuk-link" href="change-dob">Change</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Date of death</th>
              <td class="govuk-table__cell">12/12/2020</td>
              <td class="govuk-table__cell"><span class="verified-badge verified">
                <b>Verified</b>
              </span> </td>
              <td class="govuk-table__cell" style="text-align: right">
                <a class="govuk-link" href="change-dob">Change</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Date of marriage or civil partnership</th>
              <td class="govuk-table__cell">
                13/11/1978
              </td>
              <td class="govuk-table__cell">
                <span class="verified-badge verified">
                    <b>Verified</b>
                </span> 
             </td>
              <td class="govuk-table__cell" style="text-align: right">
                <a class="govuk-link" href="dom">
                Change<span class="govuk-visually-hidden"></span>
               </a>
              </td>
            </tr>

          </tbody>
        </table>

      <br><br><br>

    {{ govukButton({
      text: "Confirm and send letter"
    }) }}

  </div>

  <div class="govuk-grid-column-one-third">

    

    <div class="app-step-nav-related app-step-nav-related--singular">
      <h2 class="app-step-nav-related__heading">
        <span class="app-step-nav-related__pretitle">Part of</span>
        <a href="#">
          Widows inheritance
        </a>
      </h2>
    </div>

    <div data-module="appstepnav"id="step-by-step-navigation" class="app-step-nav govuk-!-display-none-print js-hidden" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all steps" data-hide-all-text="Hide all steps">
      <ol class="app-step-nav__steps">

        <li class="app-step-nav__step js-step app-step-nav__step--active" aria-current="step" id="check-you-re-allowed-to-drive">
          <div class="app-step-nav__header js-toggle-panel" data-position="1">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 1<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Enter the lump sum inheritance amount in pounds
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-check-you-re-allowed-to-drive-1">

            <p class="app-step-nav__paragraph">Help text could go here.</p>

            <ol class="app-step-nav__list " data-length="3">
              {% from "govuk/components/input/macro.njk" import govukInput %}

              {{ govukInput({
                id: "lsi",
                name: "lsi",
                prefix: {
                  text: "£"
                },
                classes: "govuk-input--width-7",
                spellcheck: false
              }) }}
            </ol>

          </div>

        </li>

        <li class="app-step-nav__step js-step" id="get-a-provisional-licence">
          <div class="app-step-nav__header js-toggle-panel" data-position="2">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 2<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Enter the extra State Pension amount in pounds
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-get-a-provisional-licence-2">
            
            <p class="app-step-nav__paragraph">Help text could go here.</p>

            <ol class="app-step-nav__list " data-length="3">
              {% from "govuk/components/input/macro.njk" import govukInput %}

              {{ govukInput({
                id: "esp",
                name: "esp",
                prefix: {
                  text: "£"
                },
                classes: "govuk-input--width-7",
                spellcheck: false
              }) }}
            </ol>

          </div>

        </li>
        
      </ol>
    </div>

  </div>

</div>


</div>
</div>

{% endblock %}
