{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
  {{ 
      govukHeader({
          homepageUrl: "/",
          serviceName: serviceName,
          serviceUrl: "/",
          containerClasses: "govuk-width-container",
          useTudorCrown: true,
          
          navigation: [
          {
            href: "#1",
            text: "Find someone",
            active: false
          },
          {
            href: "#1",
            text: "Tasks",
            active: true
          },
          {
            href: "#2",
            text: "Telephone claims"
          },
          {
            href: "#3",
            text: "Paper claims"
          }
        ]
      })
}}
{% endblock %} 