{% extends "internal-service-header/macro.njk" %}

{% block header %}

{{
    dwpHeader({
        serviceName: "Service name",
        serviceHref: '#',
        container: true,
        navigation: {
          items: [
              {
                  href: "#",
                  text: "Find someone"
              },
              {
                  href: "#",
                  text: "Tasks"
              },
              {
                  href: "#",
                  text: "Telephone claim"
              },
              {
                  href: "#",
                  text: "Paper claim"
              },
              {
                  href: "#",
                  text: "Admin"
              }
          ]
      }  
    })
}}

{% endblock %} 