{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}

{% include "includes/remove-govuk-logo.html" %}

  {{
      govukHeader({
          homepageUrl: "/",
          serviceName: serviceName,
          serviceUrl: "/",
          containerClasses: "govuk-width-container",
          useTudorCrown: true,

          navigation: [
          {
            href: "#1",
            text: "Find someone",
            active: true
          },
          {
            href: "#1",
            text: "Tasks",
            active: false
          },
          {
            href: "#2",
            text: "Telephone claims"
          },
          {
            href: "#3",
            text: "Paper claims"
          }
        ]
      })
}}

{% if data['historic-payment-journey'] == 'yes' %}
  <div class="govuk-width-container" style="margin-top: 1.5em; padding-bottom: 2em; box-shadow: inset 0 -1px 0 #b1b4b6; display: flex; gap: 1em; flex-wrap: wrap;">
    {{ govukButton({
      text: "All cases",
      href: "#",
      classes: "govuk-button--secondary govuk-!-margin-bottom-0"
    }) }}
    {{ govukButton({
      text: "Change details",
      href: "#",
      classes: "govuk-button--secondary govuk-!-margin-bottom-0"
    }) }}
    {{ govukButton({
      text: "Amend awards",
      href: "#",
      classes: "govuk-button--secondary govuk-!-margin-bottom-0"
    }) }}
    {{ govukButton({
      text: "Payments",
      href: "./admin-payments",
      classes: "govuk-button--secondary govuk-!-margin-bottom-0"
    }) }}
    {{ govukButton({
      text: "Remove claimant",
      href: "#",
      classes: "govuk-button--warning govuk-!-margin-bottom-0"
    }) }}
  </div>
{% endif %}

{% endblock %}
